.accordion.submission {
  .ui.fullscreen.modal {
    border-radius: 0;
    display: block;
    height: calc(95% - 9rem);
    padding-left: 0;
    padding-right: 0;
    top: 9rem;
    .close-div {
      padding: 1rem;
    }
    .split.content {
      max-height: calc(70vh);
      overflow: auto;
    }
    .audit-form {

      .audit-highlight {
        @extend .flow-highlight;
        margin-left: -1rem;
        position: fixed;
        width: 50%;
        z-index: 100;
        .column {
          span {
            margin-top: .5rem;
          }
          &:nth-child(2) {
            padding: 1rem;
          }
        }
      }
    }
    .audit-pdf {
      padding: 0;
      object {
        background: $grey-dark;
        height: calc(95vh - 12rem);
        left: 50%;
        max-width: 50%;
        position: fixed;
        width: 100%;
      }
    }
    >.header {
      background: repeating-linear-gradient(
        -55deg,
        lighten($color-menu-bkg, 8%),
        lighten($color-menu-bkg, 8%) 10px,
        lighten($color-menu-bkg, 10%) 10px,
        lighten($color-menu-bkg, 10%) 20px
      );
      border-radius: 0;
      color: $help-text;
      margin-bottom: .5rem;
      .toggle.checkbox {
        margin-left: 1rem;
        label {
          color: $color-white;
        }
        &.checkbox input:checked~label {
          color: $color-white !important;
        }
      }
    }
    .actions {
      margin-top: .5rem;
      text-align: left;
    }
  }
}

.audit-key {
  display: inline-block;
  padding-left: .5rem;
  transition: .2s;
  @media (max-width: 933px) {
    display: none;
  }
}
