.auth {
  .text.menu {
    .item {
      &:hover {
        background: transparent !important;
      }
    }
  }
  .row {
    &:first-of-type {
      align-items: center;
    }
  }
  i.icon.ritter {
    font-size: 3.5rem;
    color: $color-black;
  }
  table {
    padding: 0 1rem;
  }
  .ban.icon {
    color: $color-pink;
  }
  .button {
    color: $color-white !important;
    @include transition;
  }
  .active {
    color: $color-olive;
    &.button {
      background: $color-olive;
    }
  }
  .suspended {
    color: $color-pink;
    &.button {
      background: $color-pink;
      &:hover {
        background: darken($color-pink, 10%);
      }
    }
  }
  .action {
    &.button {
      background: $color-help;
      color: $help-text !important;
      &:hover {
        background: darken($color-help, 15%);
        color: $color-white !important;
      }
    }
  }
}

.icon.toggle-auth {
  color: $color-blue;
  cursor: pointer;
  @include transition;
  @include scale(1.5);
}
