h1, h2, h3, h4, h5 {
    color: map-get($brand-colors, 'navy');
    font-family: map-get($fonts, 'headline');
    font-weight: bold;
}

h1 {
    font-size: map-get($font-percentage, 'xxl');
    margin-bottom: map-get($spacers, 4);
}

h2 {
    font-size: map-get($font-percentage, 'xl');
    margin-bottom: map-get($spacers, 4);
}

h3 {
    font-size: map-get($font-percentage, 'lg');
    margin-bottom: map-get($spacers, 4);
}

h4 {
    font-size: map-get($font-percentage, 'md');
    margin-bottom: map-get($spacers, 3);
}

h5 {
    font-size: map-get($fonts, 'size');
}

hr {
    background-color: map-get($greyscale, 'base');
    border: none;
    height: 1px;
    margin: $spacer 0;
}

table {
    width: 100%;
    background-color: map-get($greyscale, 'white');
    border: 1px solid map-get($greyscale, 'light');
    border-collapse: collapse;

    thead {
        background-color: map-get($greyscale, 'lighter');
        border-bottom: 1px solid map-get($greyscale, 'light');
        font-weight: bold;
        text-align: left;
    }

    tr {

        &:hover {
            background-color: map-get($greyscale, 'lighter');
        }

        th, td {
            cursor: pointer;
            padding: 1rem;
        }

        th {
            &.sortable {
                span {
                    position: relative;
                    &:before, &:after {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        position: absolute;
                        right: -$spacer;
                    }
                    &:before {
                        content: '\f106';
                        top: -(map-get($spacers, 1));
                    }
                    &:after {
                        content: '\f107';
                        top: map-get($spacers, 2);
                    }
                }
            }
        }
    }
}