.basic-skin {
    background: #fff;
  header {
    padding: 2rem 0;
    @media (max-width: 540px) {
      padding: 0 0 2rem;
      img {
        display: block;
      }
    }
    background: #fff;
    .home-link {
      float: right;
      @media (max-width: 540px) {
        float: none;
        margin: 1rem 0 2rem;
      }
    }
  }
  .title-bar {
    background: #415265;
    padding: 2.5rem 0 2.75rem;
    .stackable.grid {
      padding-top: 0;
    }
    h1 {
      color: #fff;
      font-family: "Segoe UI", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 35px;
      margin-bottom: 0;
    }
    p {
      color: #fff;
    }
  }
  .basic-main {
    background: #eef4f8 url('/Content/img/registration-page-bg.jpg') top right -10rem no-repeat;
    background-size: cover;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    @media (max-width: 992px) {
      background-image: none;
    }
    .ui.stackable.grid>.wide.column {
      @media (max-width: 992px) {
        width: 100% !important;
      }
    }
  }
  .ui h3 {
    margin-bottom: 2rem;
  }
  .ui.list .item {
    margin-bottom: 1rem;
  }
  .ui.list .item .content .header {
    margin-bottom: .5rem;
  }
  footer {
      margin: 3rem 0 5rem;
  }
}