// add to any button trapped below a form
.above {
  position: relative;
  z-index: 100;
}

// used where actual <button> is needed for .icon
.transparent.button {
  background: transparent;
  box-shadow: none !important;
  &:hover,
  &:focus {
    background: transparent;
  }
}

// .small does not exist with .circular
i.small.circular.icon {
  border-radius: 50% !important;
  width: 1.9em !important;
  height: 1.9em !important;
  box-shadow: 0 0 0 1px darken($color-yellow, 5%);
  margin: .23rem;
  @include scale(1.2);
  .item & {
    font-size: smaller;
  }
}

// reference buttons used in messages only
.reference {
  background: $color-white;
  border: 1px solid $grey-light;
  border-radius: 3px;
  color: $grey-light;
  display: inline-block;
  font-size: 80% !important;
  letter-spacing: 0;
  line-height: 1.5rem;
  padding: 0.1rem 0.3rem;
  text-align: center;
  white-space: nowrap;
  &.key {
    padding: 0.1rem;
    @include square(25px);
  }
  &.rounded {
    border-radius: 15px;
  }
  .icon {
    color: $grey-light;
    margin-right: 0;
    &:hover {
      cursor: default;
    }
  }
}

// common ui button animations
// overrides opacity transition on .ui.button>.icon

.ui.form.create {
  .ui.basic.button {
    @include transition;
    &:hover {
      background: $color-olive !important;
      color: $color-white !important;
      text-shadow: 1px 1px 2px black;
    }
  }
}

.trash,
.ui.button>.red.trash,
.remove {
  @include scale(1.2);
}

.ui.button>.yellow.write,
.write {
  @include scale(1.7);
}

// Flow sorting buttons
.row.sort {
  .ui.mini.buttons {
    margin-right: 1rem;
    button.active {
      background: $color-yellow !important;
      color: $color-white !important;
    }
  }
}

.ui.very-tiny.button, .ui.very-tiny.buttons .button, .ui.very-tiny.buttons .or {
  font-size: .65714286rem;
}

.button-inline-content {
  display: inline !important;
}

.action-group {
  display: flex;
  >i {
    &.inverted {
      background-color: $color-yellow;
      font-size: .75rem;
      line-height: 2.5;
      box-shadow: 0 0 0 1px darken($color-yellow, 5%);
      transition: all 0.2s ease-in-out;
      width: 1.9rem;
      height: 1.9rem;
    }
    &.ui.loader, &.ui.loader:after, &.ui.loader:before {
      width: 1.9rem;
      height: 1.9rem;
    }
    &.icon {
      margin: 0;
      &.disabled {
        color: #fff !important;
        pointer-events: none;
      }
    }
    &:first-child {
      border-top-left-radius: 5rem;
      border-bottom-left-radius: 5rem;
      padding-left: .15rem;
    }
    &:last-child {
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem;
      padding-right: .15rem;
    }
    &:hover {
      transform: scale(1.05);
      background-color: darken($color-yellow, 4%);
    }
  }
}
