// <div class="button button--plus">
//   <span class="pill__label">
//     NPN:
//   </span>
//   123456789
// </div>

.button {
    background-color: map-get($greyscale, 'white');
    border: 1px solid map-get($greyscale, 'base');
    border-radius: $border-radius;
    color: map-get($greyscale, 'base');
    font-size: map-get($fonts, 'size');
    padding: .5rem .8rem;
    @extend %flex-center;
    
    
  }