#campaigns {
  .upload-fields {
    clear: both;
    background: $grey-lighter;
    padding: .5rem 1rem 1rem;
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    .field:last-child {
      align-self: center;
    }
  }
  .actions-lead {
    margin-bottom: 1rem;
  }
  .campaign {
    .animation-container.allow-overflow {
      margin-bottom: 1rem;
    }
    .ui.title {
      .states {
        .ui.label.single {
          padding: .4rem;
          width: 28px;
          text-align: center;
        }
      }
    }
    &.accordion .content {
      display: block !important; // <-- fighting semantic
    }
    .header {
      margin-top: 1rem;
    }
    .trash.icon {
      color: $color-pink;
    }
    .ui.vertical.segment {
      background: transparent;
      transition: .2s;
      margin: 0 -1rem;
      overflow: visible;
      padding: 2rem 1rem 1rem;
      &:first-of-type {
        margin-top: -.5rem;
      }
    }
    .header.expanded {
      transform: rotate(-90deg);
      position: absolute;
      left: -5rem;
      background: white;
      padding: 1rem;
      border: 1px lightgrey solid;
      border-bottom: none;
    }
    .highlight {
      background: aliceblue;
      color: $help-text;
    }
    .enrolled {
      color: $help-text;
    }
    .pre-title {
      margin-bottom: -1rem !important;
      color: $color-white;
      padding: 1rem !important;
      input[type=date],
      label {
        color: $color-white !important;
        font-weight: normal !important;
        margin-left: .5rem;
      }
      .label {
        cursor: pointer;
      }
      .inline.select {
        margin: 0 auto;
        select {
          color: $color-white;
        }
      }
      .field.select {
        &.error {
          select {
            background: lighten($color-pink, 20%) !important; 
          }
        }
        select {
          padding-bottom: .79rem;
        }
      }
      .field.checkbox {
        padding-left: 2rem;
        .toggle.checkbox {
          border-right: 1px solid $grey;
          margin-right: 1rem;
          padding-right: 1rem;
          min-width: 135px;
          label {
            color: $color-white;
            transition: .2s;
            margin-left: 0;
          }
          &.checkbox input:checked~label {
            color: $help-text !important;
          }
          input:disabled {
            border: none;
          }
        }
      }
      .field {
        align-items: baseline;
      }
    }
    .disclaimer {
      border-radius: 0;
      box-shadow: none;
    }
    .agent-details {
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .flow-highlight {
      margin-top: -2rem;
      padding: 0 !important;
    }
    .ui.toggle.checkbox {
      border-right: none !important;
      margin-top: 1.5rem;
      margin-right: 0 !important;
      padding-right: 0 !important;
      >label {
        &:before {
          background: rgba($color-menu-bkg, .4);
        }
      }
    }
    &.neutral {
      .title {
        background: lighten($grey-light, 15%);
      }
    } // see _vars for icon map
    .icon {
      @each $campaignType,
      $icon in $campaign-type-icons {
        &.#{$campaignType}-icon:before {
          font-family: "icons";
          color: $grey-light;
          content: "#{$icon}";
        }
      }
    }
    .file-list {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .campaign-conflict {
      background: lighten($color-menu-sub, 35%);
      border-bottom: 1px solid lighten($color-menu-sub, 18%);
      color: darken($color-menu-sub, 20%); // display: flex;
      margin: 0 -1rem;
      padding: 1rem 0 1rem 1rem;
      position: relative;
      .concurrent {
        background: repeating-linear-gradient( -55deg, lighten($color-menu-sub, 15%), lighten($color-menu-sub, 15%) 10px, lighten($color-menu-sub, 20%) 10px, lighten($color-menu-sub, 20%) 20px);
        color: $color-white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        text-align: center;
        .rotate {
          font-weight: bold;
          position: relative;
          text-shadow: 0 0 2px darken($color-menu-sub, 20%);
          text-transform: uppercase;
          transform: rotate(270deg) !important;
        }
      }
      &.inactive {
        background: $grey-lighter;
        border-bottom: 1px solid darken($grey-light, 15%);
        color: darken($grey-light, 15%);
      }
    }
  }
}