.compliance-board {
  @extend .drawer;
  @include transition;
  height: calc(100% - 4.6rem);
  .no-cases {
    height: 100%;
    position: relative;
    top: 30%;
    text-align: center;
    width: 70%;
    margin: auto;
    h3 {
      font-weight: lighter;
    }
  }
  .ui.styled.accordion {
    margin: 0;
    .title {
      border-bottom: 1px solid rgba($grey-light, .4);
      color: $grey-lighter !important;
      span {
        color: rgba(darken($color-help, 15%), .5);
      }
    }
    .content {
      display: block;
      padding: 2rem;
      @include rgba-background-color($color-white, .9);
      textarea {
        height: 15rem !important;
        line-height: 1.5rem;
      }
      .created {
        display: flex;
        align-items: center;
        padding: 2rem 1rem .5rem;
      }
      .trash.icon {
        position: relative;
        bottom: 1rem;
      }
    }
    @include rgba-background-color($color-white, 0);
    @include transition;
    &:hover {
      box-shadow: 0 0 0 1px $color-white;
      @include scale(1.01);
      @include rgba-background-color($color-white, .2);
    }
  }
  .info-issues {
    white-space: normal;
    padding-top: .5rem;
    .ui.label {
      padding: .5833em 1em;
    }
    .issue {
      position: relative;
      padding-right: 1.7rem !important;
      .delete.icon {
        position: absolute;
        top: 25%;
        right: 5px;
      }
    }
  }
  .red.lock.icon {
    color: $color-pink !important;
  }
  .ui.label {
    color: $color-white;
    &:not(.first-of-type) {
      margin-left: .5rem;
    }
    &.inverted {
      &:not(.active){
        border: 1px solid rgba($grey, .4);
        background: transparent !important;
        cursor: pointer;
        font-weight: lighter !important;
        transition: .2s;
        &:hover {
          border-color: rgba($color-yellow, .9);
          color: $color-yellow !important;
        }
      }
      &>.label {
        padding: .1rem !important;
        min-height: 1.1rem;
        min-width: 1.1rem;
        margin: 0 .5rem;
      }
      &:hover {
        color: rgba(0,0,0,.6) !important;
      }
    }
    &.ctm {
      background: $color-pink !important;
    }
    &.grievance {
      background: $color-pink-light !important;
    }
    &.application {
      background: $color-purple !important;
    }
    &.soa {
      background: lighten($color-purple, 10%) !important;
    }
    &.active {
      border: 1px solid $color-yellow;
      &.ctm {
        @extend .ctm;
      }
      &.grievance {
        @extend .grievance;
      }
      &.application {
        @extend .application;
      }
      &.soa {
        @extend .soa;
      }
      &.red {
        background: $color-pink;
      }
      &:hover {
        color: $color-menu-bkg;
      }
      .detail {
        background: $color-menu-bkg;
        color: $color-white !important;
        .close.icon {
          opacity: .7;
        }
      }
    }
    .icon {
      margin-right: .25rem;
      margin-left: .5rem;
    }
  }
  .field {
    &.stacked-label {
      display: flex;
      flex-direction: column;
    }
    .label {
      background: lighten($color-yellow, 20%);
      color: $color-yellow-dark;
      border: 1px solid $color-yellow-dark;
      margin: 2px;
    }
    select option  {
      color: $color-black;
    }
  }
  .case-box {
    background: $color-white;
    height: 543px;
    overflow: hidden;
    &.ui.segments {
      >.ui.segment {
        border: 1px solid $color-white;
        border-bottom: none;
        border-radius: 0;
        &:last-of-type {
          border-top: none;
        }
        &:first-of-type {
          border-bottom: none;
          .field {
            margin: 0 !important;
            padding-left: 1rem;
            select {
              color: $color-white;
            }
          }
          .checkbox {
            margin: .7em 0 !important;
          }
        }
      }
      .ui.padded.active.segment {
        height: 390px;
        .issue-container {
          .field.issues-segment {
            margin-top: 0px !important;
            margin-bottom: 5px !important;
            max-height: 75px;
            overflow: auto;
            .label {
              margin: 2px;
              line-height: 1.5;
            }
          }
        }
      }
    }
    textarea {
      height: 6em !important;
    }
  }
  .ui.negative.message {
    opacity: 0.8;
    margin: 0 auto 10px auto;
    text-align: center;
  }
  .ui.accordion {
    color: $grey;
    width: 100%;
    height: auto;

  }
  .ui.header {
    color: $grey;
    font-weight: lighter !important;
    width: 100%;
  }
  .legend {
    display: block;
    padding: 0 2rem 0 0 ;
    width: 100%;
  }
  .ct-chart {
    height: 150px;
  }
  .ct-label {
    color: $grey-light;
  }
  .ct-grid {
    stroke: $grey-light;
  }
}
