.left-builder-form {
  border-right: 1px solid $grey-light;
  position: fixed;
  background: #fff;
  width: 15%;
  left: 0;
  top: 7rem;
  padding: 1.2rem;
  height: 100%;
}
.form-menu {
  &.ui.menu {
    box-shadow: 0;
  }
  top: 7rem !important;
  left: 15% !important;
}
.form-container {
  background: #fff;
  height: 100%;;
  padding: 1rem;
  position: fixed;
  top: 14.6%;
  left: 15%;
  overflow-y: scroll;
  width: 52%;
}
.editor-container {
  height: 100%;;
  position: fixed;
  right: 0;
  top: 14.5%;
  width: 33%;
}

.form-builder-wrapper {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  width: 100%;
  height: 100%;
  top: 7rem;
  position: fixed;
  .builder-filters {
    align-self: stretch;
    width: 20rem;
    border-right: 1px solid #ccc;
    background: #fff;
    padding: 1rem;
    max-height: calc(100% - 3rem);
    overflow: scroll;
  }
  .builder-menu,
  .editor-wrapper {
    align-self: stretch;
  }
  .editor-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 1rem;
  }
  .builder-menu {
    padding: 0.5rem;
    margin: 0;
  }
  .builder-content {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    .left,
    .right {
      width: 50%;
      max-height: calc(100% - 10rem);
      overflow: scroll;
    }
  }
}
