// Forms
//
//
// Markup:
// <form action="" class="rim-form">
//     <label for="first-name" class="rim-form__field">First Name
//         <input id="first-name" type="text" placeholder="First Name">
//     </label>
//     <label for="last-name" class="rim-form__field">Last Name
//         <input id="last-name" type="text" placeholder="Last Name">
//     </label>
//     <label for="dob" class="rim-form__field">Age or DOB
//         <input id="dob" type="date" placeholder="DD/MM/YYYY">
//     </label>
//     <label for="zipcode" class="rim-form__field">ZIP Code
//         <input id="zipcode" type="tel" placeholder="e.g.90012" pattern="^\d{5,6}(?:[-\s]\d{4})?$">
//     </label>
//     <fieldset class="rim-form__field">
//         <legend>Choose</legend>
//         <div class="rim-form__option-group">
//         <input id="gender-this-one" type="checkbox">
//         <label for="gender-this-one">This One</label>
//         <input id="gender-that-one" type="checkbox">
//         <label for="gender-that-one">That One</label>
//         </div>
//     </fieldset>
//     <fieldset class="rim-form__field">
//         <legend>Gender</legend>
//         <div class="rim-form__option-group">
//         <input id="gender-male" type="radio" name="gender"><label for="gender-male">Male</label>
//         <input id="gender-female" type="radio" name="gender"><label for="gender-female">Female</label>
//         </div>
//     </fieldset>
//     <label for="zipcode" class="rim-form__field">County
//         <div class="rim-form__select-wrapper">
//         <select name="County Select" id="county">
//             <option value="County1">County 1</option>
//             <option value="County2">County 2</option>
//             <option value="County3">County 3</option>
//             <option value="County4">County 4</option>
//             <option value="County5">County 5</option>
//             <option value="County6">County 6</option>
//         </select>
//         </div>
//     </label>
//     <div class="rim-form__field rim-form__button-group">
//         <button class="button button--post button--lg">Quote Now</button>
//     </div>
//     <button class="button">Quote Now</button>
// </form>
//
// Styleguide Forms


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.rim-form {
  $self: &;
  color: map-get($greyscale, 'light' );
  display: flex;
  flex-flow: row wrap;

  &--stacked {
    flex-flow: column;
    
    #{ $self }__field {
      margin-left: 0;
      margin-right: 0;
      max-width: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    #{ $self }__button-group {
      justify-content: center;

      button {
        max-width: none;
      }
    }

    textarea {
      min-height: 8rem;
    }
  }

  &.rim-form--light {
    color: map-get($greyscale, 'white' );

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="textarea"],
    input[type="tel"],
    input[type="password"],
    textarea,
    select {
      border-bottom-color: map-get($greyscale, 'white' );
      color: map-get($greyscale, 'white' );

      &::placeholder {
        color: map-get($greyscale, 'white' );
      }
    }

    input[type="checkbox"],
    input[type="radio"] {

      + label {
        color: map-get($greyscale, 'white');
  
        &:before {
          border: 1px solid map-get($greyscale, 'white');
        }
      }
    }
    
    input[type="checkbox"] {

      + label {
  
        &:after {
          color: map-get($greyscale, 'white');
        }
      }
    }

    textarea {
      border-color: map-get($greyscale, 'white' );
    }

    #{ $self }__select-wrapper { 

      &:after {
        border-color: map-get($greyscale, 'white' );
      }
    }
  }

  &__field {
    flex: 1 1 auto;
    font-size: map-get($font-percentage, 'sm');
    margin: 0 map-get($spacers, 2) map-get($spacers, 4);
    max-width: 15.625rem;

    input,
    textarea {
      margin-top: .5rem;
      width: 100%;
    }
  }

  &__option-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__button-group {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;

    button {
      flex-grow: 1;
      max-width: 14.375rem;
    }
  }

  &__label {
    color: map-get($greyscale, 'light' );
    font-size: 80%;
    margin-bottom: .5rem;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="textarea"],
  input[type="tel"],
  input[type="password"],
  textarea,
  select {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: map-get($greyscale, 'light' );
    box-sizing: border-box;
    color: map-get($greyscale, 'base' );
    display: block;
    font-family: map-get($fonts, 'base');
    font-size: map-get($font-percentage, 'md');
    height: 2rem;
    padding: map-get($spacers, 1) 0;

    &::placeholder {
      color: map-get($greyscale, 'base' );
    }

    &:focus {
      outline: none;
      border-bottom-color: map-get($greyscale, 'light' );
      box-shadow: 0 0 5px 0 map-get($greyscale, 'light' );
      transition: box-shadow $duration, border-color $duration ease-in-out, border-width $duration ease;
    }
  }

  textarea {
    border-color: map-get($greyscale, 'light' );
    padding: map-get($spacers, 1);
  }

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: auto;

    &:checked + label {
      font-weight: 600;

      &:after {
        transform: scale(1);
      }
    }

    + label {
      color: map-get($greyscale, 'base');
      display: inline-block;
      font-size: map-get($font-percentage, 'md');
      font-weight: 400;
      height: 1rem;
      line-height: 1.2;
      margin-right: .75rem;
      margin-top: .75rem;
      padding-left: 1.375rem;
      position: relative;
      vertical-align: baseline;

      &:before,
      &:after {
        position: absolute;
        display: inline-block;
      }

      &:before {
        border: 1px solid map-get($greyscale, 'base');
        border-radius: 50%;
        content: '';
        height: 1rem;
        left: 0;
        top: -.0625rem;
        width: 1rem;
      }

      &:after {
        transform: scale(0);
        transition: transform $duration ease;
      }
    }
  }

  input[type="checkbox"] {

    + label {

      &:after {
        color: map-get($greyscale, 'base');
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-size: map-get($font-percentage, 'xs');
        font-weight: 900;
        left: .1875rem;
        top: .0625rem;
      }
    }
  }

  input[type="radio"] {

    + label {

      &:after {
        background-color: map-get($greyscale, 'base' );
        border-radius: 50%;
        content: '';
        height: .75rem;
        left: .1875rem;
        top: .125rem;
        width: .75rem;
      }
    }
  }

  &__select-wrapper {
    min-width: 9.375rem;
    position: relative;

    &:after {
      border: 1px solid map-get($greyscale, 'base' );
      border-width: 0 0 1px 1px;
      content: '';
      height: .3rem;
      margin-top: -.125rem;
      pointer-events: none;
      position: absolute;
      right: .3rem;
      top: 50%;
      transform: rotate(-45deg);
      width: .3rem;
    }
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: .25rem 1rem .25rem 0;
    width: 100%;
  }
}
