#account-menu-cmp {
  .ui.icon.input.contact {
    width: 90% !important;
  }
  .marketing {
    .ui.checkbox.vue {
      width: 100%;
    }
  }
  .ui.checkbox.field.right {
    margin-top: 15px;
  }
  .content.block {
    display: block !important;
  }
}
