.platform {
  background-color: map-get($greyscale, 'lighter');
  display: grid;
  grid-template-rows: $menu-height auto;
  grid-template-columns: 2fr 6fr;

  main {
    grid-row-start: 2;
  }
}

// flex and positioning
.platform {
  aside {
    position: fixed;
    height: 100vh;
    width: 25vw;
    z-index: 50;
  }
  main {
    margin-left: 25vw;
    width: 75vw;
  }
}
