* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.platform {
  background-color: map-get($greyscale, 'lighter');
  display: grid;
  grid-template-rows: $menu-height auto;
  grid-template-columns: 2fr 6fr;

  main {
    grid-row-start: 2;
  }
}

// flex and positioning
.platform {
  aside {
    margin-top: $menu-height;
    position: fixed;
    width: 25vw;
    z-index: 50;
  }
  main {
    margin-left: 25vw;
    width: 75vw;
    .vueport {
      display: block;
      padding: map-get($spacers, 4);
    }
  }
}

.login {
  aside {
    position: fixed;
    height: 100vh;
    width: 40vw;
    z-index: 50;
  }
  main {
    margin-left: 40vw;
    width: 60vw;
  }
}
