// extend all brand, secondary colors to labels, text, background
$all-colors: map-merge($brand-colors, $secondary-colors);

@each $name, $color in $all-colors {
  .label-#{$name} {
    background-color: $color;
    border-radius: $border-radius;
    color: map-get($greyscale, 'white');
    display: flex;
    font-size: map-get($fonts, 'size');
    padding: .5rem .8rem;
    &.empty {
      background-color: transparent;
      border-color: $color;
      color: $color;
      padding: .5rem;
    }
    &.circle {
      border-radius: $border-radius * 100;
      flex: 1;
      overflow: hidden;
      padding: .5rem;
      @extend %flex-center;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
    &.stat {
      align-items: center;
      display: inline-flex;
      padding: 0 .3rem 0 0;
      .stat-label {
        background-color: rgba(map-get($greyscale, 'white'), .3);
        border-radius: $border-radius 0 0 $border-radius;
        margin-right: .3rem;
        padding: .1rem .3rem;
      }
    }
  }
}
