html {
  font-family: map-get($fonts, 'base');
}
@supports (font-variation-settings: normal) {
  html {
    font-family: map-get($fonts, 'base-alt');
  }
}

html,
body {
  box-sizing: border-box;
  color: map-get($greyscale, 'dark');
  font-size: map-get($fonts, 'size');
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

// set up h-tags
@for $i from 1 through 6 {
  h#{$i} {
    color: map-get($brand-colors, 'teal-dark');
    font-size: map-get($fonts, 'size') + $font-scale * (6 - $i);
    margin: 0;
  }
}

a {
  color: map-get($platform-colors, 'link');
  text-decoration: none;
  transition: $transitions;
  i.fa-arrow-right,
  i.fa-angle-right {
    transition: $transitions;
  }
  &:hover {
    i.fa-arrow-right {
      transform: translate(.3rem);
    }
    i.fa-angle-right {
      transform: translate(.5rem);
    }
  }

}

section {
  padding: $spacer;
}
