.map-modal {
  color: $grey;
  display: block !important;
  @include modal(7rem 0 0, 100%, .95, 50);
  @include transition;
  @include hide-scrollbar(none);
  .map-component-container {
    height: 100%;
    .ui.negative.message {
      width: 500px;
      position: fixed;
      top: 40vh;
      left: 35vw;
      z-index: 501;
    }
  }
}
.map-legend {
  font-family: $font--family !important;
  @include modal(8rem 2rem 2rem, 20%, .92, 1001);
  display: block;
  @include hide-scrollbar(y);
  .ui.search {
    &.loading:after {
      border-color: $color-white rgba($color-white,.9) rgba($color-white,.9) rgba($color-white,.9) !important;
    }
    > .ui.input {
      display: flex !important;
      flex-grow: 1 !important;
      margin-bottom: 2rem;
      input {
        background: rgba($color-white, .4);
        color: $color-white;
      }
    }
  }
  label,
  input[type=range] {
    display: block;
    width: 100%;
  }
  label {
    margin-bottom: 1rem;
  }
  input[type=range] {
    &::-webkit-slider-thumb {
      border: 1px solid $color-white;
      height: .5rem;
      width: .5rem;
      border-radius: 50%;
      background: red;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }
  }
  .list {
    border-top: 1px solid lighten($color-menu-bkg,10%);
    .item {
      background: none;
      border-bottom: 1px solid $color-menu-bkg;
      line-height: 1.5rem !important;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include transition(all, .1s);
      &:hover {
        background: rgba($color-menu-bkg, .7);
        margin: 0 -2rem;
        padding: 1rem 2rem 1rem 1rem;
      }
      &:first-child {
        padding-top: 1rem;
      }
      .content {
        line-height: 1.5rem;
      }
      .header a {
        color: darken($color-help, 20%) !important;
        font-size: 110%;
        &:hover {
          text-decoration: underline;
        }
      }
      .email {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .address {
        padding: .5rem 0;
      }
      .right.floated {
        color: $grey;
        font-weight: lighter;
      }
    }
  }
}

// map popup
.leaflet-container {
  a.leaflet-popup-close-button {
    color: $color-pink;
    font-size: 120%;
    margin: .7rem;
  }
  .leaflet-popup-content-wrapper {
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    font-family: $font--family !important;
    font-size: 110%;
    .popup {
      &-center {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        span {
          display: block;
          font-size: 90%;
        }
        &:before {
          content: "\f279";
          color: $grey;
          font-family: "icons";
          padding-right: .5rem;
        }
      }
      &-content,
      &-address {
        color: $grey;
        flex-grow: 1;
        padding: 1rem 1.5rem;
      }
      &-content {
        .popup-header {
          font-size: 120%;
          &:hover {
            text-decoration: underline;
          }
        }
        .label {
          &.npn {
            background-color: $grey-light !important;
          }
          &:not(.npn) {
            margin-top: .5rem;
          }
        }
      }
      &-address {
        background: $color-help;
        border-top: 1px solid rgba($grey,.15);
        color: rgba($grey, .8);
      }
    }
    .leaflet-popup-content {
      margin: 0;
    }
  }
}
