.add-membership {
  .ui.cards>.card {
    border-radius: 0;
    box-shadow: 0 1px 0 0 $grey-lighter, 0 0 0 1px $grey-lighter !important; // removes bottom shadow on card
    @include transition;
    &>:last-child {
      border-radius: 0 !important;
    }
    &:hover {
      box-shadow: 0 0 0 3px $color-link !important;
    }
    &>.content {
      color: $grey;
      &>.header {
        font-size: 110%;
      }
    }
    a.email,
    .phone,
    .header {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .header {
      white-space: normal;
    }
    .bottom.attached.button {
      border-radius: 0;
      &:hover .bottom.attached.button {
        background: $color-olive !important;
        color: $color-white !important;
      }
    }
  }
}

