
// inline error
.inline.add {
  color: $grey-dark;
  font-size: 130%;
  font-weight: 500;
  padding: 2rem 2rem 1rem 0;
}

.add-member  {
  .ui.cards>.card {
    border-radius: 0;
    box-shadow: 0 1px 0 0 $grey-lighter, 0 0 0 1px $grey-lighter !important; // removes bottom shadow on card
    @include transition;
    &>:last-child {
      border-radius: 0 !important;
    }
    &:hover {
      box-shadow: 0 0 0 3px $color-link !important;
    }
    &>.content {
      color: $grey-dark;
      &>.header {
        font-size: 110%;
      }
    }
    a.email,
    .phone,
    .header {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .header {
      white-space: normal;
    }
    .bottom.attached.button {
      border-radius: 0;
      &:hover .bottom.attached.button {
        background: $color-olive !important;
        color: $color-white !important;
      }
    }
  }
  .ui.five.cards {
    margin-bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

#account-menu {
  .membership-search {
    overflow: hidden;
  }
  .loading.blurring {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
  }
  .ui.centered.inline.loader.active {
    margin-top: 10%;
  }
  .slide-enter-active {
    animation: Slide .2s;
  }

  .slide-leave-active {
    animation: Slide .2s reverse;
  }
  #add-membership{
    span {
      display: initial;
      color: $grey-medium;
      font-weight: normal;
    }
  }
}
