.site-header {  
  background-color: map-get($platform-colors, 'menu');
  color: map-get($greyscale, 'white');
  display: flex;
  font-size: map-get($font-percentage, 'lg');
  height: $menu-height;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.site-menu {
  $dropdown-background: lighten(map-get($brand-colors, 'navy' ), 5%);
  display: flex;
  flex-grow: 1;
  width: 100%;

  .search {
    color: map-get($greyscale, 'white');
    flex-grow: 1;
    @extend %flex-center;

    input[type=text] {
      background: transparent;
      border: none;
      color: inherit;
      font-size: map-get($font-percentage, 'lg');
      font-weight: lighter;
      width: 100%;
      height: 100%;
      outline: none;

      &::placeholder {
        color: map-get($greyscale, 'light');
      }
    }
  }

  &__item {
    border-left: 1px solid rgba(map-get($greyscale, 'light'), .5);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    line-height: 1.5;
    padding: 0 2rem;
    transition: $transitions;
    @extend %flex-center;

    &:hover:not(.search) {
      background-color: $dropdown-background;
    }

    &.has-dropdown {
      position: relative;

      &:hover {
        border-bottom-color: rgba(map-get($greyscale, 'light'), .5);

        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .dropdown-menu {
    background-color: $dropdown-background;
    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    transition: opacity ease $duration, visibility ease $duration;
    visibility: hidden;

    &__item {
      border-left: 0;
      display: flex;
      justify-content: flex-start;
      padding: map-get($spacers, 3) map-get($spacers, 4);

      &:hover {
        background-color: rgba(map-get($greyscale, 'white'), .3);
      }

      &:not(:first-child) {
        border-top: 1px solid rgba(map-get($greyscale, 'light'), .5);
      }

      &.profile {
        flex-direction: column;
      }

      i[class*="fa-"] {
        padding-right: map-get($spacers, 3);
        width: 1.2rem;
        @extend %flex-center;
      }
    }
  }

  .agent-profile {
    background-color: $dropdown-background; 
    box-sizing: border-box;
    color: map-get($greyscale, 'white' );
    font-size: 80%;
    left: 0;
    padding: map-get($spacers, 3) map-get($spacers, 4) map-get($spacers, 4);
    right: auto;

    a {
      color: map-get($greyscale, 'white' );
      font-size: 100%;
    }

    address {
      font-style: normal;
    }

    &__heading {
      color: map-get($greyscale, 'white' );
      font-family: map-get($fonts, 'base');
      font-size: 100%;
      line-height: 1;
      margin-bottom: map-get($spacers, 3);
    }

    &__content-wrapper {
      display: flex;
      margin-left: -(map-get($spacers, 4));
      width: calc(100% + #{map-get($spacers, 4)} * 2);
    }

    &__content {
      padding: 0 map-get($spacers, 4);

      &:nth-of-type(2) {
        border-left: 1px solid map-get($brand-colors, 'med-blue' );
      }

      .pill {
        color: $dropdown-background;
        margin-bottom: 1rem;
      }
    }

    &__info-list {
      list-style-type: none;
      padding: 0;

      &-item {
        margin-bottom: map-get($spacers, 3);
        padding-left: map-get($spacers, 4);
        position: relative;

        &:last-of-type {
          margin-bottom: 0;
        }

        i {
          left: 0;
          position: absolute;
          top: .375rem;
        }
      }
    }

    &__status-list {
      margin: 0;
    }

    &__status-list-item {
      display: flex;
      margin-bottom: map-get($spacers, 3);

      &:last-of-type {
        margin-bottom: 0;
      }

      dt {
        margin-right: map-get($spacers, 3);
        width: 3.125rem;
      }

      dd {
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  .my {
    
    span {
      font-family: serif;
      font-size: map-get($font-percentage, 'lg');
      font-style: italic;
      font-weight: bold;
      opacity: .7;
      padding-right: .2rem;
    }
  }
}

.agent-contact {
  box-sizing: border-box;
  font-size: map-get($font-percentage, 'sm');
  padding: map-get($spacers, 4);
  width: 25rem;

  .crm-form__field {
    margin-bottom: map-get($spacers, 3);
  }
}

.crm-actions {
  background-color: map-get($greyscale, 'white');
  grid-row-start: 2;


  .crm-menu {
    flex-wrap: wrap;
    @extend %flex-center;

    &__group {
      display: flex;
      width: 100%;
      .crm-menu__item {
        flex-direction: column;
      }
    }

    &__item {
      align-items: center;
      background-color: map-get($greyscale, 'white');
      box-sizing: border-box;
      box-shadow: 0 0 0 0;
      border-right: 1px solid rgba(map-get($greyscale, 'light'), .3);
      border-top: 1px solid rgba(map-get($greyscale, 'light'), .3);
      display: flex;
      flex-direction: row;

      padding: 1.5rem 0;
      cursor: pointer;
      width: 100%;
      transition: $transitions;

      img {
        left: 1rem;
        margin-bottom: .5rem;
        max-width: 4rem;
        padding: 0 1rem;
      }

      i {
        padding: .5rem;
      }

      &:hover,
      &.active {
        box-shadow: inset 0 0 0 2px map-get($brand-colors, 'salmon');
        position: relative;

        &:before {
          background-color: map-get($greyscale, 'white');
          border-radius: map-get($radius, 'button') * 100;
          content: "";
          height: 26px;
          width: 26px;
          position: absolute;
          right: -.8rem;
          z-index: 5;
        }

        &:after {
          color: map-get($brand-colors, 'salmon');
          content: "\f058";
          font-family: "Font awesome 5 free";
          font-weight: bold;
          font-size: map-get($font-percentage, 'xxl');
          position: absolute;
          right: -(map-get($spacers, 3));
          z-index: 10;
        }
      }
    }
  }
}

.crm-actions__stats {
  background-color: map-get($platform-colors, 'menu');
  border-top: 1px solid rgba(map-get($greyscale, 'white'), .3);
  color: map-get($greyscale, 'white');
  display: flex;
  flex-direction: column;
  height: $menu-banner-height;

  &-header {
    color: rgba(map-get($greyscale, 'white'), .6);
    font-family: "Roboto Slab";
    font-size: map-get($font-percentage, 'xl');
    padding: map-get($spacers, 3);
    width: 100%;
    @extend %flex-center;
  }

  &-group {
    border-bottom: 1px solid rgba(map-get($greyscale, 'white'), .3);
    display: flex;
    justify-content: space-around;
    padding: map-get($spacers, 3) 0;
  }

  .crm-actions__stat {
    align-items: center;
    display: flex;
    font-size: map-get($font-percentage, 'xxl');
    font-weight: bold;
    flex-direction: column;
    text-transform: uppercase;
  }

  .crm-actions__stat-label {
    color: rgba(map-get($greyscale, 'white'), .6);
    font-size: map-get($font-percentage, 'xxs') !important;
    font-weight: normal;
    text-align: center;
  }

  .today {
    padding: map-get($spacers, 3);
    @extend %flex-center;
  }
}
