// Modal
//
// Modal default state is closed. Toggling `.modal--closed` on both the `.modal--overlay` and `.modal` will diplay the modal.
//
// `.modal__close` on the close button is also a handle for JS.
// 
// Animation note: using `animated` must be placed on `.modal__inner` to maintain correct positioning.
//
// ```css
// <div class="modal--overlay modal--closed"></div>
//
// <div class="modal modal--closed ">
//     <div class="modal__inner animated slideInUp faster">
//         <div class="modal__header">
//             <button class="button float-right modal__close">Close <i class="fas fa-times"></i></button>
//             <h2>Modal</h2>
//          </div>
//          <div class="modal__content">
//             <p>Modal Content</p>
//          </div>
//     </div>
// </div>
// ```
// <div class="modal--overlay modal--closed"></div>
// <div class="modal modal--closed ">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button float-right modal__close">Close <i class="fas fa-times"></i></button>
//       <h2>Modal</h2>
//     </div>
//     <div class="modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
//
// <button class="button button--post button--lg modal__open">Trigger modal</button>
//
// Styleguide Components.modal

.modal {
  $self: &;
  display: flex;
  flex-direction: column;
  // Probably need media queries or just a better way to handle
  // small, medium, large??
  height: 70vh;
  max-height: 100%;
  width: 80vw;
  max-width: 100%;
  position: fixed;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &--overlay {
    background: rgba(map-get($platform-colors, 'menu'), $opacity);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
  &--closed {
    display: none;
  }
  &__open {
    cursor: pointer;
  }
  &__inner {
    background: map-get($greyscale, 'white');
    height: 100%;
  }
  &__header {
    background-color: map-get($brand-colors, 'lightblue');
    padding: 2rem;
    position: relative;
    width: 100%;
    #{$self}__close {
      position: absolute;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    padding: 2rem;
    position: relative;
    &--video {
      display: flex;
      height: 100%;
      padding: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
  }
}
