.ui.pagination {
  a {
    color: $color-link;
  }
  .input.item {
    color: $color-link;
    padding: 0 1rem;
    input {
      border: none;
      border-left: 1px solid $grey-lighter;
      border-right: 1px solid $grey-lighter;
      color: $color-link;
      font-size: 120%;
      font-weight: normal;
      margin: 0 1rem;
      outline: none;
      padding: 0.5rem 1rem;
      text-align: center;
      width: 7rem;
    }
  }
  input {
    height: 100%;
  }
}
