// <div class="pill pill--split">
//   <span class="pill__label">
//     NPN:
//   </span>
//   123456789
// </div>

.pill {
  background-color: transparent;
  border: 1px solid map-get($greyscale, 'base');
  border-radius: $border-radius;
  color: map-get($greyscale, 'base');
  font-size: map-get($font-percentage, 'sm');
  padding: map-get($spacers, 1) map-get($spacers, 3);

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
  }
  &__content {
    padding: map-get($spacers, 1) map-get($spacers, 1);
  }
  &__label {
    @extend .pill__content;
    background-color: rgba(map-get($greyscale, 'white'), .3);
  }
}
