$color-yellow: #FBBD08; 
$color-yellow-dark: darkgoldenrod;
$color-yellow-table-header: rgba(lighten($color-yellow-dark, 7%) , .7);
.table-tabs {
  color: $grey-light;
  display: flex;
  font-size: 110%;
  font-weight: bold;
  justify-content: space-evenly;
  .item {
    background: transparent;
    cursor: pointer;
    flex-grow: 1;
    padding: 1rem;
    transition: .2s;
    &:hover,
    &.active{
      background: $grey-light;
      color: white;
      &.warning {
        background: $color-yellow-table-header !important;
      }
    }   
  }
}

.reports {
  table {
    thead th.warning,
    .table-totals {
      background: $color-yellow-table-header !important;
      color: white !important;
    }
    .warning {
      font-weight: bold;
    }
    .currency {
      text-align: right !important;
    }
    padding: 0 .3rem;
    a {
      display: block;
      margin-bottom: .5rem;
      &:hover {
        border-bottom: 1px solid transparent !important;
      }
  }
  }
  .product-label {
    background: rgba($color-yellow, .4);
    box-shadow: 0 0 0 1px $color-yellow-dark;
    border-radius: .3rem;
    color: darken($color-yellow-dark, 5%);
    display: inline;
    font-size: 75%;
    font-weight: inherit;
    margin: .2rem .2rem .3rem .2rem;
    padding: .3rem .5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .ui.label.product-label {
    background-color: rgba($color-yellow, .4) !important;
    box-shadow: 0 0 0 1px $color-yellow-dark !important;
    border-radius: .3rem;
    color: darken($color-yellow-dark, 5%) !important;
    margin: .3rem .6rem .4rem 0rem !important;
    padding: .4rem .6rem !important;
    &:hover {
      cursor: pointer;
    }
  }
  .ui.image.label .detail {
    margin: -.1833em -.833em -.5833em .5em !important;
    padding: .6833em .833em !important;
  }
}
.ui.styled.accordion {
  border-radius: 0;
  margin-bottom: 1rem;
  transition: .2s;
  width: 100%;
  span {
    color: $grey-medium;
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .title {
    border-bottom: 1px solid $grey-light;
    color: $grey-dark !important;
    font-weight: lighter;
  }
  .content {
    display: block;
  }
}
.report {
  overflow: hidden;
  overflow-x: scroll;
}
.indent-downline {
  margin: .3rem !important;
  
}