.submission {
  &.stub {
    .title {
      border-left: .3rem solid $color-pink;
    }
    .vertical.segment {
      border-bottom: none;
      width: 100%;
    }
  }
  &.accordion .content {
    display: block !important; // <-- fighting semantic
  }
  .header {
    margin-top: 1rem;
  }
  .trash.icon {
    color: $color-pink;
  }
  .ui.vertical.segment {
    background: transparent;
    transition: .2s;
    margin: 0 -1rem;
    overflow: visible;
    padding: 2rem 1rem 1rem;
    &:first-of-type {
      margin-top: -.5rem;
    }
  }
  .header.expanded {
    transform: rotate(-90deg);
    position: absolute;
    left: -5rem;
    background: white;
    padding: 1rem;
    border: 1px lightgrey solid;
    border-bottom: none;
  }
  .highlight {
    background: aliceblue;
    color: $help-text;
  }
  .enrolled {
    color: $help-text;
  }
  .flow-highlight {
    > span {
      color: darken($help-text, 10%) !important;
    }
  }
}


#submissions,
#campaigns,
#uploads {
  .pre-title {
    color: $color-white;
    padding: 1rem;
    .row + .row {
      padding-top: 1rem;
    }
    .label {
      cursor: pointer;
    }
    .inline.select {
      margin: 0 auto;
      select {
        color: $color-white;
      }
    }
    .toggle.checkbox {
      border-right: 1px solid $grey;
      margin-right: 1rem;
      padding-right: 1rem;
      label {
        color: $color-white;
        transition: .2s;
      }
      &.checkbox input:checked~label {
        color: $help-text !important;
      }
    }
    .field {
      align-items: baseline;
    }
  }
}

.history-container {
  clear: both;
  margin: -1rem;
  .close-div {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}

.drop-target {
  border: .3rem dashed $grey-light;
  color: $grey-light;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem;
}

.well {
  margin: 1rem -1rem;
  padding: 2rem;
  @include rgba-background-color($color-menu-bkg, .7);
}

// pdf viewer under attachments
.inline-pdf {
  padding: .5rem 1rem;
  height: 100%;
  width: 100%;
  object {
    border-bottom: 1px solid $grey-dark;
    min-height: 50rem;
  }
  .close-div {
    padding: 1rem 0;
  }
}


// additions for campaigns
.campaign {
  .pre-title {
    margin-bottom: -1rem !important;
    input[type=date],
    label {
      color: $color-white !important;
      font-weight: normal !important;
      margin-left: .5rem;
    }
  }
  .flow-highlight {
    margin-top: -2rem;
    padding: 0 !important;
  }
  .positive {
    color: $color-olive;
    display: inline-flex;
    font-size: 130%;
    font-weight: bold;
  }
  .ui.toggle.checkbox {
    border-right: none !important;
    margin-top: 1.5rem;
    margin-right: 0 !important;
    padding-right: 0 !important;
    >label {
      &:before {
        background: rgba($color-menu-bkg, .4);
      }
    }
  }
  &.neutral {
    .title {
      background: lighten($grey-light, 15%);
    }
  }
  // see _vars for icon map
  .icon {
    @each $campaignType, $icon in $campaign-type-icons {
      &.#{$campaignType}-icon:before {
        font-family: "icons";
        color: $grey-light;
        content: "#{$icon}";
      }
    }
  }
  .campaign-conflict {
    background: lighten($color-menu-sub, 35%);
    border-bottom: 1px solid lighten($color-menu-sub, 18%);
    color: darken($color-menu-sub, 20%);
    display: flex;
    margin: 0 -1rem;
    padding: 1rem 0 1rem 1rem;
    position: relative;
    .concurrent {
      background: repeating-linear-gradient(
        -55deg,
        lighten($color-menu-sub, 15%),
        lighten($color-menu-sub, 15%) 10px,
        lighten($color-menu-sub, 20%) 10px,
        lighten($color-menu-sub, 20%) 20px
      );
      color: $color-white;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      text-align: center;
      .rotate {
        font-weight: bold;
        position: relative;
        text-shadow: 0 0 2px darken($color-menu-sub, 20%);
        text-transform: uppercase;
        transform: rotate(270deg) !important;
      }
    }
  }
}
