.submission {
  &.stub {
    .vertical.segment {
      border-bottom: none;
      width: 100%;
    }
  }
  &.accordion .content {
    display: block !important; // <-- fighting semantic
  }
  .header {
    margin-top: 1rem;
  }
  .trash.icon {
    color: $color-pink;
  }
  .ui.vertical.segment {
    background: transparent;
    transition: .2s;
    margin: 0 -1rem;
    overflow: visible;
    padding: 2rem 1rem 1rem;
    &:first-of-type {
      margin-top: -.5rem;
    }
  }
  .header.expanded {
    transform: rotate(-90deg);
    position: absolute;
    left: -5rem;
    background: white;
    padding: 1rem;
    border: 1px lightgrey solid;
    border-bottom: none;
  }
  .highlight {
    background: aliceblue;
    color: $help-text;
  }
  .enrolled {
    color: $help-text;
  }
  .flow-highlight {
    > span {
      color: darken($help-text, 10%) !important;
    }
  }
}


#submissions,
#campaigns,
#uploads {
  .pre-title {
    color: $color-white;
    padding: 1rem;
    .row + .row {
      padding-top: 1rem;
    }
    .label {
      cursor: pointer;
    }
    .inline.select {
      margin: 0 auto;
      select {
        color: $color-white;
      }
    }
    .toggle.checkbox {
      border-right: 1px solid $grey;
      margin-right: 1rem;
      padding-right: 1rem;
      label {
        color: $color-white;
        transition: .2s;
      }
      &.checkbox input:checked~label {
        color: $help-text !important;
      }
    }
    .field {
      align-items: baseline;
    }
  }
  .title {
    .corner.label {
      margin: 0;
    }
  }
}

.history-container {
  clear: both;
  margin: -1rem;
  .close-div {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}

.drop-target {
  border: .3rem dashed $grey-light;
  color: $grey-light;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem;
}

.well {
  margin: 1rem -1rem;
  padding: 2rem;
  @include rgba-background-color($color-menu-bkg, .7);
}

// pdf viewer under attachments
.inline-pdf {
  padding: .5rem 1rem;
  height: 100%;
  width: 100%;
  object {
    border-bottom: 1px solid $grey-dark;
    min-height: 50rem;
  }
  .close-div {
    padding: 1rem 0;
  }
}
