.ui.table {
  thead th {
    color: $grey;
  }
  td:empty,
  .td-empty {
    background: $color-background;
  }
  span {
    color: $grey-medium;
    display: block;
    line-height: 2rem;
    &:first-of-type {
      padding-top: 0.5rem;
    }
    &.inverted {
      a {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
  }

  // link underlines for first column in a table only
  td:first-child {
    a {
      border-bottom: 1px solid transparent;
      @include transition;
      &:hover,
      &:focus {
        border-bottom: 1px solid $color-link;
      }
    }
  }

  // inputs in a table
  .field {
    input {
      @include square(100%);
      border: none ;
      @include transition;
    }
  }

  &.member {
    margin-bottom: 0;
  }

  &.inverted {
      td > a {
        color: $color-yellow;
      }
  }

  &.archive {
    span {
      display: block;
      &:not(:only-child):last-child {
        color: $color-menu-sub;
      }
    }
    thead {
      th {
       font-weight: 700;
      }
    }
    tbody {
      color: $grey;
    }
  }
}
