// Tasks
//
// Tasks description
//
//
// Styleguide Components.Tasks
// 
// Markup:
// <section>
//   <ul class="task-group">
//     <li class="task-wrapper alert">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Business Meeting</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper alert completed">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Training</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Completed</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper warning">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">New Agent Orientation</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper warning">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Meeting</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper warning">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Business Meeting</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Business Meeting</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//     <li class="task-wrapper">
//       <div class="task">
//         <div class="task__header">
//           <div class="task__header-title">
//             <div class="task__alert">
//               <div class="task__alert-icon-wrapper">  
//                 <i class="fas fa-bell"></i>
//               </div>
//             </div>
//             <h2 class="task__title">Business Meeting</h2>
//           </div>
//           <div class="task__header-actions">
//             <a href="#" class="task-action" role="button" aria-label="Remove">
//               <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//             </a>
//             <a href="#" class="task-action" role="button" aria-label="Edit">
//               <i class="fas fa-edit" aria-hidden="hidden"></i>
//             </a>
//           </div>
//         </div>
//         <div class="task__content">
//           <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//           </p>
//         </div>
//         <div class="task__footer">
//           <div class="task__footer-time">
//             <p>
//               <i class="fas fa-calendar-alt"></i><time datetime="2019-05-10">10 May 2019</time>
//             </p>
//             <p>
//               <i class="far fa-clock"></i><time datetime="13:00">1:00 PM</time>
//             </p>
//           </div>
//           <div class="task__footer-status">
//             <div class="task__check">
//               <div class="task__check-mark">
//                 <i class="fas fa-check"></i>
//               </div>
//               <p class="task__check-status">Complete</p>
//             </div>
//           </div>
//         </div>
//       </div>
//     </li>
//   </ul>
// </section>

$task-standard: darken(map-get($secondary-colors, 'olive' ), 10%);

.task-group {
  display: flex;
  flex-flow: row wrap;
  margin-left: -.5rem;
  width: calc(100% + .5rem * 2);
}

ul.task-group {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 0;
  }
}
  
.task-wrapper {
  flex-basis: 50%;
  padding: .5rem;

  @include breakpoint(desktop, min) {
    flex-basis: 33.33%;
  }
}

.task {

  $task: &;
  background-color: map-get($greyscale, 'white');
  border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
  color: map-get($greyscale, 'base');
  padding: map-get($spacers, 4) 1.5rem;
  position: relative;

  &__header-title {
    align-items: center;
    display: flex;
    margin-bottom: map-get($spacers, 3 );
  }

  &__alert {
    @include square(map-get($spacers, 5));
    @include flex-center;
    background-color: $task-standard;
    border-radius: 50%;
    margin-right: 1rem;

    .alert & {
      background-color: map-get($secondary-colors, 'red' );
    }

    .warning & {
      background-color: map-get($brand-colors, 'skyblue' );
    }

    i {
      color: map-get($greyscale, 'white');
      font-size: map-get($font-percentage, 'xl' );
    }
  }

  &__alert-icon-wrapper {
    position: relative;
  }

  &__title {
    color: map-get($greyscale, 'base');
    font-family: map-get($fonts, 'base');
    font-size: 100%;
    margin-bottom: 0;
  }

  &__header-actions {
    display: flex;
    position: absolute;
    top: map-get($spacers, 2);
    right: map-get($spacers, 2);
  }

  &-action {
    @include square(map-get($spacers, 4));
    @include flex-center();
    color: map-get($greyscale, 'light');
    margin: 0 .25rem;
    transition: $transitions;

    &:hover {
      color: lighten(map-get($greyscale, 'light'), 10%);
    }
  }

  &__content {
    margin-bottom: map-get($spacers, 3 );
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    &-time {

      p {
        margin-bottom: map-get($spacers, 2 );

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      i {
        color: map-get($brand-colors, 'skyblue' );
        margin-right: map-get($spacers, 2 );
      }
    }
  }

  &__check {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-mark {
      @include square(map-get($spacers, 5 ));
      @include flex-center();
      border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
      border-radius: 50%;

      .completed & {
        border-color: $task-standard;

        i {
          color: $task-standard;
        }
      }

      i {
        color: lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
      }
    }
  }
}