// Tasks


$task-standard: darken(map-get($secondary-colors, 'olive' ), 10%);

.task {

  $task: &;

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: map-get($spacers, 2 );

      &:last-of-type {
        margin-bottom: 0;
      }

      i {
        color: map-get($brand-colors, 'skyblue' );
        margin-right: map-get($spacers, 2 );
      }
    }
  }

  &__check {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-mark {
      @include square(map-get($spacers, 5 ));
      @include flex-center();
      border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
      border-radius: 50%;

      .completed & {
        border-color: $task-standard;

        i {
          color: $task-standard;
        }
      }

      i {
        color: lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
      }
    }
  }
}