/*
  Ritter Platform vars, UI v2
  - removes use of Semantic UI
  - incorporates Ritter 2019 brand colors
  - Leveraging CSS Grid, Flexbox, stronger usage of SASS maps
*/

@import "variables/color";
@import "variables/fonts";
@import "variables/spacing";


// milliseconds; animations, transitions
$duration: .2s;
$transitions: .2s;
$hue-threshold: 10%;

$xy-border: (
  top: t,
  bottom: b,
  left: l,
  right: r
);
