
@import "variables/breakpoints";
@import "variables/color";
@import "variables/fonts";
@import "variables/height";
@import "variables/radius";
@import "variables/spacing";


// milliseconds; animations, transitions
$duration: .2s;
$transitions: .2s;
$hue-threshold: 10%;
$opacity: .9;

$xy-border: (
  top: t,
  bottom: b,
  left: l,
  right: r
);

$breakpoints: (
  'mobile': 768px,
  'desktop': 1240px,
  'xl': 1800px
);

$flex-grid: (
  1/2:half,
  1/3:third,
  1/4:quarter,
  3/4: 3-quarter,
  2/3: 2-third
);
