
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex__end {
  justify-content: flex-end;
}

.flex-align-center {
  @extend %flex-center;
}
