@use "config";
@use "variables";
@use "sass:map";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  box-sizing: border-box;
  color: map.get(variables.$greyscale, 'dark');
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.618;
  margin: 0;
  padding: 0;
}

// set up h-tags
@for $i from 1 through 6 {
  h#{$i} {
    color: map.get(variables.$greyscale, 'base' );
    font-weight: 500;
    line-height: 1.618;
    margin-bottom: variables.$spacer;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem ;
}

h3 {
  font-size: 1.6rem ;
}

h4 {
  font-size: 1.4rem ;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 variables.$spacer 0;
}

a {
  color: map.get(config.$site-colors, 'link');
  text-decoration: none;
  transition: color ease var(--transitions);
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

hr {
  background-color: map.get(variables.$greyscale, 'base');
  border: none;
  height: 1px;
  margin: variables.$spacer 0;
}
