@use "config";
@use "mixins";
@use "utilities";
@use "variables" as variables;
@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "sass:meta";

blockquote {
  --_blockquote-border: var(
                          --blockquote-border,
                          var(--light)
                        );

  border-left: var(--size-2) solid var(--_blockquote-border);
  margin-bottom: var(--size-3);
  padding: var(--size-3) 0 var(--size-3)
    calc(var(--size-3) * 1.5);
  position: relative;

  p {
    margin-bottom: 0;

    + p {
      margin-top: var(--size-3);
    }
  }

  footer {
    margin-top: var(--size-3);
  }

  cite {
    font-style: normal;
  }
}
