@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "sass:meta";

.card {
  $self: &;
  --_card-background: var(--card-background, var(--white));
  --_card-border: var(--card-border, var(--light-3));
  --_card-padding: var(--card-padding, var(--space-3));

  background-color: var(--_card-background);
  border: 1px solid var(--_card-border);
  padding: var(--_card-padding);

  .cards & {
    height: 100%;
  }

  &__image {
    width: calc(100% + (#{var(--_card-padding)} * 2));
    height: auto;
    margin-top: calc(var(--_card-padding) * (-1));
    margin-right: calc(var(--_card-padding) * (-1));
    margin-left: calc(var(--_card-padding) * (-1));
    margin-bottom: var(--_card-padding);
    border-bottom: 1px solid var(--light-3);
  }

  &[class*="rounded-"] {
    overflow: hidden;
  }

  &__header {
    color: var(--base);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-3);
    position: relative;

    .icon {
      max-height: 2rem;

      @include mixins.breakpoint(tablet, max) {
        display: none;
      }
    }

    #{$self}__group {
      align-items: center;
    }
  }

  // I don't think this is a thing anymore
  &__header-actions {
    display: flex;
    position: absolute;
    top: calc(var(--space-2) * (-1));
    right: calc(var(--space-3) * (-1));
  }

  &-action {
    border-right: 1px solid var(--light);
    color: hsl(var(--light-hue), var(--light-sat), calc(var(--light-light) + 10%));
    height: 1.5rem;
    padding: 0 0.5rem;
    transition: color var(--transitions);
    width: 2rem;
    @extend %flex-center;

    &:hover {
      color: var(--light);
    }

    &:last-of-type {
      border-right: none;
    }
  }

  &__group {
    display: flex;

    > * {
      margin-right: var(--space-3);
    }
  }

  &__title {
    color: var(--base);
    font-size: 100%;
    margin-bottom: 0;
    text-transform: uppercase;

    &--normal {
      text-transform: none;
    }
  }

  &__header-icon {
    i {
      .alert & {
        transform: rotate(-25deg);
      }
    }
  }

  &__content {
    &--scroll {
      height: 10rem;
      overflow-y: auto;
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-3);
  }
}
