@use "config";
@use "variables";
@use "sass:map";

@each $error in (positive, negative, neutral) {
  .text-#{$error} {
    color: map.get(variables.$error-colors, #{$error}) !important;

    &--hover {
      transition-property: color;
      transition-timing-function: ease;
      transition-duration: var(--transitions);
      &:hover {
        color: map.get(variables.$error-colors, #{$error}) !important;
      }
    }
  }
  // for pills
  .pill {
    &.#{$error} {
      background: map.get(variables.$error-colors, #{$error}) !important;
      border: none;
      color: white !important;
    }
  }
}
