@use "config";
@use "variables" as var;
@use "sass:map";

@each $error in (positive, negative, neutral) {
  .text-#{$error} {
    color: map.get(var.$error-colors, #{$error}) !important;

    &--hover {
      transition: color var(--transitions);
      &:hover {
        color: map.get(var.$error-colors, #{$error}) !important;
      }
    }
  }
  // for pills
  .pill {
    &.#{$error} {
      background: map.get(var.$error-colors, #{$error}) !important;
      border: none;
      color: white !important;
    }
  }
}
