@use "config";
@use "variables" as variables;
@use "sass:map";


// I think this should be refactored and included in utilities/colors
@each $error, $color in variables.$error-colors {

  // for pills
  .pill {
    &.#{$error} {
      background: var(--#{$error}) !important;
      border: none;
      color: white !important;
    }
  }
}
