.figure-hover {
  display: inline-flex;
  position: relative;

  &:hover {
    figcaption {
      opacity: 1;
      visibility: visible;
    }
  }

  img {
    max-width: 100%;
  }

  figcaption {
    --_figcaption-color: var(--figcaption-color, var(--white));
    --_figcaption-background: var(--figcaption-background, var(--light));

    color: var(--_figcaption-color);
    cursor: default;
    background: var(--_figcaption-background);
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    transition-property: opacity,
                         visibility;
    transition: var(--transitions);
    visibility: hidden;
    width: 100%;
  }
}