@use "config";
@use "mixins";
@use "variables" as variables;
@use "sass:map";

ul {
  margin: 0;
  padding: 0 0 0 var(--space-3);

  li {
    margin: 0 0 var(--space-2);
  }
}


ol {
  list-style-position: inside;

  li {
    margin: 0 0 var(--space-2);
  }
}


.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  
  &--bordered {
    --_list-item-border: var(--list-item-border, var(--light-mid));

    .list__item {
      padding-bottom: var(--space-2);

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--_list-item-border);
      }
    }
  }


  &.list--inline {
    display: flex;
    gap: var(--space-3);
  }
}
