@use "config";
@use "mixins";
@use "variables" as variables;
@use "sass:color";
@use "sass:math";
@use "sass:map";

.message {
  $self: &;
  --_message-background: var(
    --message-background, 
    var(--lighter)
  );
  --_message-border: var(
    --message-border, 
    var(--base)
  );
  --_message-color: var(
    --message-color, 
    var(--dark)
  );

  background-color: var(--_message-background);
  border-left: thick solid var(--_message-border);
  color: var(--_message-color);
  margin: var(--size-2) 0;
  padding: var(--size-2);

  // button close needs to be an independant concept to be placed
  // anywhere

  &:before {
    display: block;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: var(--size-3);
    text-transform: uppercase;
  }

  &__close {
    position: absolute;
    top: var(--size-2);
    right: var(--size-2);
  }

  &[data-header="none"] {
    &:before {
      display: none;
    }
  }

  > p {
    margin-bottom: 0;

    + p {
      margin: var(--size-2) 0 0;
    }
  }
  // ----------

  @each $name, $color in variables.$message-colors {
    &--#{$name} {
      --_message-background: var(--#{$name});
      --_message-border: hsl(
        var(--#{$name}-hue), 
        var(--#{$name}-sat), 
        calc(var(--#{$name}-light) - 50%)
      );
      --_message-color: hsl(
        var(--#{$name}-hue), 
        var(--#{$name}-sat), 
        calc(var(--#{$name}-light) - 60%)
      );

      &::before {
        content: $name;
      }

      &[data-header]:before {
        content: attr(data-header);
      }
    }
  }
}
