@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "sass:color";
@use "sass:map";
@use "sass:math";

.pill {
  --_pill-border-radius: var(
    --pill-border-radius,
    var(--radius-button)
  );
  $border-radius: map.get(variables.$radius, "button");
  $primary-background: var(--white);
  $primary-color: var(--base);

  border: 1px solid var(--light-3);
  border-radius: $border-radius;
  color: $primary-color;
  display: inline-flex;
  font-size: map.get(variables.$font-scale, "sm");
  padding: var(--size-1) var(--size-2);
  line-height: 1.5;

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    .pill__label {
      background-color: rgba($primary-color, 0.3);
      padding: var(--size-1) var(--size-2);
    }
  }

  &--circle {
    @extend %basic-circle;

    &-empty {
      @extend .pill--circle;
      padding: 0;
      &-dot {
        padding: 0;
        @include mixins.square(var(--size-2));
      }
      @include mixins.square(var(--size-3));
    }

    &-medium {
      @extend .pill--circle;
      @include mixins.square(var(--size-4));
    }

    &-large {
      @extend .pill--circle;
      @include mixins.square(var(--size-5));
    }
  }

  &__content {
    padding: var(--size-1) var(--size-2);
    // if icon present - flex it
    i {
      display: flex;
    }
  }

  &__label {
    @extend .pill__content;
    background-color: rgba($primary-background, 0.3);
    font-weight: 400;
  }
}
