@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "sass:color";
@use "sass:map";
@use "sass:math";

.pill {
  --_pill-border-radius: var(
    --pill-border-radius,
    var(--radius-button)
  );
  --_pill-label-background: var(
    --pill-background,
    var(--white-a30)
  );
  --_pill-color: var(
    --pill-color,
    var(--base)
  );
  --_pill-font-size: var(
    --pill-font-size,
    var(--font-size-sm)
  );

  border: 1px solid var(--light-3);
  border-radius: var(--_pill-border-radius);
  color: var(--_pill-color);
  display: inline-flex;
  font-size: var(--_pill-font-size);
  padding: var(--size-1) var(--size-2);
  line-height: 1.5;

  &__content {
    padding: var(--size-1) var(--size-2);
    // if icon present - flex it
    i {
      display: flex;
    }
  }

  &__label {
    @extend .pill__content;
    background-color: var(--_pill-label-background);
    font-weight: 400;
  }

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    
    .pill__label {
      --_pill-label-background: var(--base-a30);

      padding: var(--size-1) var(--size-2);
    }
  }

  &--circle {
    @extend %basic-circle;

    &-empty {
      @extend .pill--circle;
      @include mixins.square(var(--size-3));
      padding: 0;

      &-dot {
        @include mixins.square(var(--size-2));
        padding: 0;
      }
    }

    &-medium {
      @extend .pill--circle;
      @include mixins.square(var(--size-4));
    }

    &-large {
      @extend .pill--circle;
      @include mixins.square(var(--size-5));
    }
  }
}
