@use "config";
@use "mixins" as mixin;
@use "variables" as var;
@use "sass:color";
@use "sass:map";
@use "sass:math";

.pill {
  $border-radius: map.get(var.$radius, "button");
  $primary-background: var(--white);
  $primary-color: var(--base);

  border: 1px solid
    color.adjust(
      map.get(var.$greyscale, "light"),
      $lightness: math.percentage(config.$hue-threshold * 2)
    );
  border-radius: $border-radius;
  color: $primary-color;
  display: inline-flex;
  font-size: map.get(var.$font-scale, "sm");
  padding: map.get(var.$spacers, 1) map.get(var.$spacers, 2);
  line-height: 1.5;

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    .pill__label {
      background-color: rgba($primary-color, 0.3);
      padding: map.get(var.$spacers, 1) map.get(var.$spacers, 2);
    }
  }

  &--circle {
    @extend %basic-circle;

    &-empty {
      @extend .pill--circle;
      padding: 0;
      &-dot {
        padding: 0;
        @include mixin.square(map.get(var.$spacers, 2));
      }
      @include mixin.square(var.$spacer);
    }

    &-medium {
      @extend .pill--circle;
      @include mixin.square(map.get(var.$spacers, 4));
    }

    &-large {
      @extend .pill--circle;
      @include mixin.square(map.get(var.$spacers, 5));
    }
  }

  &__content {
    padding: map.get(var.$spacers, 1) map.get(var.$spacers, 2);
    // if icon present - flex it
    i {
      display: flex;
    }
  }

  &__label {
    @extend .pill__content;
    background-color: rgba($primary-background, 0.3);
    font-weight: 400;
  }
}
