@use "config";
@use "variables" as variables;
@use "sass:map";
@use "sass:meta";


:root {

  @each $type, $size in variables.$radius {
    --radius-#{$type}: #{$size};
  }

  --menu-height: #{config.$menu-height};
  --transitions: #{config.$transitions};
  --max-container: 1440px;
}
