@use "config";
@use "variables" as variables;
@use "sass:map";
@use "sass:meta";


:root {
  @include variables.all-color-tokens();
  @include variables.color-tokens();
  @include variables.error-tokens();
  @include variables.message-tokens();

  @each $type, $size in variables.$radius {
    --#{$type}: #{$size};
  }

  --menu-height: #{config.$menu-height};
  --transitions: #{config.$transitions};
  --max-container: 1440px;
}
