@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "utilities";
@use "sass:color";
@use "sass:map";
@use "sass:math";


.tabs {
  --_tab-height: var(--tab-height, 3rem);
  --_tab-color: var(--tab-color, var(--base));
  --_tab-background: var(--tab-background, var(--base));
  --_tab-border-color: var(--tab-border-color, transparent);
    
  @include mixins.breakpoint(tablet, min) {
    display: flex;
    flex-wrap: wrap;
  }

  * {
    box-sizing: border-box;
  }

  .tab {
    align-items: center;
    border: 1px solid var(--_tab-border-color);
    color: var(--_tab-color);
    display: flex;
    height: var(--_tab-height);
    padding: var(--size-2) var(--size-3);
    position: relative;
    transition: ease-in-out var(--transitions);
    transition-property: background-color, border-color, color, font-weight,
      border-bottom-color;

    @include mixins.breakpoint(tablet, max) {
      --_tab-color: var(--white);
      --_tab-border-color: var(--base);

      background: var(--_tab-background);
      margin-top: var(--size-1);

      &:first-of-type {
        margin-top: 0;
      }
    }

    @include mixins.breakpoint(tablet, min) {
      flex: 1 1 auto;
      max-width: 16rem;
      cursor: pointer;
      justify-content: center;
      margin-bottom: -1px;
      order: 1;
      z-index: 2;

      &::before {
        background-color: transparent;
        content: "";
        height: 0.3rem;
        left: -1px;
        position: absolute;
        right: -1px;
        top: 0;
        transition: background-color var(--transitions);
        width: auto;
        border: none;
        border-radius: 0;
      }
    }
  }

  input[type="radio"] {
    appearance: none;
    opacity: 0;
    position: absolute;

    &:checked {
      + .tab {
        --_tab-border-color: var(--light-3);

        border-bottom-color: var(--white);
        font-weight: 600;

        @include mixins.breakpoint(tablet, max) {
          border-bottom: none;
        }

        @include mixins.breakpoint(tablet, min) {
          background-color: var(--white);
          color: var(--_tab-color);

          &:before {
            background-color: var(--_tab-color);
          }
        }

        + .tab-panel {
          display: block;
        }
      }

      &.un-checked {
        + label {
          font-weight: 300;

          + .tab-panel {
            display: none !important;
          }
        }
      }
    }
  }

  input[type="radio"] {
    &:not(:checked) {
      + .tab {
        @media (pointer: fine) {
          &:hover {
            --_tab-border-color: var(--light-3);
            --_tab-color: var(--base-a70);

            background-color: var(--white);
            font-weight: 600;

            @include mixins.breakpoint(tablet, min) {
              border-bottom-color: var(--white);
            }
          }
        }
      }
    }
  }

  .tab-panel {
    --_tab-panel-border-color: var(--tab-panel-border-color, var(--light-3));

    display: none;
    background-color: var(--white);
    border: 1px solid var(--_tab-panel-border-color);
    padding: var(--size-2);
    position: relative;
    width: 100%;
  
    @include mixins.breakpoint(tablet, max) {
      border-top: transparent;
    }
  
    @include mixins.breakpoint(tablet, min) {
      flex-grow: 1;
      order: 99;
      padding-top: calc(var(--size-2) + 1px);
      z-index: 1;
    }
  }
}


.tabs--flat {
  display: block;
  flex-wrap: unset;

  @include mixins.breakpoint(tablet, min) {
    display: flex;
    flex-wrap: wrap;
  }

  .tab {
    --_tab-border-color: var(--base);

    align-items: center;
    background: var(--_tab-background);
    display: flex;
    height: var(--_tab-height);
    margin: var(--size-1) 0 0;
    padding: var(--size-2) var(--size-3);
    position: relative;
    transition: var(--transitions);
    transition-property: background-color, color, font-weight;

    &:first-of-type {
      margin-top: 0;
    }

    @include mixins.breakpoint(tablet, min) {
      --_tab-background: var(--white);
      
      border: none;
      flex: 0 0 auto;
      height: auto;
      margin: 0 1rem;
      order: 1;
      z-index: auto;

      &:before {
        background-color: transparent;
        border: none;
        bottom: 0;
        content: "";
        height: 0.3rem;
        left: 0;
        position: absolute;
        right: 0;
        top: unset;
        transition: background-color var(--transitions);
        width: auto;
      }
    }
  }


  input[type="radio"] {
    &:not(:checked) {
      + .tab {
        @media (pointer: fine) {
          &:hover {

            &::before {
              background-color: var(--base-a70);
            }
          }
        }
      }
    }

    &:checked {
      + .tab {
        --_tab-border-color: var(--light-3);

        border-bottom: none;
        color: var(--white);
        font-weight: 600;

        @include mixins.breakpoint(tablet, min) {
          border: none;
          color: var(--_tab-color);
        }

        &:before {
          background-color: var(--_tab-color);
        }
      }
    }
  }


  .tab-panel {

    @include mixins.breakpoint(tablet, min) {
      border: none;
      border-top: 1px solid var(--_tab-panel-border-color);
      z-index: auto;
    }
  }

  // unresponsive flat tabs
  &.unresponsive {
    @include mixins.breakpoint(tablet, max) {
      display: flex;
      flex-wrap: wrap;
    }

    .tab {
      @include mixins.breakpoint(tablet, max) {
        background: var(--white);
        border: none;
        color: var(--base);
        flex: 0 0 auto;
        height: auto;
        margin: 0 1rem;
        order: 1;
        z-index: auto;

        &:before {
          background-color: transparent;
          border: none;
          bottom: 0;
          content: "";
          height: 0.3rem;
          left: 0;
          position: absolute;
          right: 0;
          top: unset;
          transition: background-color var(--transitions);
          width: auto;
        }
      }
    }

    input[type="radio"] {
      &:checked {
        + .tab {
          @include mixins.breakpoint(tablet, max) {
            border: none;
            color: var(--_tab-color);
          }
        }
      }
    }

    .tab-panel {
      @include mixins.breakpoint(tablet, max) {
        flex-grow: 1;
        order: 99;
        border: none;
        border-top: 1px solid var(--_tab-panel-border-color);
        z-index: auto;
      }
    }
  }
}
