@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "sass:color";
@use "sass:map";
@use "sass:math";

.table {
  --_table-border-color: var(
    --table-border-color,
    var(--light-3)
  );
  
  width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
  
  @include mixins.breakpoint(tablet, max) {
    border: none;
  }
  
  
  thead {
    --_thead-background: var(
      --thead-background,
      var(--lighter)
    );
    --_thead-border-color: var(
      --table-border-color,
      var(--light)
    );

    background-color: var(--_thead-background);
    border-bottom: 1px solid var(--_thead-border-color);
    color: var(--base);
    font-weight: bold;
    text-align: left;
    @include mixins.breakpoint(tablet, max) {
      border: none;
    }

    th {
      border: solid var(--_table-border-color);
      border-width: 1px 0;
    }
  }


  tr {
    background-color: transparent;
    transition: background-color var(--transitions) ease;

    @include mixins.breakpoint(tablet, min) {
      &:hover {
        background-color: var(--lighter);
      }
    }

    td,
    th {
      padding: 1rem;
    }

    + tr {

      td {
        border-top: 1px solid var(--_table-border-color);
      }
    }
  }
  

  @include mixins.breakpoint(tablet, max) {
    &:not(.unresponsive) {
      thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
      }

      tr {
        border-bottom: none;
        display: block;

        td {
          align-items: flex-start;
          border: none;
          display: flex;
          flex-direction: column;

          &:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            min-width: 40%;
            padding-right: var(--size-2);
            text-align: left;
          }
        }
      }

      tr + tr {
        border-top: 1px solid var(--_table-border-color);
        margin-top: var(--size-2);
        padding-top: var(--size-2);
      }
      /* Get table cells to act like rows */
    }
  }


  &--no-hover {
    tr {
      @include mixins.breakpoint(tablet, min) {
        &:hover {
          background-color: initial;
        }
      }
    }
  }


  &--bordered {
    // coming
  }
  &--condensed {
    // coming
  }
}
