@use "config";
@use "mixins" as mixin;
@use "variables" as var;
@use "sass:color";
@use "sass:map";
@use "sass:math";

.table {
  --table-color-light: color.adjust(
    map.get(var.$greyscale, "light"),
    $lightness: math.percentage(config.$hue-threshold * 2)
  );

  $table-border: 1px solid var(--table-color-light);
  $responsive-table-bottom-gap: map.get(var.$spacers, 2);
  $responsive-table-label-bg: var(--lighter);
  width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
  @include mixin.breakpoint(tablet, max) {
    border: none;
  }

  thead {
    background-color: var(--lighter);
    border-bottom: 1px solid var(--light);
    color: var(--base);
    font-weight: bold;
    text-align: left;
    @include mixin.breakpoint(tablet, max) {
      border: none;
    }

    th {
      border: solid var(--table-color-light);
      border-width: 1px 0;
    }
  }

  tr {
    background-color: transparent;
    transition: calc(var(--transitions) * 3);
    @include mixin.breakpoint(tablet, min) {
      &:hover {
        background-color: var(--lighter);
      }
    }

    td,
    th {
      padding: 1rem;
    }

    td {
      border-bottom: 1px solid var(--table-color-light);
    }

    &:last-child {
      td {
        border-color: transparent;
      }
    }
  }
  @include mixin.breakpoint(tablet, max) {
    &:not(.unresponsive) {
      thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
      }

      tr {
        border-bottom: none;
        display: block;

        td {
          align-items: flex-start;
          border: none;
          display: flex;
          flex-direction: column;

          &:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            min-width: 40%;
            padding-right: map.get(var.$spacers, 2);
            text-align: left;
          }
        }
      }

      tr + tr {
        border-top: 1px solid var(--table-color-light);
        margin-top: $responsive-table-bottom-gap;
        padding-top: $responsive-table-bottom-gap;
      }
      /* Get table cells to act like rows */
    }
  }
  &--no-hover {
    tr {
      @include mixin.breakpoint(tablet, min) {
        &:hover {
          background-color: initial;
        }
      }
    }
  }
  &--bordered {
    // coming
  }
  &--condensed {
    // coming
  }
}
