@use "config";
@use "mixins" as mixins;
@use "variables" as variables;
@use "sass:map";

@mixin tooltip {
  --_tooltip-border: var(--tooltip-border, var(--radius-default));
  --_tooltip-background: var(--tooltip-background, var(--dark-a90));

  cursor: pointer;
  line-height: 1;
  position: relative;

  &::after {
    background-color: var(--_tooltip-background);
    border-radius: var(--_tooltip-border);
    color: var(--white);
    font-size: map.get(variables.$font-scale, "sm");
    font-weight: normal;
    line-height: 1.15rem;
    opacity: 0;
    padding: var(--size-1) var(--size-2);
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity var(--transitions);
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
  }

  @each $direction, $d in variables.$xy-border {
    &.tooltip-#{$direction} {
      --_tooltip-size: var(--tooltip-size, 0.3rem);

      // arrows
      &::before {
        border-style: solid;
        border-width: var(--_tooltip-size);
        content: "";
        opacity: 0;
        position: absolute;
        transition: opacity var(--transitions);
        visibility: hidden;
        @if $direction == top {
          border-color: var(--_tooltip-background) transparent transparent transparent;
          top: 0;
          left: 50%;
          margin-left: calc(var(--_tooltip-size) * (-1));
        } @else if $direction == bottom {
          border-color: transparent transparent var(--_tooltip-background) transparent;
          bottom: 0;
          left: 50%;
          margin-left: calc(var(--_tooltip-size) * (-1));
        } @else if $direction == left {
          border-color: transparent transparent transparent var(--_tooltip-background);
          top: var(--_tooltip-size);
          right: calc(110% - #{var(--_tooltip-size)});
          margin-top: calc(var(--_tooltip-size) * (-1));
        } @else if $direction == right {
          border-color: transparent var(--_tooltip-background) transparent transparent;
          top: var(--_tooltip-size);
          left: calc(110% - #{var(--_tooltip-size)});
          margin-top: calc(var(--_tooltip-size) * (-1));
        }
      }

      &::after {
        @if $direction == top {
          bottom: 100%;
          left: 50%;
          transform: translate(-50%);
        } @else if $direction == bottom {
          top: 100%;
          left: 50%;
          transform: translate(-50%);
        } @else if $direction == left {
          top: calc(var(--_tooltip-size) * (-1));
          right: calc(110% + #{var(--_tooltip-size)});
        } @else if $direction == right {
          top: calc(var(--_tooltip-size) * (-1));
          left: calc(110% + #{var(--_tooltip-size)});
        }
      }
    }
  }

  &.tooltip-mobile {
    @include mixins.breakpoint(tablet, max) {
      &::before {
        display: none;
      }

      &:after {
        font-size: 1rem;
        max-width: 20rem;
        position: fixed;
        bottom: auto;
        top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-50%, -50%);
        white-space: normal;
      }
    }
  }

  &.tooltip-inline {
    border-bottom: 2px dotted var(--med-blue);
    display: inline-block;
  }

  &:hover::after,
  &[class*="tooltip-"]:hover::before {
    visibility: visible;
    opacity: 1;
  }
}

[data-tooltip] {
  @include tooltip;

  &:after {
    content: attr(data-tooltip);
  }
}

// not fully realized :(
.tooltip--help {
  color: var(--med-blue) !important;
}
