// Fonts
$fonts: (
  'base': #{'Inter UI', sans-serif},
  'base-alt': #{'Inter UI var alt', sans-serif},
  'color': map-get($greyscale, 'dark'),
  'headline': #{'Roboto Slab', serif},
  'size': 1rem
);

$font-scale: .5;

$font-percentage: (
  'xxs': 50%,
  'xs': 70%,
  'sm': 85%,
  'lg': 125%,
  'xl': 150%,
  'xxl': 200%
);