// make $brand-colors and $secondary colors available as text and background colors

$all-colors: map-merge(map-merge($brand-colors, $secondary-colors), $greyscale);

@each $name, $color in $all-colors {
  // text color
  .text-#{$name} {
    &.pill {
      border-color: $color !important;
    }
    color: $color !important;
    transition: .2s;
    &--hover {
      transition: $transitions;
      &:hover {
        color: $color !important;
      }
    }
  }
  // background color
  .background-#{$name} {
    background-color: $color !important;

    &.button {

      &.loading {

        &:before {
          background-color: $color !important;
        }
      }
    }
  }
}

@each $name, $color in $platform-colors {
  // text color
  .text-#{$name} {
    border-color: $color !important;
    color: $color !important;
    transition: .2s;
  }
  // background color
  .background-#{$name} {
    background-color: $color !important;

    &.button {

      &.loading {

        &:before {
          background-color: $color !important;
        }
      }
    }
  }
}
