.flex {
  display: flex;
  &--align {
    &-center {
      @extend %flex-center;
    }
  }
  &--column {
    flex-direction: column;
  }
  &--justify {
    &-between {
      justify-content: space-between;
    }
    &-end {
      justify-content: flex-end;
    }
  }
}
.align-center {
  align-items: center;
}
