// Text
//
// Text utilities will grow as needed;
//
// Basic text utilities (self explanitory)
// | Class Name        |                    |
// | ----------------- | ------------------ |
// | `text--bold`      | `text--uppercase`  |
//
// Font size utilities
//
// Usage:
// `text--size-<key from $font-percentage map>`
//
// Example:
// ```scss
// .text--size-sm // font-size: 85%;
// ```
//
// Map:
// ```scss
//   'xxs': 50%,
//   'xs': 70%,
//   'sm': 85%,
//   'md': 115%,
//   'lg': 125%,
//   'xl': 150%,
//   'xxl': 200%
// ```
//
// Styleguide Utilities.Text

.text {
  &--uppercase {
    text-transform: uppercase;
  }
  &--underline {
    text-decoration: underline;
  }
  &--bold {
    font-weight: bold;
  }
  &--nowrap {
    white-space: nowrap;
  }
  // text shadow using $greyscale
  @each $name, $color in $greyscale {
    &--shadow-#{$name} {
      text-shadow: .3rem .3rem .5rem $color;
    }
  }
  // font size based on percentages
  @each $name, $percentage in $font-percentage {
    &--size-#{$name} {
      font-size: $percentage !important;
    }
  }
}
