@use "config";
@use "variables";
@use "sass:map";

// Headings
//
// <h1>This is an h1</h1>
// <h2>This is an h2</h2>
// <h3>This is an h3</h3>
// <h4>This is an h4</h4>
// <h5>This is an h5</h5>
// <h6>This is an h6</h6>
// <div class="my-4"></div>
// 
// Styleguide Typography.Headings

// Paragraphs
//
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <p>Paragraph</p>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0"><strong>Note:</strong> Our paragraphs have a default margin-bottom of 1rem</p>
//   </div>
// </div>
//
// Styleguide Typography.Paragraphs

// Typography Utilities
//
// Below are some of our typography utilities.
//
// Styleguide Typography.Utilities

// Color
//
// `text-{ color }`, `text-{ color }--hover` combines our [greyscale](/section-color.html#kssref-color-greyscale), [brand colors](/section-color.html#kssref-color-brandcolors), and [secondary colors](/section-color.html#kssref-color-secondarycolors) maps.
//
// | Greyscale         |                    |                     |                      |
// | ----------------- | ------------------ | ------------------- | -------------------- |
// | `text-white`      | `text-lighter`     | `text-light-mid`    | `text-light`         |
// | `text-base`       | `text-dark`        | `text-black`        |                      |
//
// | Brand colors      |                    |                     |                      |
// | ----------------- | ------------------ | ------------------- | -------------------- |
// | `text-navy`       | `text-skyblue`     | `text-med-blue`     | `text-beige`         |
// | `text-peach`      | `text-salmon`      | `text-brown`        | `text-orange`        |
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <p>
//       <span class="text-brown">Brown text</span>,
//       <span class="text-cyan--hover">Cyan text on hover</span>,
//       <span class="text-navy text-red--hover">navy text, red on hover</span>
//     </p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.Color

// Sizing
//
// `text--size-{ size }` leverages percetages for smaller or larger text. The defaut `font-size` is `1rem`.
//
// | Text sizing       |         |
// | ----------------- | ------- |
// | `text--size-xxs`  | `50%`   |
// | `text--size-xs`   | `70%`   |
// | `text--size-sm`   | `85%`   |
// | `text--size-md`   | `115%`  |
// | `text--size-lg`   | `125%`  |
// | `text--size-xl`   | `150%`  |
// | `text--size-xxl`  | `200%`  |
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block">
//     <p class="text--size-xl">Text xl</p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.Sizing

// Case
//
// Case encompasses both word and sentence case. 
//
// Markup:
// <p class="text--uppercase">This is uppercase.</p>
// <p class="text--lowercase">This is lowercase.</p>
// <p class="text--capitalize">This is capitalize.</p>
// <p class="text--sentencecase">This IS SENTENCE caSe.</p>
//
// Styleguide Typography.Utilities.Case

// General
//
// General utilities add class-based css transforms like `uppercase` and `bold`. See the chart below for the full list.
//
// | General           |                    |                     |                      |
// | ----------------- | ------------------ | ------------------- | -------------------- |
// | `text--underline` | `text-underline--hover`  | `text--bold` | `text--nowrap` <i class="pi-warning text-orange"></i> |
// | `text--center` <i class="pi-warning text-orange"></i>   | `text--right` <i class="pi-warning text-orange"></i> | `text--capitalize` | `text--uppercase` |
// | `text--lowercase`   | `text--sentencecase` | `text--italic` |  |
//
// | <i class="pi-warning text-orange"></i> NOTE: A `flex--` utility should be used were possible. |
// | --
//
//
// The `text-underline--hover` class will add an animated underline to links or any element you add the class to. By default, the underline color is the
// standard link color in the platform(light blue). If you want to change the color of the element and the underline on hover you can add a `text-{color}--hover`
// class. This will change the color of the underline as well as the element with the hover color class.
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block">
//     <p>Text underline on hover <a class="text-underline--hover">standard</a>.</p>
//     <p>Text underline on hover <a class="text-underline--hover text-red--hover">red</a>.</p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.General


// Text Shadow
//
// You can add a text-shadow to an element using colors from our [greyscale](/section-color.html#kssref-color-greyscale) map.
//
// | Greyscale                 |                            |                             |                              |
// | ------------------------- | -------------------------- | --------------------------- | ---------------------------- |
// | `text--shadow-white`      | `text--shadow-lighter`     | `text--shadow-light-mid`    | `text--shadow-light`         |
// | `text--shadow-base`       | `text--shadow-dark`        | `text--shadow-black`        |                              |
//
// Markup:
// <p class="text--shadow-base">This text has a base color shadow.</p>
//
// Styleguide Typography.Utilities.TextShadow

.text {

  &--underline {
    text-decoration: underline;
  }
  &--bold {
    font-weight: bold;
  }
  &--nowrap {
    white-space: nowrap;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &--capitalize {
    text-transform: capitalize;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--lowercase {
    text-transform: lowercase;
  }
  &--sentencecase {
    text-transform: lowercase;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &--italic {
    font-style: italic;
  }

  &-underline--hover {
    position: relative;

    &:after {
      background-color: map.get(config.$site-colors, 'link');
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transition: config.$transitions;
      width: 0;
    }

    &:hover {

      &:after {
        width: 100%;
      }
    }
  }

  // text shadow using $greyscale
  @each $name, $color in variables.$greyscale {
    &--shadow-#{$name} {
      text-shadow: .3rem .3rem .5rem $color;
    }
  }
  // font size based on percentages
  @each $name, $percentage in variables.$font-percentage {
    &--size-#{$name} {
      font-size: $percentage !important;
    }
  }
}
