@use "config";
@use "variables";
@use "sass:map";

// Headings
//
// <h1>This is an h1</h1>
// <h2>This is an h2</h2>
// <h3>This is an h3</h3>
// <h4>This is an h4</h4>
// <h5>This is an h5</h5>
// <h6>This is an h6</h6>
// <div class="my-4"></div>
// 
// Styleguide Typography.Headings

// Paragraphs
//
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <p>Paragraph</p>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0"><strong>Note:</strong> Our paragraphs have a default margin-bottom of 1rem</p>
//   </div>
// </div>
//
// Styleguide Typography.Paragraphs

// Typography Utilities
//
// Below are some of our typography utilities.
//
// Styleguide Typography.Utilities

// Color
//
// `text-{ color }`, `text-{ color }--hover` combines our [greyscale](/section-color.html#kssref-color-greyscale), [brand colors](/section-color.html#kssref-color-brandcolors), and [secondary colors](/section-color.html#kssref-color-secondarycolors) maps.
//
// | Greyscale         |                    |                     |                      |
// | ----------------- | ------------------ | ------------------- | -------------------- |
// | `text-white`      | `text-lighter`     | `text-light-mid`    | `text-light`         |
// | `text-base`       | `text-dark`        | `text-black`        |                      |
//
// | Brand colors      |                    |                     |                      |
// | ----------------- | ------------------ | ------------------- | -------------------- |
// | `text-navy`       | `text-skyblue`     | `text-med-blue`     | `text-beige`         |
// | `text-peach`      | `text-salmon`      | `text-brown`        | `text-orange`        |
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <p>
//       <span class="text-orange">Orange Text</span> | 
//       <span class="text-med-blue--hover">Blue Text on Hover</span> | 
//       <span class="text-navy text-skyblue--hover">Navy Text, Sky Blue on Hover</span>
//     </p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.Color

// Sizing
//
// `text--size-{ size }` leverages scale for smaller or larger text. The defaut `font-size` is `1rem`.
//
// | Text sizing       |         |
// | ----------------- | ------- |
// | `text--size-2xs`  | `0.422rem`   |
// | `text--size-xs`   | `0.563rem`   |
// | `text--size-sm`   | `0.75rem`   |
// | `text--size-base`   | `1rem`   |
// | `text--size-md`   | `1.333rem`  |
// | `text--size-lg`   | `1.777rem`  |
// | `text--size-xl`   | `2.369rem`  |
// | `text--size-2xl`  | `3.157rem`  |
// | `text--size-3xl`  | `3.157rem`  |
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block">
//     <p class="text--size-xl">Text xl</p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.Sizing

// Case
//
// Case encompasses both word and sentence case. 
//
// Markup:
// <p class="text--uppercase">This is uppercase.</p>
// <p class="text--lowercase">This is lowercase.</p>
// <p class="text--capitalize">This is capitalize.</p>
// <p class="text--sentencecase">This IS SENTENCE caSe.</p>
//
// Styleguide Typography.Utilities.Case

// General
//
// General utilities add class-based css transforms like `uppercase` and `bold`. See the chart below for the full list.
//
// | General                                |                                         |                                          |                                           |
// | -------------------------------------- | --------------------------------------- | ---------------------------------------- | ----------------------------------------- |
// | `text--underline`                      | `text-underline--hover`                 |                                          |                                           |
// | `text--bold`                           |                                         |                                          |                                           |
// | `text--nowrap` <i class="pi-warning text-orange"></i> |                          |                                          |                                           |
// | `text--left` <i class="pi-warning text-orange"></i> | `text--right` <i class="pi-warning text-orange"></i> | `text--center` <i class="pi-warning text-orange"></i> |    |
// | `text--capitalize`                     | `text--uppercase`                       | `text--lowercase`                        | `text--sentencecase`                      |
// | `text--italic`                         | `text--normal`                          |                                          |                                           |
//
// | <i class="pi-warning text-orange"></i> NOTE: A `flex--` utility should be used were possible. |
// | --
//
//
// The `text-underline--hover` class will add an animated underline to links or any element you add the class to. By default, the underline color is the
// standard link color in the platform(light blue). If you want to change the color of the element and the underline on hover you can add a `text-{color}--hover`
// class. This will change the color of the underline as well as the element with the hover color class.
//
// Markup:
// <div class="card block-container mb-3 flex--align-center">
//   <div class="block">
//     <p>Text underline on hover <a class="text-underline--hover">standard</a>.</p>
//     <p>Text underline on hover <a class="text-underline--hover text-red--hover">red</a>.</p>
//   </div>
// </div>
//
// Styleguide Typography.Utilities.General


// Text Shadow
//
// You can add a text-shadow to an element using colors from our [greyscale](/section-color.html#kssref-color-greyscale) map.
//
// | Greyscale                 |                            |                             |                              |
// | ------------------------- | -------------------------- | --------------------------- | ---------------------------- |
// | `text--shadow-white`      | `text--shadow-lighter`     | `text--shadow-light-mid`    | `text--shadow-light`         |
// | `text--shadow-base`       | `text--shadow-dark`        | `text--shadow-black`        |                              |
//
// Markup:
// <p class="text--shadow-base">This text has a base color shadow.</p>
//
// Styleguide Typography.Utilities.TextShadow

.text {

  &--underline {
    text-decoration: underline;
  }

  &--bold {
    font-weight: bold;
  }

  &--nowrap {
    white-space: nowrap;
  }

  &-underline--hover {
    position: relative;

    &:after {
      background-color: map.get(config.$site-colors, 'link');
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transition: config.$transitions;
      width: 0;
    }

    &:hover {

      &:after {
        width: 100%;
      }
    }
  }

  // font-style
  @each $key, $val in variables.$font-style {
    &--#{$key} {
      font-style: #{$val};
    }
  }

  // text-align
  @each $key, $val in variables.$text-align {
    &--#{$key} {
      text-align: #{$val};
    }
  }

  // text-transform
  @each $key, $val in variables.$text-transform {
    &--#{$key} {
      text-transform: #{$val};

      @if $key == sentencecase {
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  // text shadow using $greyscale
  @each $name, $color in variables.$greyscale {
    &--shadow-#{$name} {
      text-shadow: .3rem .3rem .5rem $color;
    }
  }
  // font size based on scale
  @each $name, $scale in variables.$font-scale {
    &--size-#{$name} {
      font-size: $scale !important;
    }
  }
}