// Breakpoints map used in our breakpoints mixin
// as well as some of our utility classes

$breakpoints: (
  mobile: 0px,
  tablet: 768px,
  lg-tablet: 991px,
  laptop: 1240px,
  desktop: 1800px
);

