@use "config";
@use "sass:color";
@use "sass:math";
@use "sass:map";

// Colors
//
// DO NOT implement colors outside of these collections. All color should be called using:
//
// `map.get($map, $key);`
//
// All color variations should be handled through `color.adjust(#color, $lightness: -(#percentage);`, which darkens the color, 
// or `color.adjust(#color, $lightness: #percentage);`, which will lighten the color, or `rgba` for alpha transparency.
//
// Our Color Utility classes can be found in the Utilities section of the guide, [here](/section-utilities.html#kssref-utilities-color).
//
// Styleguide Color

// Greyscale
//
// Colors:
// white: #ffffff
// lighter: #efefef
// light: #999999
// base: #666666
// dark: #333333
// black: #222222
//
// Styleguide Color.Greyscale

$greyscale: (
  'white': white,
  'lighter': #efefef,
  'light-mid': #e2e3e5,
  'light': #999,
  'base': #666,
  'dark': #333,
  'black': #222
);

// Error Colors
//
// Colors:
// positive: #b5cc18
// negative: tomato
// neutral: #999
//
// Styleguide Color.ErrorColors

$error-colors: (
  'positive': map.get(config.$secondary-colors, 'olive'),
  'negative': map.get(config.$secondary-colors, 'red'),
  'neutral': map.get($greyscale, 'light')
);

// Message Colors
//
// Colors:
// base-light: #e2e3e5
// base: #999
// base-dark: #666
// info-light: #E5F5FF
// info: #91b9dc
// info-dark: #3f7bad
// warning-light: #fff3cd
// warning: #ffeeba
// warning-dark: #856404
// error-light: #ffe5e0
// error: #e5aaaa
// error-dark: #a93434
// success-light: #d4edda
// success: #c3e6cb
// success-dark: #155724
//
// Styleguide Color.MessageColors

$message-colors: (
  'base-light': map.get($greyscale, 'lighter'),
  'base': map.get($greyscale, 'light'),
  'base-dark': map.get($greyscale, 'base'),
  'info-light': map.get(config.$brand-colors, 'lightblue'),
  'info': map.get(config.$brand-colors, 'skyblue'),
  'info-dark': color.adjust(map.get(config.$brand-colors, 'med-blue'), $lightness: math.percentage(-(config.$hue-threshold))),
  'warning-light': #fff3cd,
  'warning': #ffeeba,
  'warning-dark': #856404,
  'error-light': #ffe5e0,
  'error': #e5aaaa,
  'error-dark': #a93434,
  'success-light': #d4edda,
  'success': #c3e6cb,
  'success-dark': #155724
);
