@use "config";
@use "sass:color";
@use "sass:math";
@use "sass:map";

// Colors
//
// DO NOT implement colors outside of these collections. All color should be called using:
//
// `map.get($map, $key);`
//
// All color variations should be handled through `color.adjust(#color, $lightness: -(#percentage);`, which darkens the color,
// or `color.adjust(#color, $lightness: #percentage);`, which will lighten the color, or `rgba` for alpha transparency.
//
// Our Color Utility classes can be found in the Utilities section of the guide, [here](/section-utilities.html#kssref-utilities-color).
//
// Styleguide Color

// Greyscale
//
// Colors:
// white: #ffffff
// lighter: #efefef
// light: #999999
// base: #666666
// dark: #333333
// black: #222222
//
// Styleguide Color.Greyscale

$greyscale: (
  'white': white,
  'lighter': #efefef,
  'light-mid': #e2e3e5,
  'light': #999,
  'base': #666,
  'dark': #333,
  'black': #222
);

// Error Colors
//
// Colors:
// positive: #b5cc18
// negative: tomato
// neutral: #999
//
// Styleguide Color.ErrorColors

$error-colors: (
  'positive': map.get(config.$secondary-colors, 'olive'),
  'negative': map.get(config.$secondary-colors, 'red'),
  'neutral': map.get($greyscale, 'light')
);

// Message Colors
//
// Colors:
// info: #91b9dc
// warning: #ffeeba
// error: #ffe5e0
// success: #d4edda
//
// Styleguide Color.MessageColors

$message-colors: (
  'info': map.get(config.$brand-colors, 'lightblue'),
  'note': #ffeeba,
  'warning': #ffeeba,
  'error': #ffe5e0,
  'success': #d4edda
);
