// Colors
//
// DO NOT implement colors outside of these collections. All color should be called using:
//
// `map-get($map, $key);`
//
// All color variations should be handled through `darken()`, `lighten()`, or `rgba` for alpha transparency.
//
// Styleguide Color

// Greyscale
//
// Colors:
// white: #ffffff
// lighter: #efefef
// light: #999999
// base: #666666
// dark: #333333
// black: #222222
//
// Styleguide Color.Greyscale

$greyscale: (
  'white': white,
  'lighter': #efefef,
  'light-mid': #e2e3e5,
  'light': #999,
  'base': #666,
  'dark': #333,
  'black': #222
);

// Brand Colors
//
// Colors:
// navy: #003f70
// skyblue: #91b9dc
// lightblue: #E5F5FF
// med-blue: #3f7bad
// beige: #ecd7b1
// peach: #dfa278
// salmon: #e58967
// brown: #866657
// orange: #f48418
//
// Styleguide Color.BrandColors

$brand-colors: (
  'navy':   #003f70,
  'skyblue':#91b9dc,
  'lightblue': #E5F5FF,
  'med-blue': #3f7bad,
  'beige':  #ecd7b1,
  'peach':  #dfa278,
  'salmon': #e58967,
  'brown':  #866657,
  'orange': #f48418
);

// Platform Colors
//
// Colors:
// menu: #003f70 - navy
// link: #3f7bad - med-blue
// help: #E5F5FF - lightblue
// note: cornsilk - cornsilk
// help-text: #003f70 - navy
//
// Styleguide Color.PlatformColors

$platform-colors: (
  'focus': dodgerblue,
  'menu': map-get($brand-colors, 'navy'),
  'link': map-get($brand-colors, 'med-blue'),
  'help': map-get($brand-colors, 'lightblue'),
  'note': cornsilk,
  'notes': #FFFDF5,
  'help-text': map-get($brand-colors, 'navy')
);

// Secondary Colors
//
// Colors:
// red: tomato
// olive: #b5cc18
// purple: purple
// yellow: #FBBD08
// pink: pink
// cyan: cyan
// violet: #6435C9
// blue: #3f7bad
// green: #21BA45
// teal: teal
// gold: #ffcc00
//
// Styleguide Color.SecondaryColors
$secondary-colors: (
  'red':    tomato,
  'olive':  #b5cc18,
  'purple': lighten(purple, 10%),
  'yellow': #FBBD08, // semantic-ui yellow
  'pink': pink,
  'cyan':   cyan,
  'violet': #6435C9,
  'blue':   map-get($platform-colors, 'link'),
  'green': #21BA45,
  'teal': teal,
  'gold': #ffcc00
);

// Error Colors
//
// Colors:
// positive: #b5cc18
// negative: tomato
// neutral: #999
//
// Styleguide Color.ErrorColors
$error-colors: (
  'positive': map-get($secondary-colors, 'olive'),
  'negative': map-get($secondary-colors, 'red'),
  'neutral': map-get($greyscale, 'light')
);

// Message Colors
//
// Colors:
// base-light: #e2e3e5
// base: #999
// base-dark: #666
// info-light: #E5F5FF
// info: #91b9dc
// info-dark: #3f7bad
// warning-light: #fff3cd
// warning: #ffeeba
// warning-dark: #856404
// error-light: #ffe5e0
// error: #e5aaaa
// error-dark: #a93434
// success-light: #d4edda
// success: #c3e6cb
// success-dark: #155724
//
// Styleguide Color.MessageColors

$message-colors: (
  'base-light': map-get($greyscale, 'lighter'),
  'base': map-get($greyscale, 'light'),
  'base-dark': map-get($greyscale, 'base'),
  'info-light': map-get($brand-colors, 'lightblue'),
  'info': map-get($brand-colors, 'skyblue'),
  'info-dark': darken(map-get($brand-colors, 'med-blue'), 10%),
  'warning-light': #fff3cd,
  'warning': #ffeeba,
  'warning-dark': #856404,
  'error-light': #ffe5e0,
  'error': #e5aaaa,
  'error-dark': #a93434,
  'success-light': #d4edda,
  'success': #c3e6cb,
  'success-dark': #155724
);
