// Fonts
// 
// Here are examples of the PlatformUI headings and paragraph styles. 
// 
// Markup:
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h1>Heading 1</h1>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto Slab, 500, 2.5rem, #003f70</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h2>Heading 2</h2>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto, sans-serif, 500, 2.2rem, #666</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h3>Heading 3</h3>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto, sans-serif, 500, 1.9rem, #666</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h4>Heading 4</h4>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto, sans-serif, 500, 1.6rem, #666</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h5>Heading 5</h5>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto, sans-serif, 500, 1.3rem, #666</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h5>Heading 6</h5>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto, sans-serif, 500, 1rem, #666</p>
//   </div>
// </div>
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <p>Paragraph</p>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Inter UI, sans-serif, 1rem</p>
//     <p class="mb-0"><strong>Note:</strong> Our paragraphs have a default margin-bottom of 2rem</p>
//   </div>
// </div>
// 
// Styleguide Fonts

// Fonts Utilities
// 
// Be sure to leverage our utility modifiers to change thins like `color` and `text-emphasis`. 
// If you wanted a navy `<h2>` you would write out... `text-navy text--uppercase`. 
// See the output below.
// 
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h2 class="text-navy text--uppercase">Heading 2</h2>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto Slab, 500, Uppercase 2.5rem, #003f70</p>
//   </div>
// </div>
// 
// 
// You can change the `font-size` of any heading by using the `text--size-{value}` utility. For example, semantically it might 
// make sense to use a `<h2>` but you don't want the font-size to be `2.2rem`. Instead, you want it to be `1.5rem`. The percentage 
// you use will be relative to the parent that has a defined font-size. So if the `body` has a size of `1rem`, you would use the 
// class `text--size-xl` which outputs `font-size: 150%;`.
// 
// 
// <div class="rim-card block-container mb-3 flex--align-center">
//   <div class="block block-6">
//     <h2 class="text--size-xl">Heading xl</h2>
//   </div>
//   <div class="block block-6">
//     <p class="mb-0">Roboto Slab, 500, 150% (24px), #003f70</p>
//   </div>
// </div>
// 
// 
//  Styleguide Fonts.Utilities

$fonts: (
  'base': #{'Inter UI', sans-serif},
  'base-alt': #{'Inter UI var alt', sans-serif},
  'color': map-get($greyscale, 'dark'),
  'headline': #{'Roboto', sans-serif},
  'headline-slab': #{'Roboto Slab', serif},
  'post-headline': #{'Raleway', sans-serif},
  'size': 1rem
);

$font-scale: .3;

$font-percentage: (
  'xxs': 50%,
  'xs': 70%,
  'sm': 85%,
  'md': 115%,
  'lg': 125%,
  'xl': 150%,
  'xxl': 200%
);
