$font-scale: (
  "2xs": 0.422rem,
  "xs": 0.563rem,
  "sm": 0.75rem,
  "base": 1rem,
  "md": 1.333rem,
  "lg": 1.777rem,
  "xl": 2.369rem,
  "2xl": 3.157rem,
  "3xl": 4.209rem
);

$font-style: (
  'italic': italic,
  'normal': normal
);

$text-align: (
  'left': left,
  'right': right,
  'center': center
);

$text-transform: (
  'capitalize': capitalize,
  'uppercase': uppercase,
  'lowercase': lowercase,
  'sentencecase': lowercase
);
