.button {
  @layer rules {
    background-color: var(
      --button-background-color,
      var(--color-grayscale-100)
    );
    border-color: var(--button-border-color, var(--color-grayscale-300));
    border-radius: var(--button-border-radius, 1rem);
    border-style: solid;
    border-width: var(--button-border-width, 0.5px);
    color: var(--button-text-color, var(--color-grayscale-600));
    font-size: var(--button-font-size, inherit);
    padding-block: var(--button-padding-y, 0.5rem);
    padding-inline: var(--button-padding-x, var(--space-xs));
    min-width: fit-content;
  }

  @layer modifiers {
    &:is(.primary) {
      --button-background-color: var(--color-blue-500);
      --button-border-color: color-mix(
        in srgb,
        var(--color-blue-500),
        var(--color-grayscale-600) 25%
      );
      --button-text-color: var(--color-grayscale-100)
    }

    &:is(.plain) {
      --button-background-color: transparent;
      --button-border-color: transparent;
      --button-border-width: 0;
      --button-padding-x: 0;
      --button-padding-y: 0;
      --button-text-color: var(--color-blue-500);
    }

    &:is(.ghost) {
      --button-background-color: transparent;
    }

    &:is(.button-xs) {
      --button-font-size: var(--step--2);
    }

    &:is(.button-s) {
      --button-font-size: var(--step--1);
    }

    &:is(.button-m) {
      --button-font-size: var(--step-0);
    }

    &:is(.button-l) {
      --button-font-size: var(--step-1);
    }

    &:is(.button-xl) {
      --button-font-size: var(--step-2);
    }

    &:is(.button-2xl) {
      --button-font-size: var(--step-3);
    }

    &:is(.button-3xl) {
      --button-font-size: var(--step-4);
    }

    &:is(.button-4xl) {
      --button-font-size: var(--step-5);
    }
  }

  @layer states {
    &:hover {
      --button-background-color: color-mix(
        in srgb,
        var(--color-grayscale-100),
        var(--color-grayscale-300) 50%
      );
    }
    &:is(.primary):hover {
      --button-background-color: color-mix(
        in srgb,
        var(--color-blue-400),
        var(--color-grayscale-600) 50%
      );
    }
    &:is(.plain):hover {
      --button-background-color: transparent;
    }
  }
}

.button-group {
  @layer rules {
    display: flex;

    .button {
      border-radius: 0;

      &:focus-visible {
        z-index: 1;
      }
    }
    .button:first-child {
      border-top-left-radius: var(--button-border-radius, 0.25rem);
      border-bottom-left-radius: var(--button-border-radius, 0.25rem);
    }
    .button:last-child {
      border-top-right-radius: var(--button-border-radius, 0.25rem);
      border-bottom-right-radius: var(--button-border-radius, 0.25rem);
    }
  }
}
