@layer elements {
  blockquote {
    border-inline-start: 
      var(--blockquote-width, 0.5rem)
      var(--blockquote-style, solid) 
      var(--blockquote-border-color, var(--color-light));
    display: flex;
    flex-flow: column;
    margin: 0;
    padding-block: var(--blockquote-padding-y, var(--space-s));
    padding-inline: var(--blockquote-padding-x, var(--space-s));
    position: relative;
    &:is(.quote):before {
      content: "❝";
      color: var(--blockquote-border-color, var(--color-light));
      font-size: 6rem;
      position: absolute;
      opacity: var(--blockquote-opacity, 20%);
      z-index: -1;
    }
  }
}
