details:is(.accordion) {
  @layer rules {
    background-color: var(--accordion-background-color, transparent);
    border-color: var(--accordion-border-color, var(--color-light));
    border-style: solid;
    border-width: 0.5px;
    border-block-end: 0;

    &:last-of-type {
      border-block-end: 0.5px solid var(--color-light);
    }

    > *:not(.accordion-header) {
      padding-block-end: var(--space-s);
      padding-inline: var(--space-s);
    }
  }

  @layer states {
    &[open] {
      .accordion-header {
        --accordion-header-background-color: var(--color-lighter);

        border-block-end: 0.5px solid var(--color-light);
      }
    }
  }
}

summary:is(.accordion-header) {
  @layer rules {
    background: var(--accordion-header-background-color, transparent);
    cursor: pointer;
    padding-block: var(--accordion-header-padding-y, var(--space-s));
    padding-inline: var(--accordion-header-padding-x, var(--space-s));
  }

  @layer states {
    &:hover {
      --accordion-header-background-color: var(--color-lighter);
    }
  }
}
