@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "../tokens/tokens" as tokens;

$COLORS_LIST: ();

@each $name, $color in meta.module-variables("tokens") {
  @if meta.type-of($color) == color {
    $COLORS_LIST: map.merge(
      $COLORS_LIST,
      (
        $name: $color,
      )
    );
  }
}

@each $name, $color in $COLORS_LIST {
  $types: (
    "text": "color",
    "background": "background-color",
    "border": "border-color",
  );

  [class*="text-color"] {
    color: var(--text-color, inherit);
  }

  [class*="background-color"] {
    background-color: var(--background-color, inherit);
  }

  [class*="border-color"] {
    border-color: var(--border-color, inherit);
  }

  @each $type, $property in $types {
    .#{$type}-#{$name} {
      --#{$type}-color: var(--#{$name});
    }
  }
}
