[class*="gap-"] {
  gap: var(--gap, inherit);
}
.gap-2xs {
  --gap: var(--space-2xs);
}
.gap-xs {
  --gap: var(--space-xs);
}
.gap-s {
  --gap: var(--space-s);
}
.gap-m {
  --gap: var(--space-m);
}
.gap-l {
  --gap: var(--space-l);
}
.gap-xl {
  --gap: var(--space-xl);
}
