@use "sass:map";
@use "../configuration" as config;

// Text Alignments
[class*="text-align"] {
  text-align: var(--text-align, inherit);
}

@each $alignment in map.get(config.$TEXT, "alignments") {
  .text-align-#{$alignment} {
    --text-align: #{$alignment};
  }
}

// Text Casings
[class*="text-case"] {
  text-transform: var(--text-transform, inherit);
}

@each $casing in map.get(config.$TEXT, "casings") {
  .text-case-#{$casing} {
    --text-transform: #{$casing};
  }
}

// Text Styles
[class*="font-style"] {
  font-style: var(--font-style, inherit);
}

@each $style in map.get(config.$TEXT, "styles") {
  .font-style-#{$style} {
    --font-style: #{$style};
  }
}

// Text Size
[class*="text-size"] {
  font-size: var(--text-size, inherit);
}

@each $size, $value in map.get(config.$TEXT, "sizes") {
  .text-size-#{$size} {
    --text-size: var(#{$value});
  }
}

// Text Weights
[class*="font-weight"] {
  font-weight: var(--font-weight, inherit);
}

@each $weight in map.get(config.$TEXT, "weights") {
  .font-weight-#{$weight} {
    --font-weight: #{$weight};
  }
}

// Text Wrap
[class*="text-wrap"] {
  text-wrap: var(--text-wrap, inherit);
}

@each $wrap in map.get(config.$TEXT, "wraps") {
  .text-wrap-#{$wrap} {
    --text-wrap: #{$wrap};
  }
}
