$platform-icons-font: "platform-icons";

@font-face {
    font-family: $platform-icons-font;
    src: url("./platform-icons.ttf?91e121a6e635a03aba08299ee98912ca") format("truetype"),
url("./platform-icons.woff?91e121a6e635a03aba08299ee98912ca") format("woff"),
url("./platform-icons.woff2?91e121a6e635a03aba08299ee98912ca") format("woff2");
}

i[class^="pi-"]:before, i[class*=" pi-"]:before {
    font-family: platform-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$platform-icons-map: (
    "angle-down-double": "\f101",
    "angle-down": "\f102",
    "angle-left": "\f103",
    "angle-right": "\f104",
    "angle-up": "\f105",
    "arrow-down": "\f106",
    "arrow-left": "\f107",
    "arrow-right": "\f108",
    "arrow-solid-down": "\f109",
    "arrow-solid-left": "\f10a",
    "arrow-solid-right": "\f10b",
    "arrow-solid-up": "\f10c",
    "arrow-up": "\f10d",
    "asg": "\f10e",
    "asterisk": "\f10f",
    "attachment": "\f110",
    "award": "\f111",
    "badge-alt": "\f112",
    "badge": "\f113",
    "ban": "\f114",
    "bank": "\f115",
    "bell-multi": "\f116",
    "bell": "\f117",
    "binoculars": "\f118",
    "bolt": "\f119",
    "bomb": "\f11a",
    "book": "\f11b",
    "books": "\f11c",
    "building": "\f11d",
    "bullhorn": "\f11e",
    "calculator": "\f11f",
    "calendar": "\f120",
    "chart-bar": "\f121",
    "chart-line-down": "\f122",
    "chart-line-up": "\f123",
    "chart-pie": "\f124",
    "check-circle-solid": "\f125",
    "check-circle": "\f126",
    "check": "\f127",
    "circle-solid": "\f128",
    "circle": "\f129",
    "city": "\f12a",
    "clipboard-file": "\f12b",
    "clipboard": "\f12c",
    "clock": "\f12d",
    "cogs": "\f12e",
    "collapse": "\f12f",
    "commissions": "\f130",
    "copy": "\f131",
    "credit-card-back": "\f132",
    "dashboard": "\f133",
    "decision": "\f134",
    "doctor": "\f135",
    "dollar": "\f136",
    "download-cloud": "\f137",
    "download": "\f138",
    "edit": "\f139",
    "envelope-solid": "\f13a",
    "envelope": "\f13b",
    "eye-line": "\f13c",
    "eye": "\f13d",
    "facebook-alt": "\f13e",
    "facebook": "\f13f",
    "file-add": "\f140",
    "file-award": "\f141",
    "file-cabinet": "\f142",
    "file-form": "\f143",
    "file-pdf": "\f144",
    "file-sign": "\f145",
    "file-text-solid": "\f146",
    "file-text": "\f147",
    "filter": "\f148",
    "flag": "\f149",
    "folder-open": "\f14a",
    "folder": "\f14b",
    "full-screen": "\f14c",
    "gavel": "\f14d",
    "gear": "\f14e",
    "globe": "\f14f",
    "handshake": "\f150",
    "headset": "\f151",
    "help-solid": "\f152",
    "help": "\f153",
    "hospital-small": "\f154",
    "hospital": "\f155",
    "house": "\f156",
    "image": "\f157",
    "info-solid": "\f158",
    "info": "\f159",
    "instagram": "\f15a",
    "key": "\f15b",
    "keyboard-key": "\f15c",
    "keyboard": "\f15d",
    "learn": "\f15e",
    "light-bulb-off": "\f15f",
    "light-bulb-on": "\f160",
    "link-external-small": "\f161",
    "link-external": "\f162",
    "link": "\f163",
    "linkedin": "\f164",
    "list-check": "\f165",
    "list": "\f166",
    "lock-open-solid": "\f167",
    "lock-open": "\f168",
    "lock-solid": "\f169",
    "lock": "\f16a",
    "login": "\f16b",
    "logout": "\f16c",
    "magic-wand": "\f16d",
    "magnet": "\f16e",
    "map-marker": "\f16f",
    "map": "\f170",
    "medicareful": "\f171",
    "menu": "\f172",
    "merge": "\f173",
    "minus": "\f174",
    "mouse-pointer": "\f175",
    "note-solid": "\f176",
    "note": "\f177",
    "paper-clip": "\f178",
    "paper-plane-solid": "\f179",
    "paper-plane": "\f17a",
    "pause": "\f17b",
    "pencil": "\f17c",
    "phone-mobile": "\f17d",
    "phone": "\f17e",
    "pill-bottle-alt": "\f17f",
    "pill-bottle-solid": "\f180",
    "pill-bottle": "\f181",
    "pills": "\f182",
    "pinterest": "\f183",
    "play-circle": "\f184",
    "play-monitor": "\f185",
    "play": "\f186",
    "plug": "\f187",
    "plus-circle-solid": "\f188",
    "plus-circle": "\f189",
    "plus": "\f18a",
    "podcast": "\f18b",
    "power-off": "\f18c",
    "power-on": "\f18d",
    "puzzle-piece": "\f18e",
    "quill": "\f18f",
    "radio-button": "\f190",
    "redo-clock": "\f191",
    "redo": "\f192",
    "rimdev-circle": "\f193",
    "rimdev": "\f194",
    "ritter-circle": "\f195",
    "ritter": "\f196",
    "rocket": "\f197",
    "rx": "\f198",
    "save": "\f199",
    "search": "\f19a",
    "share": "\f19b",
    "shield": "\f19c",
    "signal-slash": "\f19d",
    "speech-bubble-multi": "\f19e",
    "speech-bubble": "\f19f",
    "star-half": "\f1a0",
    "star": "\f1a1",
    "stethoscope": "\f1a2",
    "suitcase-solid": "\f1a3",
    "suitecase": "\f1a4",
    "sync-clock": "\f1a5",
    "sync": "\f1a6",
    "tag": "\f1a7",
    "text": "\f1a8",
    "ticket": "\f1a9",
    "times-solid": "\f1aa",
    "times": "\f1ab",
    "touch": "\f1ac",
    "trash-solid": "\f1ad",
    "trash": "\f1ae",
    "trophy": "\f1af",
    "twitter": "\f1b0",
    "universal-access": "\f1b1",
    "upload-cloud": "\f1b2",
    "upload": "\f1b3",
    "user-building": "\f1b4",
    "user-circle": "\f1b5",
    "user-solid": "\f1b6",
    "user-tie": "\f1b7",
    "user": "\f1b8",
    "users": "\f1b9",
    "variable": "\f1ba",
    "vertical-ellipsis": "\f1bb",
    "warning-circle": "\f1bc",
    "warning": "\f1bd",
    "window-new": "\f1be",
    "youtube": "\f1bf",
);

.pi-angle-down-double:before {
    content: map-get($platform-icons-map, "angle-down-double");
}
.pi-angle-down:before {
    content: map-get($platform-icons-map, "angle-down");
}
.pi-angle-left:before {
    content: map-get($platform-icons-map, "angle-left");
}
.pi-angle-right:before {
    content: map-get($platform-icons-map, "angle-right");
}
.pi-angle-up:before {
    content: map-get($platform-icons-map, "angle-up");
}
.pi-arrow-down:before {
    content: map-get($platform-icons-map, "arrow-down");
}
.pi-arrow-left:before {
    content: map-get($platform-icons-map, "arrow-left");
}
.pi-arrow-right:before {
    content: map-get($platform-icons-map, "arrow-right");
}
.pi-arrow-solid-down:before {
    content: map-get($platform-icons-map, "arrow-solid-down");
}
.pi-arrow-solid-left:before {
    content: map-get($platform-icons-map, "arrow-solid-left");
}
.pi-arrow-solid-right:before {
    content: map-get($platform-icons-map, "arrow-solid-right");
}
.pi-arrow-solid-up:before {
    content: map-get($platform-icons-map, "arrow-solid-up");
}
.pi-arrow-up:before {
    content: map-get($platform-icons-map, "arrow-up");
}
.pi-asg:before {
    content: map-get($platform-icons-map, "asg");
}
.pi-asterisk:before {
    content: map-get($platform-icons-map, "asterisk");
}
.pi-attachment:before {
    content: map-get($platform-icons-map, "attachment");
}
.pi-award:before {
    content: map-get($platform-icons-map, "award");
}
.pi-badge-alt:before {
    content: map-get($platform-icons-map, "badge-alt");
}
.pi-badge:before {
    content: map-get($platform-icons-map, "badge");
}
.pi-ban:before {
    content: map-get($platform-icons-map, "ban");
}
.pi-bank:before {
    content: map-get($platform-icons-map, "bank");
}
.pi-bell-multi:before {
    content: map-get($platform-icons-map, "bell-multi");
}
.pi-bell:before {
    content: map-get($platform-icons-map, "bell");
}
.pi-binoculars:before {
    content: map-get($platform-icons-map, "binoculars");
}
.pi-bolt:before {
    content: map-get($platform-icons-map, "bolt");
}
.pi-bomb:before {
    content: map-get($platform-icons-map, "bomb");
}
.pi-book:before {
    content: map-get($platform-icons-map, "book");
}
.pi-books:before {
    content: map-get($platform-icons-map, "books");
}
.pi-building:before {
    content: map-get($platform-icons-map, "building");
}
.pi-bullhorn:before {
    content: map-get($platform-icons-map, "bullhorn");
}
.pi-calculator:before {
    content: map-get($platform-icons-map, "calculator");
}
.pi-calendar:before {
    content: map-get($platform-icons-map, "calendar");
}
.pi-chart-bar:before {
    content: map-get($platform-icons-map, "chart-bar");
}
.pi-chart-line-down:before {
    content: map-get($platform-icons-map, "chart-line-down");
}
.pi-chart-line-up:before {
    content: map-get($platform-icons-map, "chart-line-up");
}
.pi-chart-pie:before {
    content: map-get($platform-icons-map, "chart-pie");
}
.pi-check-circle-solid:before {
    content: map-get($platform-icons-map, "check-circle-solid");
}
.pi-check-circle:before {
    content: map-get($platform-icons-map, "check-circle");
}
.pi-check:before {
    content: map-get($platform-icons-map, "check");
}
.pi-circle-solid:before {
    content: map-get($platform-icons-map, "circle-solid");
}
.pi-circle:before {
    content: map-get($platform-icons-map, "circle");
}
.pi-city:before {
    content: map-get($platform-icons-map, "city");
}
.pi-clipboard-file:before {
    content: map-get($platform-icons-map, "clipboard-file");
}
.pi-clipboard:before {
    content: map-get($platform-icons-map, "clipboard");
}
.pi-clock:before {
    content: map-get($platform-icons-map, "clock");
}
.pi-cogs:before {
    content: map-get($platform-icons-map, "cogs");
}
.pi-collapse:before {
    content: map-get($platform-icons-map, "collapse");
}
.pi-commissions:before {
    content: map-get($platform-icons-map, "commissions");
}
.pi-copy:before {
    content: map-get($platform-icons-map, "copy");
}
.pi-credit-card-back:before {
    content: map-get($platform-icons-map, "credit-card-back");
}
.pi-dashboard:before {
    content: map-get($platform-icons-map, "dashboard");
}
.pi-decision:before {
    content: map-get($platform-icons-map, "decision");
}
.pi-doctor:before {
    content: map-get($platform-icons-map, "doctor");
}
.pi-dollar:before {
    content: map-get($platform-icons-map, "dollar");
}
.pi-download-cloud:before {
    content: map-get($platform-icons-map, "download-cloud");
}
.pi-download:before {
    content: map-get($platform-icons-map, "download");
}
.pi-edit:before {
    content: map-get($platform-icons-map, "edit");
}
.pi-envelope-solid:before {
    content: map-get($platform-icons-map, "envelope-solid");
}
.pi-envelope:before {
    content: map-get($platform-icons-map, "envelope");
}
.pi-eye-line:before {
    content: map-get($platform-icons-map, "eye-line");
}
.pi-eye:before {
    content: map-get($platform-icons-map, "eye");
}
.pi-facebook-alt:before {
    content: map-get($platform-icons-map, "facebook-alt");
}
.pi-facebook:before {
    content: map-get($platform-icons-map, "facebook");
}
.pi-file-add:before {
    content: map-get($platform-icons-map, "file-add");
}
.pi-file-award:before {
    content: map-get($platform-icons-map, "file-award");
}
.pi-file-cabinet:before {
    content: map-get($platform-icons-map, "file-cabinet");
}
.pi-file-form:before {
    content: map-get($platform-icons-map, "file-form");
}
.pi-file-pdf:before {
    content: map-get($platform-icons-map, "file-pdf");
}
.pi-file-sign:before {
    content: map-get($platform-icons-map, "file-sign");
}
.pi-file-text-solid:before {
    content: map-get($platform-icons-map, "file-text-solid");
}
.pi-file-text:before {
    content: map-get($platform-icons-map, "file-text");
}
.pi-filter:before {
    content: map-get($platform-icons-map, "filter");
}
.pi-flag:before {
    content: map-get($platform-icons-map, "flag");
}
.pi-folder-open:before {
    content: map-get($platform-icons-map, "folder-open");
}
.pi-folder:before {
    content: map-get($platform-icons-map, "folder");
}
.pi-full-screen:before {
    content: map-get($platform-icons-map, "full-screen");
}
.pi-gavel:before {
    content: map-get($platform-icons-map, "gavel");
}
.pi-gear:before {
    content: map-get($platform-icons-map, "gear");
}
.pi-globe:before {
    content: map-get($platform-icons-map, "globe");
}
.pi-handshake:before {
    content: map-get($platform-icons-map, "handshake");
}
.pi-headset:before {
    content: map-get($platform-icons-map, "headset");
}
.pi-help-solid:before {
    content: map-get($platform-icons-map, "help-solid");
}
.pi-help:before {
    content: map-get($platform-icons-map, "help");
}
.pi-hospital-small:before {
    content: map-get($platform-icons-map, "hospital-small");
}
.pi-hospital:before {
    content: map-get($platform-icons-map, "hospital");
}
.pi-house:before {
    content: map-get($platform-icons-map, "house");
}
.pi-image:before {
    content: map-get($platform-icons-map, "image");
}
.pi-info-solid:before {
    content: map-get($platform-icons-map, "info-solid");
}
.pi-info:before {
    content: map-get($platform-icons-map, "info");
}
.pi-instagram:before {
    content: map-get($platform-icons-map, "instagram");
}
.pi-key:before {
    content: map-get($platform-icons-map, "key");
}
.pi-keyboard-key:before {
    content: map-get($platform-icons-map, "keyboard-key");
}
.pi-keyboard:before {
    content: map-get($platform-icons-map, "keyboard");
}
.pi-learn:before {
    content: map-get($platform-icons-map, "learn");
}
.pi-light-bulb-off:before {
    content: map-get($platform-icons-map, "light-bulb-off");
}
.pi-light-bulb-on:before {
    content: map-get($platform-icons-map, "light-bulb-on");
}
.pi-link-external-small:before {
    content: map-get($platform-icons-map, "link-external-small");
}
.pi-link-external:before {
    content: map-get($platform-icons-map, "link-external");
}
.pi-link:before {
    content: map-get($platform-icons-map, "link");
}
.pi-linkedin:before {
    content: map-get($platform-icons-map, "linkedin");
}
.pi-list-check:before {
    content: map-get($platform-icons-map, "list-check");
}
.pi-list:before {
    content: map-get($platform-icons-map, "list");
}
.pi-lock-open-solid:before {
    content: map-get($platform-icons-map, "lock-open-solid");
}
.pi-lock-open:before {
    content: map-get($platform-icons-map, "lock-open");
}
.pi-lock-solid:before {
    content: map-get($platform-icons-map, "lock-solid");
}
.pi-lock:before {
    content: map-get($platform-icons-map, "lock");
}
.pi-login:before {
    content: map-get($platform-icons-map, "login");
}
.pi-logout:before {
    content: map-get($platform-icons-map, "logout");
}
.pi-magic-wand:before {
    content: map-get($platform-icons-map, "magic-wand");
}
.pi-magnet:before {
    content: map-get($platform-icons-map, "magnet");
}
.pi-map-marker:before {
    content: map-get($platform-icons-map, "map-marker");
}
.pi-map:before {
    content: map-get($platform-icons-map, "map");
}
.pi-medicareful:before {
    content: map-get($platform-icons-map, "medicareful");
}
.pi-menu:before {
    content: map-get($platform-icons-map, "menu");
}
.pi-merge:before {
    content: map-get($platform-icons-map, "merge");
}
.pi-minus:before {
    content: map-get($platform-icons-map, "minus");
}
.pi-mouse-pointer:before {
    content: map-get($platform-icons-map, "mouse-pointer");
}
.pi-note-solid:before {
    content: map-get($platform-icons-map, "note-solid");
}
.pi-note:before {
    content: map-get($platform-icons-map, "note");
}
.pi-paper-clip:before {
    content: map-get($platform-icons-map, "paper-clip");
}
.pi-paper-plane-solid:before {
    content: map-get($platform-icons-map, "paper-plane-solid");
}
.pi-paper-plane:before {
    content: map-get($platform-icons-map, "paper-plane");
}
.pi-pause:before {
    content: map-get($platform-icons-map, "pause");
}
.pi-pencil:before {
    content: map-get($platform-icons-map, "pencil");
}
.pi-phone-mobile:before {
    content: map-get($platform-icons-map, "phone-mobile");
}
.pi-phone:before {
    content: map-get($platform-icons-map, "phone");
}
.pi-pill-bottle-alt:before {
    content: map-get($platform-icons-map, "pill-bottle-alt");
}
.pi-pill-bottle-solid:before {
    content: map-get($platform-icons-map, "pill-bottle-solid");
}
.pi-pill-bottle:before {
    content: map-get($platform-icons-map, "pill-bottle");
}
.pi-pills:before {
    content: map-get($platform-icons-map, "pills");
}
.pi-pinterest:before {
    content: map-get($platform-icons-map, "pinterest");
}
.pi-play-circle:before {
    content: map-get($platform-icons-map, "play-circle");
}
.pi-play-monitor:before {
    content: map-get($platform-icons-map, "play-monitor");
}
.pi-play:before {
    content: map-get($platform-icons-map, "play");
}
.pi-plug:before {
    content: map-get($platform-icons-map, "plug");
}
.pi-plus-circle-solid:before {
    content: map-get($platform-icons-map, "plus-circle-solid");
}
.pi-plus-circle:before {
    content: map-get($platform-icons-map, "plus-circle");
}
.pi-plus:before {
    content: map-get($platform-icons-map, "plus");
}
.pi-podcast:before {
    content: map-get($platform-icons-map, "podcast");
}
.pi-power-off:before {
    content: map-get($platform-icons-map, "power-off");
}
.pi-power-on:before {
    content: map-get($platform-icons-map, "power-on");
}
.pi-puzzle-piece:before {
    content: map-get($platform-icons-map, "puzzle-piece");
}
.pi-quill:before {
    content: map-get($platform-icons-map, "quill");
}
.pi-radio-button:before {
    content: map-get($platform-icons-map, "radio-button");
}
.pi-redo-clock:before {
    content: map-get($platform-icons-map, "redo-clock");
}
.pi-redo:before {
    content: map-get($platform-icons-map, "redo");
}
.pi-rimdev-circle:before {
    content: map-get($platform-icons-map, "rimdev-circle");
}
.pi-rimdev:before {
    content: map-get($platform-icons-map, "rimdev");
}
.pi-ritter-circle:before {
    content: map-get($platform-icons-map, "ritter-circle");
}
.pi-ritter:before {
    content: map-get($platform-icons-map, "ritter");
}
.pi-rocket:before {
    content: map-get($platform-icons-map, "rocket");
}
.pi-rx:before {
    content: map-get($platform-icons-map, "rx");
}
.pi-save:before {
    content: map-get($platform-icons-map, "save");
}
.pi-search:before {
    content: map-get($platform-icons-map, "search");
}
.pi-share:before {
    content: map-get($platform-icons-map, "share");
}
.pi-shield:before {
    content: map-get($platform-icons-map, "shield");
}
.pi-signal-slash:before {
    content: map-get($platform-icons-map, "signal-slash");
}
.pi-speech-bubble-multi:before {
    content: map-get($platform-icons-map, "speech-bubble-multi");
}
.pi-speech-bubble:before {
    content: map-get($platform-icons-map, "speech-bubble");
}
.pi-star-half:before {
    content: map-get($platform-icons-map, "star-half");
}
.pi-star:before {
    content: map-get($platform-icons-map, "star");
}
.pi-stethoscope:before {
    content: map-get($platform-icons-map, "stethoscope");
}
.pi-suitcase-solid:before {
    content: map-get($platform-icons-map, "suitcase-solid");
}
.pi-suitecase:before {
    content: map-get($platform-icons-map, "suitecase");
}
.pi-sync-clock:before {
    content: map-get($platform-icons-map, "sync-clock");
}
.pi-sync:before {
    content: map-get($platform-icons-map, "sync");
}
.pi-tag:before {
    content: map-get($platform-icons-map, "tag");
}
.pi-text:before {
    content: map-get($platform-icons-map, "text");
}
.pi-ticket:before {
    content: map-get($platform-icons-map, "ticket");
}
.pi-times-solid:before {
    content: map-get($platform-icons-map, "times-solid");
}
.pi-times:before {
    content: map-get($platform-icons-map, "times");
}
.pi-touch:before {
    content: map-get($platform-icons-map, "touch");
}
.pi-trash-solid:before {
    content: map-get($platform-icons-map, "trash-solid");
}
.pi-trash:before {
    content: map-get($platform-icons-map, "trash");
}
.pi-trophy:before {
    content: map-get($platform-icons-map, "trophy");
}
.pi-twitter:before {
    content: map-get($platform-icons-map, "twitter");
}
.pi-universal-access:before {
    content: map-get($platform-icons-map, "universal-access");
}
.pi-upload-cloud:before {
    content: map-get($platform-icons-map, "upload-cloud");
}
.pi-upload:before {
    content: map-get($platform-icons-map, "upload");
}
.pi-user-building:before {
    content: map-get($platform-icons-map, "user-building");
}
.pi-user-circle:before {
    content: map-get($platform-icons-map, "user-circle");
}
.pi-user-solid:before {
    content: map-get($platform-icons-map, "user-solid");
}
.pi-user-tie:before {
    content: map-get($platform-icons-map, "user-tie");
}
.pi-user:before {
    content: map-get($platform-icons-map, "user");
}
.pi-users:before {
    content: map-get($platform-icons-map, "users");
}
.pi-variable:before {
    content: map-get($platform-icons-map, "variable");
}
.pi-vertical-ellipsis:before {
    content: map-get($platform-icons-map, "vertical-ellipsis");
}
.pi-warning-circle:before {
    content: map-get($platform-icons-map, "warning-circle");
}
.pi-warning:before {
    content: map-get($platform-icons-map, "warning");
}
.pi-window-new:before {
    content: map-get($platform-icons-map, "window-new");
}
.pi-youtube:before {
    content: map-get($platform-icons-map, "youtube");
}
