.pill {
  @layer rules {
    background-color: var(--pill-background-color, inherit);
    border-style: solid;
    border-color: var(--pill-border-color, var(--color-light));
    border-radius: 1rem;
    border-width: var(--pill-border-width, 0.5px);
    display: grid;
    font-size: var(--pill-font-size, inherit);
    gap: var(--space-xs);
    grid-template-columns: auto auto;
    overflow: clip;
    padding-block: var(--pill-padding-y, 0.05rem);
    padding-inline: var(--pill-padding-x, 0.5rem);
    place-content: center;
    text-wrap: nowrap;
    width: fit-content;
  }

  @layer modifiers {
    &:is(.pill-xs) {
      --pill-font-size: var(--step--2);
    }

    &:is(.pill-s) {
      --pill-font-size: var(--step--1);
    }

    &:is(.pill-m) {
      --pill-font-size: var(--step-0);
    }

    &:is(.pill-l) {
      --pill-font-size: var(--step-1);
    }

    &:is(.pill-xl) {
      --pill-font-size: var(--step-2);
    }

    &:is(.pill-2xl) {
      --pill-font-size: var(--step-3);
    }

    &:is(.pill-3xl) {
      --pill-font-size: var(--step-4);
    }

    &:is(.pill-4xl) {
      --pill-font-size: var(--step-5);
    }
  }
}
