%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%rotate-45 {
  transform: rotate(45deg);
}

%rotate-180 {
  transform: rotate(180deg);
}
