@import "../src/assets/stylesheets/sass/main.scss";

main {
  min-width: 0;
}

.rim-style {
  $self: &;

  &-logo-action {
    max-width: 12rem;
  }
  
  &-title {

    &__permalink {
      display: block;
      font-family: map-get($fonts, 'post-headline');

      &:after {
        border-bottom: .3rem solid map-get($brand-colors, 'orange');
        content: "";
        display: block;
        padding-bottom: map-get($spacers, 4);
        width: 12rem;
      }

      &:active,
      &:focus,
      &:hover {
        color: lighten(map-get($greyscale, 'base'), 10%);
        @media screen and (min-width: 607px) {
          #{$self}-title__permalink-hash {
            display: inline;
          }
        }
      }
    }

    &__permalink-hash {
      display: none;
    }
  }

  &-description {

    h2 {
      margin-bottom: $spacer;
    }

    p {
      margin-bottom: $spacer * 1.5;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}


