@font-face {
    font-family: "platform-icons";
    src: url("./platform-icons.eot?8d600704a16a049976db9324a36885b3?#iefix") format("embedded-opentype"),
url("./platform-icons.woff2?8d600704a16a049976db9324a36885b3") format("woff2"),
url("./platform-icons.woff?8d600704a16a049976db9324a36885b3") format("woff"),
url("./platform-icons.ttf?8d600704a16a049976db9324a36885b3") format("truetype"),
url("./platform-icons.svg?8d600704a16a049976db9324a36885b3#platform-icons") format("svg");
}

i[class^="pi-"]:before, i[class*=" pi-"]:before {
    font-family: platform-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pi-angle-down:before {
    content: "\f101";
}
.pi-angle-left:before {
    content: "\f102";
}
.pi-angle-right:before {
    content: "\f103";
}
.pi-angle-up:before {
    content: "\f104";
}
.pi-arrow-down:before {
    content: "\f105";
}
.pi-arrow-left:before {
    content: "\f106";
}
.pi-arrow-right:before {
    content: "\f107";
}
.pi-arrow-solid-down:before {
    content: "\f108";
}
.pi-arrow-solid-left:before {
    content: "\f109";
}
.pi-arrow-solid-right:before {
    content: "\f10a";
}
.pi-arrow-solid-up:before {
    content: "\f10b";
}
.pi-arrow-up:before {
    content: "\f10c";
}
.pi-asterisk:before {
    content: "\f10d";
}
.pi-attachment:before {
    content: "\f10e";
}
.pi-award:before {
    content: "\f10f";
}
.pi-badge-alt:before {
    content: "\f110";
}
.pi-badge:before {
    content: "\f111";
}
.pi-ban:before {
    content: "\f112";
}
.pi-bank:before {
    content: "\f113";
}
.pi-bell-multi:before {
    content: "\f114";
}
.pi-binoculars:before {
    content: "\f115";
}
.pi-bolt:before {
    content: "\f116";
}
.pi-book:before {
    content: "\f117";
}
.pi-books:before {
    content: "\f118";
}
.pi-building:before {
    content: "\f119";
}
.pi-bullhorn:before {
    content: "\f11a";
}
.pi-calculator:before {
    content: "\f11b";
}
.pi-calendar:before {
    content: "\f11c";
}
.pi-card-back:before {
    content: "\f11d";
}
.pi-chart-bar:before {
    content: "\f11e";
}
.pi-chart-line-down:before {
    content: "\f11f";
}
.pi-chart-line-up:before {
    content: "\f120";
}
.pi-chart-pie:before {
    content: "\f121";
}
.pi-check-circle:before {
    content: "\f122";
}
.pi-check-cirle-solid:before {
    content: "\f123";
}
.pi-check:before {
    content: "\f124";
}
.pi-city:before {
    content: "\f125";
}
.pi-clipboard-file:before {
    content: "\f126";
}
.pi-clipboard:before {
    content: "\f127";
}
.pi-clock:before {
    content: "\f128";
}
.pi-cloud-download:before {
    content: "\f129";
}
.pi-cloud-upload:before {
    content: "\f12a";
}
.pi-cogs:before {
    content: "\f12b";
}
.pi-collapse:before {
    content: "\f12c";
}
.pi-copy:before {
    content: "\f12d";
}
.pi-doctor:before {
    content: "\f12e";
}
.pi-dollar:before {
    content: "\f12f";
}
.pi-download:before {
    content: "\f130";
}
.pi-edit:before {
    content: "\f131";
}
.pi-envelope-solid:before {
    content: "\f132";
}
.pi-envelope:before {
    content: "\f133";
}
.pi-external-link-small:before {
    content: "\f134";
}
.pi-eye-line:before {
    content: "\f135";
}
.pi-eye:before {
    content: "\f136";
}
.pi-facebook-alt:before {
    content: "\f137";
}
.pi-facebook:before {
    content: "\f138";
}
.pi-file-add:before {
    content: "\f139";
}
.pi-file-award:before {
    content: "\f13a";
}
.pi-file-cabinet:before {
    content: "\f13b";
}
.pi-file-form:before {
    content: "\f13c";
}
.pi-file-pdf:before {
    content: "\f13d";
}
.pi-file-sign:before {
    content: "\f13e";
}
.pi-file-text-solid:before {
    content: "\f13f";
}
.pi-file-text:before {
    content: "\f140";
}
.pi-filter:before {
    content: "\f141";
}
.pi-flag:before {
    content: "\f142";
}
.pi-folder-open:before {
    content: "\f143";
}
.pi-folder:before {
    content: "\f144";
}
.pi-full-screen:before {
    content: "\f145";
}
.pi-gavel:before {
    content: "\f146";
}
.pi-gear:before {
    content: "\f147";
}
.pi-handshake:before {
    content: "\f148";
}
.pi-help-solid:before {
    content: "\f149";
}
.pi-help:before {
    content: "\f14a";
}
.pi-hospital:before {
    content: "\f14b";
}
.pi-house:before {
    content: "\f14c";
}
.pi-image:before {
    content: "\f14d";
}
.pi-info-solid:before {
    content: "\f14e";
}
.pi-info:before {
    content: "\f14f";
}
.pi-instagram:before {
    content: "\f150";
}
.pi-keyboard-key:before {
    content: "\f151";
}
.pi-keyboard:before {
    content: "\f152";
}
.pi-learn:before {
    content: "\f153";
}
.pi-light-bulb-off:before {
    content: "\f154";
}
.pi-light-bulb-on:before {
    content: "\f155";
}
.pi-link-external:before {
    content: "\f156";
}
.pi-link:before {
    content: "\f157";
}
.pi-linkedin:before {
    content: "\f158";
}
.pi-list-check:before {
    content: "\f159";
}
.pi-list:before {
    content: "\f15a";
}
.pi-lock-open:before {
    content: "\f15b";
}
.pi-lock:before {
    content: "\f15c";
}
.pi-map:before {
    content: "\f15d";
}
.pi-medicareful:before {
    content: "\f15e";
}
.pi-menu:before {
    content: "\f15f";
}
.pi-mouse-pointer:before {
    content: "\f160";
}
.pi-multi-speach-bubble:before {
    content: "\f161";
}
.pi-note-solid:before {
    content: "\f162";
}
.pi-note:before {
    content: "\f163";
}
.pi-paper-clip:before {
    content: "\f164";
}
.pi-paper-plane-solid:before {
    content: "\f165";
}
.pi-paper-plane:before {
    content: "\f166";
}
.pi-pencil:before {
    content: "\f167";
}
.pi-phone-mobile:before {
    content: "\f168";
}
.pi-phone:before {
    content: "\f169";
}
.pi-pill-bottle-alt:before {
    content: "\f16a";
}
.pi-pill-bottle-solid:before {
    content: "\f16b";
}
.pi-pill-bottle:before {
    content: "\f16c";
}
.pi-pills:before {
    content: "\f16d";
}
.pi-play-circle:before {
    content: "\f16e";
}
.pi-play-monitor:before {
    content: "\f16f";
}
.pi-play:before {
    content: "\f170";
}
.pi-plug:before {
    content: "\f171";
}
.pi-plus-circle-solid:before {
    content: "\f172";
}
.pi-plus-circle:before {
    content: "\f173";
}
.pi-plus:before {
    content: "\f174";
}
.pi-point:before {
    content: "\f175";
}
.pi-power-off:before {
    content: "\f176";
}
.pi-power-on:before {
    content: "\f177";
}
.pi-puzzle-piece:before {
    content: "\f178";
}
.pi-quill:before {
    content: "\f179";
}
.pi-redo:before {
    content: "\f17a";
}
.pi-refresh-clock:before {
    content: "\f17b";
}
.pi-rimdev-circle:before {
    content: "\f17c";
}
.pi-rimdev:before {
    content: "\f17d";
}
.pi-ritter-circle:before {
    content: "\f17e";
}
.pi-ritter:before {
    content: "\f17f";
}
.pi-rocket:before {
    content: "\f180";
}
.pi-rx:before {
    content: "\f181";
}
.pi-save:before {
    content: "\f182";
}
.pi-search:before {
    content: "\f183";
}
.pi-share:before {
    content: "\f184";
}
.pi-shield:before {
    content: "\f185";
}
.pi-speech-bubble:before {
    content: "\f186";
}
.pi-star-half:before {
    content: "\f187";
}
.pi-star:before {
    content: "\f188";
}
.pi-stethoscope:before {
    content: "\f189";
}
.pi-sync-clock:before {
    content: "\f18a";
}
.pi-sync:before {
    content: "\f18b";
}
.pi-tag-69:before {
    content: "\f18c";
}
.pi-tag:before {
    content: "\f18d";
}
.pi-ticket:before {
    content: "\f18e";
}
.pi-times:before {
    content: "\f18f";
}
.pi-trash-solid:before {
    content: "\f190";
}
.pi-trash:before {
    content: "\f191";
}
.pi-trophy:before {
    content: "\f192";
}
.pi-twitter:before {
    content: "\f193";
}
.pi-universal-access:before {
    content: "\f194";
}
.pi-upload:before {
    content: "\f195";
}
.pi-user-circle:before {
    content: "\f196";
}
.pi-user-solid:before {
    content: "\f197";
}
.pi-user:before {
    content: "\f198";
}
.pi-users:before {
    content: "\f199";
}
.pi-vertical-ellipsis:before {
    content: "\f19a";
}
.pi-warning:before {
    content: "\f19b";
}
.pi-youtube:before {
    content: "\f19c";
}
