$card-height: 18rem;
$number-of-rows: 2;

.ui.menu.crm.main {
  .item {
    .transparent.yellow.circular.label {
      background-color: transparent !important;
    }
    &.ui.dropdown {
      menu>.item {
        background: $color-menu-bkg;
      }
    }
  }
}

.agent.dropdown.item {
  span {
    color: rgba($color-white, .6);
    font: bold italic 120% times;
    padding-right: .1rem;
  }
}
.animated.button {
  width: 100%;
}

.ui.grid.agent-view>.column:only-child,
.ui.grid.agent-view>.row>.column:only-child {
  padding: 0;
}

.agent-view {
  .column {
    background: $color-white;
  }
  .advertisement {
    height: $card-height * 1.5 !important;
    max-height: $card-height;
    margin-left: calc(-1rem + 2px);
    margin-bottom: 1rem;
    width: calc(100% + 2rem - 4px);

    .flash {
      align-items: center;
      background: $help-text;
      color: $color-white;
      display: flex;
      justify-content: center;
      padding: 1rem;
      .close-div {
        position: absolute;
        right: 0;
      }
      .button {
        margin: 0 1rem;
      }
    }
  }
  .ui.four.cards {
    &.tall {
      >.card {
        height: calc(#{$card-height} * 2);
        max-height: calc(#{$card-height} * 2);
      }
    }
    &.mixed {
      flex-direction: column;
      flex-wrap: wrap;
      height: calc(#{$card-height} * #{$number-of-rows});
      max-height: calc(#{$card-height} * #{$number-of-rows});
      >.card {
        &.double.vertical {
          height: calc(#{$card-height} * 2);
          max-height: calc(#{$card-height} * 2);
        }
      }
    }
    >.card {
      border-radius: 0;
      height: $card-height;
      max-height: $card-height;
      margin: 0;
      overflow-y: scroll;
      width: 25%;

      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
      }
      &::-webkit-scrollbar-thumb {
        background: red;
      }

      .ui.thin.header {
        color: $help-text;
        font-size: 150%;
        font-weight: lighter;
        margin-top: .5rem;
      }
      .ui.feed {
        .event {
          border-bottom: rgba($grey-light, .5) 1px solid;
          margin-bottom: .5rem;
          padding-bottom: .5rem;
          .positive {
            color: $color-olive;
          }
          .negative {
            color: $color-pink;
          }
          .empty.label {
            margin: 0;
            .positive {
              background: $color-olive;
            }
            .negative {
              background: $color-pink;
            }
          }
        }
      }
    }
  }
  .dash {
    &-tasks {
      background: lighten(cornsilk, 5%) !important;
    }
    &-leads {
    }
    &-appointments {
    }
  }
}
