.file-drawer {
  @extend .drawer;
  @include transition;
}
attachment-cmp {
  h2 {
    color: $color-white;
  }
  h3 {
    font-weight: lighter;
    color: $color-white;
  }
  .container {
    margin: 3rem auto;
  }
  .basic.label {
    background-color: transparent;
    box-shadow: 0 0 0 1px $color-white;
    color: $color-white;
  }
  .ui.search.field {
    margin-bottom: 1rem;
    &:not(.full-width-search) {width: 50%;}
    .prompt {
      background: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid;
      width: 50%;
    }
    .input {
      width: 90%;
    }
    label {
      color: rgba($color-white, .5);
      font-size: 80%;
      position: absolute;
      left: .7rem;
      top: -1rem;
    }
    input {
      color: $color-white !important;
      & :focus {
        color: $color-white !important;
      }
    }
  }
  .load-more {
    background-color: transparent;
    box-shadow: 0 0 0 1px $grey-light;
    color: $grey-light;
    font-size: 130%;
    margin-top: 1rem;
    width: 100%;
    @include transition;
  }
  .filters {
    .label {
      font-weight: lighter;
      text-transform: capitalize;
      margin-bottom: 1px;
    }
  }
  .upload.button {
    margin-bottom: 1.5rem;
    .cloud.upload {
      box-shadow: 0 0 0 rgba($color-white,.4);
      border-radius: 50%;
      animation: pulse 3s;
    }
  }
  .file-container {
    max-height: 65vh !important;
    padding-top: 10px;
    max-width: 100% !important;
    min-width: 100% !important;
    h3 {
      text-align: center;
    }
  }
  .file-list {
    margin: 0 auto;

    .file.file-accordion {
      margin-left: 0;
      .file-row {
        .file-name {
          display: inline;
        }
      }
    }
  }
 .filter-list {
    .ui.basic.label.selected {
      background-color: $color-yellow !important;
    }
    .ui.basic.label {
      background-color: transparent !important;
      color: $color-white;
      border-color: $color-yellow;
    }
  }
  .upload.button {
    margin-bottom: 5px;
  }
  .file-target {
    display: none;
  }
  .file-count {
    font-size: 1rem;
  }
  .close-modal {
    float: right;
  }
  progress[value]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
  }
  progress[value]::-webkit-progress-value {
      background-color: $color-olive;
      border-radius: 5px;
  }
  progress[value]::-webkit-progress-bar {
      border-radius: 5px;
  }
  .ui.circular.labels .label {
    cursor: pointer;
    font-weight: normal;
  }
  .file {
    background-color: transparent;
    @include transition;
    &-row {
      padding: 1rem .5rem;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($color-white,.3);
    }
    @include scale(1);
    &:hover {
      background-color: rgba($color-white,.2);
      box-shadow: 0 0 0 1px rgba($color-white,.8);
      color: $color-white;
      @include scale(1.02);
      a {
        color: $color-white;
        transform: scale(1.5);
      }
    }
    a {
      color: $grey-light;
    }
    .ui.label {
      font-weight: lighter;
    }
    .cloud.download {
      color: $color-help;
      vertical-align: middle;
    }
    .trash {
      float: right;
      vertical-align: middle;
      color: $color-pink;
    }
    .file-date {
      display: inline;
    }
    .file-tags {
      margin-left: 1.8rem;
      padding-top: .3rem;
    }
    .file-label {
      display: block;
      font-size: .75rem;
      font-weight: bold;
      text-align: center;
    }
    .filters .item span {
      color: $color-cyan;
      margin-left: 3px;
    }
    .red-icon {
      color: $color-red;
      font-size: 1.25em !important;
    }
    .ui.search>.results .result {
      transform: none !important;
    }
  }
  .drawer-expanded-container {
    @include rgba-background-color($color-menu-bkg, .7);
    border-bottom: .5rem solid transparent;
    display: none;
    padding: 1rem 1rem .5rem;
    position: relative;
    transition: all .1s ease-in-out;
    .close-icon {
      color: $color-pink;
      float: right;
      font-size: 150%;
      align-self: center;
    }
    .history {
      color: $grey-light;
      a {
        color: $color-yellow;
      }
      .table {
        border: none;
      }
    }
  }
  @each $extension, $icon in $filetype-icons {
    a[href$='#{$extension}'] {

      &:after {
        content: "#{$icon}";
        display: inline-flex;
        font-family: "Icons";
        text-decoration: none;
        margin-left: .3rem;
        padding-right: 1rem;
      }
    }
  }
  .inline.widget {
    .file {
      margin-left: -1rem;
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba($grey-light,.3);
      }
      &:hover {
        background-color: rgba($grey-light,.2);
        box-shadow: 0 0 0 1px rgba($grey,.8);
        color: $grey-dark;
      }
    }
  }
  @each $extension, $icon in $filetype-icons {
    a[href$='#{$extension}'],
    .file-row[data-filename$='#{$extension}'] {
      &:before {
        content: "#{$icon}";
        color: $help-text;
        display: inline-flex;
        font-family: "Icons";
        text-decoration: none;
        margin-right: .3rem;
      }
    }
  }
  .viewer {
    background: $color-white;
    border: 1px solid $grey-light;
  }
  .inline.widget.select { 
    padding: .75rem; 
  }
}