.levels {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .3s;
  width: auto;
  z-index: 10;
  ul {
    list-style-type: none;
    padding-left: 0;
    white-space: nowrap;
  }
}

.states {
  .label {
    display: inline-flex;
    span {
      color: #2c662d;
      background: #fcfff5;
      display: inline-flex;
      padding: .5833em .833em;
      margin: -.5833em -.833em -.5833em .5em;
    }
    &.disabled {
      cursor: default;
      span {
        color: darken(#2c662d, 15%);
        background: darken(#fcfff5, 3%);
        font-weight: 400;
      }
    }
  }
}
