.dash-modal {
  @include modal(0, 100%, 0, 0);
  background: linear-gradient(lighten($color-menu-bkg, 9%), lighten($color-menu-bkg, 4%));
  display: block;
  left: 0;
}

.dashboard-menu {
  justify-content: center;
  margin-bottom: 1.2rem !important;
  padding-top: 1rem;
  .item {
    padding: .5rem 1rem !important;
    &:hover {
      color: $color-white !important;
    }
    &.active {
      background-color: rgba($color-white, .3) !important;
      border-radius: .3rem !important;
      color: $color-white !important;
    }
  }
}

.ui.reports.divider {
  color: $grey !important;
  padding: 2rem 0;
}

.vertical.inverted.menu {
  .item {
    &.active {
      background: rgba($color-white, .3) !important;
    }
  }
}

.report {
  .file {
    color: rgba($color-white, .5);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    &:hover {
      .name {
        color: $color-white;
        &:after {
          color: $color-link;
          content: "\f08e";
          font-family: "icons";
          animation: fadeIn .5s;
        }
      }
    }
  }
  .name {
    font-size: 120%;
  }
  .updated {
    color: $color-link;
  }
  .description {
    padding-top: 1rem;
    width: 100%;
  }
}

%card-hover {
  box-shadow: 0 0 0 2px rgba(white, .5) !important;
  transform: scale(1.05);
}

.dashboard {

  .fluid.card {
    background: darken($color-menu-bkg, 5%);
    box-shadow: 0 0 0 1px transparent;
    transition: .2s;
    &:not(.dash-card) {
      margin: .5rem 1rem;
      width: calc(100% - 2rem);
      + .fluid {
        margin-top: 2rem;
      }
    }
    &.dash-container {
      background: rgba(#002744,.5);
    }
    .content:not(:first-of-type) {
      border-top: 1px solid rgba($color-white, .1);
    }
    .content {
      .header {
        color: $grey;
        transition: .2s;
        text-transform: capitalize;
        .meta {
          color: rgba($color-white, .2);
          font-size: 80%;
          font-weight: normal;
          transition: .2s;
        }
      }
    }
    &:first-of-type:hover {
      box-shadow: 0 0 0 2px rgba($color-white, .5);
      .header {
        color: $color-yellow !important;
        .meta {
          color: rgba($color-white,.8) !important;
        }
      }
    }
  }

  .three.cards {
    .double.card {
      width: calc(100% / 3 * 2 - 2rem);
    }
  }

  .cards,
  .card {
    padding: 1rem;
    .card {
      background: rgba(black, .2) !important;
      box-shadow: 0 0 0 0 transparent !important;
      transform: scale(1);
      transition: .2s;
      &.fluid {
        margin: .5rem 1rem;
        width: calc(100% - 2rem);
      }
      .header {
        color: $color-yellow !important;
        text-align: center;
      }
      .extra.content {
        padding: 1rem;
        margin: .5rem -1rem -.5rem;
      }
      .statistic {
        .label,
        .value {
          color: $grey;
          transition: .2s;
         &.negative {
           color: $color-pink !important;
         }
         &.positive {
           color: $color-olive !important;
         }
        }
      }
      &:hover:not(.fluid) {
        @extend %card-hover;
        .statistic {
          .label,
          .value {
            color: rgba($color-white, .8);
            transition: .2s;
          }
        }
      }
    }
  }
  .chart-totals {
    padding: 1rem;
    .grid {
      &.stackable {
        padding-bottom: 2rem;
        .column {
          text-align: center;
        }
      }
    }
  }
}

// center statistic in donut
.ct-golden-section {
  .statistic {
    margin-top: 25% !important;
  }
}
