[data-title] {
  cursor: help;
  position: relative;
  &:hover:before {
    opacity: 1;
    transition: .3s;
    visibility: visible;
  }
  &:before {
    content: attr(data-title);
    background-color: #222;
    border: .2rem solid grey;
    border-radius: .3rem;
    color: white;
    font-size: .9rem;
    font-weight: normal;
    opacity: 0;
    padding: 0 .7rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    visibility: hidden;
    white-space: nowrap;
    z-index: 100;
  }
  &:after {
    content: " ";
    clear: both;
  }
}
