// environment flags
$environmentBarOffset: 33px;

.environment {
  &.beta,
  &.development,
  &.qa,
  &.vnext,
  &.ritterim {
    color: $color-white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    will-change: transform;
    @include transition;
    +.ui.fixed.menu.top {
      top: $environmentBarOffset;
      .searching {
        &.dimmer {
          height: calc(100% - #{$environmentBarOffset} - 4.6rem) !important;
          top: calc(#{$environmentBarOffset} + 4.6rem) !important;
        }
      }

      +.app.body {
        margin-top: 7rem;
      }
      &.has-producer-submenu {
        +.app.body {
          margin-top: 9.5rem;
        }
      }
    }
  }
  &.beta {
    background: $color-violet;
    &:before {
      color: complement($color-violet);
      content: "current environment: ";
    }
    &:after {
      content: "beta";
    }
  }
  &.development {
    background: $color-red;
    &:before {
      color: complement($color-red);
      content: "current environment: ";
    }
    &:after {
      content: "development";
    }
  }
  &.qa {
    background: $color-link;
    &:before {
      color: complement($color-link);
      content: "current environment: ";
    }
    &:after {
      content: "quality assurance";
    }
  }
  &.vnext {
    background: $color-olive;
    &:before {
      color: complement($color-olive);
      content: "current environment: ";
    }
    &:after {
      content: "vnext";
    }
  }
  &.ritterim {
    background: $color-menu-bkg;
    &:before {
      color: $grey-light;
      content: "current environment: ";
    }
    &:after {
      content: "production";
    }
  }
}
