// always hide
form {
  &:not(.create) {
    button[type="submit"] {
      display: none;
      height: 0;
      min-height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
  }
  &.create {
    button[type="submit"] {
      display: block;
    }
  }
  &[method="post"] {
    &.ui.form {
      button[type="reset"] {
        display: none;
      }
    }
  }
}

.ui.form {
  &.loading.long:after {
    border-color: $color-link rgba($color-link, 0.1) rgba($color-link, 0.1) rgba($color-link, 0.1);
  }

  input:not([type=checkbox]) {
    border-color: transparent;
    border-bottom-color: $grey-light;
    border-radius: 0;
  }

  .field label:not(:last-child) {
    color: $grey-medium;
  }

  .field label:last-child {
    color: $grey-medium;
    font-size: 90%;
    @include transition;
  }

  .field {
    > input,
    > select {
      + label {
        font-weight: normal !important;
      }
    }
  }

  .field:not(.checkbox):not(.select) {
    margin: 1.5em 0 0 !important;
    position: relative;

    input,
    textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid $grey-light;
      position: relative;
      z-index: 10;
      border-radius: 0;
      box-shadow: none;
      @include transition;

      &:focus {
        @include focus($color-link);
      }
    }

    // :not(:last-child) for checkbox and radio
    label:not(:last-child) {
      color: $grey-medium;
      font-size: 80%;
      position: absolute;
      top: -1.2rem;
      z-index: 1;

      &.blur {
        color: $grey-medium;
        position: absolute;
        top: 0.5rem;
        padding-left: 1rem;
        @include transition;

        &.transparent {
          color: transparent;
        }
      }

      &.focus {
        padding-left: 0rem;
        @include transition;
      }
    }

    .transparent {
      &.button {
        background: transparent;
        box-shadow: none !important;
      }
    }

    input.attached:not(.awn) {
      width: 85%;
    }

    @media (min-width: 767px) {
      .single-char-input {
        padding-left: .5rem;
        padding-right: .5rem;
        min-width: 2rem;
      }
    }
  }
}

// field error message
.field {
  position: relative;
   &.error > .message {
     color: $color-red;
     opacity: 1;
  }
  &.success {
    @include transition;
    &:after {
      animation: fadeIn 1s;
      color: $color-olive;
      content: "\f00c";
      float: right;
      // SUI names Font Awesome > Icons;
      font-family: "Icons";
      position: absolute;
      top: calc(50% - 10px);
      right: 1rem;
      z-index: 10;
    }
  }
  .message {
    display: flex;
    font-size: 80%;
    margin: 0.3rem 0;
    min-height: 2.2rem;
    opacity: 0;
    @include transition;
  }
}
.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~.box:before,
.ui.toggle.checkbox input:checked~label:before {
  background-color: $color-olive !important;
}

// used with .add.toggle
.field.toggle {
  display: none;
}

// drop-select 'tags'
.multiple.dropdown {
  .label {
    background: $color-blue;
    border-color: darken($color-blue, 10%);
    color: $color-white;
    font-weight: lighter;
    padding: .5rem;
    text-transform: capitalize;
    &:hover {
      background: darken($color-blue, 10%);
      border-color: darken($color-blue, 15%);
      color: $color-white;
    }
  }
  .scrolling.menu {
    .item {
      text-transform: capitalize;
    }
  }
}

.inline.checkbox.field {
  align-items: center;
  display: flex;
}

.checkbox.field {
  display: flex;
  align-items: middle;
  &.right {
      margin-top: -2.5rem;
      justify-content: flex-end;
  }
  .fitted.toggle {
    padding-left: .5rem;
    >input:checked ~ label:before {
      background-color: $color-olive !important;
    }
  }
}
.ui.form {
  .field {
    position: relative;
    width: 100%;

    &:not(.checkbox) {
      margin-top: 1rem;
      margin-bottom: 1.7rem;
    }

    label {
      color: $grey-medium;
      position: absolute;
      left: .7rem;
      top: .7rem;
      transition: .2s ease-in;
    }

    &.select {
      display: flex;

      &.inline {
        display: inline-flex;
        padding: 0 .5rem;
        width: auto;
      }

      &:after {
        align-self: center;
        color: $grey-light;
        content: "\f107";
        font-family: "Icons";
        margin-left: -1rem;
      }

      select {
        border: none;
        border-bottom: 1px solid $grey-light;
        padding: .7rem 2rem .41rem .7rem;
        position: relative;
        border-radius: 0;
        // Chrome and Safari both ignore border-radius on <select>
        // elements unless -webkit-appearance is overridden to an appropriate value.
        // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: .2s ease-in;

        &:focus {
          outline: none !important;
          border-bottom: 2px solid dodgerblue !important;
        }

        &::-ms-expand {
          display: none;
        }
      }
    }
  }
}

// on dashboard
input[type=range] {
  -webkit-appearance: none;
	background-color: darken($grey,10%);
	height: .3rem;
	margin-top: 2.5rem;
  margin-right: 2rem;
  width: 100%;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $color-yellow;
    border: 2px solid $color-menu-bkg;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
  }
  &:focus {
    outline: none;
  }
}

.stateSelect {
  select {
    height: fit-content;
  }
}