// This file is specifically for larger desktops

@media (min-width: 1900px) {
  // all containers
  .ui.container {
    width: 1600px;
    &.grid {
      width: calc(1600px + 2rem) !important;
    }
  }
  // search cards
  .compound-card {
    .five.cards & {
      a.header {
        font-size: inherit;
      }
      .ui.tiny.label {
        font-size: small;
      }
    }
  }
  // notes
  .noteboard {
    .ui[class*="three column"].grid>.column:not(.row),
    .ui[class*="three column"].grid>.row>.column {
      width: 25%;
    }
  }
}
