.noteboard {
  align-items: baseline;
  .ui.grid>.column:not(.row),
  .ui.grid>.row>.column {
    display: inherit;
  }
  &.notes{
    button.missing-tags {
    background-color: $color-olive;
      &.active {
        background-color: darken($color-olive, 10%);
      }
    }
  }
  @extend .drawer;
  @extend .ui.header;
  overflow-y: auto;
  .label {
    margin: 0 .5rem .5rem 0;
    &.active {
      background: $color-yellow;
      color: $color-white;
      .detail {
        color: $grey;
      }
    }
  }
  #note-template {
    height: 100%;
    .shape {
      height: inherit;
      .sides,
      .side,
      .card {
        height: inherit;
        .content {
          height: inherit;
        }
        .note-footer {
          padding: 0 1rem 1.5rem;
        }
      }
    }
  }
}
