.help.column {
  margin-top: 3rem;
  .ui.message {
    .ui.list .content {
      line-height: 1.5rem;
      p {
        margin-bottom: .3rem;
      }
    }
    strong {
      display: block;
    }
  }
}
