.accordion.submission {
  .ui.fullscreen.modal {
    border-radius: 0;
    display: block;
    height: calc(95% - 9rem);
    padding-left: 0;
    padding-right: 0;
    top: 7rem;
    &.producer {
      top: 11rem;
    }
    .close-div {
      padding: 1rem;
    }
    .split.content {
      max-height: calc(65vh);
      overflow: auto;
    }
    .audit-form {
      h3 {
        margin-top: 1rem;
      }
      .fields {
        margin-bottom: 0;
      }
      .audit-highlight {
        @extend .flow-highlight;
        padding-left: 2rem !important;
        margin-bottom: 2rem !important;
        margin-left: -1rem !important;
        margin-right: -1rem !important;
        .column {
          span {
            margin-top: .5rem;
          }
          &:nth-child(2) {
            padding: 1rem;
          }
        }
      }
      .EligibilityPicker {
        .row {
          padding: .5rem 0;
          .field.checkbox {
            margin: .5rem 0;
          }
          .date.field {
            margin: 0 auto;
          }
          &.error {
            background: lighten($color-pink, 20%);
            border: .15rem solid lighten($color-pink, 5%);
            color: darken($color-pink, 10%);
          }
          .validation-error {
            width: 100%;
            display: block;
            border: none;
            color: darken($color-pink, 10%);
            padding: .1rem 2.5rem;
            font-size: 90%;
          }
        }
      }
    }
    .audit-pdf {
      padding: 0;
      object {
        background: $grey-dark;
        height: calc(95vh - 12rem);
        left: 50%;
        max-width: 50%;
        position: fixed;
        width: 100%;
      }
    }
    >.header {
      background: repeating-linear-gradient( -55deg, lighten($color-menu-bkg, 8%), lighten($color-menu-bkg, 8%) 10px, lighten($color-menu-bkg, 10%) 10px, lighten($color-menu-bkg, 10%) 20px);
      border-radius: 0;
      color: $help-text;
      .toggle.checkbox {
        margin-left: 1rem;
        label {
          color: $color-white;
        }
        &.checkbox input:checked~label {
          color: $color-white !important;
        }
      }
    }
    .actions {
      color: $grey-dark;
      display: flex;
      text-align: left;
      .submit {
        padding-left: 1rem;
      }
      .field {
        margin-top: 0;
      }
    }
    &.centered-content {
      background: transparent;
      box-shadow: none;
      border: none;
      width: 50% !important;
      left: 15% !important;
      transition: .2s;
    }
    &.centered-errors-closed:not(.pdf-visible) {
      left: 25% !important;
    }
  }
}

[embed-type="producer"] {
  .accordion.submission .ui.fullscreen.modal .split.content {
    max-height: calc(55vh);
  }
}

.audit-key {
  display: inline-block;
  padding-left: .5rem;
  transition: .2s;
  @media (max-width: 933px) {
    display: none;
  }
}

.auditing {
  display: inline;
  i.small.circular.icon {
    box-shadow: none;
  }
}

.audit-entry-board {
  @extend .drawer;
  @include transition;
  height: calc(100% - 4.6rem);

  .key-entry-header {
    color: $color-light-blue !important;
  }
  .header-save-text {
    color: $color-yellow !important;
    display: inline !important;
  }
  .error-wrapper {
    margin-left: 2rem;
    display: inline !important;
  }
  .header-error-count {
    color: $color-red !important;
    display: inline !important;
  }

  .half-width {
    width: 50% !important;
  }
}

.audit-errors {
  background: lighten($color-pink, 20%);
  border: .15rem solid lighten($color-pink, 5%);
  border-left: none;
  color: darken($color-pink, 10%);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 40%;
  height: 76%;
  z-index: -1;
  transition: .3s;
  ul {
    line-height: 1.5rem;
    padding-left: 1rem;
    transition: .3s;
    li {
      margin-bottom: .3rem;
      white-space: pre-line;
      a {
        color: inherit;
        font-weight: bold;
      }
    }

  }
  &.centered-content {
    left: 100%;
    transition: .3s;
    &.closed {
      left: 65%;
    }
  }
  .close-div {
    padding: 0;
    margin-right: -1rem;
    transition: .3s;
  }
  &.closed {
    left: 74%;
    overflow-y: hidden;
    z-index: -1;
    .close-div {
      margin-right: -2rem;
    }
    h4, ul {
      visibility: hidden;
    }
  }
  &.pdf-visible {
    width: 25%;
    z-index: 1;
    transition: .3s;
    &.closed {
      left: 50%;
      width: 3rem;
    }
  }
}

.error-tiers {
  color: $color-white;
  font-size: 90%;
  font-weight: normal;
  padding-left: 1rem;
  .ui.circular.label {
    &.green {
      background-color: $color-olive !important;
    }
    &.red {
      background-color: $color-pink !important;
    }
    &.yellow {
      background-color: lighten($color-yellow, 10%) !important;
    }
  }
  .ui.toggle.checkbox {
    border-left: .1rem solid rgba($grey-light, .5);
    padding-left: 1rem;
    label:before {
      background: rgba($grey, .4);
    }
  }

}

.status-message {
  color: $color-olive !important;
  display: inline-flex;
  justify-content: center;
  height: 100%;
  padding: .25rem 1rem;
}

.warning-wrapper.fixed { 
  position: fixed;
  top: 5rem;
  z-index: 1;
  max-height: 5rem;
  width: 95%;
}