.searchable-select-cmp {
  .option-group-label {
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 700;
    background: lightgoldenrodyellow;
    display: block;
    padding-left: .5rem;
  }
  .results {
    width: 100% !important;
  }
  input.selected-dropdown {
    &::-webkit-input-placeholder {
      color: rgba(0,0,0,.87);
      opacity: 1;
    }
    &::-moz-placeholder {
      color: rgba(0,0,0,.87);
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: rgba(0,0,0,.87);
      opacity: 1;
    }
    &:-moz-placeholder {
      color: rgba(0,0,0,.87);
      opacity: 1;
    }
  }
}
