.submission {
  &.stub {
    .vertical.segment {
      border-bottom: none;
      width: 100%;
    }
  }
  &.accordion .content {
    display: block !important; // <-- fighting semantic
  }
  .header {
    margin-top: 1rem;
  }
  .trash.icon {
    color: $color-pink;
  }
  .ui.vertical.segment {
    background: transparent;
    transition: .2s;
    margin: 0 -1rem;
    overflow: visible;
    padding: 2rem 1rem 1rem;
    &:first-of-type {
      margin-top: -.5rem;
    }
  }
  .header.expanded {
    transform: rotate(-90deg);
    position: absolute;
    left: -5rem;
    background: white;
    padding: 1rem;
    border: 1px lightgrey solid;
    border-bottom: none;
  }
  .highlight {
    background: aliceblue;
    color: $help-text;
  }
  .enrolled {
    color: $help-text;
  }
  .flow-highlight {
    >span, .text-content {
      color: darken($help-text, 10%) !important;
    }
  }
  .ui.header {
    margin-top: 0;
  }
}

#submissions,
#campaigns,
#uploads {
  .pre-title {
    color: $color-white;
    padding: 1rem;
    .pretitle.select {
      background: transparent;
      width: 20rem;
      padding-right: 1rem;
    }
    .search.field, .pretitle.select {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      background: transparent;
      label {
        color: $grey-light;
        height: 100%;
        padding-right: 1rem;
        position: initial;
      }
    }
    .row+.row {
      padding-top: 1rem;
    }
    .label {
      cursor: pointer;
    }
    select {
      color: $color-white;
    }
    option {
      color: $color-black;
    }
    .inline.select {
      margin: 0 auto;
      select {
        color: $color-white;
      }
    }
    .status {
      margin-right: 1rem;
      padding-right: 1.2rem;
      padding-left: 0;
      width: 100%;
      select {
        width: 100%;
      }
      label {
        color: $grey-light;
        height: 100%;
        position: initial;
      }
    }
    .processing {
      margin-left: 1rem;
      margin-top: .5rem;
    }
    .field {
      align-items: baseline;
    }
  }
  .submission {
    .title {
      position: relative;
      .loader {
        margin: .3rem .3rem 0 .3rem;
      }
      .corner.label {
        margin: 0;
      }
      .refresh.loading {
        background-color: #767676 !important;
        box-shadow: 0 0 0 1px grey !important;
      }
      .deletion-note {
        .close-div {
          text-align: right;
          padding: .4rem;
        }
        input[type=text] {
          margin-top: .4rem;
          margin-bottom: .4rem;
        }
      }
    }
    .submission-info {
      .title {
        position: relative;
        .loader {
          margin-left: auto;
          margin-right: auto;
          margin-top: 1.3rem;
        }
      }
    }
  }
}

.history-container {
  clear: both;
  margin: 1rem;
  .close-div {
    margin: 1rem;
  }
}

//need to move this to attachement scss file
.drop-target {
  border: .3rem dashed $grey-light;
  color: $grey-light;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem;
}

.well {
  margin: 1rem -1rem;
  padding: 2rem;
  @include rgba-background-color($color-menu-bkg, .7);
}

.EligibilityPicker {
  .row {
    &:nth-child(even) {
      background: $grey-lighter;
    }
  }
}


.hide {
  display: none !important;
}
.accordion.submission {
  .pre-title {
    .content {
      height: 60px;
    }
    label {
      color: $color-white;
    }
    i {
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-left: .3rem;
    }
    .export-icons {
      padding-left: 0 !important;
    }
  }
  .ui.vertical.segment {
    width: 100%;
  }
  .ui.table td:empty {
    background: bottom;
  }
}
.form-builder {
  .row {
    margin: .4rem 0;
  }
}
.submission {
  .pre-title {
    p {
      display: contents;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
#submissions {
  .warning.message {
    display: block;
  }
    .pre-title {
      label {
        color: $color-white !important;
        font-family: $font--family;
        font-size: 1rem;
        font-weight: normal;
      }
    }
    .ui.corner.label {
      z-index: 0;
      &:hover {
        border-color: lighten($color-pink, 20%);
        .flag.icon {
          color: $color-pink !important;
        }
      }
    }

}
.nested-accordion-container {
  background-color: $color-pink;
}
.audit-checkbox {
  top: -2rem;
  left: 1.2rem;
  position: absolute;
  label {
    top: 0rem !important;
  }

}

.error-background {
  background-color: lighten($color-pink, 20%);
  box-shadow: none;
  margin: -1rem -1rem 0;
  padding: 1rem;
  .ui.styled.accordion {
    border-radius: 0;
    .ui.title {
      font-weight: normal !important;
    }
  }
}

i {
  &.third-party-warning {
    color: $help-text;
  }
  &.third-party-data-received {
    color: $color-olive;
    opacity: 1 !important;
  }
  &.dark-third-party-warning {
    color: darken($help-text, 10%);
    opacity: 1 !important;
  }
}

