// specifically for .table attached to .tab
.tab[data-tab="tab-members"] {
  &.segment {
    padding: 0 !important;
    .table {
      border-top: none;
      th {
        font-weight: normal;
      }
    }
  }
  .add-member {
    display: none;
    padding: 1em;
  }
}

// address tab accordion add/plus
[data-tab="tab-address"] {
  .add.icon {
    float: right;
    cursor: pointer;
    @include scale(1.2);
  }
}

// basic responsiveness
@media (max-width: 1200px) {
  .tabular.menu:not(.secondary) {
    .item {
      font-size: 0;
      @include transition;
      .icon {
        font-size: 1.2rem;
        margin: 1rem !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .tabular.menu.secondary {
    .add.icon {
      margin-bottom: .5rem !important;
    }
    .item {
      margin-bottom: .5rem;
      display: block;
      width: 100%;
      &.active {
        margin-bottom:.5rem;
      }
    }
  }
}

// bottom attached for tab
.tab-attached {
  border-top: 1px solid $grey-light;
  padding: 2rem;
  margin: 0 -1rem -1rem;
}
