.animation-container:not(.allow-overflow) {
  overflow: hidden;
}

.fade {
  &-enter-active {
    animation: fadeIn $slideAnimationDuration;
  }
  &-leave-active {
    animation: fadeOut $slideAnimationDuration;
  }
}

//Slide Up for Pre-Title
.slide-up {
  &-enter-active {
    animation: SlideUp $slideAnimationDuration * 1.5;
  }
  &-leave-active {
    animation: SlideUp $slideAnimationDuration reverse;
  }
}

.slide-down {
  &-enter-active {
    animation: SlideDown $slideAnimationDuration;
  }
  &-leave-active {
    animation: SlideClose $slideAnimationDuration;
  }
}

.slide-right {
  &-enter-active {
    animation: slideInRight $slideAnimationDuration;
  }
  &-leave-active {
    animation: slideInRight $slideAnimationDuration reverse;
  }
}

.slide-left {
  &-enter-active {
    animation: slideOutLeft $slideAnimationDuration reverse;
  }
  &-leave-active {
    animation: slideOutLeft $slideAnimationDuration;
  }
}

.flip-x {
  &-enter-active {
    animation: flipOutX $slideAnimationDuration reverse;
  }
  &-leave-active {
    animation:  flipOutX $slideAnimationDuration;
  }
}

.flip-y {
  &-enter-active {
    animation: flipOutY $slideAnimationDuration reverse;
  }
  &-leave-active {
    animation: flipOutY $slideAnimationDuration;
  }
}
