// padding and margin
$size: 1rem;
$sizes: (
  0: 0,
  1: (
    $size * 0.25,
  ),
  2: (
    $size * 0.5,
  ),
  3: $size,
  4: (
    $size * 2,
  ),
  5: (
    $size * 3,
  ),
  6: (
    $size * 4.5,
  ),
  7: (
    $size * 6.5,
  ),
);

$spacers: (
  p: padding,
  m: margin,
);

$spaceDirections: (
  l: "inline-start",
  r: "inline-end",
  t: "block-start",
  b: "block-end",
  x: "inline",
  y: "block",
);
