@use "../config";
@use "../mixins/" as mixin;
@use "../variables" as var;
@use "sass:map";
@use "sass:meta";

// Background Colors
$all-colors: () !default;
$site-colors: () !default;

@if meta.type-of(config.$config-colors) == "map" {
  $all-colors: map.merge(config.$config-colors, var.$greyscale);
} @else {
  $all-colors: map.merge(var.$greyscale, $all-colors);
  @warn "$config-colors is not set or empty";
}

// Theme colors
@each $name, $color in var.$color-tokens {
  // Remove "color-" from color-token var
  $_name: mixin.str-replace($name, 'color-', '');
  
  @if (str-index($name, '-on-') == null) {
    .background-#{$_name} {
      background-color: var(--#{$name});
    }
  }

  .text-#{$_name} {
    color: var(--#{$name});
  }
}

@if meta.type-of($all-colors) == "map" {
  @each $name, $color in $all-colors {
    // text color
    .text {
      &--#{$name} {
        color: var(--#{$name}) !important;
        &.pill {
          border-color: var(--#{$name}) !important;
        }
      }
      &-hover--#{$name} {
        transition: background-color var(--transitions);

        &.text-underline--hover {
          &:after {
            background-color: var(--#{$name}) !important;
          }
        }

        &:hover {
          color: var(--#{$name}) !important;
        }
      }
    }

    // background color
    .background {
      &--#{$name} {
        background-color:  var(--#{$name})!important;
        &.button {
          &.loading {
            &:before {
              background-color: var(--#{$name}) !important;
            }
          }
        }
      }

      &-hover--#{$name} {
        transition: background-color var(--transitions);

        &:hover {
          background-color: var(--#{$name}) !important;
        }
      }
    }

    // Add alpha transparency
    @for $i from 1 through 9 {
      .background--#{$name}-a#{$i}0 {
        background-color: var(--#{$name}-a#{$i}0) !important;
      }
    }
  }
}

// error Colors
@if meta.type-of(var.$error-colors) == "map" {
  @each $name, $color in var.$error-colors {
    // text color
    .text--#{$name} {
      border-color: var(--#{$name}) !important;
      color: var(--#{$name}) !important;
      transition: 0.2s;
    }
    // background color
    .background--#{$name} {
      background-color: var(--#{$name}) !important;
    }
    // Add alpha transparency
    @for $i from 1 through 9 {
      .background--#{$name}-a#{$i}0 {
        background-color: var(--#{$name}-a#{$i}0) !important;
      }
    }
  }
}

// transparent color
.background--transparent {
  background-color: transparent !important;
}
