// z-index
.z-0 {
  z-index: 0!important;
}

@for $i from 1 through 10 {
  .z-#{$i}0 {
    z-index: #{$i}0!important;
  }
}

.-z-10 {
  z-index: -10!important;
}

.-z-20 {
  z-index: -20!important;
}

.z-auto {
  z-index: auto!important;
}