/*
  Ritter Platform vars, UI v2
  - removes use of Semantic UI
  - incorporates Ritter 2019 brand colors
  - Leveraging CSS Grid, Flexbox, stronger usage of SASS maps
*/
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
.border-top {
  border-top: 1px solid;
  border-color: #666; }

.border-bottom {
  border-bottom: 1px solid;
  border-color: #666; }

.border-left {
  border-left: 1px solid;
  border-color: #666; }

.border-right {
  border-right: 1px solid;
  border-color: #666; }

.flex-align-center, .site-menu .search, .site-menu__item, .site-menu .dropdown-menu__item i[class*="fa-"], .crm-actions .crm-menu, .crm-actions__stats-header, .crm-actions__stats .today, .button--secondary, .image-link-list li .image-link-caption, .pill--circle {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex {
  display: flex; }

.mt-0 {
  margin-top: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mt-1 {
  margin-top: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mt-3 {
  margin-top: 1rem; }

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mt-4 {
  margin-top: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-5 {
  margin-top: 3rem; }

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mt-6 {
  margin-top: 4.5rem; }

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.mt-7 {
  margin-top: 6.5rem; }

.mx-7 {
  margin-left: 6.5rem;
  margin-right: 6.5rem; }

.my-7 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem; }

.mb-0 {
  margin-bottom: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 3rem; }

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mb-6 {
  margin-bottom: 4.5rem; }

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.mb-7 {
  margin-bottom: 6.5rem; }

.mx-7 {
  margin-left: 6.5rem;
  margin-right: 6.5rem; }

.my-7 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.ml-1 {
  margin-left: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.ml-2 {
  margin-left: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.ml-3 {
  margin-left: 1rem; }

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.ml-4 {
  margin-left: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ml-5 {
  margin-left: 3rem; }

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.ml-6 {
  margin-left: 4.5rem; }

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.ml-7 {
  margin-left: 6.5rem; }

.mx-7 {
  margin-left: 6.5rem;
  margin-right: 6.5rem; }

.my-7 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem; }

.mr-0 {
  margin-right: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mr-1 {
  margin-right: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mr-3 {
  margin-right: 1rem; }

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mr-4 {
  margin-right: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mr-5 {
  margin-right: 3rem; }

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mr-6 {
  margin-right: 4.5rem; }

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.mr-7 {
  margin-right: 6.5rem; }

.mx-7 {
  margin-left: 6.5rem;
  margin-right: 6.5rem; }

.my-7 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem; }

.pt-0 {
  padding-top: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pt-1 {
  padding-top: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pt-3 {
  padding-top: 1rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pt-4 {
  padding-top: 2rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-5 {
  padding-top: 3rem; }

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pt-6 {
  padding-top: 4.5rem; }

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.pt-7 {
  padding-top: 6.5rem; }

.px-7 {
  padding-left: 6.5rem;
  padding-right: 6.5rem; }

.py-7 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }

.pb-0 {
  padding-bottom: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 1rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 2rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pb-5 {
  padding-bottom: 3rem; }

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pb-6 {
  padding-bottom: 4.5rem; }

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.pb-7 {
  padding-bottom: 6.5rem; }

.px-7 {
  padding-left: 6.5rem;
  padding-right: 6.5rem; }

.py-7 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pl-1 {
  padding-left: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pl-2 {
  padding-left: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pl-3 {
  padding-left: 1rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pl-4 {
  padding-left: 2rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pl-5 {
  padding-left: 3rem; }

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pl-6 {
  padding-left: 4.5rem; }

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.pl-7 {
  padding-left: 6.5rem; }

.px-7 {
  padding-left: 6.5rem;
  padding-right: 6.5rem; }

.py-7 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }

.pr-0 {
  padding-right: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pr-1 {
  padding-right: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pr-2 {
  padding-right: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pr-3 {
  padding-right: 1rem; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pr-4 {
  padding-right: 2rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pr-5 {
  padding-right: 3rem; }

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pr-6 {
  padding-right: 4.5rem; }

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.pr-7 {
  padding-right: 6.5rem; }

.px-7 {
  padding-left: 6.5rem;
  padding-right: 6.5rem; }

.py-7 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem; }

.text-navy {
  border-color: #003f70 !important;
  color: #003f70 !important;
  transition: .2s; }

.background-navy {
  background-color: #003f70 !important; }

.text-skyblue {
  border-color: #91b9dc !important;
  color: #91b9dc !important;
  transition: .2s; }

.background-skyblue {
  background-color: #91b9dc !important; }

.text-lightblue {
  border-color: #E5F5FF !important;
  color: #E5F5FF !important;
  transition: .2s; }

.background-lightblue {
  background-color: #E5F5FF !important; }

.text-med-blue {
  border-color: #3f7bad !important;
  color: #3f7bad !important;
  transition: .2s; }

.background-med-blue {
  background-color: #3f7bad !important; }

.text-beige {
  border-color: #ecd7b1 !important;
  color: #ecd7b1 !important;
  transition: .2s; }

.background-beige {
  background-color: #ecd7b1 !important; }

.text-peach {
  border-color: #dfa278 !important;
  color: #dfa278 !important;
  transition: .2s; }

.background-peach {
  background-color: #dfa278 !important; }

.text-salmon {
  border-color: #e58967 !important;
  color: #e58967 !important;
  transition: .2s; }

.background-salmon {
  background-color: #e58967 !important; }

.text-brown {
  border-color: #866657 !important;
  color: #866657 !important;
  transition: .2s; }

.background-brown {
  background-color: #866657 !important; }

.text-orange {
  border-color: #f48418 !important;
  color: #f48418 !important;
  transition: .2s; }

.background-orange {
  background-color: #f48418 !important; }

.text-red {
  border-color: #ff3814 !important;
  color: #ff3814 !important;
  transition: .2s; }

.background-red {
  background-color: #ff3814 !important; }

.text-olive {
  border-color: #b5cc18 !important;
  color: #b5cc18 !important;
  transition: .2s; }

.background-olive {
  background-color: #b5cc18 !important; }

.text-purple {
  border-color: #b300b3 !important;
  color: #b300b3 !important;
  transition: .2s; }

.background-purple {
  background-color: #b300b3 !important; }

.text-yellow {
  border-color: #FBBD08 !important;
  color: #FBBD08 !important;
  transition: .2s; }

.background-yellow {
  background-color: #FBBD08 !important; }

.text-pink {
  border-color: mistyrose !important;
  color: mistyrose !important;
  transition: .2s; }

.background-pink {
  background-color: mistyrose !important; }

.text-cyan {
  border-color: cyan !important;
  color: cyan !important;
  transition: .2s; }

.background-cyan {
  background-color: cyan !important; }

.text-violet {
  border-color: #6435C9 !important;
  color: #6435C9 !important;
  transition: .2s; }

.background-violet {
  background-color: #6435C9 !important; }

.text-blue {
  border-color: #3f7bad !important;
  color: #3f7bad !important;
  transition: .2s; }

.background-blue {
  background-color: #3f7bad !important; }

.text-green {
  border-color: #21BA45 !important;
  color: #21BA45 !important;
  transition: .2s; }

.background-green {
  background-color: #21BA45 !important; }

.text-teal {
  border-color: teal !important;
  color: teal !important;
  transition: .2s; }

.background-teal {
  background-color: teal !important; }

.text-white {
  color: white !important;
  transition: .2s; }

.background-white {
  background-color: white !important; }

.text-lighter {
  color: #efefef !important;
  transition: .2s; }

.background-lighter {
  background-color: #efefef !important; }

.text-light {
  color: #999 !important;
  transition: .2s; }

.background-light {
  background-color: #999 !important; }

.text-base {
  color: #666 !important;
  transition: .2s; }

.background-base {
  background-color: #666 !important; }

.text-dark {
  color: #333 !important;
  transition: .2s; }

.background-dark {
  background-color: #333 !important; }

.text-black {
  color: #222 !important;
  transition: .2s; }

.background-black {
  background-color: #222 !important; }

.text-uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.text-shadow-white {
  text-shadow: 0.3rem 0.3rem 0.5rem white; }

.text-shadow-lighter {
  text-shadow: 0.3rem 0.3rem 0.5rem #efefef; }

.text-shadow-light {
  text-shadow: 0.3rem 0.3rem 0.5rem #999; }

.text-shadow-base {
  text-shadow: 0.3rem 0.3rem 0.5rem #666; }

.text-shadow-dark {
  text-shadow: 0.3rem 0.3rem 0.5rem #333; }

.text-shadow-black {
  text-shadow: 0.3rem 0.3rem 0.5rem #222; }

.font-xxs {
  font-size: 50% !important; }

.font-xs {
  font-size: 70% !important; }

.font-sm {
  font-size: 85% !important; }

.font-md {
  font-size: 115% !important; }

.font-lg {
  font-size: 125% !important; }

.font-xl {
  font-size: 150% !important; }

.font-xxl {
  font-size: 200% !important; }

.text-uppercase {
  text-transform: uppercase; }

.rotate-45 {
  transform: rotate(-45deg); }

.bold {
  font-weight: bold; }

.no-border {
  border-color: transparent !important; }

.transparent {
  background: transparent;
  border-color: transparent; }

.inverted {
  color: white !important;
  transition: 0.2s; }

.text-shadow {
  text-shadow: 0.3rem 0.3rem 0.5rem #333; }

.crm-banner .close {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5rem;
  padding: 0 .5rem;
  color: #333; }
  .crm-banner .close span {
    font-size: 125%; }

.close.left {
  position: absolute;
  left: 1rem;
  top: 1rem; }

.close.right {
  position: absolute;
  right: 1rem;
  top: 1rem; }

.sr-only {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important; }

.font-xxs {
  font-size: 50% !important; }

.font-xs {
  font-size: 70% !important; }

.font-sm {
  font-size: 85% !important; }

.font-md {
  font-size: 115% !important; }

.font-lg {
  font-size: 125% !important; }

.font-xl {
  font-size: 150% !important; }

.font-xxl {
  font-size: 200% !important; }

.platform {
  background-color: #efefef;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 2fr 6fr; }
  .platform main {
    grid-row-start: 2; }

.platform aside {
  position: fixed;
  height: 100vh;
  width: 25vw;
  z-index: 50; }

.platform main {
  margin-left: 25vw;
  width: 75vw; }

html {
  font-family: Inter UI, sans-serif; }

@supports (font-variation-settings: normal) {
  html {
    font-family: Inter UI var alt, sans-serif; } }

html,
body {
  box-sizing: border-box;
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5rem;
  margin: 0; }

h2 {
  font-size: 3rem;
  margin: 0; }

h3 {
  font-size: 2.5rem;
  margin: 0; }

h4 {
  font-size: 2rem;
  margin: 0; }

h5 {
  font-size: 1.5rem;
  margin: 0; }

h6 {
  font-size: 1rem;
  margin: 0; }

a {
  color: #3f7bad;
  text-decoration: none;
  transition: 0.2s; }

section {
  padding: 1rem; }

h1, h2, h3, h4, h5 {
  color: #003f70;
  font-family: Roboto Slab, serif;
  font-weight: bold; }

h1 {
  font-size: 200%;
  margin-bottom: 2rem; }

h2 {
  font-size: 150%;
  margin-bottom: 2rem; }

h3 {
  font-size: 125%;
  margin-bottom: 2rem; }

h4 {
  font-size: 115%;
  margin-bottom: 1rem; }

h5 {
  font-size: 1rem; }

hr {
  background-color: #666;
  border: none;
  height: 1px;
  margin: 1rem 0; }

.site-header {
  background-color: #003f70;
  color: white;
  display: flex;
  font-size: 125%;
  height: 4.5rem;
  position: fixed;
  width: 100%;
  z-index: 10; }

.site-menu {
  display: flex;
  flex-grow: 1;
  width: 100%; }
  .site-menu .search {
    color: white;
    flex-grow: 1; }
    .site-menu .search input[type=text] {
      background: transparent;
      border: none;
      color: inherit;
      font-size: 125%;
      font-weight: lighter;
      width: 100%;
      height: 100%;
      outline: none; }
      .site-menu .search input[type=text]::placeholder {
        color: #999; }
  .site-menu__item {
    border-left: 1px solid rgba(153, 153, 153, 0.5);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    line-height: 1.5;
    padding: 0 2rem;
    transition: 0.2s; }
    .site-menu__item:hover:not(.search) {
      background-color: #004d8a; }
    .site-menu__item.has-dropdown {
      position: relative; }
      .site-menu__item.has-dropdown:hover {
        border-bottom-color: rgba(153, 153, 153, 0.5); }
        .site-menu__item.has-dropdown:hover .dropdown-menu {
          opacity: 1;
          visibility: visible; }
  .site-menu .dropdown-menu {
    background-color: #004d8a;
    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    transition: opacity ease 0.2s, visibility ease 0.2s;
    visibility: hidden; }
    .site-menu .dropdown-menu__item {
      border-left: 0;
      display: flex;
      justify-content: flex-start;
      padding: 1rem 2rem; }
      .site-menu .dropdown-menu__item:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      .site-menu .dropdown-menu__item:not(:first-child) {
        border-top: 1px solid rgba(153, 153, 153, 0.5); }
      .site-menu .dropdown-menu__item.profile {
        flex-direction: column; }
      .site-menu .dropdown-menu__item i[class*="fa-"] {
        padding-right: 1rem;
        width: 1.2rem; }
  .site-menu .agent-profile {
    background-color: #004d8a;
    box-sizing: border-box;
    color: white;
    font-size: 80%;
    left: 0;
    padding: 1rem 2rem 2rem;
    right: auto; }
    .site-menu .agent-profile a {
      color: white;
      font-size: 100%; }
    .site-menu .agent-profile address {
      font-style: normal; }
    .site-menu .agent-profile__heading {
      color: white;
      font-family: Inter UI, sans-serif;
      font-size: 100%;
      line-height: 1;
      margin-bottom: 1rem; }
    .site-menu .agent-profile__content-wrapper {
      display: flex;
      margin-left: -2rem;
      width: calc(100% + 2rem * 2); }
    .site-menu .agent-profile__content {
      padding: 0 2rem; }
      .site-menu .agent-profile__content:nth-of-type(2) {
        border-left: 1px solid #3f7bad; }
      .site-menu .agent-profile__content .pill {
        color: #004d8a;
        margin-bottom: 1rem; }
    .site-menu .agent-profile__info-list {
      list-style-type: none;
      padding: 0; }
      .site-menu .agent-profile__info-list-item {
        margin-bottom: 1rem;
        padding-left: 2rem;
        position: relative; }
        .site-menu .agent-profile__info-list-item:last-of-type {
          margin-bottom: 0; }
        .site-menu .agent-profile__info-list-item i {
          left: 0;
          position: absolute;
          top: .375rem; }
    .site-menu .agent-profile__status-list {
      margin: 0; }
    .site-menu .agent-profile__status-list-item {
      display: flex;
      margin-bottom: 1rem; }
      .site-menu .agent-profile__status-list-item:last-of-type {
        margin-bottom: 0; }
      .site-menu .agent-profile__status-list-item dt {
        margin-right: 1rem;
        width: 3.125rem; }
      .site-menu .agent-profile__status-list-item dd {
        margin: 0;
        white-space: nowrap; }
  .site-menu .my span {
    font-family: serif;
    font-size: 125%;
    font-style: italic;
    font-weight: bold;
    opacity: .7;
    padding-right: .2rem; }

.agent-contact {
  box-sizing: border-box;
  font-size: 85%;
  padding: 2rem;
  width: 25rem; }
  .agent-contact .crm-form__field {
    margin-bottom: 1rem; }

.crm-actions {
  background-color: white;
  grid-row-start: 2; }
  .crm-actions .crm-menu {
    flex-wrap: wrap; }
    .crm-actions .crm-menu__group {
      display: flex;
      width: 100%; }
      .crm-actions .crm-menu__group .crm-menu__item {
        flex-direction: column; }
    .crm-actions .crm-menu__item {
      align-items: center;
      background-color: white;
      box-sizing: border-box;
      box-shadow: 0 0 0 0;
      border-right: 1px solid rgba(153, 153, 153, 0.3);
      border-top: 1px solid rgba(153, 153, 153, 0.3);
      display: flex;
      flex-direction: row;
      padding: 1.5rem 0;
      cursor: pointer;
      width: 100%;
      transition: 0.2s; }
      .crm-actions .crm-menu__item img {
        left: 1rem;
        margin-bottom: .5rem;
        max-width: 4rem;
        padding: 0 1rem; }
      .crm-actions .crm-menu__item i {
        padding: .5rem; }
      .crm-actions .crm-menu__item:hover, .crm-actions .crm-menu__item.active {
        box-shadow: inset 0 0 0 2px #e58967;
        position: relative; }
        .crm-actions .crm-menu__item:hover:before, .crm-actions .crm-menu__item.active:before {
          background-color: white;
          border-radius: 500rem;
          content: "";
          height: 26px;
          width: 26px;
          position: absolute;
          right: -.8rem;
          z-index: 5; }
        .crm-actions .crm-menu__item:hover:after, .crm-actions .crm-menu__item.active:after {
          color: #e58967;
          content: "\f058";
          font-family: "Font awesome 5 free";
          font-weight: bold;
          font-size: 200%;
          position: absolute;
          right: -1rem;
          z-index: 10; }

.crm-actions__stats {
  background-color: #003f70;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  height: 14rem; }
  .crm-actions__stats-header {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto Slab";
    font-size: 150%;
    padding: 1rem;
    width: 100%; }
  .crm-actions__stats-group {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0; }
  .crm-actions__stats .crm-actions__stat {
    align-items: center;
    display: flex;
    font-size: 200%;
    font-weight: bold;
    flex-direction: column;
    text-transform: uppercase; }
  .crm-actions__stats .crm-actions__stat-label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 50% !important;
    font-weight: normal;
    text-align: center; }
  .crm-actions__stats .today {
    padding: 1rem; }

.crm-banner {
  background-color: #666;
  border-bottom: 1px solid #91b9dc;
  box-sizing: border-box;
  height: calc(14rem + 2px);
  padding: 2rem;
  position: relative; }
  .crm-banner p {
    font-size: 125%; }

.button {
  background-color: white;
  border: 1px solid #666;
  border-radius: 5rem;
  color: #666;
  cursor: pointer;
  font-family: Inter UI, sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: 0.2s; }
  .button i {
    margin: 0 0.25rem; }
  .button:hover {
    background-color: #e58967;
    border-color: inherit;
    color: white; }
  .button--secondary {
    background-color: #e58967;
    border: 1px solid #e58967;
    color: white;
    border-radius: 500rem;
    padding: 0;
    width: 2rem;
    height: 2rem; }
    .button--secondary:hover {
      background-color: #de673b;
      box-shadow: 0 0 0 0.3rem #ecab93; }
  .button--post {
    background-color: #e58967;
    border: 1px solid #e58967;
    color: white;
    transition: 0.2s; }
    .button--post:hover {
      background-color: #de673b;
      background-image: linear-gradient(45deg, #e58967, #c44e22); }
  .button--lg {
    font-size: 125%;
    padding: 0.5rem 1rem; }

.button-group {
  display: flex;
  align-items: center; }
  .button-group .button {
    margin: 0 0.25rem; }
    .button-group .button:first-child {
      margin-left: 0; }
    .button-group .button:last-child {
      margin-right: 0; }

.card {
  background-color: white;
  border: 1px solid #666;
  padding: 1rem; }
  .card__header {
    color: #666;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
    .card__header .card__group {
      align-items: center; }
  .card__group {
    display: flex; }
    .card__group--split > :first-child {
      width: 35%; }
    .card__group--vertical {
      align-items: flex-start;
      flex-direction: column; }
    .card__group > * {
      margin-right: 1rem; }
  .card__title {
    color: #666;
    font-family: Inter UI, sans-serif;
    font-size: 100%;
    margin-bottom: 0;
    text-transform: uppercase; }
  .card__title-icon--large {
    font-size: 200%; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

.crm-form {
  color: #999;
  display: flex;
  flex-flow: row wrap; }
  .crm-form--stacked {
    flex-flow: column; }
    .crm-form--stacked .crm-form__field {
      margin-left: 0;
      margin-right: 0;
      max-width: none; }
      .crm-form--stacked .crm-form__field:last-child {
        margin-bottom: 0; }
    .crm-form--stacked .crm-form__button-group {
      justify-content: center; }
      .crm-form--stacked .crm-form__button-group button {
        max-width: none; }
    .crm-form--stacked textarea {
      min-height: 8rem; }
  .crm-form.crm-form--light {
    color: white; }
    .crm-form.crm-form--light input[type="text"],
    .crm-form.crm-form--light input[type="date"],
    .crm-form.crm-form--light input[type="email"],
    .crm-form.crm-form--light input[type="textarea"],
    .crm-form.crm-form--light input[type="tel"],
    .crm-form.crm-form--light input[type="password"],
    .crm-form.crm-form--light textarea,
    .crm-form.crm-form--light select {
      border-bottom-color: white;
      color: white; }
      .crm-form.crm-form--light input[type="text"]::placeholder,
      .crm-form.crm-form--light input[type="date"]::placeholder,
      .crm-form.crm-form--light input[type="email"]::placeholder,
      .crm-form.crm-form--light input[type="textarea"]::placeholder,
      .crm-form.crm-form--light input[type="tel"]::placeholder,
      .crm-form.crm-form--light input[type="password"]::placeholder,
      .crm-form.crm-form--light textarea::placeholder,
      .crm-form.crm-form--light select::placeholder {
        color: white; }
    .crm-form.crm-form--light input[type="checkbox"] + label,
    .crm-form.crm-form--light input[type="radio"] + label {
      color: white; }
      .crm-form.crm-form--light input[type="checkbox"] + label:before,
      .crm-form.crm-form--light input[type="radio"] + label:before {
        border: 1px solid white; }
    .crm-form.crm-form--light input[type="checkbox"] + label:after {
      color: white; }
    .crm-form.crm-form--light textarea {
      border-color: white; }
    .crm-form.crm-form--light .crm-form__select-wrapper:after {
      border-color: white; }
  .crm-form__field {
    flex: 1 1 auto;
    font-size: 85%;
    margin: 0 0.5rem 2rem;
    max-width: 15.625rem; }
    .crm-form__field input,
    .crm-form__field textarea {
      margin-top: .5rem;
      width: 100%; }
  .crm-form__option-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .crm-form__button-group {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start; }
    .crm-form__button-group button {
      flex-grow: 1;
      max-width: 14.375rem; }
  .crm-form__label {
    color: #999;
    font-size: 80%;
    margin-bottom: .5rem; }
  .crm-form input[type="text"],
  .crm-form input[type="date"],
  .crm-form input[type="email"],
  .crm-form input[type="textarea"],
  .crm-form input[type="tel"],
  .crm-form input[type="password"],
  .crm-form textarea,
  .crm-form select {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: #999;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-family: Inter UI, sans-serif;
    font-size: 115%;
    height: 2rem;
    padding: 0.25rem 0; }
    .crm-form input[type="text"]::placeholder,
    .crm-form input[type="date"]::placeholder,
    .crm-form input[type="email"]::placeholder,
    .crm-form input[type="textarea"]::placeholder,
    .crm-form input[type="tel"]::placeholder,
    .crm-form input[type="password"]::placeholder,
    .crm-form textarea::placeholder,
    .crm-form select::placeholder {
      color: #666; }
    .crm-form input[type="text"]:focus,
    .crm-form input[type="date"]:focus,
    .crm-form input[type="email"]:focus,
    .crm-form input[type="textarea"]:focus,
    .crm-form input[type="tel"]:focus,
    .crm-form input[type="password"]:focus,
    .crm-form textarea:focus,
    .crm-form select:focus {
      outline: none;
      border-bottom-color: #999;
      box-shadow: 0 0 5px 0 #999;
      transition: box-shadow 0.2s, border-color 0.2s ease-in-out, border-width 0.2s ease; }
  .crm-form textarea {
    border-color: #999;
    padding: 0.25rem; }
  .crm-form input[type="checkbox"],
  .crm-form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: auto; }
    .crm-form input[type="checkbox"]:checked + label,
    .crm-form input[type="radio"]:checked + label {
      font-weight: 600; }
      .crm-form input[type="checkbox"]:checked + label:after,
      .crm-form input[type="radio"]:checked + label:after {
        transform: scale(1); }
    .crm-form input[type="checkbox"] + label,
    .crm-form input[type="radio"] + label {
      color: #666;
      display: inline-block;
      font-size: 115%;
      font-weight: 400;
      height: 1rem;
      line-height: 1.2;
      margin-right: .75rem;
      margin-top: .75rem;
      padding-left: 1.375rem;
      position: relative;
      vertical-align: baseline; }
      .crm-form input[type="checkbox"] + label:before, .crm-form input[type="checkbox"] + label:after,
      .crm-form input[type="radio"] + label:before,
      .crm-form input[type="radio"] + label:after {
        position: absolute;
        display: inline-block; }
      .crm-form input[type="checkbox"] + label:before,
      .crm-form input[type="radio"] + label:before {
        border: 1px solid #666;
        border-radius: 50%;
        content: '';
        height: 1rem;
        left: 0;
        top: -.0625rem;
        width: 1rem; }
      .crm-form input[type="checkbox"] + label:after,
      .crm-form input[type="radio"] + label:after {
        transform: scale(0);
        transition: transform 0.2s ease; }
  .crm-form input[type="checkbox"] + label:after {
    color: #666;
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-size: 70%;
    font-weight: 900;
    left: .1875rem;
    top: .0625rem; }
  .crm-form input[type="radio"] + label:after {
    background-color: #666;
    border-radius: 50%;
    content: '';
    height: .75rem;
    left: .1875rem;
    top: .125rem;
    width: .75rem; }
  .crm-form__select-wrapper {
    min-width: 9.375rem;
    position: relative; }
    .crm-form__select-wrapper:after {
      border: 1px solid #666;
      border-width: 0 0 1px 1px;
      content: '';
      height: .3rem;
      margin-top: -.125rem;
      pointer-events: none;
      position: absolute;
      right: .3rem;
      top: 50%;
      transform: rotate(-45deg);
      width: .3rem; }
  .crm-form select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: .25rem 1rem .25rem 0;
    width: 100%; }

ul {
  margin: 0;
  padding: 0 0 0 1rem; }
  ul li {
    margin: 0 0 0.5rem; }

.post-list {
  list-style: none;
  flex-grow: 1;
  margin: 0 1rem;
  padding: 0 0 0 2rem; }
  .post-list .post-item {
    border-bottom: 1px solid #999;
    margin: 0 0 1rem;
    padding: 0 0 1rem;
    position: relative; }
    .post-list .post-item:before {
      color: #e58967;
      content: '\f30b';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      left: -2rem;
      position: absolute;
      transform: rotate(30deg); }
    .post-list .post-item .post-duration {
      color: #999;
      font-size: 85%;
      margin-bottom: 0.25rem; }
      .post-list .post-item .post-duration:before {
        content: '\f017';
        font-family: 'Font Awesome 5 Free';
        margin: 0 0.5rem 0 0; }
    .post-list .post-item .post-title {
      margin-bottom: 0.25rem; }
    .post-list .post-item .post-link {
      font-size: 85%;
      font-weight: bold; }

.image-link-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .image-link-list li {
    flex-grow: 1;
    margin: 0 0.5rem; }
    .image-link-list li:first-child {
      margin-left: 0; }
    .image-link-list li:last-child {
      margin-right: 0; }
    .image-link-list li .image-link {
      display: flex;
      flex: 1;
      flex-direction: column; }
      .image-link-list li .image-link img {
        height: auto;
        max-width: 100%; }
      .image-link-list li .image-link--video {
        position: relative; }
        .image-link-list li .image-link--video:before {
          background: rgba(0, 0, 0, 0.3);
          content: '';
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 1; }
        .image-link-list li .image-link--video:after {
          content: '\f144';
          color: white;
          font-family: 'Font Awesome 5 Free';
          font-size: 200%;
          font-weight: 900;
          left: 45%;
          position: absolute;
          top: 30%;
          z-index: 2; }
      .image-link-list li .image-link-caption {
        height: 2rem;
        padding: 0.5rem;
        text-align: center;
        z-index: 5; }

.pill {
  border: 1px solid #666;
  border-radius: 5rem;
  color: #666;
  display: inline-flex;
  font-size: 85%;
  padding: 0.25rem 0.5rem; }
  .pill--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0; }
    .pill--split .pill__label {
      background-color: rgba(102, 102, 102, 0.3); }
  .pill--circle {
    border-radius: 500rem;
    height: 3rem;
    width: 3rem; }
  .pill__content, .pill__label {
    padding: 0.25rem 0.25rem; }
  .pill__label {
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 400; }

table {
  width: 100%;
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 0.3rem;
  border-collapse: separate;
  border-spacing: 0; }
  table thead {
    background-color: #efefef;
    border-bottom: 1px solid #999;
    color: #666;
    font-weight: bold;
    text-align: left; }
  table tr {
    background-color: transparent;
    transition: 0.6s; }
    table tr:hover {
      background-color: #efefef; }
    table tr td,
    table tr th {
      padding: 1rem; }
    table tr th {
      border-radius: 0.3rem 0.3rem 0 0;
      cursor: pointer; }
