@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:math";
@use "sass:map";

// Accordion
//
// Leverage spacing utility classes for padding and margin for the content within the accordion.
// To show the content of the accordion use vue transitions and toggle the class `active` on `pui-accordion`.
//
// Markup:
// <div class="pui-accordion">
//   <div class="pui-accordion__header block-container pl-5 pr-3 py-3">
//     <div class="block block-5">
//       <h3 class="mb-3">Aetna</h3>
//       <span>Aetna Health and Life</span>
//     </div>
//     <div class="block block-2">
//       <h3 class="mb-3">Status <span class="pill pill--circle__empty positive"></span></h3>
//       <span>Appointed</span>
//     </div>
//     <div class="block block-2">
//       <h3 class="mb-3">AWN</h3>
//       <span>GX000</span>
//     </div>
//     <div class="block block-2">
//       <h3 class="mb-3">Level</h3>
//       <span>0</span>
//     </div>
//     <div class="block block-1 flex flex--column flex--align-end flex--justify-center">
//       <div class="icon-menu">
//         <div class="icon-menu__item">
//           <a href="#" class="icon-menu__action text-negative--hover" role="button">
//             <i class="fas fa-trash-alt" aria-hidden="true"></i>
//           </a>
//         </div>
//         <div class="icon-menu__item">
//           <a href="#" class="icon-menu__action text-positive--hover" role="button">
//             <i class="fas fa-edit" aria-hidden="true"></i>
//           </a>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="pui-accordion__content fade-in-from-none-enter-active">
//     <div class="px-4">
//       <p>content</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Accordion

// Active
//
// Adding `.active` changes the default header bar background and hover highlight.
//
// - .pui-accordion .active
//
// Markup:
// <div class="pui-accordion active">
//   <div class="pui-accordion__header">
//     header
//   </div>
//   <div class="pui-accordion__content fade-in-from-none-enter-active">
//     content
//   </div>
// </div>
//
// Styleguide Components.Accordion.Active

// Nested
//
// You can nest accordions. By adding a `pui-accordion` inside a parent `pui-accordion`, you get the following look.
//
// Markup:
// <div class="pui-accordion">
//   <div class="pui-accordion__header block-container pl-5 pr-3 py-3">
//     Header
//   </div>
//   <div class="pui-accordion__content fade-in-from-none-enter-active">
//     <div class="px-4">
//       <p>content</p>
//     </div>
//     <div class="pui-accordion">
//       <div class="pui-accordion__header px-4 py-3 flex flex--justify-between flex--align-center">
//         <div class="flex flex--align-center">
//           <i class="fal fa-users text-med-blue mr-2"></i><h4 class="text-med-blue">Downlines</h4>
//         </div>
//         <i class="far fa-chevron-down pui-accordion__icon text-med-blue"></i>
//       </div>
//       <div class="pui-accordion__content fade-in-from-none-enter-active px-4">
//         Inner Accordion Content
//       </div>
//     </div>
//     <div class="pui-accordion">
//       <div class="pui-accordion__header px-4 py-3 flex flex--justify-between flex--align-center">
//         <div class="flex flex--align-center">
//           <i class="fal fa-file-import text-med-blue mr-2"></i><h4 class="text-med-blue">Request Contract Work</h4>
//         </div>
//         <i class="far fa-chevron-down pui-accordion__icon text-med-blue"></i>
//       </div>
//       <div class="pui-accordion__content fade-in-from-none-enter-active px-4">
//         Inner Accordion Content
//       </div>
//     </div>
//     <div class="pui-accordion">
//       <div class="pui-accordion__header px-4 py-3 flex flex--justify-between flex--align-center">
//         <div class="flex flex--align-center">
//           <i class="fal fa-file-upload text-med-blue mr-2"></i><h4 class="text-med-blue">Attachments</h4>
//         </div>
//         <i class="far fa-chevron-down pui-accordion__icon text-med-blue"></i>
//       </div>
//       <div class="pui-accordion__content fade-in-from-none-enter-active px-4">
//         Inner Accordion Content
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Accordion.Nested

// KSS specific
.pui-style-modifier__example {
  .pui-accordion {
    border-bottom-color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
  }
}

.pui-accordion {

  $self: &;
  $accordion-primary-color: map.get(variables.$greyscale, 'base');
  $accordion-primary-background: map.get(variables.$greyscale, 'white');
  $accordion-secondary-background: map.get(variables.$greyscale, 'lighter');
  $accordion-primary-border-color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
  $accordion-secondary-border-color: color.adjust(map.get(config.$brand-colors, 'med-blue'), $lightness: math.percentage(config.$hue-threshold));
  $accordion-active-background: map.get(config.$brand-colors, 'med-blue' );
  $accordion-hover-border: map.get(config.$brand-colors, 'skyblue' );

  background-color: $accordion-primary-background;
  border: 1px solid transparent;
  border-top-color: $accordion-primary-border-color;
  color: $accordion-primary-color;
  font-family: map.get(config.$fonts, 'base');
  font-size: 100%;
  transition: config.$transitions;

  &:last-of-type {
    border-bottom-color: $accordion-primary-border-color;
  }

  &:not(.active):hover {
    border-color: $accordion-hover-border;

    .pui-accordion__header {
      background-color: $accordion-secondary-background;
    }
  }

  &.active {
    border-color: transparent;
    box-shadow: 0px 0px 0px 2px $accordion-hover-border;

    > .pui-accordion__header {
      background-color: $accordion-secondary-background;

      .pui-accordion__icon {
        @extend %rotate-180;
      }

      + .pui-accordion__content {
        display: block;
      }
    }
  }

  &__header {
    cursor: pointer;
    position: relative;
    transition: config.$transitions;
    z-index: 10;
  }

  &__icon {
    transition: config.$transitions;
  }

  &__content {
    border-top: none;
    display: none;
    position: relative;
    z-index: 0;
  }


  // nested accordions
  .pui-accordion {
    border: none;
    margin-bottom: map.get(variables.$spacers, 1 );

    &.active {
      border: none;
      box-shadow: none;
    }

    .pui-accordion__header {
      background-color: $accordion-secondary-background;
    }
  }
}
