// Accordion
//
// Accordion description
//
// Styleguide Components.Accordion

// Default
//
// The default platform button. Usually paired visually with an icon. Can be the default size or large.
//
// - .rim-accordion
//
// Markup:
// <div class="rim-accordion">
//   <div class="rim-accordion__title">
//     title
//   </div>
//   <div class="rim-accordion__content">
//     content
//   </div>
// </div>
//
// Styleguide Components.Accordion.Default

// Active
//
// Adding `.active` changes the default title bar background and hover highlight
//
// - .rim_accordion .active
//
// Markup:
// <div class="rim-accordion active">
//   <div class="rim-accordion__title">
//     title
//   </div>
//   <div class="rim-accordion__content">
//     content
//   </div>
// </div>
//
// Styleguide Components.Accordion.Active

.rim-accordion {

  $self: &;
  $primary-color: map-get($greyscale, 'base');
  $primary-background: map-get($greyscale, 'white');
  $secondary-background: map-get($greyscale, 'lighter');
  $primary-border-color: lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
  $secondary-border-color: lighten(map-get($brand-colors, 'med-blue'), $hue-threshold);
  $active-background: map-get($brand-colors, 'med-blue' );
  $hover-border: map-get($brand-colors, 'skyblue' );

  background-color: $primary-background;
  border: 1px solid transparent;
  border-top: 1px solid $primary-border-color;
  color: $primary-color;
  font-family: map-get($fonts, 'base');
  font-size: 100%;
  transition: $transitions;

  &:last-of-type {
    border-bottom: 1px solid $primary-border-color;
  }

  &:not(.active):hover {
    border-color: $hover-border;

    .rim-accordion__header {
      background-color: $secondary-background;
    }    
  }

  &.active {
    border-bottom: none;
    border: 2px solid $hover-border;

    > .rim-accordion__header {
      background-color: $secondary-background;

      .rim-accordion__icon {
        @extend %rotate-180;
      }

      + .rim-accordion__content {
        display: block;
      }
    }
  }

  &__header {
    cursor: pointer;
    position: relative;
    transition: $transitions;
    z-index: 10;
  }

  &__icon {
    transition: $transitions;
  }

  &__content {
    border-top: none;
    display: none;
    position: relative;
    z-index: 0;
  }


  // nested accordions
  .rim-accordion {    
    border: none;
    margin-bottom: map-get($spacers, 1 );

    &.active {

      .rim-accordion__content {
        border: none;
      }
    }

    .rim-accordion__header {
      background-color: $secondary-background;
    }
  }
}
