// Banner
//
// Banner is a blog-style section specifically for post and banners within the Ritter Agent CRM.
//
// It utilizes the `.post` class to isolate these styles as they are more webpage/blog than application centric.
//
//
//
// Markup:
// <div class="crm-banner animated slideInDown fast" style="background-image: linear-gradient(to right, white, 80%, transparent), url('https://freephotos.cc/storage/preview/path/e0TY5dzjfyAcol92eAidR4ublvPlT2dBbmAGcqeN.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
//   <div class="button button--sm close-action right">
//     collapse
//     <i class="fas fa-angle-up" aria-hidden="true"></i>
//   </div>
//   <h1 class="mb-2">Your dashboard got an upgrade!</h1>
//   <p class="crm-banner__teaser">
//     <i class="fas fa-bullhorn" aria-hidden="true"></i>
//     Take a quick video tour to see the new features of your dashboard.
//   </p>
//   <a data-modal="video-banner" class="button button--post button--lg rim-modal__open">
//     <i class="far fa-play-circle" aria-hidden="true"></i>
//     Watch now
//   </a>
// </div>
//
// Styleguide Layout.Banner

.crm-banner {
  animation: slideInDown .2s;
  background-color: map-get($brand-colors, 'skyblue');
  border-bottom: 1px solid map-get($brand-colors, 'skyblue');
  box-sizing: border-box;
  padding: map-get($spacers, 4);
  position: relative;

  &__title {
    color: map-get($brand-colors, 'navy' );
    font-size: map-get($font-percentage, 'xxl' );

    .fas {
      display: none;
    }

    .collapsed & {
      margin-bottom: 0!important;
      @extend %inverted;

      .fas {
        display: inline-flex;
      }
    }
  }

  &__teaser {
    width: 80%;
    font-size: map-get($font-percentage, 'lg');    
  }

  &__content {
    width: 80%;
  }

  // .collapsed hides everything but the Banner Title
  &.collapsed {
    animation: slideInUp .2s;
    background-image: none !important;
    height: auto;
    padding: $spacer;

    p, button, a.button {
      display: none;
    }
  }
}

.crm-view_item {

  .crm-banner__title {
    padding: map-get($spacers, 4)
  }
}
