@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

// Banner
//
// Banner is a blog-style section specifically for post and banners within the Ritter Agent CRM.
//
// It utilizes the `.post` class to isolate these styles as they are more webpage/blog than application centric.
//
//
//
// Markup:
// <div class="crm-banner post animated slideInDown fast" style="background-image: linear-gradient(to right, white, 80%, transparent), url('https://freephotos.cc/storage/preview/path/e0TY5dzjfyAcol92eAidR4ublvPlT2dBbmAGcqeN.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: top center;">
//   <div class="button button--sm close-action right">
//     collapse
//     <i class="fas fa-angle-up" aria-hidden="true"></i>
//   </div>
//   <h2 class="crm-banner__title mb-2">
//     Your dashboard got an upgrade!
//   </h2>
//   <p class="crm-banner__teaser">
//     Take a quick video tour to see the new features of your dashboard.
//   </p>
//   <a data-modal="video-banner" class="button button--post button--lg rim-modal__open">
//     <i class="far fa-play-circle" aria-hidden="true"></i>
//     Watch now
//   </a>
// </div>
//
// Styleguide Layout.Banner

.crm-banner {
  animation: slideInDown .2s;
  background-color: map.get(config.$brand-colors, 'skyblue');
  border-bottom: 1px solid map.get(config.$brand-colors, 'skyblue');
  box-sizing: border-box;
  padding: (map.get(variables.$spacers, 4) + .5) map.get(variables.$spacers, 3 ) map.get(variables.$spacers, 3 );
  position: relative;

  @include mixins.breakpoint(tablet, min) {
    padding: map.get(variables.$spacers, 4);
  }

  .close-action.right {
    @include mixins.breakpoint(tablet, max) {
      top: .5rem;
      right: .5rem;
    }
  }

  &__title {
    color: map.get(config.$brand-colors, 'navy' );
    font-size: map.get(variables.$font-percentage, 'xl' );

    @include mixins.breakpoint(tablet, min) {
      font-size: map.get(variables.$font-percentage, 'xxl' );
    }

    .collapsed & {
      font-size: map.get(config.$fonts, 'size' );
      margin-bottom: 0!important;
      width: calc(100% - 72px); // size of the button
      @extend %inverted;
    }
  }

  &__teaser {
    width: 80%;

    @include mixins.breakpoint(tablet, min) {
      font-size: map.get(variables.$font-percentage, 'lg');
    }
  }

  &__content {
    width: 80%;
  }

  .button--post {
    display: inline-block;
  }

  // .collapsed hides everything but the Banner Title
  &.collapsed {
    animation: slideInUp .2s;
    background-image: none !important;
    height: auto;
    padding: variables.$spacer;

    p, button, a.button {
      display: none;
    }

    .close-action.right {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.crm-view_item {

  .crm-banner__title {
    padding: map.get(variables.$spacers, 4)
  }
}
