* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-family: map-get($fonts, 'base');
}
@supports (font-variation-settings: normal) {
  html {
    font-family: map-get($fonts, 'base-alt');
  }
}

html,
body {
  box-sizing: border-box;
  color: map-get($greyscale, 'dark');
  font-size: map-get($fonts, 'size');
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

// set up h-tags
@for $i from 1 through 6 {
  h#{$i} {
    color: map-get($greyscale, 'base' );
    font-family: map-get($fonts, 'headline');
    font-weight: 500;
    margin: 0;

    .post & {
      font-family: map-get($fonts, 'headline-slab');
    }
  }
}

h1 {
  color: map-get($brand-colors, 'navy' );
}

p {
  margin: 0 0 map-get($spacers, 4) 0;
}

a {
  color: map-get($platform-colors, 'link');
  text-decoration: none;
  transition: $transitions;
  // if arrow structure is on place
  i.fa-arrow-right,
  i.fa-angle-right {
    transition: $transitions;
  }
  &:hover {
    i.fa-arrow-right {
      transform: translate(.3rem);
    }
    i.fa-angle-right {
      transform: translate(.5rem);
    }
  }
}

strong {
  font-weight: bold;
}

section {
  padding: $spacer;
}

hr {
    background-color: map-get($greyscale, 'base');
    border: none;
    height: 1px;
    margin: $spacer 0;
}
