@use "config";
@use "variables";
@use "sass:map";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  box-sizing: border-box;
  color: map.get(variables.$greyscale, 'dark');
  font-family: map.get(config.$fonts, 'base');
  font-size: map.get(config.$fonts, 'size');
  font-weight: 300;
  height: 100%;
  line-height: map.get(config.$fonts, 'line-height');
  margin: 0;
  padding: 0;
}

// set up h-tags
@for $i from 1 through 6 {
  h#{$i} {
    color: map.get(variables.$greyscale, 'base' );
    font-family: map.get(config.$fonts, 'headline');
    font-weight: 500;
    line-height: map.get(config.$fonts, 'headline-line-height');
    margin-bottom: variables.$spacer;
  }
}

p {
  line-height: map.get(config.$fonts, 'line-height');
  margin: 0 0 variables.$spacer 0;
}

a {
  color: map.get(config.$platform-colors, 'link');
  text-decoration: none;
  transition: config.$transitions;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

section {
  padding: variables.$spacer;
}

hr {
  background-color: map.get(variables.$greyscale, 'base');
  border: none;
  height: 1px;
  margin: variables.$spacer 0;
}
