@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:math";
@use "sass:map";
// Cards
//
// Cards can be great for seperating blocks of content. A `pui-card` comes standard with a white background, light grey border, and
// some padding.
//
// Note: The use of the block-container and block classes are only to give the pui-card size.
//
// Markup:
// <div class="block-container">
//   <div class="block block-4">
//     <div class="pui-card">
//       <p>Here's a pui-card.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards

// Headers
//
// For the headings in your cards, you generally want to wrap them in the class `pui-card__header`. This works best when you
// have a layout of inline content that should have space between. The class `pui-card__group` will give the element `display: flex`.
// When it is nested inside the class `pui-card__header` it will also have `align-items: center`.
//
// Markup:
// <div class="block-container">
//   <div class="block block-4">
//     <div class="pui-card">
//       <div class="pui-card__header">
//         <div class="pui-card__group">
//           <i class="pi-quill"></i>
//           <h2 class="pui-card__title">Agent News</h2>
//         </div>
//         <button class="button">Button</button>
//       </div>
//       <p>Here's a pui-card.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards.Headers

// Videos
//
// For the card below we're showcasing some videos. Here we stick with a simple pui-card, a header, and some content.
// Within the content we utilize our [block layout](/section-layout.html#kssref-layout-blocks).
//
// Markup:
// <div class="pui-card">
//   <div class="pui-card__header">
//     <div class="pui-card__group">
//       <i class="pi-youtube"></i>
//         <h2 class="pui-card__title">Featured Videos</h2>
//     </div>
//   </div>
//   <div class="pui-card__content">
//     <ul class="image-link-list block-container blocks-py-2 blocks-px-2 tablet-up-2 lg-tablet-up-3">
//       <li class="block">
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguide/site-assets/images/vid1.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">A Medicare Quoting Tool - Medicare Walkthrough</span>
//         </a>
//       </li>
//       <li class="block">
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguide/site-assets/images/vid2.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">Enrollment on Medicareful</span>
//         </a>
//       </li>
//       <li class="block">
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguide/site-assets/images/vid1.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">A Medicare Quoting Tool - Medicare Walkthrough</span>
//         </a>
//       </li>
//     </ul>
//   </div>
// </div>
//
// Styleguide Components.Cards.Videos

// Content Overflow
//
// If you have a lot of content in a card that is causing other cards to grow too much, you could add the class
// `pui-card__content--scroll` to the `pui-card__content` in order to set a hright and add an `overflow-y: auto;`.
//
// Markup:
// <div class="block-container mobile-up-3 blocks-px-2">
//   <div class="block">
//     <div class="pui-card flex flex--column flex--justify-between">
//         <div class="pui-card__header">
//             <div class="pui-card__group">
//                 <h2 class="pui-card__title pui-card__title--normal">Test header</h2>
//             </div>
//             <div class="pui-card__header-actions"><a role="button" aria-label="remove"
//                     class="pui-card-action text-light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="pui-card-action text-light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="pui-card__content">
//             <p>Yada Yada</p>
//         </div>
//         <div class="pui-card__footer pui-card__footer">
//             <div>
//                 <p><i class="pi-calendar text-skyblue" aria-hidden="true"></i> <time
//                         datetime="22 Jul 2019">22 Jul 2019</time></p>
//                 <p><i class="pi-clock text-skyblue" aria-hidden="true"></i> <time datetime="9:15 am">9:15
//                         am</time></p>
//             </div>
//             <div class="flex--center-content flex--column">
//                 <div class="pill pill--circle text-light"><i class="pi-check" aria-hidden="true"></i>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="pui-card flex flex--column flex--justify-between">
//         <div class="pui-card__header">
//             <div class="pui-card__group">
//                 <h2 class="pui-card__title pui-card__title--normal">Testing stuff</h2>
//             </div>
//             <div class="pui-card__header-actions"><a role="button" aria-label="remove"
//                     class="pui-card-action text-light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="pui-card-action text-light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="pui-card__content pui-card__content--scroll">
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//         </div>
//         <div class="pui-card__footer pui-card__footer">
//             <div>
//                 <p><i class="pi-calendar-alt text-skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="pi-clock text-skyblue" aria-hidden="true"></i> <time datetime="12:00 am">12:00
//                         am</time></p>
//             </div>
//             <div class="flex--center-content flex--column">
//                 <div class="pill pill--circle text-light"><i class="pi-check" aria-hidden="true"></i>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="pui-card flex flex--column flex--justify-between">
//         <div class="pui-card__header">
//             <div class="pui-card__group">
//                 <h2 class="pui-card__title pui-card__title--normal">Call Carol</h2>
//             </div>
//             <div class="pui-card__header-actions"><a role="button" aria-label="remove"
//                     class="pui-card-action text-light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="pui-card-action text-light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="pui-card__content">
//             <p>Carol from accounting need to get some updates.</p>
//         </div>
//         <div class="pui-card__footer pui-card__footer">
//             <div>
//                 <p><i class="pi-calendar text-skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="pi-clock text-skyblue" aria-hidden="true"></i> <time datetime="6:30 pm">6:30
//                         pm</time></p>
//             </div>
//             <div class="flex--center-content flex--column">
//                 <div class="pill pill--circle text-light"><i class="pi-check" aria-hidden="true"></i>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards.Overflow


.pui-card {
  background-color: map.get(variables.$greyscale, "white");
  border: 1px solid color.adjust(map.get(variables.$greyscale, "light"), $lightness: math.percentage(config.$hue-threshold * 2));
  padding: config.$card-padding;

  .block & {
    height: 100%;
  }

  &__header {
    color: map.get(variables.$greyscale, "base");
    display: flex;
    justify-content: space-between;
    margin-bottom: variables.$spacer;
    position: relative;

    .icon {
      max-height: 2rem;

      @include mixins.breakpoint(tablet, max) {
        display: none;
      }
    }

    .pui-card__group {
      align-items: center;
    }
  }

  &__header-actions {
    display: flex;
    position: absolute;
    top: -#{map.get(variables.$spacers, 2)};
    right: -#{map.get(variables.$spacers, 3)};
  }

  &-action {
    border-right: 1px solid map.get(variables.$greyscale, "light");
    color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold));
    height: 1.5rem;
    padding: 0 0.5rem;
    transition: config.$transitions;
    width: 2rem;
    @extend %flex-center;

    &:hover {
      color: map.get(variables.$greyscale, "light");
    }

    &:last-of-type {
      border-right: none;
    }
  }

  &__group {
    display: flex;

    > * {
      margin-right: variables.$spacer;
    }
  }

  &__title {
    color: map.get(variables.$greyscale, "base");
    font-family: map.get(config.$fonts, "base");
    font-size: 100%;
    margin-bottom: 0;
    text-transform: uppercase;

    &--normal {
      text-transform: none;
    }
  }

  &__header-icon {
    i {
      .alert & {
        transform: rotate(-25deg);
      }
    }
  }

  &__content {
    &--scroll {
      height: 10rem;
      overflow-y: auto;
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: config.$card-footer-top-margin;
  }
}
