// Cards
//
// Card description
//
// Weight: 1
//
// Styleguide Components.Cards

// News Card
//
// This is a news card description
//
// Markup:
// <div class="rim-card">
//   <div class="rim-card__header">
//     <div class="rim-card__group">
//      <i class="far fa-newspaper rim-card__title-icon--large"></i>
//      <h2 class="rim-card__title">Agent News</h2>
//     </div>
//   </div>
//   <div class="rim-card__content">
//    <div class="rim-card__group rim-card__group--split">
//      <ul class="image-link-list">
//        <li>
//          <a href="#" class="image-link">
//            <img src="/styleguide/site-assets/images/image-link.jpg" alt="image" />
//            <span class="image-link-caption text-white background-skyblue">Go to Blog &raquo;</span>
//          </a>
//        </li>
//      </ul>
//      <ul class="post-list">
//        <li class="post-item">
//          <div class="post-duration">3 min read</div>
//          <div class="post-title">Ritter is Named One of the Best Places to Work in PA for 2018</div>
//          <a href="#" class="post-link">Read More &rsaquo;</a>
//        </li>
//        <li class="post-item">
//          <div class="post-duration">5 min read</div>
//          <div class="post-title">Ritter Insurance Marketing: An FMO That Helps You Grow</div>
//          <a href="#" class="post-link">Read More &rsaquo;</a>
//        </li>
//        <li class="post-item">
//          <div class="post-duration">2 min read</div>
//          <div class="post-title">February 2019 Memo: Errors & Omissions 101</div>
//          <a href="#" class="post-link">Read More &rsaquo;</a>
//        </li>
//       </ul>
//    </div>
//   </div>
//  </div>
//
// Weight: 2
//
// Styleguide Components.Cards.NewsCard

// Videos
//
// This is a video card description
//
// Markup:
// <div class="rim-card">
//   <div class="rim-card__header">
//     <div class="rim-card__group">
//       <i class="fas fa-film rim-card__title-icon--large"></i>
//         <h2 class="rim-card__title">Featured Videos</h2>
//     </div>
//   </div>
//   <div class="rim-card__content">
//     <ul class="image-link-list">
//       <li>
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguides/site-assets/images/vid1.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">A Medicare Quoting Tool - Medicare Walkthrough</span>
//         </a>
//       </li>
//       <li>
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguide/site-assets/images/vid2.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">Enrollment on Medicareful</span>
//         </a>
//       </li>
//       <li>
//         <a href="#" class="image-link image-link--video">
//           <img src="/styleguide/site-assets/images/vid1.jpg" alt="image" />
//           <span class="image-link-caption text-white background-skyblue">A Medicare Quoting Tool - Medicare Walkthrough</span>
//         </a>
//       </li>
//     </ul>
//   </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Cards.Videos

// Content Overflow
// 
// If you have a lot of content in a card that is causing other cards to grow too much, you could add the class
// `rim-card__content--scroll` to the `rim-card__content` in order to set a hright and add an `overflow-y: scroll;`.
// 
// Markup:
// <div class="block-container mobile-up-3">
//   <div class="block">
//     <div class="rim-card flex flex--column flex--justify-between">
//         <div class="rim-card__header">
//             <div class="rim-card__group">
//                 <h2 class="rim-card__title rim-card__title--normal">Test header</h2>
//             </div>
//             <div class="rim-card__header-actions"><a role="button" aria-label="remove"
//                     class="rim-card-action text-light"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="rim-card-action text-light"><i class="fas fa-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="rim-card__content">
//             <p>Yada Yada</p>
//         </div>
//         <div class="rim-card__footer rim-card__footer">
//             <div>
//                 <p><i class="fas fa-calendar-alt text-skyblue" aria-hidden="true"></i> <time
//                         datetime="22 Jul 2019">22 Jul 2019</time></p>
//                 <p><i class="fas fa-clock text-skyblue" aria-hidden="true"></i> <time datetime="9:15 am">9:15
//                         am</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle text-light"><i class="fas fa-check" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="rim-card flex flex--column flex--justify-between">
//         <div class="rim-card__header">
//             <div class="rim-card__group">
//                 <h2 class="rim-card__title rim-card__title--normal">Testing stuff</h2>
//             </div>
//             <div class="rim-card__header-actions"><a role="button" aria-label="remove"
//                     class="rim-card-action text-light"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="rim-card-action text-light"><i class="fas fa-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="rim-card__content rim-card__content--scroll">
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//         </div>
//         <div class="rim-card__footer rim-card__footer">
//             <div>
//                 <p><i class="fas fa-calendar-alt text-skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="fas fa-clock text-skyblue" aria-hidden="true"></i> <time datetime="12:00 am">12:00
//                         am</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle text-light"><i class="fas fa-check" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="rim-card flex flex--column flex--justify-between">
//         <div class="rim-card__header">
//             <div class="rim-card__group">
//                 <h2 class="rim-card__title rim-card__title--normal">Call Carol</h2>
//             </div>
//             <div class="rim-card__header-actions"><a role="button" aria-label="remove"
//                     class="rim-card-action text-light"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="rim-card-action text-light"><i class="fas fa-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="rim-card__content">
//             <p>Carol from accounting need to get some updates.</p>
//         </div>
//         <div class="rim-card__footer rim-card__footer">
//             <div>
//                 <p><i class="fas fa-calendar-alt text-skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="fas fa-clock text-skyblue" aria-hidden="true"></i> <time datetime="6:30 pm">6:30
//                         pm</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle text-light"><i class="fas fa-check" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
// </div>
// 
// Weight: 4
// 
// Styleguide Components.Cards.Overflow


.rim-card {
  background-color: map-get($greyscale, 'white');
  border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
  padding: $spacer;

  .block & {
    height: 100%;
  }

  &__header {
      color: map-get($greyscale, 'base');
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacer;
      position: relative;

      .icon {
        max-height: 2rem;
      }

      .rim-card__group {
          align-items: center;
      }
  }

  &__header-actions {
      display: flex;
      position: absolute;
      top: -#{map-get($spacers, 2)};
      right: -#{map-get($spacers, 3)};
  }

  &-action {
      border-right: 1px solid map-get($greyscale, 'light');
      color: lighten(map-get($greyscale, 'light'), 10%);
      height: 1.5rem;
      padding: 0 .5rem;
      transition: $transitions;
      width: 2rem;
      @extend %flex-center;

      &:hover {
          color: map-get($greyscale, 'light');
      }

      &:last-of-type {
          border-right: none;
      }
  }

  &__group {
      display: flex;

      &--split {
          > :first-child {
              width: 35%;
          }
      }

      &--vertical {
          align-items: flex-start;
          flex-direction: column;
      }

      > * {
          margin-right: $spacer;
      }
  }

  &__title {
      color: map-get($greyscale, 'base');
      font-family: map-get($fonts, 'base');
      font-size: 100%;
      margin-bottom: 0;
      text-transform: uppercase;
      white-space: nowrap;

      &--normal {
          text-transform: none;
      }
  }

  &__title-icon--large {
      font-size: map-get($font-percentage, 'xxl');
  }

  &__title-icon--small {
      font-size: map-get($font-percentage, 'small');
  }

  &__header-icon {

    i {

      .alert & {
        transform: rotate(-25deg);
      }
    }
  }

  &__content {

    &--scroll {
      height: 10rem;
      overflow-y: scroll;
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: map-get($spacers, 3 );
  }
}


// Move into a base.scss file after merge

.check-circle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
