@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "sass:meta";
// Cards
//
// Cards can be great for seperating blocks of content. A `card` comes standard with a white background, light grey border, and
// some padding.
//
// Note: The use of the block-container and block classes are only to give the card size.
//
// Markup:
// <div class="block-container">
//   <div class="block block-4">
//     <div class="card">
//       <p>This is a card.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards

// Headers
//
// For the headings in your cards, you generally want to wrap them in the class `card__header`. This works best when you
// have a layout of inline content that should have space between. The class `card__group` will give the element `display: flex`.
// When it is nested inside the class `card__header` it will also have `align-items: center`.
//
// Markup:
// <div class="block-container">
//   <div class="block block-4">
//     <div class="card">
//       <div class="card__header">
//         <div class="card__group">
//           <i class="pi-quill"></i>
//           <div class="card__title">Card Header</div>
//         </div>
//         <button class="button">Button</button>
//       </div>
//       <p>Card content.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards.Headers

// Image Card
//
// Images can be placed at the top of cards. The `<img>` element gets the class `card__image` and is expected to be the first child element of the card.
// When `rounded-` modifiers are used on the card, the image takes on the radius as well. Other modifiers can be used as needed. If you're using cards inside a block layout, adding the `cards` class to the `block-container` will give the cards inside equal height.
//
// Markup:
// <div class="block-container cards blocks p-3 mb-3 tablet-up-4">
// <div class="block">
// <div class="card rounded-3">
//     <img class="card__image background-lightblue p-3" src="site-assets/images/svg/course-1.svg" alt="" />
//     <div class="card__content">
//         <div class="flex flex--justify-between">
//             <div class="text--bold text--uppercase">Part 1</div>
//             <div class="text--bold flex flex--align-center">
//                 <i class="pi-clock text--navy mr-1" aria-hidden="true"></i>
//                 1:45
//             </div>
//         </div>
//         <h3 class="text--med-blue">Card Title</h3>
//         <p>Donec malesuada semper risus vitae placerat. Morbi tristique, odio vel hendrerit sollicitudin, massa orci blandit felis, ac vehicula nulla mauris vitae arcu.</p>
//     </div>
// </div>
// </div>
// <div class="block">
// <div class="card">
//     <img class="card__image background-lightblue p-3" src="site-assets/images/svg/course-1.svg" alt="" />
//     <div class="card__content">
//         <div class="flex flex--justify-between">
//             <div class="text--bold text--uppercase">Part 1</div>
//             <div class="text--bold flex flex--align-center">
//                 <i class="pi-clock text--navy mr-1" aria-hidden="true"></i>
//                 1:45
//             </div>
//         </div>
//         <h3 class="text--med-blue">Card Title</h3>
//         <p>Donec malesuada semper risus vitae placerat. Morbi tristique, odio vel hendrerit sollicitudin, massa orci blandit felis, ac vehicula nulla mauris vitae arcu.</p>
//     </div>
// </div>
// </div>
// <div class="block">
// <div class="card rounded-3">
//     <img class="card__image" src="https://i.picsum.photos/id/1061/600/400.jpg" alt="" />
//     <div class="card__content">
//         <div class="flex flex--justify-between">
//             <div class="text--bold text--uppercase">Part 1</div>
//             <div class="text--bold flex flex--align-center">
//                 <i class="pi-clock text--navy mr-1" aria-hidden="true"></i>
//                 1:45
//             </div>
//         </div>
//         <h3 class="text--med-blue">Card Title</h3>
//         <p>Donec malesuada semper risus vitae placerat. Morbi tristique, odio vel hendrerit sollicitudin, massa orci blandit felis, ac vehicula nulla mauris vitae arcu.</p>
//     </div>
// </div>
// </div>
// <div class="block">
// <div class="card">
//     <img class="card__image" src="https://i.picsum.photos/id/1061/600/400.jpg" alt="" />
//     <div class="card__content">
//         <div class="flex flex--justify-between">
//             <div class="text--bold text--uppercase">Part 1</div>
//             <div class="text--bold flex flex--align-center">
//                 <i class="pi-clock text--navy mr-1" aria-hidden="true"></i>
//                 1:45
//             </div>
//         </div>
//         <h3 class="text--med-blue">Card Title</h3>
//         <p>Donec malesuada semper risus vitae placerat. Morbi tristique, odio vel hendrerit sollicitudin, massa orci blandit felis, ac vehicula nulla mauris vitae arcu.</p>
//     </div>
// </div>
// </div>
// </div>
//
// Styleguide Components.Cards.ImageCard

// Content Overflow
//
// If you have a lot of content in a card that is causing other cards to grow too much, you could add the class
// `card__content--scroll` to the `card__content` in order to set a height and add an `overflow-y: auto;`.
//
// Markup:
// <div class="block-container mobile-up-3 blocks px-2">
//   <div class="block">
//     <div class="card flex flex--column flex--justify-between">
//         <div class="card__header">
//             <div class="card__group">
//                 <div class="card__title card__title--normal">Card Header</div>
//             </div>
//             <div class="card__header-actions"><a role="button" aria-label="remove"
//                     class="card-action text--light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="card-action text--light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="card__content">
//             <p>Card content.</p>
//         </div>
//         <div class="card__footer card__footer">
//             <div>
//                 <p><i class="pi-calendar text--skyblue" aria-hidden="true"></i> <time
//                         datetime="22 Jul 2019">22 Jul 2019</time></p>
//                 <p><i class="pi-clock text--skyblue" aria-hidden="true"></i> <time datetime="9:15 am">9:15
//                         am</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle-large text--light"><i class="pi-check pi-xl" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="card flex flex--column flex--justify-between">
//         <div class="card__header">
//             <div class="card__group">
//                 <h2 class="card__title card__title--normal">Testing stuff</h2>
//             </div>
//             <div class="card__header-actions"><a role="button" aria-label="remove"
//                     class="card-action text--light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="card-action text--light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="card__content card__content--scroll">
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//             <p>Desc</p>
//         </div>
//         <div class="card__footer card__footer">
//             <div>
//                 <p><i class="pi-calendar text--skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="pi-clock text--skyblue" aria-hidden="true"></i> <time datetime="12:00 am">12:00
//                         am</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle-large text--light"><i class="pi-check pi-xl" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
//   <div class="block">
//     <div class="card flex flex--column flex--justify-between">
//         <div class="card__header">
//             <div class="card__group">
//                 <h2 class="card__title card__title--normal">Call Carol</h2>
//             </div>
//             <div class="card__header-actions"><a role="button" aria-label="remove"
//                     class="card-action text--light"><i class="pi-trash" aria-hidden="true"></i></a>
//                 <a role="button" aria-label="edit" class="card-action text--light"><i class="pi-edit"
//                         aria-hidden="true"></i></a></div>
//         </div>
//         <div class="card__content">
//             <p>Carol from accounting need to get some updates.</p>
//         </div>
//         <div class="card__footer card__footer">
//             <div>
//                 <p><i class="pi-calendar text--skyblue" aria-hidden="true"></i> <time
//                         datetime="23 Jul 2019">23 Jul 2019</time></p>
//                 <p><i class="pi-clock text--skyblue" aria-hidden="true"></i> <time datetime="6:30 pm">6:30
//                         pm</time></p>
//             </div>
//             <div class="div-btn">
//                 <div class="check-circle">
//                     <div class="pill pill--circle-large text--light"><i class="pi-check pi-xl" aria-hidden="true"></i>
//                     </div>
//                     <p class="check-circle__status">Complete</p>
//                 </div>
//                 <p class="check-circle__status">Complete</p>
//             </div>
//         </div>
//         <div class="flex">
//             <!---->
//         </div>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Cards.Overflow


@mixin card {
  $self: &;

  background-color: map.get(variables.$greyscale, "white");
  border: 1px solid color.adjust(map.get(variables.$greyscale, "light"), $lightness: math.percentage(config.$hue-threshold * 2));
  padding: config.$card-padding;

  .cards & {
    height: 100%;
  }

  &__image {
    width: calc(100% + (#{config.$card-padding} * 2));
    height: auto;
    margin-top: -#{config.$card-padding};
    margin-right: -#{config.$card-padding};
    margin-left: -#{config.$card-padding};
    margin-bottom: config.$card-padding;
    border-bottom: 1px solid color.adjust(map.get(variables.$greyscale, "light"), $lightness: math.percentage(config.$hue-threshold * 2));
  }

  &[class*="rounded-"] {
    overflow: hidden;
  }

  &__header {
    color: map.get(variables.$greyscale, "base");
    display: flex;
    justify-content: space-between;
    margin-bottom: variables.$spacer;
    position: relative;

    .icon {
      max-height: 2rem;

      @include mixins.breakpoint(tablet, max) {
        display: none;
      }
    }

    #{$self}__group {
      align-items: center;
    }
  }

  &__header-actions {
    display: flex;
    position: absolute;
    top: -#{map.get(variables.$spacers, 2)};
    right: -#{map.get(variables.$spacers, 3)};
  }

  &-action {
    border-right: 1px solid map.get(variables.$greyscale, "light");
    color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold));
    height: 1.5rem;
    padding: 0 0.5rem;
    transition: config.$transitions;
    width: 2rem;
    @extend %flex-center;

    &:hover {
      color: map.get(variables.$greyscale, "light");
    }

    &:last-of-type {
      border-right: none;
    }
  }

  &__group {
    display: flex;

    > * {
      margin-right: variables.$spacer;
    }
  }

  &__title {
    color: map.get(variables.$greyscale, "base");
    font-size: 100%;
    margin-bottom: 0;
    text-transform: uppercase;

    &--normal {
      text-transform: none;
    }
  }

  &__header-icon {
    i {
      .alert & {
        transform: rotate(-25deg);
      }
    }
  }

  &__content {
    &--scroll {
      height: 10rem;
      overflow-y: auto;
    }
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: config.$card-footer-top-margin;
  }
}

.pui-card {
  @include card;
}

.card {
  @include card;
}