@use "config";
@use "variables";
@use "sass:map";

// the <pre> tag is handled via highlightjs

code,
kbd,
samp {
  :not(pre) > & {
    background-color: map.get(config.$platform-colors-vars, 'help' );
  }
  color: map.get(config.$platform-colors-vars, 'menu' );
  font: normal 1.1rem map.get(config.$fonts, 'code' );
  padding: map.get(variables.$spacers, 1 );
}
