@use "config";
@use "variables";
@use "sass:map";

// the <pre> tag is handled via highlightjs

code,
kbd,
samp {
  :not(pre) > & {
    background-color: map.get(config.$site-colors-vars, 'help' );
  }
  color: map.get(config.$site-colors-vars, 'menu' );
  font-style: normal;
  font-size: 1.1rem;
  font-family: monospace;
  padding: map.get(variables.$spacers, 1 );
}
