@use "sass:map";
@use "sass:meta";

// Needed maps whether populated below of not. //-- DO NOT DELETE
$config-colors: () !default;
$platform-colors: () !default;


// ------------------
// Colors
// ------------------
// Add custom colors here to support your theme.

$brand-colors: (
  'navy':   #003f70,
  'skyblue':#91b9dc,
  'lightblue': #E5F5FF,
  'med-blue': #3f7bad,
  'beige':  #ecd7b1,
  'peach':  #dfa278,
  'salmon': #e58967,
  'brown':  #866657,
  'orange': #f48418
) !default;

$secondary-colors: (
  'red':    tomato,
  'olive':  #b5cc18,
  'purple': lighten(purple, 10%),
  'yellow': #FBBD08, // semantic-ui yellow
  'pink': pink,
  'cyan':   cyan,
  'violet': #6435C9,
  'blue':   dodgerblue,
  'green': #21BA45,
  'teal': teal,
  'gold': #ffcc00
) !default;

// $brand-colors and $secondary colors will be made available as text and background colors
// e.g., .text--{color} .background--{color}

// You only need to document color is the commented forms
// if you're generating the style guide.

// Brand Colors
//
// Colors:
// navy: #003f70
// skyblue: #91b9dc
// lightblue: #E5F5FF
// med-blue: #3f7bad
// beige: #ecd7b1
// peach: #dfa278
// salmon: #e58967
// brown: #866657
// orange: #f48418
//
// Styleguide Color.BrandColors

// Secondary Colors
//
// Colors:
// red: tomato
// olive: #b5cc18
// purple: purple
// yellow: #FBBD08
// pink: pink
// cyan: cyan
// violet: #6435C9
// blue: #3f7bad
// green: #21BA45
// teal: teal
// gold: #ffcc00
//
// Styleguide Color.SecondaryColors

@if meta.variable-exists('secondary-colors') {
  $config-colors: map.merge($brand-colors, $secondary-colors);
} @else {
  $config-colors: map.merge($brand-colors, $config-colors);
}

// Default colors used in the Ritter Platform

$platform-focus-color: map.get($config-colors, 'med-blue') !default;
$platform-menu-color: map.get($config-colors, 'navy') !default;
$platform-link-color: map.get($config-colors, 'med-blue') !default;
$platform-help-color: map.get($config-colors, 'lightblue') !default;
$platform-note-color: #FFFDF5 !default;
$platform-help-text-color: map.get($config-colors, 'navy') !default;

// Platform colors need to be placed back in a map
// Removing platform-colors will not affect compilation

// Platform Colors
//
// Colors:
// focus: #3f7bad
// menu: #003f70
// link: #3f7bad
// help: #E5F5FF
// note: #FFFDF5
// help-text: #003f70
//
// Styleguide Color.PlatformColors

$platform-colors-vars: (
  'focus' : $platform-focus-color,
  'menu' : $platform-menu-color,
  'link' : $platform-link-color,
  'help' : $platform-help-color,
  'note' : $platform-note-color,
  'help-text' : $platform-help-text-color
) !default;

@if meta.type-of($platform-colors-vars) == 'map' {
  $platform-colors: map.merge($platform-colors-vars, $platform-colors);
}


// --------------------
// Breakpoints
// --------------------

// Breakpoints map used in our breakpoints mixin
// as well as some of our utility classes

$breakpoints: (
  mobile: 0px,
  tablet: 768px,
  lg-tablet: 991px,
  laptop: 1240px,
  desktop: 1800px
);

// Show Mobile menu
$show-mobile-menu: 991px;




// --------------------
// Sizes
// --------------------

// image radius
$image-size: (
  'small' : 100px,
  'medium': 150px,
  'large':  200px
);

// Some height variables
$menu-height: 4.5rem;
$menu-banner-height: 14rem;

$max-height: 600px; // NOTE: define where we're using this

$radius: (
  'button': 5rem,
  'default': .3rem,
  'round': 50%
);


// --------------------
// Pui-header
// --------------------

// colors
$primary-menu-color: map.get($platform-colors, 'menu');




// --------------------
// Timing
// --------------------

// milliseconds; animations, transitions

$duration: .2s;
$transitions: .2s;
$hue-threshold: .1;   // NOTE: Set to .1 to use with math.percentage
$opacity: .9;




// --------------------
// Fonts
// --------------------

$fonts: (
  'base': #{'Nunito Sans', sans-serif},
  'code': #{'Inconsolata', 'Courier', monospace},
  'color': #333333,
  'headline': #{'Roboto', sans-serif},
  'headline-line-height': 2.5rem,
  'line-height': 1.5,
  'size': 1rem
);


// --------------------
// Drawers
// --------------------

$drawer-background: #fff !default;

$drawer-primary-padding: 2rem;

$drawer-right-height: calc(100% - #{$menu-height});
$drawer-right-width: 27rem;




// --------------------
// Button specific
// --------------------

$button-border-radius: 5rem !default;

$button-primary-background: #FFFFFF !default;
$button-primary-color: #666666 !default;
$button-primary-hover: #C3552A !default;
$button-secondary-background: map.get($config-colors, 'salmon') !default;
$button-secondary-color: #FFFFFF !default;
$button-filter-color: map.get($brand-colors, 'med-blue') !default;

$button-primary-padding: .25rem 1rem;
$button-large-padding: .5rem 1rem;
$button-group-margin: 0 .25rem;




// --------------------
// Cards
// --------------------

$card-padding: 1rem;
$card-footer-top-margin: 1rem;
$card-min-height: 23rem;




// --------------------
// Loader
// --------------------

$loader-color-primary: map.get($config-colors, "navy") !default;
$loader-border-top-primary: transparent !default;
$loader-color-inverted: #fff !default;
$loader-border-top-inverted: transparent !default;

$loader-colors: (
  'primary': $loader-color-primary,
  'primary-top': $loader-border-top-primary,
  'inverted': $loader-color-inverted,
  'inverted-top': $loader-border-top-inverted
) !default;
