.crm-banner {
  animation: slideInDown .2s;
  background-color: map-get($brand-colors, 'skyblue');
  border-bottom: 1px solid map-get($brand-colors, 'skyblue');
  box-sizing: border-box;
  height: calc(#{$menu-banner-height} + 2px);
  padding: map-get($spacers, 4);
  position: relative;
  p {
    font-size: map-get($font-percentage, 'lg');
    .fas {
      display: none;
    }
  }
  // .collapsed hides everything but the teaser text in the <p> tag
  &.collapsed {
    animation: slideInUp .2s;
    background-image: none !important;
    height: auto;
    padding: map-get($spacers, 4) $spacer;
    h1, button, a.button {
      display: none;
    }
    p {
      text-shadow: none !important;
      margin: 0;
      .fas {
        display: inline-flex;
      }
    }
  }
}

.crm-view_item {
  h1 {
    padding: map-get($spacers, 4)
  }
}
