// Drawer
//
// Drawers slide up or in-from-right.
// 
// There are some key classes you need for the drawer to work properly. Be sure to use `rim-drawer rim-drawer--closed` on each drawer.
// From this point, you want to add the proper animation class to the drawer. In the examples below, we have the classes set for the
// direction of the drawer animation. Now all you need to do is toggle the class `rim-drawer--closed` to show or hide the drawer.
// 
// You can have a drawer open from the bottom by using the class `rim-drawer-bottom`. To have a drawer open from the right
// use `rim-drawer-right`.
// 
// If you want a smaller drawer you can add the class `rim-drawer--single-row`. This class has a min-height and is
// best used in cases where less content will be needed. 
//
// Markup:
// <button class="button button--post button--lg rim-drawer__open" data-drawer="default">Toggle default drawer</button>
// <button class="button button--post button--lg rim-drawer__open" data-drawer="single-row">Toggle single row drawer</button>
// <div id="default" class="rim-drawer rim-drawer-bottom rim-drawer--closed animated slideInUp fastest">
//   <div class="rim-drawer__inner animated slideInUp fastest">
//     <div class="rim-drawer__header">
//       <button class="button rim-drawer__close" data-drawer="default">Close <i class="fas fa-times" aria-hidden="true"></i></button>
//       <h3 class="mb-2">Header.</h3>
//     </div>
//     <div class="rim-drawer__content">
//       <p>Content.</p>
//     </div>
//   </div>
// </div>
// <div id="single-row" class="rim-drawer rim-drawer-bottom rim-drawer--single-row rim-drawer--closed animated slideInUp fastest">
//   <div class="rim-drawer__inner animated slideInUp fastest">
//     <div class="rim-drawer__content">
//       <button class="button rim-drawer__close" data-drawer="single-row">Close <i class="fas fa-times" aria-hidden="true"></i></button>
//       <p>Single row drawer without a header.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Drawer


// Drawer Right
// 
// This Drawer slides in from the right.
// 
// Markup:
// <button class="button button--post button--lg rim-drawer__open" data-drawer="right">Toggle right drawer</button>
// <div id="right" class="rim-drawer rim-drawer-right slide-right-enter-active rim-drawer--closed background-light-yellow pt-5 pb-3 px-4">
//   <div class="flex flex--align-center flex--justify-between pb-3 mb-2">            
//     <div class="flex flex--align-center">
//       <button class="button button--secondary js-toggle-form">
//         <i class="far fa-plus"></i>
//       </button>
//       <h2 class="ml-2 text-navy">Notes</h2>
//     </div>
//     <button class="button rim-drawer__close" data-drawer="right">Close <i class="fas fa-times" aria-hidden="true"></i></button>
//   </div>
// </div>
// 
// Styleguide Components.Drawer.Right

.rim-drawer {
  $self: &;
  background-color: map-get($greyscale, 'white' );
  box-shadow: 0 -1rem 2rem rgba(map-get($greyscale, 'black'), .5);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 500;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

  &__inner {
    height: 100%;
    min-height: 50vh;
    overflow-y: visible;
    overflow-x: hidden;

    .rim-drawer-bottom & {
      max-height: 80vh;
    }
  }

  &--single-row {
    & {
      #{$self}__inner {
        min-height: 10rem !important;
      }
    }
  }

  &__header {
    padding: map-get($spacers, 4);
    position: relative;
    width: 100%;
    #{$self}__close {
      position: absolute;
      right: -$spacer;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    padding: map-get($spacers, 4);
    position: relative;
  }
  &--closed {
    display: none;
  }
  &__open {
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 25;
  }
}


// Drawer animates from the right
.rim-drawer-right {
  bottom: 0;
  box-shadow: 0 -.5rem 2rem rgba(map-get($greyscale, 'black'), .5);
  flex-direction: column;
  height: calc(100% - 4.5rem);
  left: unset;
  position: fixed;
  right: 0;
  transition: all ease-in-out .3s;
  z-index: 500;
  width: 27rem;

  &[hidden] {
    display: none;
  }
}

#kss-node {
  .rim-drawer__open {
    position: relative;
    bottom: inherit;
    right: inherit;
  }
}


// side content stuff

.side-content {
  height: calc(100% - 4rem);
}
