// Drawer
//
// Drawers slide up or in-from-right.
//
// Markup:
// <button class="button button--post button--lg rim-drawer__open" data-drawer="default">Toggle default drawer</button>
// <button class="button button--post button--lg rim-drawer__open" data-drawer="single-row">Toggle single row drawer</button>
// <div id="default" class="rim-drawer rim-drawer-bottom rim-drawer--closed animated slideInUp fastest">
//   <div class="rim-drawer__inner animated slideInUp fastest">
//     <div class="rim-drawer__header">
//       <button class="button rim-drawer__close" data-drawer="default">Close <i class="fas fa-times" aria-hidden="true"></i></button>
//       <h3 class="mb-2">Header.</h3>
//     </div>
//     <div class="rim-drawer__content">
//       <p>Content.</p>
//     </div>
//   </div>
// </div>
// <div id="single-row" class="rim-drawer rim-drawer-bottom--single-row rim-drawer--closed animated slideInUp fastest">
//   <div class="rim-drawer__inner animated slideInUp fastest">
//     <div class="rim-drawer__content">
//       <button class="button rim-drawer__close" data-drawer="single-row">Close <i class="fas fa-times" aria-hidden="true"></i></button>
//       <p>Single row drawer without a header.</p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.Drawer

.rim-drawer {
  $self: &;
  background-color: map-get($greyscale, 'white' );
  box-shadow: 0 -1rem 2rem rgba(map-get($greyscale, 'black'), .5);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 500;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

  &__inner {
    height: 100%;
    min-height: 50vh;
    overflow-y: visible;
    overflow-x: hidden;

    .rim-drawer-bottom & {
      max-height: 80vh;
    }
  }

  &-bottom--single-row {
    & {
      #{$self}__inner {
        min-height: 10rem !important;
      }
    }
  }

  &__header {
    padding: map-get($spacers, 4);
    position: relative;
    width: 100%;
    #{$self}__close {
      position: absolute;
      right: -$spacer;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    padding: map-get($spacers, 4);
    position: relative;
  }
  &--closed {
    display: none;
  }
  &__open {
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 25;
  }
}


// Drawer animates from the right
.rim-drawer-right {
  bottom: 0;
  box-shadow: 0 -.5rem 2rem rgba(map-get($greyscale, 'black'), .5);
  display: none;
  flex-direction: column;
  height: calc(100% - 4.5rem);
  left: unset;
  position: fixed;
  right: 0;
  transition: all ease-in-out .3s;
  z-index: 500;
  width: 27rem;
}

#kss-node {
  .rim-drawer__open {
    position: relative;
    bottom: inherit;
    right: inherit;
  }
}
