// Flex columns
//
// Flex cols allow division of a section into halves, quarters, 3-quarter, thirds, and, 2 thirds. Wherever applied, each section must be wrapped in an initial `.flexcol` div.
//
// `.flexcol` alone produces a full-width column
//
// `.flexcol__end` allows grouping to the right, or `end` of the section.
//
// Markup:
// <div class="flexcol flex-align__center">Full width (.flexcol alone)</div>
// <div class="flexcol">
//   <div class="flexcol-half flex-align__center">Half width</div>
//   <div class="flexcol-half flexcol__end flex-align__center">Half width adding .flex__end</div>
// </div>
// <div class="flexcol">
//   <div class="flexcol-third flex-align__center">Third width</div>
//   <div class="flexcol-third flex-align__center">Third width</div>
//   <div class="flexcol-third flex-align__center">Third width</div>
// </div>
// <div class="flexcol">
//   <div class="flexcol-third flex-align__center">One Third width</div>
//   <div class="flexcol-2-third flex-align__center">2 Third width</div>
// </div>
// <div class="flexcol">
//   <div class="flexcol-quarter flex-align__center">Quarter width</div>
//   <div class="flexcol-quarter flex-align__center">Quarter width</div>
//   <div class="flexcol-quarter flex-align__center">Quarter width</div>
//   <div class="flexcol-quarter flex-align__center">Quarter width</div>
// </div>
// <div class="flexcol">
//   <div class="flexcol-3-quarter flex-align__center">3 Quarter width</div>
//   <div class="flexcol-quarter flex-align__center">Quarter width</div>
// </div>
//
// Styleguide Layout.flexcol


// This is for style guide only
.rim-style-modifier__example [class*="flexcol"].flex-align__center {
  border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold);
  margin: .5rem 0;
  padding: 1rem;
}

// flex columns
.flexcol {
  $self: &;
  display: flex;

  @each $key, $name in $flex-grid {
    &-#{$name} {
      display: flex;
      flex-basis: calc(#{$key} * 100%);
      &#{$self}__end {
        justify-content: flex-end;
      }
    }
  }
}
