// Forms
//
//
// Markup:
// <form action="" class="rim-form">
//   <label for="first-name" class="rim-form__field">First Name
//     <input id="first-name" type="text" placeholder="First Name">
//   </label>
//   <label for="last-name" class="rim-form__field">Last Name
//     <input id="last-name" type="text" placeholder="Last Name">
//   </label>
//   <label for="dob" class="rim-form__field">Age or DOB
//     <input id="dob" type="date" placeholder="DD/MM/YYYY">
//   </label>
//   <label for="zipcode" class="rim-form__field">ZIP Code
//     <input id="zipcode" type="tel" placeholder="e.g.90012" pattern="^\d{5,6}(?:[-\s]\d{4})?$">
//   </label>
//   <fieldset class="rim-form__field">
//     <legend>Choose</legend>
//     <div class="rim-form__option-group">
//       <input class="rim-form__checkbox" id="gender-this-one" type="checkbox">
//       <label for="gender-this-one">This One</label>
//       <input class="rim-form__checkbox" id="gender-that-one" type="checkbox">
//       <label for="gender-that-one">That One</label>
//     </div>
//   </fieldset>
//   <fieldset class="rim-form__field">
//     <legend>Gender</legend>
//     <div class="rim-form__option-group">
//       <input class="rim-form__radio" id="gender-male" type="radio" name="gender">
//       <label for="gender-male">Male</label>
//       <input class="rim-form__radio" id="gender-female" type="radio" name="gender">
//       <label for="gender-female">Female</label>
//     </div>
//   </fieldset>
//   <label for="zipcode" class="rim-form__field">County
//     <div class="rim-form__select-wrapper">
//       <select name="County Select" id="county">
//         <option value="County1">County 1</option>
//         <option value="County2">County 2</option>
//         <option value="County3">County 3</option>
//         <option value="County4">County 4</option>
//         <option value="County5">County 5</option>
//         <option value="County6">County 6</option>
//       </select>
//     </div>
//   </label>
//   <fieldset class="rim-form__field">
//     <legend>Are You</legend>
//     <div class="rim-toggle">
//       <div class="rim-toggle__content">
//         <input class="rim-toggle__input" id="tall" type="radio" checked name="height">
//         <label for="tall">Tall</label>
//       </div>
//       <div class="rim-toggle__content">
//         <input class="rim-toggle__input" id="short" type="radio" name="height">
//         <label for="short">Short</label>
//       </div>
//     </div>
//   </fieldset>
//   <label for="dob" class="rim-form__field has-icon">Application Date
//     <input id="dob" type="date" placeholder="DD/MM/YYYY">
//     <i class="fas fa-calendar-alt text-skyblue background-white"></i>
//   </label>
//   <div class="rim-form__field rim-form__button-group">
//     <button class="button button--post button--lg">Quote Now</button>
//   </div>
// </form>
//
// Styleguide Forms


fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: auto;
  
  &:checked + label {
    font-weight: 600;

    &:after {
      transform: scale(1);
    }
  }

  + label {
    color: map-get($greyscale, 'base');
    cursor: pointer;
    display: inline-block;
    font-size: map-get($font-percentage, 'md');
    font-weight: 400;
    height: 1rem;
    line-height: 1.2;
    margin-right: $spacer;
    margin-top: $spacer * .75;
    padding-left: $spacer * 1.5;
    position: relative;
    vertical-align: baseline;

    &:before,
    &:after {
      position: absolute;
      display: inline-block;
    }

    &:before {
      border: 1px solid map-get($greyscale, 'base');
      border-radius: 50%;
      content: '';
      left: 0;
      top: -.0625rem;
      @include square(1rem);
    }

    &:after {
      transform: scale(0);
      transition: transform $duration ease;
    }
  }
}

input[type="checkbox"] {

  + label {

    &:after {
      color: map-get($greyscale, 'base');
      content: '\f00c';
      font-family: "Font Awesome 5 Pro";
      font-size: map-get($font-percentage, 'xs');
      font-weight: 900;
      left: .1875rem;
      top: .0625rem;
    }
  }
}

input[type="radio"] {

  &:checked + label {
    cursor: default;
  }

  &.rim-form__radio {

    + label {

      &:after {
        background-color: map-get($greyscale, 'base' );
        border-radius: 50%;
        content: '';
        left: .1875rem;
        top: .125rem;
        @include square(.75rem);
      }
    }
  }
}

.rim-form {
  $self: &;
  color: map-get($greyscale, 'light' );
  display: flex;
  flex-flow: row wrap;

  &--stacked {
    flex-flow: column;
    
    #{ $self }__field {
      margin-left: 0;
      margin-right: 0;
      max-width: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    #{ $self }__button-group {
      justify-content: center;

      button {
        max-width: none;
      }
    }

    textarea {
      min-height: 8rem;
    }
  }

  &.rim-form--light {
    color: map-get($greyscale, 'white' );

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="textarea"],
    input[type="tel"],
    input[type="password"],
    input[type="number"]
    textarea,
    select {
      border-bottom-color: map-get($greyscale, 'white' );
      color: map-get($greyscale, 'white' );

      &::placeholder {
        color: map-get($greyscale, 'white' );
      }
    }

    input[type="checkbox"],
    input[type="radio"] {

      + label {
        color: map-get($greyscale, 'white');
  
        &:before {
          border: 1px solid map-get($greyscale, 'white');
        }
      }
    }
    
    input[type="checkbox"] {

      + label {
  
        &:after {
          color: map-get($greyscale, 'white');
        }
      }
    }

    textarea {
      border-color: map-get($greyscale, 'white' );
    }

    #{ $self }__select-wrapper { 

      &:after {
        border-color: map-get($greyscale, 'white' );
      }
    }
  }

  &__field {
    flex: 1 1 auto;
    font-size: map-get($font-percentage, 'sm');
    margin: 0 map-get($spacers, 2) map-get($spacers, 4);
    max-width: 15.625rem;

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="textarea"],
    input[type="tel"],
    input[type="password"],
    input[type="number"]
    textarea,
    #{ $self }__select-wrapper,
    #{ $self }__option-group {
      margin-top: map-get($spacers, 2);
      width: 100%;
    }

    &.has-icon {
      padding-left: $spacer;
      position: relative;

      i {
        bottom: .5rem;
        font-size: map-get($font-percentage, 'md');
        left: 0;
        position: absolute;
      }
    }

    &--full {
      max-width: none;
    }
  }

  &__option-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__button-group {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;

    button {
      flex-grow: 1;
      max-width: 14.375rem;
    }
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="textarea"],
  input[type="tel"],
  input[type="password"],
  input[type="number"]
  textarea,
  select {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: map-get($greyscale, 'light' );
    box-sizing: border-box;
    color: map-get($greyscale, 'base' );
    display: block;
    font-family: map-get($fonts, 'base');
    font-size: map-get($font-percentage, 'md');
    height: 2rem;
    padding: map-get($spacers, 1) 0;

    &::placeholder {
      color: map-get($greyscale, 'base' );
    }

    &:focus {
      outline: none;
      border-bottom-color: map-get($greyscale, 'light' );
      box-shadow: 0 0 5px 0 map-get($greyscale, 'light' );
      transition: box-shadow $duration, border-color $duration ease-in-out, border-width $duration ease;
    }
  }

  textarea {
    border-color: map-get($greyscale, 'light' );
    padding: map-get($spacers, 1);
  }

  &__select-wrapper {
    min-width: 9.375rem;
    position: relative;

    &:after {
      border: 1px solid map-get($greyscale, 'base' );
      border-width: 0 0 1px 1px;
      content: '';
      height: .3rem;
      pointer-events: none;
      position: absolute;
      right: .3rem;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);
      width: .3rem;
    }
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: map-get($spacers, 1) $spacer map-get($spacers, 1) 0;
    width: 100%;
  }
}

// Togles
// ------
.rim-toggle {
  border: 1px solid lighten(map-get($greyscale, 'light'), $hue-threshold * 2);
  border-radius: map-get($radius, 'button');
  display: flex;
  justify-content: space-between;
  margin-top: map-get($spacers, 2);
  padding: map-get($spacers, 1);

  &__content {
    border-radius: map-get($radius, 'button');
    flex: 1 1 auto;
    font-size: map-get($font-percentage, 'sm');
    overflow: hidden;
    position: relative;
  }

  input.rim-toggle__input {

    + label {
      color: map-get($greyscale, 'base');
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: map-get($spacers, 1) map-get($spacers, 2);
      padding-left: $spacer * 1.25;

      &:before {
        border: none;
        content: '\f00c';
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        visibility: hidden;
      }

      &:after {
        content: '';
        background-color: map-get($greyscale, 'white' );
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: none;
        z-index: -1;
      }
    }

    &:checked + label {
      color: map-get($greyscale, 'white' );
      font-weight: inherit;

      &:before {
        opacity: 1;
        visibility: visible;
      }

      &:after {
        background-color: map-get($platform-colors, 'link' );
      }
    }
  }
}


// Pill type filter group
// ----------------------
.filter-group {
  display: flex;
  flex-flow: row wrap;
  margin-left: -map-get($spacers, 1);
  width: calc(100% + map-get($spacers, 1) * 2);

  input[type="checkbox"].filter-group__filter {    

    + label {
      background-color: map-get($greyscale, 'light' );
      border-radius: map-get($radius, 'button');
      color: map-get($greyscale, 'white');
      display: flex;
      flex: 1 1 auto;
      height: 100%;
      justify-content: center;
      margin: map-get($spacers, 1);
      max-width: 5rem;
      padding: map-get($spacers, 2) $spacer * 1.5;
      transition: $transitions;

      &:before {
        display: none;
      }

      &:after {
        color: map-get($greyscale, 'white');
        opacity: 0;
        top: 50%;
        transform: translate(50%, -50%);
        transition: visibility $duration ease, opacity $duration ease;
        visibility: hidden;
      }
    }

    &:checked + label {
      background-color: map-get($platform-colors, 'link' );
      font-weight: 400;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

input[type="checkbox"].pill-filter, input[type="radio"].pill-filter {

  + label {
    background-color: map-get($greyscale, 'white');
    border-radius: map-get($radius, 'button');
    color: map-get($platform-colors, 'link');
    border: 1px solid map-get($platform-colors, 'link');
    height: auto;
    justify-content: center;
    margin: .25rem;
    padding: map-get($spacers, 2) 1.5rem;
    transition: $transitions;
    i {
      font-size: map-get($font-percentage, 'xs');
    }

    &:before {
      display: none;
    }

    &:after {
      color: map-get($greyscale, 'white');
      left: .5rem;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: visibility $duration ease, opacity $duration ease;
      visibility: hidden;
    }
  }

  &:checked + label {
    background-color: map-get($platform-colors, 'link' );
    font-weight: 400;
    color: map-get($greyscale, 'white');

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
