// Grid
//
// This example contains a grid of cards. This grid is responsive
// and works well for examples like this where you need multiple blocks of content.
//
// Markup:
// <div class="rim-block-grid">
//   <div class="rim-card alert">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-red">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card alert completed">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-red">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Training</h2>

//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-olive">
//             <i class="fas fa-check text-olive"></i>
//           </div>
//           <p class="check-circle__status">Completed</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">New Agent Orientation</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-olive">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-olive">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Grid

// Block Grid
.rim-block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-gap: $spacer;
}
