* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.platform {
  background-color: map-get($greyscale, 'lighter');
  display: grid;
  grid-template-rows: $menu-height auto;
  grid-template-columns: 2fr 6fr;

  main {
    grid-row-start: 2;
  }
}

// flex and positioning
.platform {
  .aside-tab {
    background: map-get($greyscale, 'white');
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid map-get($greyscale, 'light-mid');
    color: map-get($greyscale, 'base');
    top: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
    left: 24vw;
    margin-left: -.2rem;
    padding: .5rem;
    position: fixed;
    transition: $transitions;
    z-index: -1;
    &:hover {
      color: map-get($brand-colors, 'salmon');
    }
  }
  &.toggle {
    aside {
      margin-left: -20vw;
      .aside-tab {
        left: 4vw;
      }
    }
    main {
      margin-left: 5vw;
      width: 95vw;
    }
  }

  aside {
    margin-top: $menu-height;
    position: fixed;
    transition: $transitions;
    width: 25vw;
    z-index: 50;
  }
  main {
    margin-left: 25vw;
    width: 75vw;
    transition: $transitions;
    .crm-view_item {
      padding: map-get($spacers, 4);
    }
  }
}

.login {
  aside {
    position: fixed;
    height: 100vh;
    width: 40vw;
    z-index: 50;
  }
  main {
    margin-left: 40vw;
    width: 60vw;
  }
}



// Grid
//
// This example contains a grid of cards. This grid is responsive
// and works well for examples like this where you need multiple blocks of content.
//
// Markup:
// <div class="rim-block-grid">
//   <div class="rim-card alert">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-red">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card alert completed">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-red">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Training</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-olive">
//             <i class="fas fa-check text-olive"></i>
//           </div>
//           <p class="check-circle__status">Completed</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">New Agent Orientation</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card warning">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-skyblue">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-olive">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="rim-card">
//     <div class="rim-card__header">
//       <div class="rim-card__group">
//         <div class="pill--circle background-olive">
//           <i class="fas fa-bell font-xl text-white"></i>
//         </div>
//         <h2 class="rim-card__title rim-card__title--normal">Business Meeting</h2>
//       </div>
//       <div class="rim-card__header-actions">
//         <a href="#" class="rim-card-action" role="button" aria-label="Remove">
//           <i class="fas fa-trash-alt" aria-hidden="hidden"></i>
//         </a>
//         <a href="#" class="rim-card-action" role="button" aria-label="Edit">
//           <i class="fas fa-edit" aria-hidden="hidden"></i>
//         </a>
//       </div>
//     </div>
//     <div class="rim-card__content">
//       <p>
//         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//       </p>
//     </div>
//     <div class="rim-card__footer">
//       <div>
//         <p class="mb-2">
//           <i class="fas fa-calendar-alt mr-2 text-skyblue"></i><time datetime="2019-05-10">10 May 2019</time>
//         </p>
//         <p>
//           <i class="fal fa-clock mr-2 text-skyblue"></i><time datetime="13:00">1:00 PM</time>
//         </p>
//       </div>
//       <div>
//         <div class="check-circle">
//           <div class="pill pill--circle text-light">
//             <i class="fas fa-check"></i>
//           </div>
//           <p class="check-circle__status">Complete</p>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Weight: 3
//
// Styleguide Components.Grid

// Block Grid
.rim-block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-gap: $spacer;
}
