@use "config";
@use "mixins";

// Image Round
//
// Circular pills can also have images.
//
// Markup:
// <div class="image--round-small background-navy">
//   <img src="site-assets/stylesheets/svg/ritter_white_logo.svg" alt="horse">
// </div>
// <div class="image--round-small">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
// <div class="image--round-medium">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
// <div class="image--round-large">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
//
// Styleguide Components.ImageRound

.image {
  &--round {
    @each $size, $radius in config.$image-size {
      &-#{$size} {
        @include mixins.square($radius);
        @extend %flex-center;
        @extend %basic-circle;
        display: inline-flex;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
