@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

// Image Round
//
// Circular pills can also have images.
//
// Markup:
// <div class="image--round-small background-navy">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty mountain">
// </div>
// <div class="image--round-small">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
// <div class="image--round-medium">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
// <div class="image--round-large">
//   <img src="https://images.unsplash.com/photo-1565191999001-551c187427bb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="pretty">
// </div>
//
// Styleguide Components.ImageRound

.image {
  &--round {
    @each $size, $radius in config.$image-size {
      &-#{$size} {
        @extend %flex-center;
        border-radius: map.get(variables.$radius, 'round');
        display: inline-flex;
        max-width: $radius;
        max-height: $radius;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          padding-top: 100%;
        }

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
