@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";
@use "sass:math";

// Info Box
//
// Click the button to toggle the info box.
// 
// <div class="message message--warning" data-header="">
//   <p>If you need an info box on the left side of the window, you may want to add the modifier class of <code>info-box--left</code> to your info-box, to ensure that the content doesn't open outside of the viewport.</p>
// </div>
//
// Markup:
// <div class="block-container blocks tablet-up-6">
// <div class="block">
// <div class="info-box">
//   <button class="button button--secondary toggle-hidden" role="button" aria-label="Toggle">
//     <i class="pi-filter" aria-hidden="hidden"></i>
//   </button>
//   <div class="info-box__content hidden">
//     <button class="button info-box__close">
//       Close <i class="pi-times" aria-hidden="hidden"></i>
//     </button>
//     <form action="" class="block-container block-mb-4 form">
//       <label for="dob" class="block form__field has-icon">Birthday
//         <input id="dob" type="date" placeholder="DD/MM/YYYY">
//         <i class="pi-calendar text-skyblue background-white"></i>
//       </label>
//       <fieldset class="block form__field">
//         <legend>Please Choose</legend>
//         <div class="toggle">
//           <div class="toggle__content">
//             <input class="toggle__input" id="smoking" type="radio" checked name="rate">
//             <label for="smoking">This one</label>
//           </div>
//           <div class="toggle__content">
//             <input class="toggle__input" id="non-smoking" type="radio" name="rate">
//             <label for="non-smoking">That one</label>
//           </div>
//         </div>
//       </fieldset>
//       <fieldset class="block form__field">
//         <legend>Also Choose</legend>
//         <div class="toggle">
//           <div class="toggle__content">
//             <input class="toggle__input" id="Single" type="radio" checked name="household">
//             <label for="Single">Red Fish</label>
//           </div>
//           <div class="toggle__content">
//             <input class="toggle__input" id="household" type="radio" name="household">
//             <label for="household">Blue Fish</label>
//           </div>
//         </div>
//       </fieldset>
//       <fieldset class="block form__field">
//         <legend id="radio-heading">Pick Some Letters</legend>
//         <div class="block-container" role="radiogroup" aria-labelledby="radio-heading">
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="a" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> A
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="B" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> B
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="C" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> C
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="D" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> D
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="F" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> F
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="G" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> G
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="Hi-F" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> Hi-F
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="K" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> K
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="L" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> L
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="M" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> M
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="N" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> N
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="All" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> All
//             </spann>
//           </div>
//         </div>
//       </fieldset>
//       <div class="form__field form__button-group">
//         <button class="button button--post button--lg">Submit</button>
//       </div>
//     </form>
//   </div>
// </div>
// </div>
// <div class="block">
// <div class="info-box info-box--left">
//   <a href="#" class="toggle-hidden" aria-label="Toggle">Text Link - Left info box</a>
//   <div class="info-box__content hidden">
//     <button class="button info-box__close">
//       Close <i class="pi-times" aria-hidden="hidden"></i>
//     </button>
//     <form action="" class="block-container block-mb-4 form">
//       <label for="dob" class="block form__field has-icon">Birthday
//         <input id="dob" type="date" placeholder="DD/MM/YYYY">
//         <i class="pi-calendar text-skyblue background-white"></i>
//       </label>
//       <fieldset class="block form__field">
//         <legend id="radio-heading">Pick Some Letters</legend>
//         <div class="block-container" role="radiogroup" aria-labelledby="radio-heading">
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="a" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> A
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="B" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> B
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="C" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> C
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="D" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> D
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="F" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> F
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="G" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> G
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="Hi-F" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> Hi-F
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="K" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> K
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="L" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> L
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="M" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> M
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="N" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> N
//             </span>
//           </div>
//           <div class="block-3 my-2 px-1">
//             <span class="pill background-light text-white flex--align-center" id="All" tabindex="0" role="radio" aria-checked="false">
//               <i class="pi-circle"></i> All
//             </spann>
//           </div>
//         </div>
//       </fieldset>
//       <div class="form__field form__button-group">
//         <button class="button button--post button--lg">Submit</button>
//       </div>
//     </form>
//   </div>
// </div>
// </div>
// </div>
//
// Styleguide Components.info









@mixin info-box {
  $self: &;
  position: relative;

  &__content {
    background-color: map.get(variables.$greyscale, 'white');
    border: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
    box-shadow: 0 1rem 2rem rgba(map.get(variables.$greyscale, 'black'), .4);
    margin-top: variables.$spacer;
    width:100%;
    @include mixins.breakpoint(tablet, min) {
      width:20rem;
    }
    padding: map.get(variables.$spacers, 5) map.get(variables.$spacers, 4);
    position: absolute;
    z-index: 50;
    top:100%;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 12px 8px;
      border-color: transparent transparent map.get(variables.$greyscale, 'white') transparent;
      top: -12px;
      left:0;
      margin:0 map.get(variables.$spacers, 2);
      z-index:1;
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 14px 10px;
      border-color: transparent transparent color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
      top: -14px;
      left:-2px;
      margin:0 map.get(variables.$spacers, 2);
      z-index: 0;
    }
    &.content--right {
      /* for use if the button is affixed to the right side of the screen with nothing to buffer it */
      &:before {
        left:auto;
        right:1px;
      }
      &:after{
        left:auto;
        right:-1px;
      }
    }
  }

  &__close {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }
}

.pui-info-box {
  @include info-box;
}

.info-box {
  @include info-box;
}
