// Content Grid
// 
// So far the only instance where this layout is needed is for pages that contain a Notes module.
// This layout uses `css grid`. All of the content on the page must be nested inside an element with 
// the class `rim-content-grid`. From here, the heading of the page needs the class `rim-content-grid__heading`.
// The main content needs the class `rim-content-grid__content`, where the side content, in this case
// the Notes module, needs `rim-content-grid__side-content`.
// 
// `rim-content-grid`, by itself, will span the the width of all of the columns within the grid. In order to get
// page to fit with `rim-content-grid__side-content`, you need to add the class `has-side-content` to 
// `rim-content-grid`.
// 
// Below `1800px` or our `desktop` breakpoint, `rim-content-grid__content` will still span the entire width even if
// `has-side-content` is applied. This is because the notes module is off the screen below this screen width but 
// visible at higher resolutions.
// 
// **Note:** Do not use the `presentation-only` class on the container. That is specific to the testing environment.
// 
// 
// Markup:
// <div class="rim-content-grid has-side-content presentation-only">
//   <h1 class="rim-content-grid__heading text--center">Contracts</h1>
//   <div class="rim-content-grid__content">
//     <div class="rim-card">
//       <div class="block-container flex--justify-end">
//         <div class="block block-2">
//           <button class="button button--secondary open-notes">
//             <i class="fal fa-sticky-note text-white"></i>
//           </button>
//         </div>
//       </div>
//       <table>
//         <thead>
//           <tr>
//             <th>Company</th>
//             <th>Contact</th>
//             <th>Country</th>
//           </tr>
//         </thead>
//         <tbody>
//           <tr>
//             <td data-label="Company">
//               Alfreds Futterkiste
//             </td>
//             <td data-label="Contact">
//               Maria Anders
//             </td>
//             <td data-label="Country">
//               Germany
//             </td>
//           </tr>
//           <tr>
//             <td data-label="Company">
//               Centro comercial Moctezuma
//             </td>
//             <td data-label="Contact">
//               Francisco Chang
//             </td>
//             <td data-label="Country">
//               Mexico
//             </td>
//           </tr>
//           <tr>
//             <td data-label="Company">
//               Ernst Handel
//             </td>
//             <td data-label="Contact">
//               Roland Mendel
//             </td>
//             <td data-label="Country">
//               Austria
//             </td>
//           </tr>
//           <tr>
//             <td data-label="Company">
//               Island Trading
//             </td>
//             <td data-label="Contact">
//               Helen Bennett
//             </td>
//             <td data-label="Country">
//               UK
//             </td>
//           </tr>
//           <tr>
//             <td data-label="Company">
//               Laughing Bacchus Winecellars
//             </td>
//             <td data-label="Contact">
//               Yoshi Tannamuri
//             </td>
//             <td data-label="Country">
//               Canada
//             </td>
//           </tr>
//           <tr>
//             <td data-label="Company">
//               Magazzini Alimentari Riuniti
//             </td>
//             <td data-label="Contact">
//               Giovanni Rovelli
//             </td>
//             <td data-label="Country">
//               Italy
//             </td>
//           </tr>
//         </tbody>
//       </table>
//     </div>
//   </div>
//   <div class="rim-notes rim-notes--all">
//     <div class="rim-notes__header">
//       <div class="rim-notes__heading-wrapper">
//         <button class="button button--secondary rim-notes__new-action">
//           <i class="far fa-plus"></i>
//         </button>
//         <h2 class="rim-notes__heading">Notes</h2>
//       </div>
//       <div>
//         <button class="button rim-notes__close">Close <i class="fas fa-times"></i></button>
//       </div>
//     </div>
//     <div class="rim-notes__content">
//       <ol class="rim-notes__list">
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//       </ol>
//       <div class="rim-new-note">
//         <form action="" class="rim-form">
//           <label for="first-name" class="rim-form__field">First Name
//             <input id="first-name" type="text" placeholder="First Name">
//           </label>
//           <label for="last-name" class="rim-form__field">Last Name
//             <input id="last-name" type="text" placeholder="Last Name">
//           </label>
//           <label for="message" class="rim-form__field">Message
//             <textarea id="message" name="message" rows="10" ></textarea>
//           </label>
//           <div class="rim-form__field rim-form__button-group mb-0">
//             <button class="button button--lg rim-note__cancel-action" type="cancel">Cancel</button>
//             <button class="button button--post button--lg" type="submit">Save</button>
//           </div>
//         </form>
//       </div>
//     </div>
//   </div>
//   <div class="rim-notes rim-content-grid__side-content">
//     <div class="rim-notes__header">
//       <div class="rim-notes__heading-wrapper">
//         <button class="button button--secondary rim-notes__new-action">
//           <i class="far fa-plus"></i>
//         </button>
//         <h2 class="rim-notes__heading">Notes</h2>
//       </div>
//       <div>
//         <button class="button rim-note__all-action">View All <span>27</span> <i class="far fa-arrow-right"></i></button>
//       </div>
//     </div>
//     <div class="rim-notes__content">
//       <ol class="rim-notes__list">
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//         <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//           <div class="rim-note__inner">
//             <div class="rim-note-toggle-wrapper">
//               <div class="rim-note__header">
//                 <i class="far fa-comment-alt-lines"></i>
//                 <h3 class="rim-note__title">
//                   Tiffaney Livingston 07/08/2019
//                 </h3>
//               </div>
//               <p class="rim-note__content">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//               </p>
//             </div>
//             <div class="rim-note-toggle-wrapper--bottom">
//               <div class="rim-note__actions">
//                 <button class="rim-note__action open-note-tags" aria-label="Tags">
//                   <i class="fas fa-tags" aria-hidden="hidden"></i>
//                   <span class="sr-only">Tags</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Edit">
//                   <i class="far fa-edit" aria-hidden="hidden"></i>
//                   <span class="sr-only">Edit</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="unlock">
//                   <i class="fas fa-lock" aria-hidden="hidden"></i>
//                   <span class="sr-only">unlock</span>
//                 </button>
//                 <button class="rim-note__action" aria-label="Delete">
//                   <i class="far fa-trash-alt" aria-hidden="hidden"></i>
//                   <span class="sr-only">Delete</span>
//                 </button>
//               </div>
//               <div class="rim-note__active-tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Sales</button>
//                 </div>
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag active">Release</button>
//                 </div>
//               </div>
//               <div class="rim-note__tags">
//                 <div class="rim-note__tag-wrapper">
//                   <button class="button rim-note__tag">Production</button>
//                 </div>
//               </div>
//             </div>              
//           </div>
//           <button class="rim-note__toggle">
//             <i class="far fa-chevron-double-down"></i>
//           </button>
//         </li>
//       </ol>
//       <div class="rim-new-note">
//         <form action="" class="rim-form">
//           <label for="first-name" class="rim-form__field">First Name
//             <input id="first-name" type="text" placeholder="First Name">
//           </label>
//           <label for="last-name" class="rim-form__field">Last Name
//             <input id="last-name" type="text" placeholder="Last Name">
//           </label>
//           <label for="message" class="rim-form__field">Message
//             <textarea id="message" name="message" rows="10" ></textarea>
//           </label>
//           <div class="rim-form__field rim-form__button-group mb-0">
//             <button class="button button--lg rim-note__cancel-action" type="cancel">Cancel</button>
//             <button class="button button--post button--lg" type="submit">Save</button>
//           </div>
//         </form>
//       </div>
//     </div>
//   </div>
// </div>
// 
// Styleguide Layout.ContentGrid



.platform {
  background-color: map-get($greyscale, 'lighter');
  overflow-x: hidden;

  @supports(display: grid) {
    display: grid;
    grid-template-rows: $menu-height auto;
    grid-template-columns: 4rem 1fr;

    @include breakpoint(tablet, max) {
      grid-template-columns: 1fr;

      // add height of .today to header
      grid-template-rows: $menu-height + 3.3125rem auto;
    }
  }

  &.menu-open {
    
    aside {
      bottom: 3rem;
    }

    main {

      @include breakpoint(tablet, max) {
        overflow-x: hidden;
      }
    }
  }

  main {
    padding-left: 4rem;
    width: 100%;
    transition: $transitions;

    @supports(display: grid) {
      grid-column: 2;
      grid-row: 2;
      padding-left: 0;
      width: auto;

      @include breakpoint(tablet, max) {
        grid-column: 1;
      }
    }

    @include breakpoint(tablet, max) {
      // accounts for height of mobile menu and Help button
      padding-bottom: 6rem;
      position: relative;
      z-index: 1;
    }
  }

  aside {
    margin-top: $menu-height;
    position: fixed;
    transition: $transitions;
    margin-left: 0;
    width: 4rem;
    z-index: 50;

    @include breakpoint(tablet, max) {
      // 100% - header + today - mobile-menu-action-wrapper
      height: calc(100% - 7.8125rem - 3rem);
      bottom: -100%;
      margin-top: calc(#{$menu-height} + 3.3125rem);
      transition: $transitions;
      width: 100%;
      z-index: 2;
    }

    @supports(display: grid) {
      grid-column: 1;

      @include breakpoint(tablet, max) {
        grid-column: unset;
      }
    }
  }

  .aside-tab {
    background: map-get($greyscale, 'white');
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid map-get($greyscale, 'light-mid');
    color: map-get($greyscale, 'base');
    top: 50%;
    cursor: pointer;
    left: 4rem;
    margin-left: -1px;
    padding: .5rem;
    position: fixed;
    transition: $transitions;
    z-index: -1;

    @include breakpoint(tablet, max) {
      display: none;
    }

    &:hover {
      color: map-get($brand-colors, 'salmon');
    }
  }
}

// flex and positioning
.platform {
  &.toggle {
    @supports(display: grid) {
      grid-template-columns: 25vw 1fr;

      @include breakpoint(tablet, max) {
        grid-template-columns: 1fr;
      }
    }

    aside {
      margin-left: 0;
      width: 25vw;
      .aside-tab {
        left: 25vw;
      }
    }
    main {
      padding-left: 25vw;

      @supports(display: grid) {
        padding-left: 0;
        width: auto;

        @include breakpoint(tablet, max) {
          grid-column: 1;
        }
      }
    }
  }
}

.login {
  aside {
    position: fixed;
    height: 100vh;
    width: 40vw;
    z-index: 50;
  }
  main {
    margin-left: 40vw;
    width: 60vw;
  }
}


.rim-content-grid {
  padding: map-get($spacers, 5 ) $spacer;

  @supports (display: grid) {
    display: grid;
    grid-gap: map-get($spacers, 5 ) $spacer;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
  }  

  &__heading {
    @supports (display: grid) {
      grid-row: 1;
      grid-column: 1/13;
    }

    .has-side-content & {
      @include breakpoint(desktop, min) {
        @supports (display: grid) {
          grid-column: 1/10;
        }
      }
    }
  }

  &__content {
    @supports (display: grid) {
      grid-row: 2;
      grid-column: 1/13;
    }

    .has-side-content & {
      @include breakpoint(desktop, min) {
        @supports (display: grid) {
          grid-column: 1/10;
        }
      }
    }
  }

  &__side-content {
    @supports (display: grid) {
      @include breakpoint(desktop, max) {
        display: none;
      }

      @include breakpoint(desktop, min) {      
        align-self: baseline;
        grid-column: 10/13;
        grid-row: 2;
      }
    }
  }
}