.platform {
  background-color: map-get($greyscale, 'lighter');
  display: grid;
  grid-template-rows: $menu-height auto;
  grid-template-columns: 2fr 6fr;

  main {
    grid-row-start: 2;
  }
}

// flex and positioning
.platform {
  .aside-tab {
    background: map-get($greyscale, 'white');
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid map-get($greyscale, 'light-mid');
    color: map-get($greyscale, 'base');
    top: 50%;
    transform: translate(50%, 50%);
    cursor: pointer;
    left: 4vw;
    margin-left: -.2rem;
    padding: .5rem;
    position: fixed;
    transition: $transitions;
    z-index: -1;
    &:hover {
      color: map-get($brand-colors, 'salmon');
    }
  }
  &.toggle {
    aside {
      margin-left: 0;
      width: 25vw;
      .aside-tab {
        left: 24vw;
      }
      .today {
        height: auto;
        padding: map-get($spacers, 3);
        transform: rotate(0deg);
      }
      .crm-menu__group {
        flex-direction: row;
      }
      .crm-menu__item {
        span {
          display: flex;
        }
        img {
          left: $spacer;
          margin-bottom: $spacer / 2;
          max-width: $spacer * 4;
          max-height: map-get($spacers, 5);
          margin: 0 map-get($spacers, 2);
        }
        &.active {
          &:before {
            background-color: map-get($greyscale, 'white');
            border-radius: map-get($radius, 'button') * 100;
            content: "";
            height: 26px;
            width: 26px;
            position: absolute;
            right: -.8rem;
            z-index: 5;
          }

          &:after {
            color: map-get($brand-colors, 'salmon');
            content: "\f058";
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            font-size: map-get($font-percentage, 'xxl');
            position: absolute;
            right: -(map-get($spacers, 3));
            z-index: 10;
          }

        }
      }
    }
    main {
      margin-left: 25vw;
      width: 75vw;
    }
  }

  aside {
    margin-top: $menu-height;
    position: fixed;
    transition: $transitions;
    margin-left: 0;
    width: 5vw;
    z-index: 50;
  }
  main {
    margin-left: 5vw;
    width: 95vw;
    transition: $transitions;
    .crm-menu__item {
      padding: map-get($spacers, 4);

    }
  }
}

.login {
  aside {
    position: fixed;
    height: 100vh;
    width: 40vw;
    z-index: 50;
  }
  main {
    margin-left: 40vw;
    width: 60vw;
  }
}
