@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

// Holy Grail
// 
// Or a flex-grail perhaps?
// 
// 
// Markup:
// <iframe src="flex-grail.html" width="100%" height="1000px" style="border: none"></iframe>
// 
// ``` html
// <body class="flex flex--column">
//   <header class="py-6 px-3 background-navy flex--center-content">
//     <h1 class="text-white">Header</h1>
//   </header>
//   <main class="block-container flex--grow">
//     <aside class="block block-lg-tablet-2 background-red flex--center-content">
//       <h1 class="text-white">Side Menu</h1>
//     </aside>
//     <section class="block block-lg-tablet-8 flex--center-content">
//       <h1 class="text-base">Main Content</h1>
//     </section>
//     <aside class="block block-lg-tablet-2 background-red flex--center-content">
//       <h1 class="text-white">Aside</h1>
//     </aside>
//   </main>
//   <footer class="py-6 px-3 background-blue flex--center-content">
//     <h1 class="text-white">Footer</h1>
//   </footer>
// </body>
// ```
// 
// Styleguide Layout.HolyGrail


.login {
  aside {
    position: fixed;
    height: 100vh;
    width: 40vw;
    z-index: 50;
  }
  main {
    margin-left: 40vw;
    width: 60vw;
  }
}

