// Lists
//
// Markup:
// <ul class="post-list post-list__inline">
//   <li class="post-item">This is an inline list item.</li>
//   <li class="post-item">This is an inline list item.</li>
//   <li class="post-item">This is an inline list item.</li>
// </ul>
// <br>
// <ul class="post-list">
//   <li class="post-item">This is a list item.</li>
//   <li class="post-item">This is a list item.</li>
//   <li class="post-item">This is a list item.</li>
// </ul>
// <br>
// <ul class="post-list post-list--arrow">
//   <li class="post-item">This is a list item with a leading arrow.</li>
//   <li class="post-item">This is a list item with a leading arrow.</li>
//   <li class="post-item">This is a list item with a leading arrow.</li>
// </ul>
// <br>
// <p class="mb-2">rim-list is a simplified list that strips the <em>list-style-type</em>, <em>margin</em>, and <em>padding</em>.</p>
// <ul class="rim-list">
//   <li>This is a rim-list item.</li>
//   <li>This is a rim-list item.</li>
//   <li>This is a rim-list item.</li>
// </ul>
// <br>
// <div class="mt-4">
//   <p class="mb-2">You can have a bordered list by adding the <em>rim-list--bordered</em> modifier. Be sure to add the class <em>rim-list__item</em> to the li.</p>
//   <ul class="rim-list rim-list--bordered">
//     <li class="rim-list__item">This is a rim-list item.</li>
//     <li class="rim-list__item">This is a rim-list item.</li>
//     <li class="rim-list__item">This is a rim-list item.</li>
//   </ul>
// </div>
//
// Styleguide Components.Lists

ul {
  margin: 0;
  padding: 0 0 0 $spacer;

  li {
    margin: 0 0 map-get($spacers, 2);
  }
}

.post {

  &-list {
    list-style: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    @include breakpoint(desktop, max) {
      margin: 0;
    }

    &__inline {
      display: flex;
      flex-wrap: wrap;
    }

    &--arrow {
      margin: 0 $spacer;
      padding: 0 0 0 map-get($spacers, 4);
      .post-item {
        &:before {
          color: map-get($brand-colors, 'salmon');
          content: '\f30b';
          display: inline-block;
          font-family: 'Font Awesome 5 Pro';
          font-weight: 900;
          left: -(map-get($spacers, 4));
          position: absolute;
          transform: rotate(30deg);
        }
      }
    }
  }

  &-item {
    margin: 0 0 $spacer;
    padding: 0 0 $spacer;
    position: relative;

    &:not(:last-of-type) {
      border-bottom: 1px solid map-get($greyscale, 'lighter');
    }

    &__duration {
      color: map-get($greyscale, 'light');
      font-size: map-get($font-percentage, 'sm');
      margin-bottom: map-get($spacers, 1);

      &:before {
        content: '\f017';
        font-family: 'Font Awesome 5 Pro';
        margin: 0 map-get($spacers, 2) 0 0;
      }
    }

    &__title {
      margin-bottom: map-get($spacers, 1);
    }

    &__link {
      font-size: map-get($font-percentage, 'sm');
      font-weight: bold;
    }
  }
}

.image-link-list {
  padding: 0;
  list-style: none;

  li {
    width: 100%;

    .image-link {
      background-color: map-get($brand-colors, 'med-blue');
      display: block;
      position: relative;

      img {
          height: auto;
          width: 100%;
          max-width: 100%;
          opacity: .5;
      }

      &--video {
        position: relative;

        &:before {
          background: rgba(0, 0, 0, .3);
          content: '';
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 1;
        }

        &:after {
          content: '\f144';
          color: map-get($greyscale, 'white');
          font-family: 'Font Awesome 5 Pro';
          font-size: map-get($font-percentage, 'lg') * 2;
          font-weight: 900;
          left: 50%;
          position: absolute;
          top: 50%;
          text-shadow: 0 0 .5rem map-get($greyscale, 'black');
          transform: translate(-50%, -50%);
          transition: $transitions;
          z-index: 2;
        }
        &:hover {
          &:after {
            transform: translate(-50%, -50%) scale(1.2);
            text-shadow: 0 0 1rem map-get($greyscale, 'black');
          }
        }
      }

      &-caption {
          bottom: 0;
          padding: map-get($spacers, 2);
          position: absolute;
          text-align: center;
          width: 100%;
          z-index: 5;
          @extend %flex-center;
      }
      &__clear {
        background-color: transparent;
        img {
          opacity: 1;
        }
      }
    }
  }
}


.rim-list {
  $list: &;

  list-style-type: none;
  margin: 0;
  padding: 0;

  &--bordered {
    border-top: 1px solid map-get($greyscale, 'light-mid' );

    #{$list}__item {
      border-bottom: 1px solid map-get($greyscale, 'light-mid' );
    }
  }
}
