.site-header {
  background-color: map-get($platform-colors, 'menu');
  color: map-get($greyscale, 'white');
  display: flex;
  font-size: map-get($font-percentage, 'md');
  height: $menu-height;
  position: fixed;
  width: 100%;
  z-index: 100;
  public-menu-cmp {
    width: 100%;
  }
}

.site-menu {
  $primary-color: map-get($greyscale, 'white');

  $dropdown-background: lighten(map-get($brand-colors, 'navy' ), 5%);
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;

  @include breakpoint(tablet, max) {
    position: relative;
  }

  .agent-profile__gear {
    .fa-cog {
      opacity: $opacity / 2;
    }
    &:hover {
      .fa-cog {
        opacity: 1;
        animation: spin $transitions * 4;
      }
    }
  }

  .search {
    color: $primary-color;
    flex-grow: 1;
    @extend %flex-center;

    input[type=text] {
      background: transparent;
      border: none;
      color: inherit;
      font-size: map-get($font-percentage, 'lg');
      font-weight: lighter;
      width: 100%;
      height: 100%;
      outline: none;

      &::placeholder {
        color: map-get($greyscale, 'light');
      }
    }
  }

  &__item {
    border-left: 1px solid rgba(map-get($greyscale, 'light'), .5);
    border-bottom: 1px solid transparent;
    color: $primary-color;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    font-size: map-get($font-percentage, 'sm');
    line-height: 1.5;
    padding: 0 map-get($spacers, 4);
    transition: $transitions;
    @extend %flex-center;

    @include breakpoint(tablet, max) {
      padding: 0 map-get($spacers, 3 );
    }

    @media (pointer: fine) {
      &:hover:not(.search) {
        background-color: $dropdown-background;
        color: $primary-color;
      }
    }

    &.has-dropdown {
      @include breakpoint(tablet, min) {
        position: relative;
      }      

      @media (pointer: fine) {
        &:hover {
          border-bottom-color: rgba(map-get($greyscale, 'light'), .5);
        }
      }
    }

    &.active {
      background-color: $dropdown-background;
      color: $primary-color;
    }
  }

  .dropdown-menu {
    background-color: $dropdown-background;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    transition: opacity ease $duration, visibility ease $duration;

    @include breakpoint(tablet, max) {
      height: calc(100vh - #{$menu-height});

      // accounts for border-top
      top: calc(#{$menu-height} + 1px);
      width: 100%;
    }

    &__item {
      border-left: 0;
      display: flex;
      justify-content: flex-start;
      padding: map-get($spacers, 3) map-get($spacers, 4);

      &:hover {
        background-color: rgba($primary-color, .3);
      }

      &:not(:first-child) {
        border-top: 1px solid rgba(map-get($greyscale, 'light'), .5);
      }

      &.profile {
        flex-direction: column;
      }

      i[class*="fa-"] {
        padding-right: map-get($spacers, 3);
        width: 1.2rem;
        @extend %flex-center;
      }
    }
  }

  .agent-profile {
    background-color: $dropdown-background;
    box-sizing: border-box;
    color: map-get($greyscale, 'white' );
    left: 0;
    padding: map-get($spacers, 3) map-get($spacers, 4) map-get($spacers, 4);
    right: auto;

    a {
      color: $primary-color;
    }

    address {
      font-style: normal;
    }

    &__heading {
      color: $primary-color;
      font-family: map-get($fonts, 'base');
      line-height: 1;
      margin-bottom: map-get($spacers, 3);
    }

    &__content-wrapper {
      display: flex;
      margin-left: -(map-get($spacers, 4));
      width: calc(100% + #{map-get($spacers, 4)} * 2);

      @include breakpoint(tablet, max) {
        flex-direction: column;
        padding: 0 map-get($spacers, 3);
      }
    }

    &__content {
      padding: 0 map-get($spacers, 4);

      @include breakpoint(tablet, max) {
        padding: map-get($spacers, 3 ) 0;
      }

      &:nth-of-type(2) {
        border-left: 1px solid map-get($brand-colors, 'med-blue' );

        @include breakpoint(tablet, max) {
          border-left: none;
          border-top: 1px solid map-get($brand-colors, 'med-blue' );
        }
      }

      .pill {
        color: $dropdown-background;
        margin-bottom: $spacer;
      }
    }

    &__info-list {
      list-style-type: none;
      padding: 0;

      &-item {
        margin-bottom: map-get($spacers, 3);
        padding-left: map-get($spacers, 4);
        position: relative;

        &:last-of-type {
          margin-bottom: 0;
        }

        i {
          left: 0;
          position: absolute;
          top: .375rem;
        }
      }
    }

    &__status-list {
      margin: 0;
    }

    &__status-list-item {
      display: flex;
      margin-bottom: map-get($spacers, 3);

      &:last-of-type {
        margin-bottom: 0;
      }

      dt {
        margin-right: map-get($spacers, 3);
        width: 3.125rem;
      }

      dd {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}

.agent-contact {
  box-sizing: border-box;
  font-size: map-get($font-percentage, 'sm');
  padding: map-get($spacers, 4);
  width: 25rem;

  .crm-form__field {
    margin-bottom: map-get($spacers, 3);
  }
}

.crm-actions {

  $primary-background: map-get($greyscale, 'white');

  background-color: $primary-background;
  grid-row-start: 2;
  // must add .crm-actions__stats height
  height: calc(100% - #{$menu-height});
}

.crm-menu {

  $primary-background: map-get($greyscale, 'white');

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: visible;

  @include breakpoint(tablet, max) {
    overflow-y: scroll;
    padding-bottom: map-get($spacers, 4 );
  }

  @include breakpoint($max-height, max-height) {
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  &__group {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

    @include breakpoint(tablet, max) {
      flex-direction: row;
    }

    .toggle & {
      flex-direction: row;
    }

    .crm-menu__item {

      @include breakpoint(tablet, max) {
        padding: $spacer 0;
  
        &[data-rim-tooltip] {
          &:hover:after {
            background-color: inherit;
            border-radius: inherit;
            content: "\f058";
            left: inherit;
            padding: 0;
          }
        }
        span {
          display: block;
        }
        img {
          left: $spacer;
          margin-bottom: $spacer / 2;
          max-width: $spacer * 4;
          max-height: map-get($spacers, 5);
          margin: 0 map-get($spacers, 2);
          &.mini-image {
            display: none;
          }
          &:not(.mini-image) {
            display: block;
          }
        }
        &:not(.active) {
          &[data-rim-tooltip]:hover:after {
            display: none;
          }
        }
        &.active {
          pointer-events: none; 
        }
      }
    }
  }

  &__item {
    align-items: center;
    background-color: $primary-background;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    border-right: 1px solid rgba(map-get($greyscale, 'light'), .3);
    border-top: 1px solid rgba(map-get($greyscale, 'light'), .3);
    color: map-get($greyscale, 'base' );
    cursor: pointer;
    display: flex;
    flex: 1;
    font-weight: normal;
    justify-content: center;
    padding: 0rem;
    width: 100%;
    transition: $transitions;
    flex-direction: column;
    justify-content: space-around;

    @media (pointer: fine) {
      &:hover {
        box-shadow: inset 0 0 0 2px map-get($brand-colors, 'salmon');
        text-shadow: 1px 0 0 currentColor;
        position: relative;
      }
    }

    &.active {
      box-shadow: inset 0 0 0 2px map-get($brand-colors, 'salmon');
      text-shadow: 1px 0 0 currentColor;
      position: relative;
    }

    // aside open at tablet + resolutions
    .toggle & {
      padding: $spacer 0;
      &[data-rim-tooltip] {
        &:hover:after {
          background-color: inherit;
          border-radius: inherit;
          content: "\f058";
          left: inherit;
          padding: 0;
        }
      }
      span {
        display: block;
      }
      img {
        left: $spacer;
        margin-bottom: $spacer / 2;
        max-width: $spacer * 4;
        max-height: map-get($spacers, 5);
        margin: 0 map-get($spacers, 2);
        &.mini-image {
          display: none;
        }
        &:not(.mini-image) {
          display: block;
        }
      }
      &:not(.active) {
        &[data-rim-tooltip]:hover:after {
          display: none;
        }
      }
      &.active {
        pointer-events: none;
        &:before {
          background-color: map-get($greyscale, 'white');
          border-radius: map-get($radius, 'button') * 100;
          content: "";
          height: 26px;
          width: 26px;
          position: absolute;
          right: -.8rem;
          z-index: 5;
        }

        &:after {
          color: map-get($brand-colors, 'salmon');
          content: "\f058";
          font-family: "Font Awesome 5 Pro";
          font-weight: bold;
          font-size: map-get($font-percentage, 'xxl');
          position: absolute;
          right: -(map-get($spacers, 3));
          z-index: 10;
        }
      }
    }

    img {
      margin-bottom: $spacer / 2;
      transition: $transitions;
      &:not(.mini-image) {
        display: none;
      }
    }
    &.active {
      &:before, &:after {
        top: 40%;
      }
    }

    img {
      max-height: $spacer * 1.5;
      transition: $transitions;
    }

    span {
      display: none;
    }
  }
}

.crm-actions__stats {  
  border-top: 1px solid rgba(map-get($greyscale, 'white'), .3);
  color: map-get($greyscale, 'white');
  display: flex;
  flex-direction: column;
  height: 100%;

  @include breakpoint(tablet, min) {
    background-color: map-get($platform-colors, 'menu');
  }

  &-header {
    color: rgba(map-get($greyscale, 'white'), .6);
    font-family: "Roboto Slab";
    font-size: map-get($font-percentage, 'xl');
    padding: map-get($spacers, 3);
    width: 100%;
    @extend %flex-center;
  }

  &-group {
    border-bottom: 1px solid rgba(map-get($greyscale, 'white'), .3);
    display: flex;
    justify-content: space-around;
    padding: map-get($spacers, 3) 0;
  }

  .crm-actions__stat {
    align-items: center;
    display: flex;
    font-size: map-get($font-percentage, 'xxl');
    font-weight: bold;
    flex-direction: column;
    text-transform: uppercase;
  }

  .crm-actions__stat-label {
    color: rgba(map-get($greyscale, 'white'), .6);
    font-size: map-get($font-percentage, 'xxs') !important;
    font-weight: normal;
    text-align: center;
  }

  .today {
    height: 12rem;
    transform: rotate(-90deg);
    transition: $transitions;
    white-space: nowrap;
    @extend %flex-center;

    @media (max-height: 600px) {
      display: none;
    }

    @include breakpoint(tablet, max) {
      background-color: map-get($platform-colors, 'menu');
      border-top: 1px solid rgba(map-get($greyscale, 'white'), .3);
      height: auto;
      left: 0;
      padding: map-get($spacers, 3);
      position: fixed;
      right: 0;
      top: 4.5rem;
      transform: rotate(0deg);
    }

    .toggle & {
      height: auto;
      padding: map-get($spacers, 3);
      transform: rotate(0deg);
    }
  }
}

.mobile-menu-action-wrapper {
  background-color: map-get($brand-colors, 'navy' );
  bottom: 0;
  height: 3rem;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;

  @include breakpoint(tablet, min) {
    display: none;
  }
}

.mobile-menu-action {
  background-color: map-get($brand-colors, 'navy' );
  border-radius: 50%;
  box-shadow: 0 0 0 .3rem map-get($greyscale, 'white' );
  color: map-get($greyscale, 'white' );
  cursor: pointer;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transition: $transitions;
  transform: translate(-50%, -50%);
  top: 0;
  @extend %flex-center;
  @include square(3.5rem);

  @include breakpoint(tablet, min) {
    display: none;
  }

  .menu-open & {
    background-color: map-get($brand-colors, 'salmon');
  }

  i {
    font-size: map-get($font-percentage, 'xl' );
  }

  &__copy {
    font-size: map-get($font-percentage, 'xxs' );
    text-transform: uppercase;
  }
}



// Icon Menu
// 
// When you need a horizontal list of icons, look no further than "Icon Menu". Use the mark up below
// to get the list you want. Be sure to use the specific `icon-menu` classes. With this strcuture you have
// the freedom to use any icon you want and make that icon change to whatever color you want on hover.
// Simpy change the `<icon>` class to the desired font-awesome icon you want. Then, add the `text-{color}--hover`
// class to the `icon-menu__action`. To see a list of available hover colors [click here](/section-typography.html#kssref-typography-utilities-color).
// 
// Be sure to always wrap the font icon in another element. We don't want to have the click event be on the `<icon>` itself.
// 
// You can add as many icons as you'd like. 
// 
// Markup:
// <div class="icon-menu">
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-negative--hover" role="button">
//       <i class="fas fa-trash-alt" focusable="false" aria-hidden="true"></i>
//     </a>
//   </div>
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-positive--hover" role="button">
//       <i class="fas fa-edit" focusable="false" aria-hidden="true"></i>
//     </a>
//   </div>
// </div>
// <div class="my-3"></div>
// <div class="icon-menu">
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-negative--hover" role="button">
//       <i class="fas fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-positive--hover" role="button">
//       <i class="fas fa-edit" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action" role="button">
//       <i class="far fa-clock" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
// </div>
// <div class="my-3"></div>
// <div class="icon-menu">
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-navy--hover" role="button">
//       <i class="fas fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-violet--hover" role="button">
//       <i class="fas fa-edit" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
//   <div class="icon-menu__item">
//     <a href="#" class="icon-menu__action text-salmon--hover" role="button">
//       <i class="far fa-clock" focusable="false" aria-hidden="hidden"></i>
//     </a>
//   </div>
// </div>
// 
// Styleguide Components.IconMenu

// icon menu 
.icon-menu {
  align-items: center;
  display: flex;

  &__item {
    margin: 0 .5rem;
    position: relative;

    &::after {
      background-color: map-get($greyscale, 'light' );
      content: '';
      pointer-events: none;
      position: absolute;
      right: -.5rem;
      top: 0;
      bottom: 0;
      width: 1px;
    }

    &:first-of-type {
      margin-left: 0;
    }
  
    &:last-of-type {
      margin-right: 0;
      
      &::after {
        display: none;
      }
    }
  }

  &__action {
    color: lighten(map-get($greyscale, 'light'), 10%);
    height: 1.5rem;
    width: 2rem;
    @extend %flex-center;
  
    &:hover {
      color: map-get($error-colors, 'default' );
      transform: scale(1.1);
    }
  }
}