@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";
@use "sass:meta";
@use "sass:math";

// Site Menu
//
// Here is a simple menu. This should be used inside your site header. It would work great as a navigation menu.
// The link colors are set to inherit the color defined by the `body`. In this case, `#333`. The links have a subtle
// shadow on mouse over to give the links a nice hover effect.
// 
// The site-menu does not have a specific background-color applied but rather inherits background colors from it's parent.
// As does the dropdown menu. To learn more checkout how to apply [background colors to the menu](/section-menus.html#menus-sitemenu-background).
//
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </div>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu">
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 1</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 2</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 3</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 4</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 5</a>
//   </li>
// </ul>
// ```
// 
// <div class="my-4"></div>
//
// Weight: -1
//
// Styleguide Menus.SiteMenu


// Site Menu - Background Color
// 
// You can add a background color to your `site-menu`. This will accomplish two things. First, the background color of your
// menu will change. Second, the hover effect on the links in the menu will reflect a darker version of the background color 
// you set. The color of the links will also change based on the color of the site-menu. If the color is dark, the link color 
// will be white. If te background color is a lighter color, the link color will be `var(--dark)`. Which is currently set to
// the body color.
// 
// Markup:
// <ul class="site-menu background-navy">
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 1</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 2</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 3</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 4</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 5</a>
//   </li>
// </ul>
// <nav class="mt-4">
//   <ul class="site-menu background-yellow">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </nav>
// 
// Weight: 1
// 
// Styleguide Menus.SiteMenu.Background


// Site Menu - Background Color: no background hover
// 
// If you want to give your site menu a background color but you're not interested in the hover effect that comes with 
// adding the background utility to the site-menu, you're in luck. The site-menu will inherit the background color of 
// it's parent. So, if you wanted to make your site-menu a light grey you could wrap it in an element with the class 
// `background-lighter` and you'll get just that. This will not change the color of the menu items, however. So be sure 
// to add the necessary color modifiers where you need to. See the second code example. 
// 
// If you're going to wrap your menu in a parent element, it's probably best to use a semantic element like `nav`.
// 
// Markup:
// <nav class="background-lighter">
//   <ul class="site-menu">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </nav>
// <nav class="mt-4 background-navy">
//   <ul class="site-menu text-white">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </nav>
// 
// Weight: 2
// 
// Styleguide Menus.SiteMenu.BackgroundHover


// Site Menu - Bordered
// 
// Adding the modifier class of `site-menu--bordered` will add borders separating each menu item.
// 
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu site-menu--bordered">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </div>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu site-menu--bordered">
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 1</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 2</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 3</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 4</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 5</a>
//   </li>
// </ul>
// ```
// 
// // <div class="my-4"></div>
// 
// Weight: 3
// 
// Styleguide Menus.SiteMenu.Bordered


// Site Menu - Hover Border
// 
// Adding the class `hover-border` to your `site-menu` will give the `<a>`s in the menu a bottom border on hover.
// 
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu hover-border">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </div>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu hover-border">
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 1</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 2</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 3</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 4</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 5</a>
//   </li>
// </ul>
// ```
// 
// // <div class="my-4"></div>
// 
// Weight: 4
// 
// Styleguide Menus.SiteMenu.HoverBorder


// Site Menu - Hover Border Color
// 
// You can change the color of your border hovers by adding the modifier of `hover-border--{color}`.
// 
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu hover-border hover-border--med-blue">
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 1</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 2</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 3</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 4</a>
//     </li>
//     <li>
//       <a class="site-menu__item" href="#">Menu Item 5</a>
//     </li>
//   </ul>
// </div>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu hover-border hover-border--med-blue">
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 1</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 2</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 3</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 4</a>
//   </li>
//   <li>
//     <a class="site-menu__item" href="#">Menu Item 5</a>
//   </li>
// </ul>
// ```
// 
// // <div class="my-4"></div>
// 
// Weight: 4
// 
// Styleguide Menus.SiteMenu.HoverBorderColor


// Site Menu - Dropdown
// 
// | <i class="pi-warning text-orange"></i> NOTE: This component requires the use of JavaScript |
// | --
// 
// You can add a dropdown submenu to your site-menu. The markup for this component is pretty specific. Be sure to include the folowing classes.
// You will need a `dropdown` class wrapping 2 sibling elements, a `dropdown__trigger` and your `dropdown__content`. View the example below to 
// see how this structure works. 
// 
// By default, the dropdowns will open positioned to the left of their parent, all except for the last dropdown in the menu. 
// This will help prevent any dropdowns from opening off the page. 
// 
// The dropdowns inherit the hover states of the site-menu.
// 
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu">
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 1
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 2
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 3
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 4
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 5
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//   </ul>
// </div>
// <p class="mt-4">The dropdowns with a background utility applied. <i class="pi-arrow-down"></i></p>
// <ul class="site-menu background-navy">
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 1
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 2
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 3
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 4
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 5
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
// </ul>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu">
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 1
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 2
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 3
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 4
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 5
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
// </ul>
// <p class="mt-4">The dropdowns with a background utility applied. <i class="pi-arrow-down"></i></p>
// <ul class="site-menu background-navy">
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 1
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 2
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 3
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 4
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 5
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
// </ul>
// ```
// 
// <div class="my-4"></div>
// 
// Weight: 5
// 
// Styleguide Menus.SiteMenu.Dropdown


// Site Menu - Dropdown Alignment
// 
// | <i class="pi-warning text-orange"></i> NOTE: This component requires the use of JavaScript |
// | --
// 
// <div class="my-3"></div>
// 
// Like we mentioned above, by default, the dropdowns will open positioned to the left of their parent.
//  
// Dropdowns can be changed to open centered, or open from the right. This can be changed by adding the modifier class
// of `dropdown--centered` or `dropdown--right` to the `dropdown` class.
// 
// See the example below.
// 
// <h4 class="text--bold mb-3">Example:</h4>
// <div class="background-white">
//   <ul class="site-menu">
//     <li class="dropdown dropdown--center">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Dropdown Center
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown dropdown--right">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Dropdown Right
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 3
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 4
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 5
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//   </ul>
// </div>
// <div class="my-3"></div>
// <h4 class="mb-3">Markup:</h4>
// 
// ```html
// <ul class="site-menu">
//   <li class="dropdown dropdown--center">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Dropdown Center
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown dropdown--right">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Dropdown Right
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 3
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 4
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
//   <li class="dropdown">
//     <a href="#" class="site-menu__item dropdown__trigger">
//       Menu Item 5
//       <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//     </a>
//     <ul class="dropdown__content">
//       <li>
//         <a href="#">Dropdown Item 1</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 2</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 3</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 4</a>
//       </li>
//       <li>
//         <a href="#">Dropdown Item 5</a>
//       </li>
//     </ul>
//   </li>
// </ul>
// ```
// 
// <div class="my-4"></div>
// 
// Weight: 6
// 
// Styleguide Menus.SiteMenu.DropdownAlign


// Site Menu - Dropdowns Extras
// 
// It's important to know that the `dropdown__content` is what is being hidden within this component. If you want to add some custom
// styling, whether you use some of our utilities or a custom stylesheet, we recommend doing that on a child element inside the 
// dropwdown__content.
// 
// For example, say you wanted to increase the padding and add a border. Use a `<div>` for the `dropdown__content` and add the padding 
// and border utilities to whatever child element you use inside the dropdown, in this case a list. See the example below.
// 
// Markup:
// <div class="background-white">
//   <ul class="site-menu">
//     <li class="dropdown dropdown--center">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Dropdown Center
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <div class="dropdown__content">
//         <ul class="border border--color-navy py-4">
//           <li>
//             <a href="#">Dropdown Item 1</a>
//           </li>
//           <li>
//             <a href="#">Dropdown Item 2</a>
//           </li>
//           <li>
//             <a href="#">Dropdown Item 3</a>
//           </li>
//           <li>
//             <a href="#">Dropdown Item 4</a>
//           </li>
//           <li>
//             <a href="#">Dropdown Item 5</a>
//           </li>
//         </ul>
//       </div>
//     </li>
//   </ul>
// </div>
// 
// Weight: 7
// 
// Styleguide Menus.SiteMenu.DropdownExtra


// Site Menu - Responsive
// 
// | <i class="pi-warning text-orange"></i> NOTE: This component requires the use of JavaScript |
// | --
// 
// <div class="my-3"></div>
// The site-menu is not responsive by default. There are a couple key things you'll need to add in order to have a responsive 
// menu that drops down on smaller screen sizes.
// 
// First, you will need to wrap your `site-menu` in a `site-menu-wrapper` class. This will ensure the menu is positioned correctly.
// Seconds you will need a button to toggle the menu. Add `<button class="site-menu-mobile-action">` as a sibling preceding your `site-menu`.
// This button is displayed at the same resolution as the mobile `site-menu`. You can add position modifiers to it in order to place it 
// where you like. See the example below.
// 
// Scale your browser window to see the mobile menu.
// 
// Markup:
// <nav class="site-menu-wrapper background-skyblue flex p-2">
//   <img src="../../src/assets/images/platform-ui.svg" alt="" class="mr-4">
//   <button class="site-menu-mobile-action button--plain text-white pos-abs pin-right mr-2 pin-center-top">
//     <span class="sr-only">Toggle Navigation</span>
//     <i aria-hidden="true" focusable="false" class="pi-menu pi-xl text-navy"></i>
//   </button>
//   <ul class="site-menu">
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 1</a>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 2</a>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 3</a>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 4</a>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 5</a>
//     </li>
//   </ul>
// </nav>
// 
// Weight: 7
// 
// Styleguide Menus.SiteMenu.Responsive


// Site Menu - Responsive inner dropdown
// 
// Dropdowns can be used inside the responsive `site-menu` as well. 
// 
// Markup:
// <nav class="site-menu-wrapper background-skyblue flex p-2">
//   <img src="../../src/assets/images/platform-ui.svg" alt="" class="mr-4">
//   <button class="site-menu-mobile-action button--plain text-white pos-abs pin-right mr-2 pin-center-top">
//     <span class="sr-only">Toggle Navigation</span>
//     <i aria-hidden="true" focusable="false" class="pi-menu pi-xl text-navy"></i>
//   </button>
//   <ul class="site-menu">
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 1</a>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 2</a>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 3
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="dropdown">
//       <a href="#" class="site-menu__item dropdown__trigger">
//         Menu Item 4
//         <i class="ml-1 pi-angle-down" aria-hidden="true"></i>
//       </a>
//       <ul class="dropdown__content">
//         <li>
//           <a href="#">Dropdown Item 1</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 2</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 3</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 4</a>
//         </li>
//         <li>
//           <a href="#">Dropdown Item 5</a>
//         </li>
//       </ul>
//     </li>
//     <li class="flex flex--align-center">
//       <a href="#" class="flex--grow">Menu Item 5</a>
//     </li>
//   </ul>
// </nav>
// 
// Weight: 8
// 
// Styleguide Menus.SiteMenu.ResponsiveInner


// Fixed Header
//
// To get a fixed header you can set the desired height in the config file. The `site-header` needs the modifier, `site-header--fixed`. This is what gives the header the `position: fixed` style.
// In order to ensure that you have proper space between your header and main content, add the class `header-fixed` to the direct sibling of your `site-header`.
// We use this in this styleguide.
// 
// Your code could look something like this:
// 
// ```html
// <header class="site-header site-header--fixed">
//   Header Content Here
// </header>
// <main class="header-fixed">
//   Main content here
// </main>
// ```
// 
// <div class="my-3"></div>
//
// Styleguide Menus.Fixed

.site-header {
  // **Move to platform plugins**

  // display: flex;
  // font-family: map.get(config.$fonts, 'base');
  // flex-direction: column;

  //  > .site-menu {
  //   flex: 1 1 50%;

  //   // sets a max-height of each menu if there are 2 menus
  //   &:nth-child(2),
  //   &:nth-last-child(2) {
  //     max-height: 50%;
  //   }
  // }
  // **Move to platform plugins**

  &.site-header--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    height: config.$menu-height;
    z-index: 100;

    + .header-fixed {
      margin-top: config.$menu-height;
    }
  }
}



// **********************
// Site Menu
// **********************

$all-colors: () !default;

@if meta.type-of(config.$config-colors) == 'map' {
  $all-colors: map.merge(config.$config-colors, variables.$greyscale);
} @else {
  $all-colors: map.merge(variables.$greyscale, $all-colors);
  @warn "$config-colors is not set or empty";
}

.site-menu {
  background-color: inherit;
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }


  // default site-menu link hovers
  a {
    color: inherit;
    display: block;
    line-height: 1;
    transition: config.$transitions;
    padding: map.get(variables.$spacers, 2) map.get(variables.$spacers, 3);
  }

  &:not([class*=background-]) {

    a,
    .site-menu__item {
      @media (pointer: fine) {
        &:hover {
          &:not(.active) {
            text-shadow: 1px 0 0 currentColor;
          }
        }
      }
    
      &.active {
        text-shadow: 1px 0 0 currentColor;
      }
    }
  }


  // site-menu border on hover
  &.hover-border {

    a,
    .site-menu__item {
      position: relative;

      &:after {
        background-color: map.get(variables.$greyscale, 'dark');
        bottom: 0;
        content: '';
        height: 2px;
        left: 1rem;
        opacity: 0;
        position: absolute;
        right: 1rem;
        transition: config.$transitions;
      }

      
      @each $unit, $rem in variables.$spacers {
        &.p-#{$unit} {
          &:after {
            left: $rem;
            right: $rem;
          }
        }

        &.px-#{$unit} {
          &:after {
            left: $rem;
            right: $rem;
          }
        }

        @each $direction, $d in variables.$xy-border {
          &.p#{$d}-#{$unit} {
            &:after {
              #{$direction}: #{$rem};
            }
          }
        }
      }
  
      @media (pointer: fine) {
        &:hover {
          &:not(.active) {

            &:after {
              opacity: 1;
            }
          }
        }
      }
    
      &.active {

        &:after {
          opacity: 1;
        }
      }
    }


    .dropdown-active {

      > .dropdown__trigger {
        
        &:after {
          opacity: 1;
        }
      }
    }

    // Border hover colors
    @each $name, $color in $all-colors {
      &.hover-border--#{$name} {

        a,
        .site-menu__item {

          &:after {
            background-color: $color;
          }
        }
      }
    }
  }


  // Side border modifier
  &.site-menu--bordered {

    @media (min-width: (config.$show-mobile-menu)) {
      > a,
      .site-menu__item
      > li > a, {
        border-left: 1px solid map.get(variables.$greyscale, 'base');
      }
  
      > a:first-of-type,
      .site-menu__item:first-of-type {
        border-left: none;
      }
  
      > li:first-of-type {
  
        > a,
        .site-menu__item {
          border-left: none;
        }
      }
    }
  }


  .dropdown__content {
    left: 0;
  }

  .dropdown {
    
    // changes position of dropdowns when open
    &.dropdown--right {

      .dropdown__content {
        left: auto;
        right: 0;
      }
    }

    &.dropdown--center {

      .dropdown__content {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }


  // Color specific 
  @each $name, $color in $all-colors {
    &.background-#{$name} {
      background-color: $color !important;

      a,
      .site-menu__item {
        @if lightness($color) > 50 {
          color: map.get(variables.$greyscale, 'dark');
        } @else {
          color: map.get(variables.$greyscale, 'white');
        }
  
        &.active {
          background-color: color.adjust($color, $lightness: math.percentage(-.1));
        }
  
        @media (pointer: fine) {
          &:hover {
            &:not(.active) {
              background-color: color.adjust($color, $lightness: math.percentage(-.05));
            }
          }
        }
      }

      .dropdown-active {
        @if lightness($color) > 50 {
          color: map.get(variables.$greyscale, 'dark');
        } @else {
          color: map.get(variables.$greyscale, 'white');
        }

        > .dropdown__trigger {
          background-color: color.adjust($color, $lightness: math.percentage(-.05));
          text-shadow: none;
          
          @if lightness($color) > 50 {
            color: map.get(variables.$greyscale, 'dark');
          } @else {
            color: map.get(variables.$greyscale, 'white');
          }
        }
      }

      .dropdown__content {
        background-color: $color;
      }


      // Site menu border modifier
      &.site-menu--bordered {

        > a,
        > li > a,
        .site-menu__item {
          @if lightness($color) > 50 {
           border-color: map.get(variables.$greyscale, 'dark');
          } @else {
            border-color: map.get(variables.$greyscale, 'white');
          }
        }
      }
    }
  }
}


// Dropdown
.dropdown {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  ul,
  ol {
    list-style: none;
    padding: 0;
  }

  &.dropdown-active {

    > .dropdown__trigger {
      text-shadow: 1px 0 0 currentColor;
      
      + .dropdown__content {
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 6;
      }
    }
  }

  .dropdown__trigger {
    align-items: center;
    display: flex;
  }
  
  .dropdown__content {
    @media (min-width: (config.$show-mobile-menu)) {
      background-color: map.get(variables.$greyscale, 'white');
    }
    
    background-color: inherit;
    height: auto;
    left: 0;
    max-height: 0;
    min-width: 12rem;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: all .2s ease-in-out;
    top: 100%;
    z-index: 5;

    a {
      padding: .75rem variables.$spacer;
    }
  }
}


// *****************
// Mobile site menu
// *****************

.site-menu-wrapper {
  @media (max-width: (config.$show-mobile-menu - 1)) {
    background-color: inherit;
    position: relative;
  }

  .site-menu-mobile-action {

    @media (min-width: (config.$show-mobile-menu)) {
      display: none;
    }

    > * {
      pointer-events: none;
    }
  }

  @media (max-width: (config.$show-mobile-menu - 1)) {

    .site-menu {
      flex-direction: column;
      left: 0;
      max-height: 0;
      position: absolute;
      right: 0;
      top: 100%;
      transition: all config.$transitions ease-in-out;
      overflow: hidden;
      visibility: hidden;
      z-index: 2;
  
      &.active {
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        visibility: visible;
      }


      // Side border modifier
      &.site-menu--bordered {

        > a,
        > li > a,
        .site-menu__item {
          border-top: 1px solid;
        }

        > a:first-of-type,
        .site-menu__item:first-of-type {
          border-top: none;
        }

        > li:first-of-type {

          > a,
          .site-menu__item {
            border-top: none;
          }      
        }

        &:not([class*=background-]) {

          &.active {
            border-bottom: 1px solid;
          }
        }
      }

      .dropdown {

        .dropdown__content {
          border: none;
          position: static;
        }
      }

      // Accounts for fixed header height and max-height of open nav
      &.site-header--fixed,
      .site-header--fixed & {

        .site-menu {

          &.active {
            max-height: calc(100vh - var(--menu-height));
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}




// Icon Menu
//
// When you need a horizontal list of icons, look no further than "Icon Menu". Use the mark up below
// to get the list you want. Be sure to use the specific `icon-menu` classes. With this strcuture you have
// the freedom to use any icon you want and make that icon change to whatever color you want on hover.
// Simpy change the `<icon>` class to the desired font-awesome icon you want. Then, add the `text-{color}--hover`
// class to the `icon-menu__action`. To see a list of available hover colors [click here](/section-typography.html#kssref-typography-utilities-color).
//
// In the example below, we're using `<div>`s on the `icon-menu__action` to build the menus. You could use a `<button>` or an `<a>` to improve accessibility
// depending on exactly what you need. If you use a less semantic element like `<div>`, we would recommend adding `role="button"`.
//
// Also notice that the `pointer` class was added to those elements that do not have a `cursor: pointer` applied to them by default.
// 
// Adding `icon-menu icon-menu--vertical` creates a vertical icon menu.
//
// | <i class="fpi-warning text-orange"></i> Be sure to always wrap the font icon in another element. We don't want to have the click event be on the `<icon>` itself.|
// | ---
//
//
// You can add as many icons as you'd like.
//
//
// Markup:
// <div class="icon-menu">
//   <div class="icon-menu__item">
//     <button class="icon-menu__action button--plain text-negative--hover pointer">
//       <i class="pi-trash" aria-hidden="hidden"></i>
//     </button>
//   </div>
//   <div class="icon-menu__item">
//     <button class="icon-menu__action button--plain text-positive--hover pointer">
//       <i class="pi-edit" aria-hidden="hidden"></i>
//     </button>
//   </div>
//   <div class="icon-menu__item">
//     <button class="icon-menu__action button--plain text-red--hover pointer">
//       <i class="pi-clock" aria-hidden="hidden"></i>
//     </button>
//   </div>
// </div>
// <div class="icon-menu icon-menu--vertical">
//   <div class="icon-menu__item">
//     <button class="icon-menu__action button--plain text-negative--hover pointer">
//       <i class="pi-trash" aria-hidden="hidden"></i>
//     </button>
//   </div>
//   <div class="icon-menu__item">
//     <button class="icon-menu__action button--plain text-positive--hover pointer">
//       <i class="pi-edit" aria-hidden="hidden"></i>
//     </button>
//   </div>
// </div>
//
// Styleguide Menus.IconMenu

// icon menu
.icon-menu {
  $self: &;
  align-items: center;
  display: flex;

  &__item {
    border-right: 1px solid map.get(variables.$greyscale, 'light' );

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-right: none;
      padding-right: 0;
    }
  }

  &__action {
    color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold));
    @include mixins.square(variables.$spacer * 1.5);
    @extend %flex-center;

    &:hover {
      color: map.get(variables.$error-colors, 'default' );
      transform: scale(1.1);
    }
  }

  &--vertical {
    flex-direction: column;
    justify-content: center;
    #{$self}__item {
      border: 0;
      border-bottom: 1px solid map.get(variables.$greyscale, 'light' );
      padding: map.get(variables.$spacers, 1) 0;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
