@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

// Modal
//
// Modal default state is closed. Toggling `.modal--active` on the `.modal` will diplay the modal.
//
// `.modal__close` on the close button is also a handle for JS.
//
// Animation note: using `animated` must be placed on `.modal__inner` to maintain correct positioning.
//
// The default size of the modal is `medium`, you can use `modal--small`, `modal--large`, or `modal--full` for different sized modals.
//
// You can center a modal in the middle of the window with the modifier `modal--centered`.
//
// You may run into issues where the background scrolls while your modal is open. To prevent this behavior, add the `.modal-open` class to your body element when a modal is open. See demo below for example and note how adding the `.modal-open` class to the body on open makes the background scroll bar go away.
//
// Markup:
// <div id="default-modal" class="modal" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button modal__close" data-modal="default-modal">Close <i class="pi-times"></i></button>
//       Standard Modal
//     </div>
//     <div class="modal__content">
//       <h3>modal</h3>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//     </div>
//   </div>
// </div>
// <div id="small-modal" class="modal modal--small" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button modal__close" data-modal="small-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="centered-modal" class="modal modal--centered" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button modal__close" data-modal="centered-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="large-modal" class="modal modal--large" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button modal__close" data-modal="large-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="full-modal" class="modal modal--full" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__header">
//       <button class="button modal__close" data-modal="full-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="modal__content">
//       <h3>Full Screen Modal</h3>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//     </div>
//   </div>
// </div>
// <div class="block-container mobile-up-1 tablet-up-4 desktop-up-5 blocks px-2 mb-3">
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="default-modal">Trigger Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="small-modal">Small Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="centered-modal">Centered Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="large-modal">Large Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="full-modal">Full Screen Modal</button>
//     </div>
// </div>
//
// Styleguide Components.modal

// Dialog Modal
// 
// To make a dialog box using the modal, remove `modal__header` from the modal. The header is typically reserved for
// a modal title as well as a close button. In the case of most dialogs, the options you choose will close the modal so the 
// header can seem unecessarry. See the code example below.
// 
// Markup:
// <div id="dialog" class="modal modal--small modal--centered" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__content">
//       <p class="text--size-lg text--center">Are you sure you want to select these options?</p>
//       <div class="block-container blocks p-3"> 
//         <div class="block flex flex--justify-center">
//           <button class="button mx-2 modal__close" data-modal="dialog">
//             No
//           </button>
//           <button aria-label="" class="button button--post mx-2 modal__close" data-modal="dialog">
//             Yes
//           </button>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// <div class="block-container mobile-up-1 tablet-up-4 desktop-up-5 blocks px-2 mb-3">
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="dialog">Fire Dialog</button>
//     </div>
// </div>
// 
// Styleguide Components.modaldialog

// Message Modal
// 
// If you would like to add a message to a modal, you can add it after `modal__content`. If the message is a sibling
//  of `modal__content`, the message will be the full width of the modal as seen in the example. You can simply use
// use the message inside `modal__content` if you would like the message to have the same padding as the rest of of
//  the modal content. If you want the message to be aligned to the bottom of the modal you'll need to remove the margin
// of the message with a spacer modifier class (`my-0`, `m-0`). See the example below.
// 
// Note: This look may not be best for the larger modals. It may be better to include the message inside the `modal__content`
// container.
// 
// Markup:
// <div id="message-modal" class="modal modal--centered" tabindex="-1">
//   <div class="modal__inner animated slideInUp faster">
//     <div class="modal__content">
//       <button class="button modal__close pos-abs pin-right pin-top mr-3 mt-3" data-modal="message-modal">Close <i class="pi-times"></i></button>
//       <p class="text--size-lg text--center mt-4">Are you sure you want to select these options?</p>
//     </div>
//     <div class="message message--warning m-0">
//       <p>This is an example of a message that displays a warning but not necessarily an error.</p>
//     </div>
//   </div>
// </div>
// <div class="block-container mobile-up-1 tablet-up-4 desktop-up-5 blocks px-2 mb-3">
//     <div class="block">
//         <button class="button button--post button--lg modal__open" data-modal="message-modal">Fire Message Modal</button>
//     </div>
// </div>
// 
// Styleguide Components.modalmessage

@mixin modal {
  $header-height: 6rem;

  // print entire modal
  @media print {
    visibility: visible;
    height: 100%;
  }

  $self: &;
  background: rgba(map.get(variables.$greyscale, 'black'), .5);
  display: none;
  position: fixed;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &--active {
    display: block;
  }

  &--full {

    > #{$self}__inner {
      margin: auto;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      #{$self}__content {
        height: calc(100% - #{$header-height});
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  &--small {

    > #{$self}__inner {
      @include mixins.breakpoint(tablet, min) {
        width: 40vw;
      }
      @include mixins.breakpoint(desktop, min) {
        width: 20vw;
      }
    }
  }

  &--large {

    > #{$self}__inner {
      @include mixins.breakpoint(tablet, min) {
        width: 80vw;
      }
    }
  }

  &--centered {
    @extend %flex-center;
  }


  &__open {
    cursor: pointer;
  }

  &__inner {
    background: map.get(variables.$greyscale, 'white');
    margin: map.get(variables.$spacers, 4) auto;

    @include mixins.breakpoint(tablet, max) {
      height: auto;
      margin: auto;
      width: 100%;
    }

    @include mixins.breakpoint(tablet, min) {
      width: 65vw;
    }
    @include mixins.breakpoint(desktop, min) {
      width: 45vw;
    }
  }

  &__header {
    background-color: map.get(config.$brand-colors, 'lightblue');
    color: map.get(variables.$greyscale, 'base');
    font-family: map.get(config.$fonts, 'headline');
    height: $header-height;
    padding: 2rem;
    position: relative;
    width: 100%;

    #{$self}__close {
      position: absolute;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding: 2rem;
    position: relative;

    &--video {
      display: flex;
      height: 100%;
      padding: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
  }
}

.pui-modal {
  @include modal;
}

.modal {
  @include modal;
}

body.modal-open {
  // REF: https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/#article-header-id-0
  height: 100vh;
  overflow-y: hidden;
}
