// Modal
//
// Modal default state is closed. Toggling `.rim-modal--closed` on both the `.rim-modal--overlay` and `.rim-modal` will diplay the modal.
//
// `.rim-modal__close` on the close button is also a handle for JS.
//
// Animation note: using `animated` must be placed on `.rim-modal__inner` to maintain correct positioning.
//
// The default size of the modal is `medium`, you can use `rim-modal--small`, `rim-modal--large`, or `rim-modal--full` for different sized modals.
//
// ```html
// <div class="rim-modal--overlay rim-modal--closed"></div>
//
// <div class="rim-modal rim-modal--closed">
//     <div class="rim-modal__inner animated slideInUp faster">
//         <div class="rim-modal__header">
//             <button class="button float-right rim-modal__close">Close <i class="fas fa-times"></i></button>
//             <h2>Modal</h2>
//          </div>
//          <div class="rim-modal__content">
//             <p>Modal Content</p>
//          </div>
//     </div>
// </div>
// ```
// <div class="rim-modal--overlay rim-modal--closed"></div>
//
// <div id="default-modal" class="rim-modal rim-modal--closed ">
//   <div class="rim-modal__inner animated slideInUp faster">
//     <div class="rim-modal__header">
//       <button class="button float-right rim-modal__close" data-modal="default-modal">Close <i class="fas fa-times"></i></button>
//       <h2>Modal</h2>
//     </div>
//     <div class="rim-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
//
// <div id="small-modal" class="rim-modal rim-modal--small rim-modal--closed ">
//   <div class="rim-modal__inner animated slideInUp faster">
//     <div class="rim-modal__header">
//       <button class="button float-right rim-modal__close" data-modal="small-modal">Close <i class="fas fa-times"></i></button>
//       <h2>Modal</h2>
//     </div>
//     <div class="rim-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
//
// <div id="large-modal" class="rim-modal rim-modal--large rim-modal--closed ">
//   <div class="rim-modal__inner animated slideInUp faster">
//     <div class="rim-modal__header">
//       <button class="button float-right rim-modal__close" data-modal="large-modal">Close <i class="fas fa-times"></i></button>
//       <h2>Modal</h2>
//     </div>
//     <div class="rim-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="full-modal" class="rim-modal rim-modal--full rim-modal--closed ">
//   <div class="rim-modal__inner animated slideInUp faster">
//     <div class="rim-modal__header">
//       <button class="button float-right rim-modal__close" data-modal="full-modal">Close <i class="fas fa-times"></i></button>
//       <h2>Modal</h2>
//     </div>
//     <div class="rim-modal__content">
//       <h3>Full Screen Modal</h3>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//     </div>
//   </div>
// </div>
//
// <button class="button button--post button--lg rim-modal__open" data-modal="default-modal">Trigger Modal</button> <button class="button button--post button--lg rim-modal__open" data-modal="small-modal">Small Modal</button> <button class="button button--post button--lg rim-modal__open" data-modal="large-modal">Large Modal</button> <button class="button button--post button--lg rim-modal__open" data-modal="full-modal">Full Screen Modal</button>
//
// Styleguide Components.modal

.rim-modal {
  $self: &;
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 100%;
  width: 80vw;
  max-width: 100%;
  position: fixed;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint(tablet, min) {
    width: 65vw;
  }
  @include breakpoint(desktop, min) {
    width: 45vw;
  }
  
  &--height-auto {
    height: auto;
  }

  &--small {
    @include breakpoint(mobile, min) {
      width: 80vw;
    }
    @include breakpoint(tablet, min) {
      width: 40vw;
    }
    @include breakpoint(desktop, min) {
      width: 20vw;
    }
  }

  &--large {
    height: 70vh;
    @include breakpoint(tablet, min) {
      width: 80vw;
    }
  }

  &--full {
    height: 100vh;
    width: 100vw;
    .rim-modal__content {
      height: 100%;
      overflow-y: auto;
      padding-bottom: 6rem;
    }
  }

  &--overlay {
    background: rgba(map-get($greyscale, 'base'), .5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
  &--closed {
    display: none;
  }
  &__open {
    cursor: pointer;
  }
  &__inner {
    background: map-get($greyscale, 'white');
    height: 100%;
  }
  &__header {
    background-color: map-get($brand-colors, 'lightblue');
    padding: 2rem;
    position: relative;
    width: 100%;
    #{$self}__close {
      position: absolute;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    padding: 2rem;
    position: relative;
    &--video {
      display: flex;
      height: 100%;
      padding: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
  }
}
