@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

// Modal
//
// Modal default state is closed. Toggling `.pui-modal--closed` on both the `.pui-modal--overlay` and `.pui-modal` will diplay the modal.
//
// `.pui-modal__close` on the close button is also a handle for JS.
//
// Animation note: using `animated` must be placed on `.pui-modal__inner` to maintain correct positioning.
//
// The default size of the modal is `medium`, you can use `pui-modal--small`, `pui-modal--large`, or `pui-modal--full` for different sized modals.
//
// You can center a modal in the middle of the window with the modifier `pui-modal--centered`.
//
// You may run into issues where the background scrolls while your modal is open. To prevent this behavior, add the `.modal-open` class to your body element when a modal is open. See demo below for example and note how adding the `.modal-open` class to the body on open makes the background scroll bar go away.
//
// Markup:
// <div id="default-modal" class="pui-modal pui-modal--closed" tabindex="-1">
//   <div class="pui-modal__inner animated slideInUp faster">
//     <div class="pui-modal__header">
//       <button class="button pui-modal__close" data-modal="default-modal">Close <i class="pi-times"></i></button>
//       Standard Modal
//     </div>
//     <div class="pui-modal__content">
//       <h3>pui-modal</h3>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//     </div>
//   </div>
// </div>
// <div id="small-modal" class="pui-modal pui-modal--small pui-modal--closed" tabindex="-1">
//   <div class="pui-modal__inner animated slideInUp faster">
//     <div class="pui-modal__header">
//       <button class="button pui-modal__close" data-modal="small-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="pui-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="centered-modal" class="pui-modal pui-modal--centered pui-modal--closed" tabindex="-1">
//   <div class="pui-modal__inner animated slideInUp faster">
//     <div class="pui-modal__header">
//       <button class="button pui-modal__close" data-modal="centered-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="pui-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="large-modal" class="pui-modal pui-modal--large pui-modal--closed" tabindex="-1">
//   <div class="pui-modal__inner animated slideInUp faster">
//     <div class="pui-modal__header">
//       <button class="button pui-modal__close" data-modal="large-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="pui-modal__content">
//       <p>Modal Content</p>
//     </div>
//   </div>
// </div>
// <div id="full-modal" class="pui-modal pui-modal--full pui-modal--closed" tabindex="-1">
//   <div class="pui-modal__inner animated slideInUp faster">
//     <div class="pui-modal__header">
//       <button class="button pui-modal__close" data-modal="full-modal">Close <i class="pi-times"></i></button>
//       Modal
//     </div>
//     <div class="pui-modal__content">
//       <h3>Full Screen Modal</h3>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend convallis quam fermentum sagittis. Curabitur nec ullamcorper nibh, et rhoncus ipsum. Cras quam lacus, gravida id pharetra sit amet, eleifend vel enim. Donec non est ullamcorper tellus aliquam molestie. Morbi vitae nisi velit. Nam tincidunt justo eros, quis posuere quam condimentum ac. Curabitur mi diam, efficitur laoreet iaculis non, volutpat ac ligula. Nullam ut luctus arcu. Donec a turpis mi. Pellentesque fermentum, turpis at bibendum laoreet, lorem lorem tempor lectus, congue viverra nisi dui nec purus. Donec ultricies ut risus sit amet mollis.</p>
//     </div>
//   </div>
// </div>
// <div class="block-container mobile-up-1 tablet-up-4 desktop-up-5 blocks px-2 mb-3">
//     <div class="block">
//         <button class="button button--post button--lg pui-modal__open" data-modal="default-modal">Trigger Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg pui-modal__open" data-modal="small-modal">Small Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg pui-modal__open" data-modal="centered-modal">Centered Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg pui-modal__open" data-modal="large-modal">Large Modal</button>
//     </div>
//     <div class="block">
//         <button class="button button--post button--lg pui-modal__open" data-modal="full-modal">Full Screen Modal</button>
//     </div>
// </div>
//
// Styleguide Components.modal

.pui-modal {
  $header-height: 6rem;

  // print entire modal
  @media print {
    visibility: visible;
    height: 100%;
  }

  $self: &;
  background: rgba(map.get(variables.$greyscale, 'black'), .5);
  position: fixed;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &--closed {
    display: none;
  }

  &--full {

    > .pui-modal__inner {
      margin: auto;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    > .pui-modal__content {
      height: calc(100% - #{$header-height});
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &--small {

    > .pui-modal__inner {
      @include mixins.breakpoint(tablet, min) {
        width: 40vw;
      }
      @include mixins.breakpoint(desktop, min) {
        width: 20vw;
      }
    }
  }

  &--large {

    > .pui-modal__inner {
      @include mixins.breakpoint(tablet, min) {
        width: 80vw;
      }
    }
  }

  &--centered {
    @extend %flex-center;
  }


  &__open {
    cursor: pointer;
  }

  &__inner {
    background: map.get(variables.$greyscale, 'white');
    margin: map.get(variables.$spacers, 4) auto;

    @include mixins.breakpoint(tablet, max) {
      height: auto;
      margin: auto;
      width: 100%;
    }

    @include mixins.breakpoint(tablet, min) {
      width: 65vw;
    }
    @include mixins.breakpoint(desktop, min) {
      width: 45vw;
    }
  }

  &__header {
    background-color: map.get(config.$brand-colors, 'lightblue');
    color: map.get(variables.$greyscale, 'base');
    font-family: map.get(config.$fonts, 'headline');
    height: $header-height;
    padding: 2rem;
    position: relative;
    width: 100%;

    #{$self}__close {
      position: absolute;
      right: -1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding: 2rem;
    position: relative;

    &--video {
      display: flex;
      height: 100%;
      padding: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
    }
  }
}

body.modal-open {
  // REF: https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/#article-header-id-0
  height: 100vh;
  overflow-y: hidden;
}
