

.rim-note {
  $orange: map-get($brand-colors, 'salmon' );

  position: relative;

  &:hover {
    cursor: pointer;

    .rim-note__header i {
      color: $orange;
    }

    &:not(.note-open) {

      .rim-note__inner {
        max-width: 90%;
        transform: translate(19px, 0) scale(1.1);
      }
    }

    .rim-note__toggle {
      color: $orange;
    }
  }

  &.note-open:hover {
    cursor: default;
  }
  
  &__inner {
    overflow: hidden;
    transition: max-width $transitions, transform $transitions;

    .note-open & {
      cursor: default;
      max-width: 90%;
      transform: translate(19px, 0) scale(1.1);
    }
  }

  &__toggle {
    background-color: transparent;
    border: none;
    color: map-get($greyscale, 'light' );
    cursor: pointer;
    font-size: 100%;
    transition: all ease $transitions;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      color: $orange;
    }

    &:focus {
      outline: none;
    }

    .note-open & {
      opacity: 1;
      transform: translateX(-50%) rotate(180deg);
      visibility: visible;
    }
  }
}
