// Notes
//
// This section is all about Notes. The layout for notes uses our content grid layout. You can 
// learn more [here](/styleguide/section-contentgrid.html).
// 
// 
// Under `1800px` the Notes component will be hidden off the screen to the right. This component 
// has the class `rim-notes--all`. Upon clicking the proper action, the menu will appear from 
// the right. Above `1800px` a preview component will be displayed, taking up 3 columns in the 
// content grid. The component has the class `rim-notes`. A user can select the "View All" button 
// to have the other component slide in from the right revealing all of the notes in the list.
// 
// 
// To get the toggle animation on the `rim-notes--all` component, you just need to toggle the class `open`.
//
// Markup:
// <div class="rim-notes">
//   <div class="rim-notes__header">
//     <div class="rim-notes__heading-wrapper">
//       <button class="button button--secondary rim-notes__new-action">
//         <i class="far fa-plus"></i>
//       </button>
//       <h2 class="rim-notes__heading">Notes</h2>
//     </div>
//     <div>
//       <button class="button rim-note__all-action">View All <span>27</span> <i class="far fa-arrow-right"></i></button>
//     </div>
//   </div>
//   <div class="rim-notes__content">
//     <ol class="rim-notes__list animated">
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//     </ol>
//     <div class="rim-new-note flipInY animated closed">
//       <form action="" class="rim-form">
//         <label for="first-name" class="rim-form__field">First Name
//           <input id="first-name" type="text" placeholder="First Name">
//         </label>
//         <label for="last-name" class="rim-form__field">Last Name
//           <input id="last-name" type="text" placeholder="Last Name">
//         </label>
//         <label for="message" class="rim-form__field">Message
//           <textarea id="message" name="message" rows="10" ></textarea>
//         </label>
//         <div class="rim-form__field rim-form__button-group mb-0">
//           <button class="button button--lg rim-note__cancel-action" type="cancel">Cancel</button>
//           <button class="button button--post button--lg" type="submit">Save</button>
//         </div>
//       </form>
//     </div>
//   </div>
// </div>
// <div class="rim-notes rim-notes--all">
//   <div class="rim-notes__header">
//     <div class="rim-notes__heading-wrapper">
//       <button class="button button--secondary rim-notes__new-action">
//         <i class="far fa-plus"></i>
//       </button>
//       <h2 class="rim-notes__heading">Notes</h2>
//     </div>
//     <div>
//       <button class="button rim-notes__close">Close <i class="fas fa-times"></i></button>
//     </div>
//   </div>
//   <div class="rim-notes__content">
//     <ol class="rim-notes__list animated">
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//       <li class="rim-note" title="Last Edited by Tiffaney Livingston 07/10/2019">
//         <div class="rim-note__inner">
//           <div class="rim-note-toggle-wrapper">
//             <div class="rim-note__header">
//               <i class="far fa-comment-alt-lines"></i>
//               <h3 class="rim-note__title">
//                 Tiffaney Livingston 07/08/2019
//               </h3>
//             </div>
//             <p class="rim-note__content">
//               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//             </p>
//           </div>
//           <div class="rim-note-toggle-wrapper--bottom closed fadeInDown animated fastest">
//             <div class="rim-note__actions">
//               <button class="rim-note__action open-note-tags" aria-label="Tags">
//                 <i class="fas fa-tags" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Tags</span>
//               </button>
//               <button class="rim-note__action" aria-label="Edit">
//                 <i class="far fa-edit" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Edit</span>
//               </button>
//               <button class="rim-note__action" aria-label="unlock">
//                 <i class="fas fa-lock" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">unlock</span>
//               </button>
//               <button class="rim-note__action" aria-label="Delete">
//                 <i class="far fa-trash-alt" focusable="false" aria-hidden="hidden"></i>
//                 <span class="sr-only">Delete</span>
//               </button>
//             </div>
//             <div class="rim-note__active-tags">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Sales</button>
//               </div>
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag active">Release</button>
//               </div>
//             </div>
//             <div class="rim-note__tags closed fadeInDown animated fastest">
//               <div class="rim-note__tag-wrapper">
//                 <button class="button rim-note__tag">Production</button>
//               </div>
//             </div>
//           </div>              
//         </div>
//         <button class="rim-note__toggle">
//           <i class="far fa-chevron-double-down"></i>
//         </button>
//       </li>
//     </ol>
//     <div class="rim-new-note flipInY animated closed">
//       <form action="" class="rim-form">
//         <label for="first-name" class="rim-form__field">First Name
//           <input id="first-name" type="text" placeholder="First Name">
//         </label>
//         <label for="last-name" class="rim-form__field">Last Name
//           <input id="last-name" type="text" placeholder="Last Name">
//         </label>
//         <label for="message" class="rim-form__field">Message
//           <textarea id="message" name="message" rows="10" ></textarea>
//         </label>
//         <div class="rim-form__field rim-form__button-group mb-0">
//           <button class="button button--lg rim-note__cancel-action" type="cancel">Cancel</button>
//           <button class="button button--post button--lg" type="submit">Save</button>
//         </div>
//       </form>
//     </div>
//   </div>
// </div>
// 
// Styleguide Notes


// specific code
.rim-style-modifier__example {
  .rim-notes {
    display: block;
    width: 27rem;
  }
}

.open-notes {

  @include breakpoint(desktop, min) {
    display: none;
  }
}

.rim-notes {
  $orange: map-get($brand-colors, 'salmon' );

  background-color: map-get($platform-colors, 'notes' );
  padding: map-get($spacers, 5 ) 0 $spacer;

  &--all {
    bottom: 0;
    box-shadow: 0 -.5rem 2rem rgba(map-get($greyscale, 'black'), .5);
    display: flex;
    flex-direction: column;
    height: calc(100% - 4.5rem);
    left: unset;
    position: fixed;
    right: -30rem;
    transition: all ease-in-out .3s;
    z-index: 500;
    width: 27rem;

    &.open {
      right: 0;
    }
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid map-get($greyscale, 'light-mid' );
    display: flex;
    justify-content: space-between;
    margin: 0 map-get($spacers, 4 );
    padding-bottom: $spacer * 1.5;
  }

  &__heading-wrapper {
    align-items: center;
    display: flex;
    position: relative;
  }

  &__heading {
    color: map-get($brand-colors, 'navy' );
    margin-left: map-get($spacers, 2 );
  }

  &__content {
    height: 100%;
    position: relative;
  }

  &__list {
    list-style-type: none;
    padding: 0 map-get($spacers, 4 );

    &.closed {
      opacity: 0;
      visibility: hidden;
    }

    .rim-notes--all & {
      overflow-y: scroll;
      position: absolute;
      padding-bottom: 1rem;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
    }
  }
}

.rim-note {
  $orange: map-get($brand-colors, 'salmon' );

  border-top: 1px solid map-get($greyscale, 'light-mid' );
  display: flex;
  flex-direction: column;
  padding: map-get($spacers, 4 ) 0;
  position: relative;
  transition: $transitions;

  &:hover {
    cursor: pointer;

    .rim-note__header i {
      color: $orange;
    }

    &:not(.note-open) {

      .rim-note__inner {
        max-width: 90%;
        transform: translate(19px, 0) scale(1.1);
      }
    }

    .rim-note__toggle {
      color: $orange;
    }
  }

  &:first-of-type {
    border-top: none;
  }

  &.note-open:hover {
    cursor: default;
  }

  &__inner {
    overflow: hidden;
    padding: 0 0 1rem;
    transition: max-width $transitions, transform $transitions;

    .note-open & {
      cursor: default;
      max-width: 90%;
      transform: translate(19px, 0) scale(1.1);
    }
  }

  &__header {
    align-items: center;
    align-self: flex-start;
    display: flex;
    margin-bottom: map-get($spacers, 2 );

    i {
      color: map-get($greyscale, 'light' );
      transition: $transitions;

      .note-open & {
        color: $orange;
      }
    }
  }

  &__title {
    color: map-get($greyscale, 'light' );
    font-size: 100%;
    font-weight: 400;
    margin-left: map-get($spacers, 2 );
  }

  &-toggle-wrapper {

    &--bottom {
      display: none;
      margin-top: $spacer;

      .note-open & {
        display: block;
      }
    }
  }

  &__content {
    color: map-get($greyscale, 'base' );
    font-weight: 400;
    margin-bottom: $spacer;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__active-tags {
    display: flex;
    flex-flow: row wrap;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacer;
  }

  &__action {
    background-color: transparent;
    border: none;
    border-right: 1px solid map-get($greyscale, 'light' );
    color: map-get($greyscale, 'light' );
    cursor: pointer;
    font-size: 100%;
    padding: map-get($spacers, 1 ) $spacer;
    transition: $transitions;

    &.active {
      color: $orange;
    }

    &:hover {
      color: $orange;
    }

    &:focus {
      outline: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacer;

    &.closed {
      display: none;
    }
  }

  &__tag-wrapper {
    margin-bottom: map-get($spacers, 2 );
    padding: 0 map-get($spacers, 1 );
  }

  &__tag {
    background-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: $orange;
      color: $orange;
    }

    &.active {
      background-color: $orange;
      border-color: $orange;
      color: map-get($greyscale, 'white' );
    }
  }

  &__toggle {
    background-color: transparent;
    border: none;
    color: map-get($greyscale, 'light' );
    cursor: pointer;
    font-size: 100%;
    transition: all ease $transitions;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      color: $orange;
    }

    &:focus {
      outline: none;
    }

    .note-open & {
      opacity: 1;
      transform: translateX(-50%) rotate(180deg);
      visibility: visible;
    }
  }
}


.rim-new-note {
  margin: 0 map-get($spacers, 4 );
  padding: $spacer * 1.5 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;

  &.closed {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}