@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";
@use "sass:math";

// Pill
//
// Pills represent rounded labels throughout the platform.
// A pill can support color by adding a text or background modifier.
//
// Pills have no hover state.
//
// Styleguide Components.Pill

// Default
//
// A pill can also have a label of it's own.
// A slight variation of a pill is a straight circle with a very small amount of content.
//
// Markup:
// <div class="pill">
//   Active
// </div>
// <div class="pill text--white background--navy">
//   Active
// </div>
// <div class="pill text--white background--skyblue">
//   Active
// </div>
// <div class="pill text--white background--salmon">
//   Active
// </div>
//
// Weight: 1
// 
// Styleguide Components.Pill.Default

// Split
//
// Markup:
// <div class="pill pill--split">
//   <div class="pill__label">Left:</div>
//   <div class="pill__content">Right</div>
// </div>
// <div class="pill pill--split text--white background--peach">
//   <div class="pill__label text--brown">Left:</div>
//   <div class="pill__content">Right</div>
// </div>
// <div class="pill pill--split text--white background--navy">
//   <div class="pill__content background--salmon">Left</div>
//   <div class="pill__content background--positive">Middle</div>
//   <div class="pill__content background--skyblue">Right</div>
// </div>
//
// Weight: 2
// 
// Styleguide Components.Pill.Split

// Close
//
// Markup:
// <div class="pill">
//   Active <i class="pi-times-solid text--salmon ml-1 pointer"></i>
// </div>
//
// Weight: 3
// 
// Styleguide Components.Pill.Close

// Circle
//
// Pills can be circular. Sizes above `dot`, can have content. They come in 5 sizes, `dot`, `empty`, `pill--circle` (_default_), `pill--circle-medium`, `pill--circle-large`
//
// Markup:
// <div class="pill pill--circle-empty-dot negative"></div>
// <div class="pill pill--circle-empty-dot positive"></div>
// <div class="pill pill--circle-empty negative"></div>
// <div class="pill pill--circle-empty positive"></div>
// <div class="pill pill--circle">
//   33
// </div>
// <div class="pill pill--circle text--white background--salmon">
//   33
// </div>
// <div class="pill pill--circle-medium">
//   33
// </div>
// <div class="pill pill--circle-medium text--white background--salmon">
//   33
// </div>
// <div class="pill pill--circle-large">
//   33
// </div>
// <div class="pill pill--circle-large text--white background--salmon">
//   33
// </div>
//
// Weight: 4
// 
// Styleguide Components.Pill.Circle

// Pill Examples
// 
// You can create the depricated Pez example using pills and other utilities. 
// 
// Markup:
// <div class="mb-4">
//   <p class="mb-1 text--bold">Default Display</p>
//   <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Alaska">AK</div>
//   <div class="pill m-1 background--lighter border border--color-light text--light p-2 rounded-1" aria-label="Washington DC">DC</div>
//   <div class="pill m-1 background--skyblue border border--color-med-blue text--navy p-2 rounded-1 pointer" aria-label="Georgia">GA</div>
// </div>
// <h4 class="text--bold mb-3">Other Examples:</h4>
// <div class="block-container blocks cards mb-4 p-2">
//   <p class="block block-12 mb-1 mx-2 text--white background--navy text--bold">Choose your toppings:</p>
//   <div class="block tablet-up-6">
//     <div class="card">
//       <p class="mb-1">Meat</p>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Pepperoni">Pepperoni</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Sausage">Sausage</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer background--positive text--dark border--color-positive" aria-label="Ham">Ham</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Buffalo Chicken">Buffalo Chicken</div>
//     </div>
//   </div>
//   <div class="block tablet-up-6">
//     <div class="card">
//       <p class="mb-1">Veggies and Fruit</p>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer background--positive text--dark border--color-positive" aria-label="Onions">Onions</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Mushrooms">Mushrooms</div>
//       <div class="pill m-1 background--lighter border border--color-light text--light p-2 rounded-1" aria-label="Anchovies">Anchovies</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer background--positive text--dark border--color-positive" aria-label="Black Olives">Black Olives</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer background--positive text--dark border--color-positive" aria-label="Tomatoes">Tomatoes</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Peppers">Peppers</div>
//       <div class="pill m-1 background--light-mid border border--color-light p-2 rounded-1 pointer" aria-label="Sun-dried Tomatoes">Sun-dried Tomatoes</div>
//     </div>
//   </div>
// </div>
// <div class="block-container blocks p-2">
//   <div class="block tablet-up-4">
//     <p class="text-bold text--navy mb-1 border-b">Tags:</p>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Healthcare">Healthcare</div>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Personal Health">Personal Health</div>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Exercise">Exercise</div>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Weight Loss">Weight Loss</div>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Diet">Diet</div>
//     <div class="pill m-1 rounded-1 pointer background--lightblue text--navy px-1 py-1" aria-label="Healthy Eating">Healthy Eating</div>    
//   </div>
// </div>
// 
// Weight: 5
// 
// Styleguide Components.Pill.Examples




.pill {

  $border-radius: map.get(config.$radius, 'button');
  $primary-background: map.get(variables.$greyscale, 'white');
  $primary-color: map.get(variables.$greyscale, 'base');

  border: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
  border-radius: $border-radius;
  color: $primary-color;
  display: inline-flex;
  font-size: map.get(variables.$font-scale, 'sm');
  padding: map.get(variables.$spacers, 1) map.get(variables.$spacers, 2);

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    .pill__label {
      background-color: rgba($primary-color, .3);
      padding: map.get(variables.$spacers, 1) map.get(variables.$spacers, 2);
    }
  }

  &--circle {

    @extend %basic-circle;

    &-empty {
      @extend .pill--circle;
      padding: 0;
      &-dot {
        padding: 0;
        @include mixins.square(map.get(variables.$spacers, 2));
      }
      @include mixins.square(variables.$spacer);
    }

    &-medium {
      @extend .pill--circle;
      @include mixins.square(map.get(variables.$spacers, 4));
    }

    &-large {
      @extend .pill--circle;
      @include mixins.square(map.get(variables.$spacers, 5));
    }
  }

  &__content {
    padding: map.get(variables.$spacers, 1) map.get(variables.$spacers, 2);
    // if icon present - flex it
    i {
      display: flex;
    }
  }

  &__label {
    @extend .pill__content;
    background-color: rgba($primary-background, .3);
    font-weight: 400;
  }

}
