@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";

// Pill
//
// Pills represent rounded labels throughout the platform.
// A pill can support color by adding a text or background modifier.
//
// Pills have no hover state.
//
// Styleguide Components.Pill

// Default
//
// A pill can also have a label of it's own.
// A slight variation of a pill is a straight circle with a very small amount of content.
//
// Markup:
// <div class="pill">
//   Active
// </div>
// <div class="pill text-white background-navy">
//   Active
// </div>
// <div class="pill text-white background-skyblue">
//   Active
// </div>
// <div class="pill text-white background-salmon">
//   Active
// </div>
//
// Styleguide Components.Pill.Default

// Split
//
// Markup:
// <div class="pill pill--split">
//   <div class="pill__label">NPN:</div>
//   <div class="pill__content">123456789</div>
// </div>
// <div class="pill pill--split text-white background-peach">
//   <div class="pill__label text-brown">NPN:</div>
//   <div class="pill__content">123456789</div>
// </div>
// <div class="pill pill--split text-white background-navy">
//   <div class="pill__content background-salmon">1234589</div>
//   <div class="pill__content background-olive">345789</div>
//   <div class="pill__content background-skyblue">1289</div>
// </div>
//
// Styleguide Components.Pill.Split

// Close
//
// Markup:
// <div class="pill">
//  <div class="pill__close"><i class="fas fa-times-circle text-salmon"></i></div>
//   Active
// </div>
//
// Styleguide Components.Pill.Close

// Circle
//
// Pills can be circular. Sizes above `dot`, can have content. They come in 5 sizes, `dot`, `empty`, `pill--circle` (_default_), `pill--circle-medium`, `pill--circle-large`
//
// Markup:
// <div class="pill pill--circle-empty-dot negative"></div>
// <div class="pill pill--circle-empty-dot positive"></div>
// <div class="pill pill--circle-empty negative"></div>
// <div class="pill pill--circle-empty positive"></div>
// <div class="pill pill--circle">
//   33
// </div>
// <div class="pill pill--circle text-white background-salmon">
//   33
// </div>
// <div class="pill pill--circle-medium">
//   33
// </div>
// <div class="pill pill--circle-medium text-white background-salmon">
//   33
// </div>
// <div class="pill pill--circle-large">
//   33
// </div>
// <div class="pill pill--circle-large text-white background-salmon">
//   33
// </div>
//
// Styleguide Components.Pill.Circle




.pill {

  $border-radius: map.get(config.$radius, 'button');
  $primary-background: map.get(variables.$greyscale, 'white');
  $primary-color: map.get(variables.$greyscale, 'base');

  border: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: config.$hue-threshold * 2);
  border-radius: $border-radius;
  color: $primary-color;
  display: inline-flex;
  font-size: map.get(variables.$font-percentage, 'sm');
  padding: map.get(variables.$spacers, 1) map.get(variables.$spacers, 2);
  position: relative;

  &--split {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    .pill__label {
      background-color: rgba($primary-color, .3);
    }
  }

  &--circle {

    @extend %basic-circle;

    &-empty {
      @extend .pill--circle;
      &-dot {
        padding: 0;
        @include mixins.square(map.get(variables.$spacers, 2));
      }
      @include mixins.square(variables.$spacer);
    }

    &-medium {
      @extend .pill--circle;
      @include mixins.square(map.get(variables.$spacers, 4));
    }

    &-large {
      @extend .pill--circle;
      @include mixins.square(map.get(variables.$spacers, 5));
    }
  }

  &__content {
    padding: map.get(variables.$spacers, 1);
  }

  &__close {
    position: absolute;
    right: -.2rem;
    top: -.6rem;
    i {
      font-size: 1.2rem;
    }
    :hover {
      cursor: pointer;
    }
  }

  &__label {
    @extend .pill__content;
    background-color: rgba($primary-background, .3);
    font-weight: 400;
  }

}
