@use "variables";
@use "sass:map";
// Print
//
// A dedicated `@media print` stylesheet is leveraged in Platform UI. It focused on the main view content and non print-centric artifacts (e.g., buttons).
//
// Main `body` items hidden from print:
// ```scss
// aside,
// button,
// header,
// .button,
// .crm-banner,
// .rim-drawer__open,
// .site-header
// ```
// There are also classes to `show` and `hide` during print:
//
// `.show-print`: only viewable on `@print`
//
// `.hide-print`: only viewable on `@screen`
//
// Styleguide Print

.show-print {
  display: none;
}

@media print {
  // initial print css to combat rams print css
  body {
    visibility: visible !important; // this line counters existing print style sheet
    aside,
    button,
    header,
    .button,
    .crm-banner,
    .rim-drawer__open,
    .site-header {
      display: none;
    }
  }
  .show-print {
    display: block;
  }
  .hide-print {
    display: none;
  }
  .full-height-print {
    height: 100% !important;
    overflow-y: visible !important;
  }
  .platform {
    display: block;
    main {
      margin: 0;
      width: 100vw;
    }
  }
  .rim-card.quote {
    border: none;
    .rim-form, .rim-card {
      width: 100vw;
    }
    .rim-form__field {
      margin: 0;
    }
    table {
      border: none;
      thead {
        background: map.get(variables.$greyscale, 'dark');
        color: map.get(variables.$greyscale, 'white');
      }
      td {
        border-top: 1px solid map.get(variables.$greyscale, 'light-mid');
        padding: .2rem .5rem;
      }
    }
  }
  .rim-message {
    background-color: transparent !important;
    border-color: map.get(variables.$greyscale, 'dark') !important;
    color: map.get(variables.$greyscale, 'base') !important;;
  }
    .modal-open {
    visibility: hidden;
  }
  @supports (-ms-ime-align:auto) {
    .modal-open {
      opacity: 0;
    }
  }
  .rim-modal {
    color: black !important;
    position: absolute !important;
    overflow: visible !important;
    width: 100% !important;
    height: 100% !important;
    .rim-modal__content {
      background-color: white !important;
      overflow: visible !important;
    }
    .block-errors {
      visibility: hidden;
    }
    .actions {
      visibility: hidden;
    }
    input {
      color: black !important;
    }
  }
}
