.show-print {
  display: none;
}

@media print {
  // initial print css to combat rams print css
  body {
    visibility: visible !important; // this line counters existing print style sheet
    aside,
    button,
    header,
    .button,
    .crm-banner,
    .rim-drawer__open,
    .site-header {
      display: none;
    }
  }
  .hidden-print {
    display: none;
  }
  .platform {
    display: block;
    main {
      margin: 0;
      width: 100vw;
    }
  }
  .rim-card.quote {
    border: none;
    .rim-form, .rim-card {
      width: 100vw;
    }
    .rim-form__field {
      margin: 0;
    }
    table {
      border: none;
      thead {
        background: map-get($greyscale, 'dark');
        color: map-get($greyscale, 'white');
      }
      td {
        border-top: 1px solid map-get($greyscale, 'light-mid');
        padding: .2rem .5rem;
      }
    }
  }
  .rim-message {
    background-color: transparent !important;
    border-color: map-get($greyscale, 'dark') !important;
    color: map-get($greyscale, 'base') !important;;
  }
}
