// Quote
//
// Specific CSS overrides and styling for the OQE experience in the Platform

/* Necessary override based on the structural requirements for using in Platform & Medicareful */
main.details-and-compare {
  margin-left: 0;
  width: auto;
}

.carrier {
  label.rim-form__field {
    margin: 0;
  }
}

mark.stars {
  color: map-get($secondary-colors, 'gold');
}

/* Temporarily added back for OQE compatibility - can rework OQE markup when a replacement is available */
.filter-group {
  display: flex;
  flex-flow: row wrap;
  margin-left: map-get($spacers, 1);
  width: calc(100% + #{map-get($spacers, 1)} * 2);

  input[type="checkbox"].filter-group__filter {
    + label {
      background-color: map-get($greyscale, 'light' );
      border-radius: map-get($radius, 'button');
      color: map-get($greyscale, 'white');
      display: flex;
      flex: 1 1 auto;
      height: 100%;
      justify-content: center;
      margin: map-get($spacers, 1);
      max-width: 5rem;
      padding: map-get($spacers, 2);
      transition: $transitions;

       &:before {
        display: none;
      }

       &:after {
        color: map-get($greyscale, 'white');
        opacity: 0;
        top: 50%;
        transform: translate(50%, -50%);
        transition: visibility $duration ease, opacity $duration ease;
        visibility: hidden;
      }
    }


     &:checked + label {
      background-color: map-get($platform-colors, 'link' );
      font-weight: 400;


       &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
