@use "config";
@use "mixins";
@use "variables";
@use "sass:map";

.rim-search {
  display: flex;
  &--results {
    background: map.get(variables.$greyscale, 'light');
    // color: map.get(variables.$greyscale, 'white');
    width: 3rem;
    h2 {
      // color: map.get(variables.$greyscale, 'white');
      font-size: map.get(variables.$font-percentage, 'xl');
      font-weight: lighter;
      transform: rotate(90deg);
    }
  }
}

.search {
  $self: &;
  &--complex {
    cursor: default;
    background-color: map.get(variables.$greyscale, 'lighter');
    display: flex;
    flex-flow: row;
    height: calc(100% - #{config.$menu-height});
    position: fixed;
    left: 0;
    top: config.$menu-height;
    width: 100%;

    &-close {
      display: none;
    }
    #{$self}-bar {
      .search--toggle {
        display: none;
      }
      .search-bar__count {
        font-size: 50%;
      }
      &:not(.active) {
        background-color: map.get(variables.$greyscale, 'light');;
        border-right: 1px solid map.get(variables.$greyscale, 'lighter');
        color: map.get(variables.$greyscale, 'white');
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: variables.$spacer * 4;
        padding: map.get(variables.$spacers, 2);
        transition: config.$transitions;
        cursor: pointer;
        &:last-child {
          border: none;
        }
        .search--close {
          display: none;
        }
        .search--toggle {
          align-self: center;
          color: map.get(variables.$greyscale, 'white');
          cursor: pointer;
          display: flex;
        }
        .search-bar__title {
          color: map.get(variables.$greyscale, 'white');
          display: flex;
          padding-left: variables.$spacer;
          justify-content: space-between;
          text-transform: capitalize;
          transform: rotate(-90deg);
        }
        .search-bar__count {
          color: map.get(variables.$greyscale, 'white');
          font-size: 50%;
          font-weight: lighter;
          margin-right: variables.$spacer;
        }
        .search-bar__content {
          display: none;
        }
      }
      &.active {
        padding: 1rem;
        .search--close {
          position: absolute;
          bottom: variables.$spacer;
          z-index: 10;
        }
        .search-bar__content {
          color: map.get(config.$fonts, 'color');  
        }
      }
    }
  }
}
