.rim-search {
  display: flex;
  &--results {
    background: map-get($greyscale, 'light');
    color: map-get($greyscale, 'white');
    width: 3rem;
    h2 {
      color: map-get($greyscale, 'white');
      font-size: map-get($font-percentage, 'xl');
      font-weight: lighter;
      transform: rotate(90deg);
    }
  }
}

.search {
  $self: &;
  &--complex {
    display: flex;
    flex-flow: row;
    height: 100%;
    &-close {
      display: none;
    }
    #{$self}-bar {
      .search--toggle {
        display: none;
      }
      .search-bar__count {
        font-size: 50%;
      }
      &:not(.active) {
        background-color: map-get($greyscale, 'light');;
        border-right: 1px solid map-get($greyscale, 'lighter');
        color: map-get($greyscale, 'white');
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: $spacer * 4;
        padding: map-get($spacers, 2);
        transition: $transitions;
        &:last-child {
          border: none;
        }
        .search--close {
          display: none
        }
        .search--toggle {
          align-self: center;
          color: map-get($greyscale, 'white');
          cursor: pointer;
          display: flex;
        }
        .search-bar__title {
          color: map-get($greyscale, 'white');
          display: flex;
          padding-left: $spacer;
          justify-content: space-between;
          text-transform: capitalize;
          transform: rotate(-90deg);
        }
        .search-bar__count {
          color: map-get($greyscale, 'white');
          font-size: 50%;
          font-weight: lighter;
          margin-right: $spacer;
          @extend %rotate-90;
        }
        .search-bar__content {
          display: none;
        }
      }
      &.active {
        padding: 1rem;
        .search--close {
          position: absolute;
          bottom: $spacer;
          z-index: 10;
        }
      }
    }
  }
}
