@use "config";
@use "variables";
@use "sass:map";

// Stats
//
// Used to display statistics in different situations throughout the platform. There are three sizes, `pui-stat--lg`, `pui-stat--md`(default), and `pui-stat--sm`. `pui-stat` requires `data-stat-label` and `aria-label` attributes.
//
// Markup:
// <div class="pui-card">
//  <div class="pui-card__header">
//     <div class="pui-card__group">
//      <i class="pi-calendar pui-card__title-icon--large"></i>
//      <h2 class="pui-card__title">Clients</h2>
//     </div>
//     <div class="pui-card__group button-group">
//      <button class="button">Add <i class="pi-plus" aria-hidden="hidden"></i></button>
//      <button class="button">View All <i class="pi-arrow-right" aria-hidden="hidden"></i></button>
//     </div>
//  </div>
//  <div class="pui-card__content">
//      <div class="block-container blocks p-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">Monthly Statistics</div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--lg text-salmon" data-stat-label="Total Clients" aria-label="Total Clients">
//                  <span class="pui-stat__number">4374</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--lg text-navy" data-stat-label="New Leads" aria-label="New Leads">
//                  <span class="pui-stat__number">46</span>
//              </div>
//          </div>
//      </div>
//      <hr class="background-lighter" />
//      <div class="block-container blocks-py-2 blocks-px-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">Monthly Statistics</div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--md text-salmon" data-stat-label="New Leads" aria-label="New Leads">
//                  <span class="pui-stat__number">10</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--md text-salmon" data-stat-label="New Leads" aria-label="New Leads">
//                  <span class="pui-stat__number">56</span>
//              </div>
//          </div>
//      </div>
//      <hr class="background-lighter" />
//      <div class="block-container blocks-py-2 blocks-px-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">New Leads</div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--sm text-salmon" data-stat-label="Submitted Leads" aria-label="Submitted Leads">
//                  <span class="pui-stat__number">474</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="pui-stat pui-stat--sm text-salmon" data-stat-label="New Clients" aria-label="New Clients">
//                  <span class="pui-stat__number">4</span>
//              </div>
//          </div>
//      </div>
//    </div>
// </div>
//
// Styleguide Components.Stats

.pui-stat {
    $self: &;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: map.get(variables.$font-percentage, 'lg' );
    font-weight: bold;

    &[data-stat-label]:after {
        content: attr(data-stat-label);
        color: map.get(variables.$greyscale, 'base');
        font-size: map.get(config.$fonts, 'size' );
        font-weight: normal;
    }

    &--sm {
        #{$self}__number {
            font-size: map.get(variables.$font-percentage, 'md' );
        }

        &[data-stat-label]:after {
            font-size: map.get(variables.$font-percentage, 'xs' );
        }

    }

    &--md {
        #{$self}__number {
            font-size: map.get(variables.$font-percentage, 'xl' );
        }
    }

    &--lg {
        #{$self}__number {
            font-size: map.get(variables.$font-percentage, 'xxl' );
        }
    }

}
