@use "config";
@use "variables";
@use "sass:map";

// Stats
//
// Used to display statistics in different situations throughout the platform. There are three sizes, `stat--lg`, `stat--md`(default), and `stat--sm`. `stat` requires `data-stat-label` and `aria-label` attributes.
//
// Markup:
// <div class="card">
//  <div class="card__header">
//     <div class="card__group">
//      <i class="pi-calendar card__title-icon--large"></i>
//      <h2 class="card__title">Stats</h2>
//     </div>
//     <div class="card__group button-group">
//      <button class="button">Add <i class="pi-plus" aria-hidden="hidden"></i></button>
//      <button class="button">View All <i class="pi-arrow-right" aria-hidden="hidden"></i></button>
//     </div>
//  </div>
//  <div class="card__content">
//      <div class="block-container blocks p-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">Monthly Statistics</div>
//          </div>
//          <div class="block">
//              <div class="stat stat--lg text-salmon" data-stat-label="Total Stats" aria-label="Total Stats">
//                  <span class="stat__number">4374</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="stat stat--lg text-navy" data-stat-label="New Stats" aria-label="New Stats">
//                  <span class="stat__number">46</span>
//              </div>
//          </div>
//      </div>
//      <hr class="background-lighter" />
//      <div class="block-container blocks-py-2 blocks-px-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">Monthly Statistics</div>
//          </div>
//          <div class="block">
//              <div class="stat stat--md text-salmon" data-stat-label="New Stats" aria-label="New Stats">
//                  <span class="stat__number">10</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="stat stat--md text-salmon" data-stat-label="New Stats" aria-label="New Stats">
//                  <span class="stat__number">56</span>
//              </div>
//          </div>
//      </div>
//      <hr class="background-lighter" />
//      <div class="block-container blocks-py-2 blocks-px-2 tablet-up-3">
//          <div class="block flex flex--align-center">
//              <div class="text-light">New Stats</div>
//          </div>
//          <div class="block">
//              <div class="stat stat--sm text-salmon" data-stat-label="Submitted Stats" aria-label="Submitted Stats">
//                  <span class="stat__number">474</span>
//              </div>
//          </div>
//          <div class="block">
//              <div class="stat stat--sm text-salmon" data-stat-label="New Stats" aria-label="New Stats">
//                  <span class="stat__number">4</span>
//              </div>
//          </div>
//      </div>
//    </div>
// </div>
//
// Styleguide Components.Stats

@mixin stat {
  $self: &;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: map.get(variables.$font-percentage, "lg");
  font-weight: bold;

  &[data-stat-label]:after {
    content: attr(data-stat-label);
    color: map.get(variables.$greyscale, "base");
    font-size: 1rem;
    font-weight: normal;
  }

  &--sm {
    #{$self}__number {
      font-size: map.get(variables.$font-percentage, "md");
    }

    &[data-stat-label]:after {
      font-size: map.get(variables.$font-percentage, "xs");
    }
  }

  &--md {
    #{$self}__number {
      font-size: map.get(variables.$font-percentage, "xl");
    }
  }

  &--lg {
    #{$self}__number {
      font-size: map.get(variables.$font-percentage, "xxl");
    }
  }
}

.pui-stat {
  @include stat;
}

.stat {
  @include stat;
}