// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background    : map-get($greyscale, 'white' );

$kss-colors-foreground    : map-get($greyscale, 'dark' );
$kss-colors-heading       : map-get($greyscale, 'black' );
$kss-colors-base          : map-get($greyscale, 'base' );

$kss-font-code            : Menlo,Ubuntu Mono,Lucida Console,Courier New,Courier,monospace;

$kss-colors-link          : #0645ad;
$kss-colors-link-visited  : #0645ad;
$kss-colors-link-hover    : lighten($kss-colors-link, 20%);
$kss-colors-link-active   : #faa700;

$rim-stlye-nav-border     : 1px solid rgba(map-get($greyscale, 'white'), .3);

.rim-style {
  $self: &;


  // Aside
  &-aside {
    border-right: 1px solid map-get($greyscale, 'base' );

    @include breakpoint(mobile, min) {
      height: 100%;
      position: fixed;
      width: 20vw;
    }    
  }

  // site logo
  &-logo {
    background-color: map-get($brand-colors, 'skyblue' );
    border-bottom: 1px solid map-get($greyscale, 'white' );
    padding: $spacer map-get($spacers, 1 );

    &__link {
      display: block;
      max-width: 12rem;

      img {
        width: 100%;
      }
    }

    &__copy {
      color: map-get($greyscale, 'white' );
      font-family: map-get($fonts, 'base' );
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 0 map-get($spacers, 1 );
    }
  }

  // Aside Navigation
  &-nav {
    height: 100%;  

    @include breakpoint(mobile, min) {
      overflow: scroll;  
      padding-bottom: $spacer * 9;
    }

    ul {
      list-style-type: none;
      padding: 0;

      @include breakpoint(mobile, max) {
        display: flex;
        flex-flow: row wrap;
      }

      ul {
        padding-left: map-get($spacers, 1 );
        
        @include breakpoint(mobile, max) {
          display: none;
        }
      }

      li {
        margin: 0;
      }
    }

    &__menu-item {
      background-color: map-get($brand-colors, 'skyblue' );

      @include breakpoint(mobile, min) {
        border-bottom: 1px solid map-get($greyscale, 'white');
      }      

      &.active {
        background-color: map-get($greyscale, 'white');

        > #{$self}-nav__menu-link {
          color: map-get($brand-colors, 'skyblue' );
          font-weight: 600;
          opacity: 1;

          i {
            transform: translateY(-50%) rotate(90deg);
          }
        }

        #{$self}-nav__menu-child {

          #{$self}-nav__menu-link {
            color: map-get($brand-colors, 'skyblue' );
          }
        }
      }
    }

    &__menu-link {
      color: map-get($greyscale, 'white');
      display: block;
      font-weight: 400;
      opacity: .7;
      padding: map-get($spacers, 2 );
      position: relative;
      transition: $transitions;

      &:hover {
        font-weight: 600;
        opacity: 1;
      }

      &.is-in-viewport {
        color: map-get($brand-colors, 'skyblue' );
        font-weight: 600;
        opacity: 1;
      }

      i {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: $transitions;
      }
    }

    &__ref {
      display: inline-block;
    }

    &__name {
      display: inline-block;
      margin-left: map-get($spacers, 2 );
    }
  }

  // main
  main {
    padding: map-get($spacers, 3 );

    @include breakpoint(mobile, min) {
      margin-left: 20vw;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: map-get($greyscale, 'dark' );
    }
  }
  
  &-section {
    border-bottom: 2px solid map-get($greyscale, 'base' );
    margin-bottom: $spacer;
    padding: $spacer 0 $spacer * 2;

    @include breakpoint(mobile, min) {
      margin-bottom: $spacer * 2;
      padding: $spacer 0 $spacer * 3;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &__heading {
      margin-bottom: $spacer * 1.5;
    }
  }


  &-title {
    margin-bottom: 0;

    &__ref {
      color: $kss-colors-base;
      display: block;
      font-size: map-get($font-percentage, 'xxs' );
  
      &:before {
        content: 'Section ';
      }
    }
  
    &__permalink {
      color: map-get($greyscale, 'dark' );
      display: block;
      text-decoration: none;
  
      &:hover,
      &:focus,
      &:active {
        color: lighten(map-get($greyscale, 'base' ), 10%);
  
        @media screen and (min-width: 607px) {
          #{$self}-title__permalink-hash {
            display: inline;
          }
        }
      }
    }
  
    &__permalink-hash {
      color: lighten(map-get($greyscale, 'light' ), 10%);
      display: none;
    }
  }

  &-title {
    margin-bottom: $spacer;
  }
  

  &-description {

    p {
      line-height: 1.5;
      margin-bottom: $spacer;

      code {
        background-color: #fdf6e3;
        color: #586e75;
        padding: map-get($spacers, 1 );
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }


  // Example Section
  &-modifier {
    margin: map-get($spacers, 4 ) 0;

    &__heading {
      font-weight: bold;
    }
    
    &__default-name {
      font-weight: bold;
      margin-bottom: map-get($spacers, 4 );
    }
    
    &__name {
      float: left;
      padding-right: 10px;
      font-weight: bold;
    }
    
    &__description {
      margin-bottom: map-get($spacers, 4 );
    }
    
    &__example {
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__example-footer {
      clear: both;
    }
  }

  // Markup
  &-markup {
    background-color: #fdf6e3;
    border: 1px solid #f7dac5;
    margin-bottom: map-get($spacers, 4 );

    summary {
      display: none;
    }

    pre {
      margin: 0;
    }
  }


  // Colors Section
  &-colors {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -.5em;
  
    > * {
      flex: 0 0 auto;
      padding: 0 .5em;
      margin-bottom: 1em;
      width: 16em;
    }
  
    .rim-style-color {
      height: 100%
    }
  }
  
  &-color {
    background: $kss-colors-background;
    border: 1px solid map-get($greyscale, 'light' );
    margin: 0;
    padding: 0;
  
    &__figure {
      height: 3em;
    }
  
    &__caption {
      padding: .5em;
    }
  
    &__name {
      display: block;
      font-weight: bold;
      color: $kss-colors-foreground;
    }
  
    #{$self}-color__code {
      color: $kss-colors-base;
      display: block;
      font-family: $kss-font-code;
    }
  
    &__desc {
      font-size: .875em;
    }
  }

  pre,
  code,
  kbd,
  samp {
    color: mix($kss-colors-foreground, $kss-colors-heading, 50%);
    font-family: $kss-font-code;
    font-weight: 500;
  }

  pre {
    white-space: pre;
    overflow: scroll;

    &.hljs code {
      color: inherit
    }
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #fdf6e3;
    color: #586e75;

    &:not(.rim-style-markup__code-wrapper) {
      border: 1px solid #f7dac5;
      margin: map-get($spacers, 4 ) 0;
    }    
  }

  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #569CD6
  }

  .hljs-link {
    color: #569CD6;
    text-decoration: underline
  }

  .hljs-built_in,
  .hljs-type {
    color: #4EC9B0
  }

  .hljs-number,
  .hljs-class {
    color: #B8D7A3
  }

  .hljs-string,
  .hljs-meta-string {
    color: #D69D85
  }

  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334
  }

  .hljs-subst,
  .hljs-function,
  .hljs-title,
  .hljs-params,
  .hljs-formula {
    color: #DCDCDC
  }

  .hljs-comment,
  .hljs-quote {
    color: #57A64A;
    font-style: italic
  }

  .hljs-doctag {
    color: #608B4E
  }

  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B
  }

  .hljs-variable,
  .hljs-template-variable {
    color: #BD63C5
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #9CDCFE
  }

  .hljs-section {
    color: gold
  }

  .hljs-emphasis {
    font-style: italic
  }

  .hljs-strong {
    font-weight: bold
  }

  .language-css {

    .hljs-bullet,
    .hljs-selector-tag,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
      color: #D7BA7D
    }
  }

  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%
  }

  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%
  }
}
