@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";
@use "sass:math";

// Tabs
// 
// The content for a tabbed section needs to live inside the `.pui-tabs` class. The tabs should 
// be added to a `.pui-card` with the class `has-tabs` added. This class gives the card the proper
// margin-top necessary for the look of the tabs being outside the card.
// 
// The aria attributes are important to the funcationality of the tabs as well. The active tab styles
// come from `aria-selected="true"` being set on the tab. The corresponding tab content is displayed
// by the removal of the `hidden` attribute.
// 
// Be sure that the `href` value on the `pui-tab__acnchor` matches that of the corresponding
// `pui-tab-panel` id. This is key for links that contain the hash in the url.
// 
// The tabs themselves or the `.pui-tab` have a specific width of `16rem` as well as a specific
// height of `4rem`. The width can be changed using the [blocks layout method](/styleguide/section-layout.html#kssref-layout-blocks).
// 
// Markup: 
// <div class="pui-card has-tabs">
//   <div class="pui-tabs">
//     <ul class="pui-tab-list" role="tablist" aria-label="Sample Tabs">
//      <li class="pui-tab">
//        <a href="#contracts-active" class="pui-tab__anchor" role="tab" aria-selected="true" aria-controls="contracts-active" id="pui-tab-1" tabindex="0">
//          <i class="fas fa-folder-open" aria-hidden="hidden"></i><span class="pui-tab__title">Animal</span>
//        </a>
//      </li>
//      <li class="pui-tab">
//        <a href="#contracts-inactive" class="pui-tab__anchor" role="tab" aria-selected="false" aria-controls="contracts-inactive" id="pui-tab-2" tabindex="-1">
//          <i class="fas fa-folder" aria-hidden="hidden"></i><span class="pui-tab__title">Another Animal</span>
//        </a>
//      </li>
//      <li class="pui-tab">
//        <a href="#contracts-downlines" class="pui-tab__anchor" role="tab" aria-selected="false" aria-controls="contracts-downlines" id="pui-tab-3" tabindex="-1">
//          <i class="fad fa-users" aria-hidden="hidden"></i><span class="pui-tab__title">Third Animal</span>
//        </a>
//      </li>
//    </ul>
//     <div class="pui-tab-panel" id="contracts-active" role="tabpanel" tabindex="0" aria-labelledby="pui-tab-1">
//       <img src="https://placeimg.com/640/480/animals?t=1565635267224">
//     </div>
//     <div class="pui-tab-panel" id="contracts-inactive" role="tabpanel" tabindex="0" aria-labelledby="pui-tab-2" hidden>
//       <img src="https://placeimg.com/640/480/animals?t=1565635322782">
//     </div>
//     <div class="pui-tab-panel" id="contracts-downlines" role="tabpanel" tabindex="0" aria-labelledby="pui-tab-3" hidden>
//       <img src="https://placeimg.com/640/480/animals?t=1565635383449">
//     </div>
//   </div>
// </div>
// 
// 
// Styleguide Components.Tabs

$tab-height:          4rem;
$tab-active-color:    map.get(config.$brand-colors, 'navy' );

.pui-card.has-tabs {
  margin-top: $tab-height;
}

.pui-tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: variables.$spacer; // makes up for .pui-card padding-top
  margin-left: calc(-#{variables.$spacer} - 1px); // .pui-card padding + 1px border
  margin-top: calc(-#{$tab-height} - #{variables.$spacer}); // .pui-tab height + .pui-card padding
  width: calc(100% + (1rem + 1px) * 2);
}

.pui-tab {
  flex: 1 1 auto;
  height: $tab-height;
  margin-bottom: 0;
  max-width: 16rem;
  position: relative;

  &__anchor {
    background-color: transparent;
    border: 1px solid transparent;
    color: map.get(variables.$greyscale, 'light' );
    cursor: pointer;
    font-size: 100%;
    height: 100%;
    padding: map.get(variables.$spacers, 2 ) variables.$spacer;
    position: relative;
    transition: config.$transitions;
    width: 100%;
    @extend %flex-center;

    @media (pointer: fine) {
      &:hover {
        background-color: map.get(variables.$greyscale, 'white' );
        border-color: color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
        border-bottom-color: map.get(variables.$greyscale, 'white' );
        color: $tab-active-color;
        font-weight: 600;
      }
    }

    &:focus {
      outline: none;
    }

    &[aria-selected="true"] {
      background-color: map.get(variables.$greyscale, 'white' );
      border: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: math.percentage(config.$hue-threshold * 2));
      border-bottom-color: map.get(variables.$greyscale, 'white' );
      color: $tab-active-color;
      font-weight: 600;
      pointer-events: none;

      &::before {
        background-color: $tab-active-color;
      }

      i {
        font-size: 100%;
      }
    }

    &::before {
      background-color: transparent;
      content: '';
      height: .3rem;
      left: -1px;
      position: absolute;
      right: -1px;
      top: 0;
      transition: config.$transitions;
      width: auto;
      border: none;
      border-radius: 0;
    }
  }

  i {
    @include mixins.breakpoint(tablet, max) {
      font-size: map.get(variables.$font-percentage, 'lg' );
    }
  }

  &__title {
    margin-left: map.get(variables.$spacers, 2 );

    @include mixins.breakpoint(tablet, max) {
      display: none;

      [aria-selected="true"] & {
        display: block;
      }
    }    
  }
}

.pui-tab-panel {
  
  &:focus {
    outline: none;
  }
}