@use "config";
@use "mixins";
@use "variables";
@use "sass:color";
@use "sass:map";
// Tables
//
// Default table.
//
// Adding sort icon: `<i class="fas fa-arrows-alt-v"></i>`
//
// Attach any `click` event directly to the `<th>` for a larger click target.
//
// These tables are responsive. They get the mobile view below the mobile breakpoint.
// You need to add the `data-label="{th - name}"` to the corresponding `<td>`. See the markup below.
//
// Turn row hover off by adding `rim-table--no-hover`
//
// Markup:
// <table class="rim-table">
//   <thead>
//     <tr>
//       <th>Company</th>
//       <th>Contact</th>
//       <th>Country</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Alfreds Futterkiste</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Maria Anders</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">Germany</span>
//       </td>
//     </tr>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Centro comercial Moctezuma</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Francisco Chang</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">Mexico</span>
//       </td>
//     </tr>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Ernst Handel</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Roland Mendel</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">Austria</span>
//       </td>
//     </tr>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Island Trading</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Helen Bennett</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">UK</span>
//       </td>
//     </tr>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Laughing Bacchus Winecellars</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Yoshi Tannamuri</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">Canada</span>
//       </td>
//     </tr>
//     <tr>
//       <td data-label="Company">
//         <span class="td-inner">Magazzini Alimentari Riuniti</span>
//       </td>
//       <td data-label="Contact">
//         <span class="td-inner">Giovanni Rovelli</span>
//       </td>
//       <td data-label="Country">
//         <span class="td-inner">Italy</span>
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Sometimes you don't want a resposive table? just add `unresponsive` to `rim-table`
//
// <table class="rim-table unresponsive">
//   <thead>
//     <tr>
//       <th></th>
//       <th>option one</th>
//       <th>option two</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>
//         Desc
//       </td>
//       <td>
//         Pork Buns
//       </td>
//       <td>
//         Pork Buns
//       </td>
//     </tr>
//     <tr>
//       <td>
//         price
//       </td>
//       <td>
//         $5.00
//       </td>
//       <td>
//         $9.00
//       </td>
//     </tr>
//     <tr>
//       <td>
//         qty
//       </td>
//       <td>
//         5
//       </td>
//       <td>
//         2
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide Tables

.rim-table,
table {
  $border-radius: map.get(config.$radius, 'default');
  $table-border: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: config.$hue-threshold * 2);
  $responsive-table-bottom-gap: variables.$spacer * 1.5;
  $responsive-table-label-bg: map.get(variables.$greyscale, 'lighter');
  width: 100%;
  background-color: transparent;
  border-radius: $border-radius;
  border-collapse: separate;
  border-spacing: 0;
  @include mixins.breakpoint(tablet, max) {
    border: none;
  }

  thead {
    background-color: map.get(variables.$greyscale, 'lighter');
    border-bottom: 1px solid map.get(variables.$greyscale, 'light');
    color: map.get(variables.$greyscale, 'base');
    font-weight: bold;
    text-align: left;
    @include mixins.breakpoint(tablet, max) {
      border: none;
    }

    tr {
      border-radius: $border-radius $border-radius 0 0;
    }

    th {
      border: solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: config.$hue-threshold * 2);
      border-width: 1px 0;
    }
  }

  tr {
    background-color: transparent;
    transition: config.$transitions * 3;
    @include mixins.breakpoint(tablet, min) {
      &:hover {
        background-color: map.get(variables.$greyscale, 'lighter');
      }
    }

    td,
    th {
      padding: 1rem;
    }

    th {
      cursor: pointer;
    }

    td {
      border-bottom: 1px solid color.adjust(map.get(variables.$greyscale, 'light'), $lightness: config.$hue-threshold * 2);
    }

    &:last-child {
      td {
        border-color: transparent;
      }
    }
  }
  @include mixins.breakpoint(tablet, max) {
    &:not(.unresponsive) {


      thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
      }

      tr {
        border-bottom: none;
        display: block;

        td {
          align-items: center;
          border: none;
          display: flex;
          justify-content: space-between;
          text-align: right;

          &:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            min-width: 40%;
            padding-right: map.get(variables.$spacers, 2);
            text-align: left;
          }
        }
      }

      tr + tr {
        margin-top: $responsive-table-bottom-gap;
      }
      /* Get table cells to act like rows */
    }
  }
  &--no-hover {
    tr {
      background-color: transparent !important;
    }
  }
}
