// Tasks
// 
// 


.rim-tasks {
  
  input[type=date],
  select {
    background-color: map-get($greyscale, 'white' );
    border-color: map-get($greyscale, 'base' );
    border-radius: .3rem;
    font-size: 100%;
  }

  textarea {
    background-color: map-get($greyscale, 'white' );
    border: 1px solid transparent;
    border-color: map-get($greyscale, 'light' );
    border-radius: .3rem;
    box-sizing: border-box;
    color: map-get($greyscale, 'base' );
    display: block;
    font-size: 100%;
    padding: map-get($spacers, 1);
    width: 100%;

    &:focus {
      outline: none;
      border-bottom-color: map-get($platform-colors, 'focus' );
      box-shadow: 0 0 2px 0 map-get($platform-colors, 'focus' );
      transition: box-shadow $duration, border-color $duration ease-in-out, border-width $duration ease;
    }
  }

  input[type=date] {
    position: relative;
    width: 100%;

    &::before,
    &::after {
      pointer-events: none;
      position: absolute;
    }

    &:before {
      background-color: map-get($greyscale, 'white' );
      content: '';
      bottom: 1px;
      right: 1px;
      top: 1px;
      width: 4rem;
      z-index: 1;
    }

    &:after {
      content: '\f073';
      font-family: "Font Awesome 5 Pro";
      font-weight: 400;
      right: .6rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }

  select {
    height: 100%;
  }

  .rim-form__select-wrapper:after {
    color: map-get($greyscale, 'base' );
    content: '\f017';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    height: auto;
    width: auto;
    border: none;
    transform: rotate(0) translateY(-50%);
  }
}

.rim-task {
  color: map-get($greyscale, 'base' );
  font-weight: 400;

  &__title {
    font-size: 100%;
    font-weight: 400;
  }

  &-action {
    background-color: transparent;
    border: none;
    border-right: 1px solid map-get($greyscale, 'base');
    color: map-get($greyscale, 'base');
    font-size: 100%;
    height: 1.5rem;
    padding: 0 .5rem;
    transition: $transitions;
    width: 2rem;
    @extend %flex-center;

    &:hover {
      color: map-get($greyscale, 'light');
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.task-status {
  background-color: transparent;
  border: none;
  color: map-get($greyscale, 'base' );
  cursor: pointer;
  font-size: 100%;
  transition: $transitions;

  &:hover {
    opacity: .7;
  }

  i {
    font-size: 3rem;
  }
}