
@import "variables/breakpoints";
@import "variables/color";
@import "variables/fonts";
@import "variables/height";
@import "variables/radius";
@import "variables/spacing";


// milliseconds; animations, transitions
$duration: .2s;
$transitions: .2s;
$hue-threshold: 10%;
$opacity: .9;

$xy-border: (
  top: t,
  bottom: b,
  left: l,
  right: r
);

$flex-grid: (
  1/2:half,
  1/3:third,
  1/4:quarter,
  3/4: 3-quarter,
  2/3: 2-third
);

$rim-grid: (
  1: 12,
  11/12: 11,
  5/6: 10,
  2/3: 9,
  3/4: 8,
  7/12: 7,
  1/2: 6,
  5/12: 5,
  1/3: 4,
  1/4: 3,
  1/6: 2,
  1/12: 1
);
