<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Submissions</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.11/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css?t=1528209883595">
  <link rel="canonical" href="http://localhost:8001/">

</head>

<body>

  <!-- main menu -->
  <div class="ui top fixed inverted icon menu main">
    <div class="item">
      <div class="ui avatar image">
        <div class="ui large pink circular label">
          KH
        </div>
      </div>
      <div class="content">
        <div class="header">
          Hello Kevin
        </div>
      </div>
    </div>
    <div class="search item">
      <div class="ui transparent inverted icon input">
        <input type="text" placeholder="Type to search...">
        <i class="search inverted link icon"></i>
      </div>
    </div>

    <div class="right menu primary">

      <div class="ui inverted dropdown item">
        Agent
        <i class="angle down icon"></i>
        <div class="menu">
          <a class="item" href="#">
            <i class="id badge icon"></i>
            Management
          </a>
          <a class="item" href="organizations.html">
            <i class="money bill alternate outline icon"></i>
            Payments
          </a>
        </div>
      </div>
      <a class="item">
        CIE
      </a>
      <a href="#" class="item">
        CRM
      </a>
      <div class="ui inverted dropdown item">
        Flow
        <i class="angle down icon"></i>
        <div class="menu">
          <a class="item" href="#">
            <i class="users icon"></i>
            Agencies
          </a>
          <a class="item" href="#">
            <i class="id badge icon"></i>
            Agents
          </a>
          <a class="item" href="#">
            <i class="text file icon"></i>
            Contracts
          </a>
          <a class="item" href="#">
            <i class="user icon"></i>
            Prospects
          </a>
          <a class="item" href="#">
            <i class="inbox icon"></i>
            Submissions
          </a>
        </div>
      </div>
      <a href="#" class="item">
        Quote
      </a>
      <a class="item" href="#">
        <img src="/assets/images/rimdev-icon-white.svg" alt="rimdev" style="width: 2rem">
        <i class="angle down icon"></i>
      </a>
      <div class="ui inverted right dropdown item recent">
        Recent
        <i class="angle down icon"></i>
      </div>
    </div>
  </div>

  <!-- app body -->
  <div id="campaigns" class="ui container app body">
    <!-- agent menu -->
    <div id="agent-menu">
      <div class="ui inverted agent menu">
        <div class="ui inverted dropdown item">
          <div class="content">
            <div class="header">
              <i class="agent-icon circular icon id badge" style="background-color: rgb(88, 80, 126);"></i>
              <i class="angle down icon"></i>
              <div class="account-name" title="QA Sue">
                QA Sue
              </div>
              <div class="ui active-status inverted tiny icon label">Active</div>
              <div title="Communication type" class="ui tiny grey image label">
                CT
                <div class="detail">
                  Email
                </div>
              </div>
              <div title="Master Upline" class="ui tiny grey image label">
                MU
                <div class="detail"><a href="/producers/c057f20a-fbc8-403c-9777-9e0701310cf8"> Gregory J Gudis</a></div></div> <div title="Global product level" class="ui tiny grey image label">
                  GPL
                  <div class="detail">
                    4
                  </div>
                </div>
             </div>
           </div>

         </div>

          <a class="item">
            Contracts
          </a>
          <a class="item">
            Hierarchy
          </a>
          <a class="item">
            Licenses
          </a>
          <a class="item">
            Reports
          </a>
          <a class="item">
            Submissions
          </a>
          <a class="item" :class="{ 'active': touches }" @click="toggleTouches">
            <i class="large microphone icon"></i>
          </a>
          <a class="item">
            <i class="text file icon"></i>
            78
          </a>
          <a class="item compliance">
            <div class="ui circular cases">
              <i class="legal blue icon"></i>
              <div class="compliance-group">
                <div title="Grievance" class="item grievance">1</div>
                <div title="SOA" class="item soa">3</div>
                <div title="Issue" class="item issue">5</div>
              </div>
            </div>
          </a>
        </div>
      </div>

    <div class="ui hidden divider"></div>

    <div class="ui stackable grid">
      <div class="eleven wide column">
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <!-- tabs -->
        <div class="ui top attached tabular icon menu">
          <a class="item">
            <i class="id badge icon"></i> Detail
          </a>
          <a class="item active">
            <i class="bullhorn icon"></i> Campaigns
          </a>
          <a class="item">
            <i class="send icon"></i> Contact
          </a>
          <a class="item">
            <i class="money bill alternate icon"></i> Payments
          </a>
          <a class="item">
            <i class="address book icon"></i> Profile
          </a>
        </div>

        <div class="ui bottom attached tab segment active">
          <div class="animation-container">
            <transition name="slide-down">
              <div class="ui basic segment form" v-show="showAddLead">
                <span class="close-div" @click="showAddLead = !showAddLead">&times;</span>

                    <div class="ui grey header">
                      Add to existing Campaign
                    </div>
                    <div class="two fields">
                      <div class="select field">
                        <label>Campaign</label>
                        <select>
                          <option>Contract building campaign</option>
                        </select>
                      </div>
                    </div>
              </div>
            </transition>
          </div>

          <!-- add contract -->
          <div class="ui basic segment form">
            <div class="right floated">
              <i class="small circular yellow inverted add icon" @click="showAddLead = !showAddLead"></i> Campaign
            </div>
            <div class="eight wide field ui search">
              <div class="ui icon input">
                <input type="text" class="prompt">
                <i class="grey search icon"></i>
              </div>
              <label>Filter campaign</label>
            </div>
          </div>

          <div class="ui fluid styled accordion submissions campaign">
            <div class="ui title" @click="toggleForm">
              <div class="ui equal width grid">
                <div class="row">

                  <div class="four wide column">
                    <span>Campaign</span>
                    Contract building campaign
                  </div>
                  <div class="column">
                    <span>Campaign ID</span>
                    <i class="lightgrey ban icon"></i>
                  </div>
                  <div class="ui middle aligned column states">
                    <div class="ui label pressed">
                      Northeast
                    </div>
                  </div>
                  <div class="column">
                    <span>Start date</span>
                    01/31/2018

                  </div>
                  <div class="column">
                    <span>End date</span>
                    01/31/2019
                  </div>
                  <div class="one wide ui middle aligned column">
                    <div class="ui right floated">
                      <i class="trash red icon"></i>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="animation-container">
              <transition name="slide-down">
                <div v-if="showAccordion" class="ui equal grid content form ">

                  <div class="ui vertical segment">
                    <div class="ui form">
                      <div class="ui equal width grid">
                        <div class="five fields">
                          <div class="field">
                            <label>Campaign</label>
                            <input type="text" value="Contract building campaign ">
                          </div>
                          <div class="field">
                            <label>Campaign ID </label>
                            <input type="text" value="XXXXX-123456">
                          </div>
                          <div class="field">
                            <label>Start date</label>
                            <input type="date" value="2018-01-31">
                          </div>
                          <div class="field">
                            <label>End Date</label>
                            <input type="date" value="2019-01-31">
                          </div>
                          <div class="field select">
                            <label>Type</label>
                            <select>
                              <option>digital</option>
                              <option>direct mail</option>
                              <option>email</option>
                              <option>email (vendor)</option>
                              <option>phone</option>
                              <option>tradeshow/event</option>
                              <option>webinar</option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <div class="ui hidden divider"></div>

                      <div class="ui grey header">
                        Region
                      </div>
                      <div class="eight wide field select">
                        <select>
                          <option>Select region</option>
                          <option>Keystone</option>
                          <option>Mid-Atlantic</option>
                          <option>Mid-West</option>
                          <option selected>Northeast</option>
                          <option>NY-Metro</option>
                          <option>Southeast</option>
                          <option>West</option>
                        </select>
                      </div>

                      <div class="ui tab states add-states active">
                        <label title="Alaska" class="ui icon label">
                              AK
                            </label>
                            <label title="Alabama" class="ui icon label">
                              AL
                            </label>
                            <label title="Arkansas" class="ui icon label">
                              AR
                            </label>
                            <label title="California" class="ui icon label">
                              CA
                            </label>
                            <label title="Colorado" class="ui icon label">
                              CO
                            </label>
                            <label title="Connecticut" class="ui icon label pressed">
                              CT
                            </label>
                            <label title="District of Columbia" class="ui icon label">
                              DC
                            </label>
                            <label title="Delaware" class="ui icon label">
                              DE
                            </label>
                            <label title="Florida" class="ui icon label">
                              FL
                            </label>
                            <label title="Georgia" class="ui icon label">
                              GA
                            </label>
                            <label title="Hawaii" class="ui icon label">
                              HI
                            </label>
                            <label title="Iowa" class="ui icon label">
                              IA
                            </label>
                            <label title="Idaho" class="ui icon label">
                              ID
                            </label>
                            <label title="Illinois" class="ui icon label">
                              IL
                            </label>
                            <label title="Indiana" class="ui icon label">
                              IN
                            </label>
                            <label title="Kansas" class="ui icon label">
                              KS
                            </label>
                            <label title="Kentucky" class="ui icon label">
                              KY
                            </label>
                            <label title="Louisiana" class="ui icon label">
                              LA
                            </label>
                            <label title="Massachusetts" class="ui icon label pressed">
                              MA
                            </label>
                            <label title="Maryland" class="ui icon label">
                              MD
                            </label>
                            <label title="Maine" class="ui icon label pressed">
                              ME
                            </label>
                            <label title="Michigan" class="ui icon label">
                              MI
                            </label>
                            <label title="Minnesota" class="ui icon label">
                              MN
                            </label>
                            <label title="Missouri" class="ui icon label">
                              MO
                            </label>
                            <label title="Mississippi" class="ui icon label">
                              MS
                            </label>
                            <label title="Montana" class="ui icon label">
                              MT
                            </label>
                            <label title="North Carolina" class="ui icon label">
                              NC
                            </label>
                            <label title="North Dakota" class="ui icon label">
                              ND
                            </label>
                            <label title="Nebraska" class="ui icon label">
                              NE
                            </label>
                            <label title="New Hampshire" class="ui icon label pressed">
                              NH
                            </label>
                            <label title="New Jersey" class="ui icon label">
                              NJ
                            </label>
                            <label title="New Mexico" class="ui icon label">
                              NM
                            </label>
                            <label title="Nevada" class="ui icon label">
                              NV
                            </label>
                            <label title="New York" class="ui icon label">
                              NY
                            </label>
                            <label title="Ohio" class="ui icon label">
                              OH
                            </label>
                            <label title="Oklahoma" class="ui icon label">
                              OK
                            </label>
                            <label title="Oregon" class="ui icon label">
                              OR
                            </label>
                            <label title="Pennsylvania" class="ui icon label">
                              PA
                            </label>
                            <label title="Rhode Island" class="ui icon label pressed">
                              RI
                            </label>
                            <label title="South Carolina" class="ui icon label">
                              SC
                            </label>
                            <label title="South Dakota" class="ui icon label">
                              SD
                            </label>
                            <label title="Tennessee" class="ui icon label">
                              TN
                            </label>
                            <label title="Texas" class="ui icon label">
                              TX
                            </label>
                            <label title="Utah" class="ui icon label">
                              UT
                            </label>
                            <label title="Virginia" class="ui icon label">
                              VA
                            </label>
                            <label title="Vermont" class="ui icon label pressed">
                              VT
                            </label>
                            <label title="Washington" class="ui icon label">
                              WA
                            </label>
                            <label title="Wisconsin" class="ui icon label">
                              WI
                            </label>
                            <label title="West Virginia" class="ui icon label">
                              WV
                            </label>
                            <label title="Wyoming" class="ui icon label">
                              WY
                            </label>
                            <div class="inline field">
                              <div class="ui slider checkbox states-select">
                                <input type="checkbox" disabled="disabled" class="hidden">
                                <label>Select all states</label>
                              </div>
                            </div>
                            <div class="ui grey header">
                              Attachments
                              <small>
                                <i class="small circular yellow inverted add icon"></i>
                              </small>
                            </div>
                            <div class="ui right floated lightgrey">
                              Created by April Ford on 01/31/2018
                            </div>
                          <div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>
            </div>
          </div>

          <div class="ui hidden divider"></div>
        </div>
      </div><!-- /.column -->

      <!-- notes -->
      <div class="five wide column notes">
        <div class="ui hidden divider"></div>
        <!-- notes menu -->
        <div class="ui text menu">
          <a class="active item">
            <i class="small circular inverted yellow add icon"></i>
            Note
          </a>
          <div class="right menu">
            <div class="ui right floated note-stat">
              <i class="small lightgrey sticky note icon"></i>
                0
            </div>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui alert">
          <div class="ui note fluid card no-notes">
            <div class="content">
              <p>
                <i class="large sticky note outline icon"></i>
                No notes exist.
                </p>
            </div>
          </div>
        </div>
      </div><!--  /.notes -->

      <div class="animation-container">
        <transition name="slide-right">
          <div class="touches" v-if="touches">
            <div class="right floated">
              <div class="close-div icon" @click="toggleTouches">&times;</div>
            </div>
              <div class="timeline">
                <div class="touch">
                  <div class="date-time">
                    <i class="calendar icon"></i><br>
                    6/28/2018 <br>
                    2:21 pm
                  </div>
                  <div class="description">
                    Had a client question about signed up for Part B if she is on her husbands health plan. Responded to email.
                    <div class="author">
                      <i class="user icon"></i>
                      Beth Warner
                    </div>
                  </div>
                </div>
                <div class="touch">
                  <div class="date-time">
                    <i class="calendar icon"></i><br>
                    6/28/2018 <br>
                    8:34 am
                  </div>
                  <div class="description">
                    Had a client question about signed up for Part B if she is on her husbands health plan. Responded to email.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>

    </div><!-- /.ui.grid -->

  </div><!-- /.app.body -->

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.19.2/moment.min.js"></script>
<script src="/assets/js/all.min.js?t=1528209883595"></script>

</html>
