<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Submissions</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.11/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css?t=1528209883595">
  <link rel="canonical" href="http://localhost:8001/">

</head>

<body>
  <div id="environment"></div>

  <!-- main menu -->
  <div class="ui top fixed inverted icon menu main">
    <div class="item">
      <div class="ui avatar image">
        <div class="ui large pink circular label">
          KH
        </div>
      </div>
      <div class="content">
        <div class="header">
          Hello Kevin
        </div>
      </div>
    </div>
    <div class="search item">
      <div class="ui transparent inverted icon input">
        <input type="text" placeholder="Type to search...">
        <i class="search inverted link icon"></i>
      </div>
    </div>

    <div class="right menu primary">

      <div class="ui inverted dropdown item">
        Agent
        <i class="angle down icon"></i>
        <div class="menu">
          <a class="item" href="#">
            <i class="id badge icon"></i>
            Management
          </a>
          <a class="item" href="organizations.html">
            <i class="money bill alternate outline icon"></i>
            Payments
          </a>
        </div>
      </div>
      <a class="item">
        Call Center
      </a>
      <a href="#" class="item">
        CRM
      </a>
      <div class="ui inverted dropdown item">
        Flow
        <i class="angle down icon"></i>
        <div class="menu">
          <a class="item" href="#">
            <i class="users icon"></i>
            Agencies
          </a>
          <a class="item" href="#">
            <i class="id badge icon"></i>
            Agents
          </a>
          <a class="item" href="#">
            <i class="text file icon"></i>
            Contracts
          </a>
          <a class="item" href="#">
            <i class="user icon"></i>
            Prospects
          </a>
          <a class="item" href="#">
            <i class="inbox icon"></i>
            Submissions
          </a>
        </div>
      </div>
      <a href="#" class="item">
        Maps
      </a>
      <div class="ui inverted right dropdown item recent">
        Recent
        <i class="angle down icon"></i>
      </div>
      <a class="item" href="#">
        <img src="/assets/images/rimdev-icon-white.svg" alt="rimdev" style="width: 2rem">
      </a>
    </div>
  </div>

  <!-- app body -->
  <div class="ui container app body">

    <!-- agent menu -->
    <div id="agent-menu">
      <div class="ui inverted agent menu">
        <div class="ui inverted dropdown item">
          <div class="content">
            <div class="header">
              <i class="agent-icon circular icon id badge" style="background-color: rgb(88, 80, 126);"></i>
              <div class="account-name" title="QA Sue">
                QA Sue
              </div>
              <div class="ui active-status inverted tiny icon label">Active</div>
              <div title="Communication type" class="ui tiny grey image label">
                CT
                <div class="detail">
                  Email
                </div>
              </div>
              <div title="Master Upline" class="ui tiny grey image label">
                MU
                <div class="detail"><a href="/producers/c057f20a-fbc8-403c-9777-9e0701310cf8"> Gregory J Gudis</a></div></div> <div title="Global product level" class="ui tiny grey image label">
                  GPL
                  <div class="detail">
                    4
                  </div>
                </div>
             </div>
           </div>
           <i class="angle down icon"></i>
         </div>
         <a class="item general-menu-tab">
            General
          </a>
          <a class="item contracts-menu-tab">
            Contracts
          </a>
          <a class="item contracts-menu-tab active">
            Submissions
          </a>
          <a class="item contracts-menu-tab">
            Hierarchy
          </a>
          <a class="item licenses-menu-tab">
            Licenses
          </a>
          <a class="item">
            Attachments
            <span>78</span>
          </a>
          <a class="item compliance">
            <div class="ui circular cases">
              <i class="large legal grey icon"></i>
              <div class="compliance-group">
                <div title="Grievance" class="item grievance">1</div>
                <div title="SOA" class="item soa">3</div>
                <div title="Issue" class="item issue">5</div>
              </div>
            </div>
          </a>
        </div>
      </div>

    <div class="ui hidden divider"></div>

    <div class="ui stackable grid">
      <div class="eleven wide column">
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <!-- tabs -->
        <div class="ui top attached tabular icon menu">
          <a class="item active" data-tab="tab-ac-submissions">
            <i class="file text icon"></i> Ready
          </a>
          <a class="item" data-tab="tab-ac-enrollments">
            <i class="file text icon"></i> Incomplete
          </a>
          <a class="item" data-tab="tab-ac-uploads">
            <i class="file text icon"></i> Hold
          </a>
        </div>

        <div id="submissions" class="ui bottom attached tab segment active" data-tab="tab-detail">
          <div v-show="showModal" class="dash-modal"></div>
          <div class="animation-container">
            <transition name="slide-down">
              <div class="ui basic segment form" v-show="showAddSubmission">
                <span class="close-div" @click="showAddSubmission = !showAddSubmission">&times;</span>

                  <div class="row">
                    <div class="ui grey header">
                      New Submission
                    </div>
                  </div>
                  <div class="four fields">
                    <div class="field ui search">
                      <div class="ui icon input">
                        <input type="text" class="prompt">
                        <i class="grey search icon"></i>
                      </div>
                      <label>Carrier</label>
                    </div>
                    <div class="select field">
                      <label>Template</label>
                      <select></select>
                    </div>
                    <div class="select field">
                      <label>Zipcode</label>
                      <select></select>
                    </div>
                    <div class="select field">
                      <label>County</label>
                      <select></select>
                    </div>
                  </div>
                  <div class="ui grey header">
                    Attachments
                    <small>
                      <i class="ui small inverted yellow circular plus icon" onclick="document.getElementById('fileInput').click()"></i>
                      <input id="fileInput" type="file" style="display: none">
                    </small>
                  </div>
                  <div class="row">
                    <div class="drop-target">
                      Drag multiple files here
                    </div>

                  </div>

                  <button type="submit" class="ui circular basic yellow icon button">
                    <i class="checkmark icon"></i>
                    Create
                  </button>
              </div>
            </transition>
          </div>

          <!-- add contract -->
          <div class="ui basic segment form">
            <div class="right floated">
              <i class="small circular yellow inverted list icon" @click="showInfo = !showInfo"></i> Key detail &nbsp;
              <i class="small circular yellow inverted add icon" @click="showAddSubmission = !showAddSubmission"></i> Submission
            </div>
            <div class="eight wide field ui search">
              <div class="ui icon input">
                <input type="text" class="prompt">
                <i class="grey search icon"></i>
              </div>
              <label>Filter company</label>
            </div>
          </div>

          <div class="ui fluid styled accordion submission">
            <div class="animation-container">
              <transition name="slide-up">
                <div class="ui form pre-title" v-show="showPreTitle">
                  <div class="row">
                    <div class="ui toggle checkbox">
                      <input type="checkbox" name="public">
                      <label>Hold</label>
                    </div>
                    <i class="small circular yellow inverted keyboard icon"></i>
                    Key entry
                    <div class="audit-key">
                      <i class="small circular yellow inverted pencil icon" @click="auditMode()"></i>
                      Audit
                    </div>
                  </div>
                </div>
              </transition>
            </div>

            <div class="ui title" @click="toggleForm">
              <div class="ui equal width grid">
                <div class="row">
                  <div class="five wide column">
                    <span>Aetna

                      <!-- show if enrolled -->
                      <i class="olive checkmark icon"></i>

                    </span>
                    Aetna Medicare Silver Plan
                    <mark>(HMO)</mark>
                  </div>
                  <div class="column">
                    <span>Client</span>
                    Jane Hammond
                  </div>
                  <div class="column">
                    <span>Effective</span>
                    4/1/2018
                  </div>
                  <div class="column">
                    <span>Status <i class="ui circular tiny empty label positive"></i></span>
                    Sent to Carrier
                  </div>
                  <div class="column">
                    <span>Validity <i class="ui circular tiny empty label positive"></i></span>
                    Complete
                  </div>
                  <div class="two wide column middle aligned states">
                    <div class="ui icon label pressed">
                      PA
                    </div>
                    <div class="ui right floated">
                      <i class="trash icon"></i>
                    </div>
                  </div>

                </div>
                <transition name="slide-down">
                  <div v-show="showInfo" class="row highlight">
                    <div class="five wide column">
                      <span>Agent</span>
                      <a href="#">Craig James Ritter</a>
                    </div>
                    <div class="column">
                      <span>Processor</span>
                      Tim Graham
                    </div>
                    <div class="column">
                      <span>Source</span>
                      Medicareful
                    </div>
                    <div class="column">
                      <span>Signature</span>
                      2/23/2018
                    </div>
                    <div class="column">
                      <span>Keyed</span>
                      2/23/2018
                    </div>
                  </div>
                </transition>
              </div>
            </div>
            <div class="animation-container">
              <transition name="slide-down">
                <div v-if="showAccordion" class="ui grid content form ">
                  <div class="ui vertical segment">
                    <div class="ui grey header">
                      Attachments
                      <small>
                        <i class="ui small inverted yellow circular plus icon" onclick="document.getElementById('fileInput').click()"></i>
                        <input id="fileInput" type="file" style="display: none">
                      </small>
                    </div>
                    <div class="inline widget select transition visible">
                      <div class="file-list">
                        <div class="file">
                          <!--  data-filename is a needed css hook -->
                          <div class="file-row" data-filename="Jane_Hammond_Aetna_application.pdf">
                            <i class="yellow eye icon" @click="showInlinePDF = !showInlinePDF"></i>
                            <i class="trash icon"></i>
                            Jane_Hammond_Aetna_application.pdf
                            <div class="ui blue circular label">Application<i class="delete icon"></i></div>
                            <i class="yellow vertical ellipsis icon" @click="showFileTags = !showFileTags"></i>
                            <div class="animation-container">
                              <transition name="slide-down">
                                <div class="inline-pdf" v-show="showInlinePDF">
                                  <div class="close-div" @click="showInlinePDF = !showInlinePDF">&times;</div>
                                  <object type="application/pdf" data="assets/NJVeronicaGreco.pdf" width="100%"></object>
                                </div>
                              </transition>
                            </div>
                          </div>
                          <transition name="slide-down">
                            <div class="add-tags" v-show="showFileTags">
                              <div class="arrow-up"></div>
                              <div class="ui circular labels">
                                <div class="close-div" @click="showFileTags = !showFileTags">&times;</div>
                                <div class="ui blue circular label">Carrier required</div>
                                <div class="ui blue circular label">SOA</div>
                                <div class="ui blue circular label">Supplemental document</div>
                              </div>
                            </div>
                          </transition>
                        </div>
                      </div>
                    </div>
                  </div>

                  <transition name="fade">
                    <div v-show="showModal" class="ui fullscreen modal audit-mode">
                      <div @click="auditMode()" class="close-div">&times;</div>
                      <div class="ui inverted header">
                        You are in Audit mode
                      </div>
                      <div class="split content">
                        <div class="ui equal width grid">
                          <div class="column audit-form">

                            <div class="audit-highlight">
                              <div class="ui equal width grid">
                                <div class="column">
                                  <span>Aetna</span>
                                  Aetna Medicare Silver Plan
                                  <mark>(HMO)</mark>
                                  <span>Client</span>
                                  Jane Hammond
                                </div>
                                <div class="column">
                                  <span>Agent</span>
                                  <a href="#">Craig James Ritter</a>
                                  <span>Source</span>
                                  Medicareful
                                </div>
                                <div class="column">
                                  <span>Processor</span>
                                  Tim Graham
                                  <span>Keyed</span>
                                  2/23/2018
                                </div>
                              </div>
                            </div>

                            <div class="ui vertical segment">

                              <div class="ui grey header">
                                Plan Information
                              </div>

                              <div class="ui three fields">
                                <div class="field">
                                  <label>Plan Name</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Plan Year</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Contract ID</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Plan ID</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Segment ID</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Optional Supplemental Benefit</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Carrier Code</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Confirmation No.</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Channel ID</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Effective Date</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Effective Date Type</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Product Code</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ui vertical segment">
                              <div class="ui grey header">
                                Workflow
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Current Business Status</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Current Carrier Status</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Current Carrier Enrollment ID</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ui vertical segment">
                              <div class="ui grey header">
                                Client Information
                              </div>
                              <div class="ui five fields">
                                <div class="two wide field">
                                  <label>Prefix</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>First Name</label>
                                  <input type="text">
                                </div>
                                <div class="one wide field">
                                  <label>MI</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Last Name</label>
                                  <input type="text">
                                </div>
                                <div class="two wide field">
                                  <label>Suffix</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="column audit-pdf">
                            <transition name="fade">
                              <object type="application/pdf" data="/assets/NJVeronicaGreco.pdf"></object>
                            </transition>
                          </div>
                        </div>
                      </div>
                      <div class="actions">
                        <div class="ui large olive image label">
                            scoring
                          <div class="detail">
                            30
                          </div>
                        </div>
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="public">
                          <label>Resolve all</label>
                        </div>
                      </div>
                    </div>
                  </transition>

                  <div class="ui vertical segment">

                    <div class="ui positive  message">
                      Policy No: 5524638 | Accepted 00/00/2018
                    </div>

                    <i class="right floated large yellow history icon" @click="showHistory = !showHistory"></i>
                    <div class="history-container">
                      <div class="animation-container">
                        <transition name="slide-down">
                          <div v-show="showHistory" class="well">
                            <div class="close-div" @click="showHistory = !showHistory">&times;</div>
                            <table class="ui very basic inverted attached table">
                              <thead>
                                <tr>
                                  <th>Event</th>
                                  <th>Status</th>
                                  <th>Comment</th>
                                  <th>Created By</th>
                                  <th>Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>RemoveHold</td>
                                  <td>Ready</td>
                                  <td>Tom Harold requested RemoveHold on submission R7NO44SWHEMJP55R at 2/26/2018 3:34:07 PM +00:00.</td>
                                  <td>Tom Harold</td>
                                  <td>2/26/2018 10:34:07 AM</td>
                                </tr>
                                <tr>
                                  <td>MarkAsHold</td>
                                  <td>Hold</td>
                                  <td>Tom Harold requested MarkAsHold on submission R7NO44SWHEMJP55R at 2/26/2018 3:33:51 PM +00:00.</td>
                                  <td>Tom Harold</td>
                                  <td>2/26/2018 10:33:55 AM</td>
                                </tr>
                                <tr>
                                  <td>UpdateSubmission</td>
                                  <td>Ready</td>
                                  <td></td>
                                  <td>Medicareful</td>
                                  <td>2/26/2018 9:43:39 AM</td>
                                </tr>
                                <tr>
                                  <td>CreateSubmission</td>
                                  <td>Processing</td>
                                  <td></td>
                                  <td>Medicareful</td>
                                  <td>2/26/2018 9:43:28 AM</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </transition>
                      </div>
                    </div>

                    <div class="ui grey header">
                      Plan Information
                    </div>

                    <div class="ui three fields">
                      <div class="field">
                        <label>Plan Name</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Plan Year</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Contract ID</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Plan ID</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Segment ID</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Optional Supplemental Benefit</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Carrier Code</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Confirmation No.</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Channel ID</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Effective Date</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Effective Date Type</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Product Code</label>
                        <input type="text">
                      </div>
                    </div>
                  </div>
                  <div class="ui vertical segment">
                    <div class="ui grey header">
                      Workflow
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Current Business Status</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Current Carrier Status</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Current Carrier Enrollment ID</label>
                        <input type="text">
                      </div>
                    </div>
                  </div>
                  <div class="ui vertical segment">
                    <div class="ui grey header">
                      Client Information
                    </div>
                    <div class="ui five fields">
                      <div class="two wide field">
                        <label>Prefix</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>First Name</label>
                        <input type="text">
                      </div>
                      <div class="one wide field">
                        <label>MI</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Last Name</label>
                        <input type="text">
                      </div>
                      <div class="two wide field">
                        <label>Suffix</label>
                        <input type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </transition>
            </div>
          </div>

         <!--
            Note: .stub should be triggered based on the presence of carrier/template values;
            once present, remove stub and show the th eappropriate carrier form
         -->

          <div class="ui fluid styled accordion submission stub">
            <div class="animation-container">
              <transition name="slide-up">
                <div class="ui form pre-title" v-show="showActions">
                  <div class="row">
                    Carrier

                    <div class="inline select field">
                      <select>
                        <option>Capital Blue Cross</option>
                        <option>United Healthcare</option>
                      </select>
                    </div>

                    Template

                    <div class="inline select field">
                      <select>
                        <option></option>
                      </select>
                    </div>
                  </div>
                </div>
              </transition>
            </div>

            <div class="ui title" @click="showActions = !showActions">
              <div class="ui equal width grid">
                <div class="row">
                  <div class="five wide column">
                  </div>
                  <div class="column">
                    <span>Client</span>
                  </div>
                  <div class="column">
                    <span>Effective</span>

                  </div>
                  <div class="column">
                    <span>Status <i class="ui circular tiny empty label negative"></i></span>
                    Initial
                  </div>
                  <div class="column">
                    <span>Validity <i class="ui circular tiny empty label negative"></i></span>
                    None
                  </div>
                  <div class="two wide column middle aligned states">
                    <div class="ui right floated">
                      <i class="trash icon"></i>
                    </div>
                  </div>

                </div>
                <!-- <transition name="slide-down">
                  <div v-show="showInfo" class="row highlight">
                    <div class="five wide column">
                      <span>Agent</span>
                      <a href="#">Craig James Ritter</a>
                    </div>
                    <div class="column">
                      <span>Processor</span>
                      Tim Graham
                    </div>
                    <div class="column">
                      <span>Source</span>
                      Medicareful
                    </div>
                    <div class="column">
                      <span>Signature</span>
                      2/23/2018
                    </div>
                    <div class="column">
                      <span>Keyed</span>
                      2/23/2018
                    </div>
                  </div>
                </transition> -->
              </div>
            </div>
            <div class="animation-container">
              <transition name="slide-down">
                <div v-if="showActions" class="ui grid content form ">
                  <div class="ui vertical segment">
                    <div class="ui grey header">
                      Attachments
                      <small>
                        <i class="ui small inverted yellow circular plus icon" onclick="document.getElementById('fileInput').click()"></i>
                        <input id="fileInput" type="file" style="display: none">
                      </small>
                    </div>
                    <div class="inline widget select transition visible">
                      <div class="file-list">
                        <div class="file">
                          <!--  data-filename is a needed css hook -->
                          <div class="file-row" data-filename="Jane_Hammond_Aetna_application.pdf">
                            <i class="yellow eye icon" @click="showInlinePDF = !showInlinePDF"></i>
                            <i class="trash icon"></i>
                            William_Bennet_Aetna_application.pdf
                            <i class="yellow vertical ellipsis icon" @click="showFileTags = !showFileTags"></i>
                            <div class="animation-container">
                              <transition name="slide-down">
                                <div class="inline-pdf" v-show="showInlinePDF">
                                  <div class="close-div" @click="showInlinePDF = !showInlinePDF">&times;</div>
                                  <object type="application/pdf" data="/assets/NJVeronicaGreco.pdf" width="100%"></object>
                                </div>
                              </transition>
                            </div>
                          </div>
                          <transition name="slide-down">
                            <div class="add-tags" v-show="showFileTags">
                              <div class="arrow-up"></div>
                              <div class="ui circular labels">
                                <div class="close-div" @click="showFileTags = !showFileTags">&times;</div>
                                <div class="ui blue circular label">Carrier required</div>
                                <div class="ui blue circular label">SOA</div>
                                <div class="ui blue circular label">Supplemental document</div>
                              </div>
                            </div>
                          </transition>
                        </div>
                      </div>
                    </div>
                  </div>

                  <transition name="fade">
                    <div v-show="showModal" class="ui fullscreen modal audit-mode">
                      <div @click="auditMode()" class="close-div">&times;</div>
                      <div class="ui inverted header">
                        You are in Audit mode
                      </div>
                      <div class="split content">
                        <div class="ui equal width grid">
                          <div class="column audit-form">

                            <div class="audit-highlight">
                              <div class="ui equal width grid">
                                <div class="column">
                                  <span>Aetna</span>
                                  Aetna Medicare Silver Plan
                                  <mark>(HMO)</mark>
                                  <span>Client</span>
                                  Jane Hammond
                                </div>
                                <div class="column">
                                  <span>Agent</span>
                                  <a href="#">Craig James Ritter</a>
                                  <span>Source</span>
                                  Medicareful
                                </div>
                                <div class="column">
                                  <span>Processor</span>
                                  Tim Graham
                                  <span>Keyed</span>
                                  2/23/2018
                                </div>
                              </div>
                            </div>

                            <div class="ui vertical segment">

                              <div class="ui grey header">
                                Plan Information
                              </div>

                              <div class="ui three fields">
                                <div class="field">
                                  <label>Plan Name</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Plan Year</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Contract ID</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Plan ID</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Segment ID</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Optional Supplemental Benefit</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Carrier Code</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Confirmation No.</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Channel ID</label>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Effective Date</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Effective Date Type</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Product Code</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ui vertical segment">
                              <div class="ui grey header">
                                Workflow
                              </div>
                              <div class="ui three fields">
                                <div class="field">
                                  <label>Current Business Status</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Current Carrier Status</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Current Carrier Enrollment ID</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                            <div class="ui vertical segment">
                              <div class="ui grey header">
                                Client Information
                              </div>
                              <div class="ui five fields">
                                <div class="two wide field">
                                  <label>Prefix</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>First Name</label>
                                  <input type="text">
                                </div>
                                <div class="one wide field">
                                  <label>MI</label>
                                  <input type="text">
                                </div>
                                <div class="field">
                                  <label>Last Name</label>
                                  <input type="text">
                                </div>
                                <div class="two wide field">
                                  <label>Suffix</label>
                                  <input type="text">
                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="column audit-pdf">
                            <transition name="fade">
                              <object type="application/pdf" data="/assets/NJVeronicaGreco.pdf"></object>
                            </transition>
                          </div>
                        </div>
                      </div>
                      <div class="actions">
                        <div class="ui large olive image label">
                            scoring
                          <div class="detail">
                            30
                          </div>
                        </div>
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="public">
                          <label>Resolve all</label>
                        </div>
                      </div>
                    </div>
                  </transition>

                  <!-- <div class="ui vertical segment">

                    <div class="ui positive  message">
                      Policy No: 5524638 | Accepted 00/00/2018
                    </div>

                    <i class="right floated large yellow history icon" @click="showHistory = !showHistory"></i>
                    <div class="history-container">
                      <div class="animation-container">
                        <transition name="slide-down">
                          <div v-show="showHistory" class="well">
                            <div class="close-div" @click="showHistory = !showHistory">&times;</div>
                            <table class="ui very basic inverted attached table">
                              <thead>
                                <tr>
                                  <th>Event</th>
                                  <th>Status</th>
                                  <th>Comment</th>
                                  <th>Created By</th>
                                  <th>Created</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>RemoveHold</td>
                                  <td>Ready</td>
                                  <td>Tom Harold requested RemoveHold on submission R7NO44SWHEMJP55R at 2/26/2018 3:34:07 PM +00:00.</td>
                                  <td>Tom Harold</td>
                                  <td>2/26/2018 10:34:07 AM</td>
                                </tr>
                                <tr>
                                  <td>MarkAsHold</td>
                                  <td>Hold</td>
                                  <td>Tom Harold requested MarkAsHold on submission R7NO44SWHEMJP55R at 2/26/2018 3:33:51 PM +00:00.</td>
                                  <td>Tom Harold</td>
                                  <td>2/26/2018 10:33:55 AM</td>
                                </tr>
                                <tr>
                                  <td>UpdateSubmission</td>
                                  <td>Ready</td>
                                  <td></td>
                                  <td>Medicareful</td>
                                  <td>2/26/2018 9:43:39 AM</td>
                                </tr>
                                <tr>
                                  <td>CreateSubmission</td>
                                  <td>Processing</td>
                                  <td></td>
                                  <td>Medicareful</td>
                                  <td>2/26/2018 9:43:28 AM</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </transition>
                      </div>
                    </div>

                    <div class="ui grey header">
                      Plan Information
                    </div>

                    <div class="ui three fields">
                      <div class="field">
                        <label>Plan Name</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Plan Year</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Contract ID</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Plan ID</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Segment ID</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Optional Supplemental Benefit</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Carrier Code</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Confirmation No.</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Channel ID</label>
                        <input type="text">
                      </div>
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Effective Date</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Effective Date Type</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Product Code</label>
                        <input type="text">
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="ui vertical segment">
                    <div class="ui grey header">
                      Workflow
                    </div>
                    <div class="ui three fields">
                      <div class="field">
                        <label>Current Business Status</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Current Carrier Status</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Current Carrier Enrollment ID</label>
                        <input type="text">
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="ui vertical segment">
                    <div class="ui grey header">
                      Client Information
                    </div>
                    <div class="ui five fields">
                      <div class="two wide field">
                        <label>Prefix</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>First Name</label>
                        <input type="text">
                      </div>
                      <div class="one wide field">
                        <label>MI</label>
                        <input type="text">
                      </div>
                      <div class="field">
                        <label>Last Name</label>
                        <input type="text">
                      </div>
                      <div class="two wide field">
                        <label>Suffix</label>
                        <input type="text">
                      </div>
                    </div>
                  </div> -->
                </div>
              </transition>
            </div>
          </div>

          <div class="ui hidden divider"></div>
        </div>
      </div><!-- /.column -->

      <!-- notes -->
      <div class="five wide column notes">
        <div class="ui hidden divider"></div>
        <!-- notes menu -->
        <div class="ui text menu">
          <a class="active item">
            <i class="small circular inverted yellow add icon"></i>
            Note
          </a>
          <div class="right menu">
            <div class="ui right floated note-stat">
              <i class="small lightgrey sticky note icon"></i>
                0
            </div>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui alert">
          <div class="ui note fluid card no-notes">
            <div class="content">
              <p>
                <i class="large sticky note outline icon"></i>
                No notes exist.
                </p>
            </div>
          </div>
        </div>

        <!-- / note -->
        <div class="ui hidden divider"></div>
        <!-- notes menu -->
        <div class="ui text menu">
          <a class="active item">
            <i class="small circular inverted yellow add icon"></i>
            Submission Note
          </a>
          <div class="right menu">
            <div class="ui right floated note-stat">
              <i class="small lightgrey text file icon"></i>
                0
            </div>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui alert">
          <div class="ui note fluid card no-notes">
            <div class="content">
              <p>
                <i class="large sticky note outline icon"></i>
                No notes exist.
                </p>
            </div>
          </div>
        </div>

      </div><!--  /.notes -->

    </div><!-- /.ui.grid -->

  </div><!-- /.app.body -->

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.19.2/moment.min.js"></script>
<script src="/assets/js/all.min.js?t=1528209883595"></script>

</html>
