@layer typography {
  body {
    color: var(--primary-font-color, var(--color-black));
    font-size: var(--primary-font-size, var(--step--1));
    font-family: var(--primary-font, var(--font-body));
  }
}
