@use '../variables/_spacing.scss' as space;
@use 'colors' as c;


// Button specific

$border-radius: 5rem !default;

$primary-background: #FFFFFF !default;
$primary-color: #666666 !default;
$secondary-background: map-get(c.$config-colors, 'salmon') !default;
$secondary-color: #FFFFFF !default;

$primary-padding: map-get(space.$spacers, 1) space.$spacer;
$large-padding: map-get(space.$spacers, 2) space.$spacer;
$group-margin: 0 map-get(space.$spacers, 1);
