.input-wrapper {
  @layer rules {
    color: var(--input-wrapper-text-color, inherit);
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    outline: var(--input-wrapper-outline, transparent);
    outline-offset: 2px;

    :is(.prefix, .suffix) {
      --input-border-radius: 0.25rem;

      aspect-ratio: 1;
      background-color: var(--prefix-background-color, var(--color-lighter));
      border-color: var(--input-wrapper-border-color, var(--color-light));
      border-style: var(--input-wrapper-border-style, solid);
      border-width: var(--input-wrapper-border-width, 0.5px);
      display: grid;
      width: var(--space-l);
      max-width: var(--input-accent-max-width, 5ch);
      order: 1;
      place-content: center;
      white-space: nowrap;
      // outline: 0;

      &:has(+ input[type="number"]) {
        font-variant-numeric: tabular-nums;
      }
    }

    :is(.prefix) {
      grid-area: 1/1/2/2;
      border-top-left-radius: var(--input-border-radius);
      border-bottom-left-radius: var(--input-border-radius);
    }

    .prefix + input {
      padding-inline-start: calc(var(--space-l) + 1ch);
    }

    input {
      grid-area: 1/1/2/4;
    }

    input:has(+ .suffix) {
      // --input-border-radius: 0.25rem;

      padding-inline-end: calc(var(--space-l) + 1ch);
    }

    :is(.suffix) {
      // --input-border-radius: 0.25rem;

      grid-area: 1/3/2/4;
      border-style: var(--input-wrapper-border-style, solid);
      border-radius: var(--input-wrapper-border-radius, 0);
      border-bottom-right-radius: var(--input-border-radius, 0.25rem);
      border-top-right-radius: var(--input-border-radius, 0.25rem);
      border-width: var(--input-wrapper-border-width, 0.5px);
    }

    :is(button.suffix) {
      --button-background-color: var(--color-light);
      --button-border-color: var(--color-light);
      --button-padding-block: 0;
      --button-padding-inline: 0;

      cursor: pointer;

      &:focus {
        outline: 3px solid var(--_accent-color);
      }
    }
  }
}
