
// main nav, profile gear icon
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

// using on search card expansion
@keyframes flexGrow {
  to {
    flex: 1;
  }
}

// main nav, down angle for drop down menus
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-2px);
    }
}

// fade in
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn .5s ease-in-out;
}

// flash search bar when calling focus() via Ctrl + Shift + S
@keyframes background {
  0%   {
    background-color: inherit;
    opacity: 1;
  }
  50%  {
    background-color: $color-help;
    opacity: 0.5;
  }
  100% {
    background-color: inherit;
    opacity: 1;
  }
}

// not a true animation; seems to fit here tho
.rotate {
  transform: rotate(45deg) !important;
}

// tag overlay, slideInRight and slideOutRight.
 @keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate {
  animation-duration: .3s;
  animation-fill-mode: both;
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

// file attachments drawer;
// pulse once on upload icon when shown
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color-white, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($color-white, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($color-white, 0);
  }
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes flipOutX {
  from {
      transform: perspective(400px);
  }
  30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1;
  }
  to {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0;
  }
}
.flipOutX{
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes Slide {
  from {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes SlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    transform: translateY(-85%);
  }
  50% {
    transform: translateY(-55%);
  }
  75% {
    transform: translateY(-25%);
    opacity: .1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes SlideClose {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes SlideUp {
  from {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(40%);
  }
  to {
    transform: translateY(0%);
  }
}
