// Greyscale
$grey:          #999;
$grey-medium:   #666;
$grey-dark:     #333;
$grey-light:    #ccc;
$grey-lighter:  #efefef;
$grey-lightest: whitesmoke;
$grey-header:   #eee;

$color-white:   white;
$color-black:   #1B1C1D;

// Theme colors
$color-menu-bkg:      lighten(#002744, 7%);
$color-menu-sub:      darkkhaki;
$color-menu-sub-bkg:  beige;
$color-background:    $grey-lightest;
$color-link:          cornflowerblue;
$color-help:          aliceblue;
$color-note:          cornsilk;
$help-text:           dodgerblue;

$color-red:    darken(tomato, 10%);
$color-olive:  #b5cc18;
$color-orange: lighten(orangered, 10%);
$color-purple: lighten(purple, 10%);

$color-yellow: #FBBD08; // semantic-ui yellow
$color-yellow-dark: darkgoldenrod;
$color-pink: lighten($color-red, 20%);
$color-pink-light: lighten($color-pink, 5%);
$color-cyan:   cyan;
$color-violet: #6435C9;
$color-brown:  #A5673F;
$color-blue:   $color-link;
$color-green: #21BA45;
$color-teal: teal;
$color-light-blue: powderblue;
$color-mildblack: rgba(51, 51, 34, 0.7);

$color-positive: $color-olive;
$color-negative: $color-pink;
$color-neutral: $grey;
// Fonts
$font--family: "Roboto", sans-serif !default;
$font--color: #444;

// direction tabs
$direction--width: 3.5rem;

// duration time
$slideAnimationDuration: .2s;

// always use with semantic ui's .icon class
// this is based on semantic ui v2.10
$user-type-icons: (
  agent:     "\f2c1",  //.id-badge
  agency:    "\f007",  //.users
  associate: "\f2be",  //.user-circle-o
  consumer:  "\f007",  // .user
  user:      "\f007",  //.user
  business:  "\f275",  //.industry
  carrier:   "\f1ad"   //.building
);

$campaign-type-icons: (
  digital:          "\f10a",  //.fa-tablet
  direct-mail:      "\f2b6",  //.fa-envelope-open
  email:            "\f1d8",  //.fa-send
  email-vendor:     "\f1d9",  //.fa-send-o
  phone:            "\f095",  //.fa-phone
  tradeshow-event:  "\f2b5",  //.fa-handshake-o
  webinar:          "\f108"   //.fa-desktop
);

$status-list:
  deceased-status,
  mga,
  preferred-agent,
  prospect-status,
  new-lead-status,
  protected,
  agent-lead-status,
  agency-lead-status;

// file extension map
$filetype-icons: (
  xls: "\f1c3",
  pdf: "\f1c1",
  txt: "\f0f6",
  doc: "\f1c2",
  docx:"\f1c2"
);

// color array from chartist JS
$ct-series-colors: (
  #d70206,
  #f05b4f,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
);
